li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Mt. Sinai School of Medicine

  .block-grid__grid-image.grid__institution.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-mount-sinai-school-of-medicine.jpg")

    .block-grid__grid__researcher-name.grid__name
      .block-grid__grid__researcher-name__container.grid__name__inner Mt. Sinai School of Medicine

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-mount-sinai-school-of-medicine.jpg")
        
        //- single research topic
        .modal__content__srt__group
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Anti-VEGF therapy for Neuromyelitis Optica

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Clinical

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2013 - 2014

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Gareth John, PhD
              .modal__content__srt__institution Mount Sinai

              .modal__content__srt__researcher Michael Levy, MD, PhD
              .modal__content__srt__institution Johns Hopkins
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label An open-label add-on trial of cetirizine for neuromyelitis optica

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Clinical

              .modal__content__srt__title Status
              .modal__content__srt__label Current

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2013 - 2015

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Ilana Katz Sand, MD
              .modal__content__srt__institution Mount Sinai