li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name UCLA

  .block-grid__grid-image.grid__institution.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-ucla.jpg")

    .block-grid__grid__researcher-name.grid__name
      .block-grid__grid__researcher-name__container.grid__name__inner UCLA

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-ucla.jpg")
        
        //- single research topic
        .modal__content__srt__group
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Genome-wide association study of Neuromyelitis Optica

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2012 - 2012

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Stan Nelson, MD
              .modal__content__srt__institution University of California, Los Angeles