li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Uni of Oxford

  .block-grid__grid-image.grid__institution.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-university-of-oxford.jpg")

    .block-grid__grid__researcher-name.grid__name
      .block-grid__grid__researcher-name__container.grid__name__inner Uni of Oxford

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-university-of-oxford.jpg")
        
        //- single research topic
        .modal__content__srt__group
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Developing Magnetic Resonance Spectroscopy and High Field Spinal Cord MRI as a Tool for Studying the Pathology and Symptoms of Neuromyelitis Optica

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Clinical

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2013 - 2014

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Jacqueline Palace, MD
              .modal__content__srt__institution Oxford University
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label The international Neuromyelitis Optica genetics consortium: a genome-wide approach for studying disease etiology

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Clinical

              .modal__content__srt__title Status
              .modal__content__srt__label Current

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2014 - 2016

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Jacqueline Palace, MD
              .modal__content__srt__institution Oxford University