li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Nameee

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Nameee

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/.jpg")

          .modal__content__app-info

            .modal__content__app-name Nameee

            .modal__content__app-copy
              

            .modal__content__app-cost

              a(href="" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>