li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Audible

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-apps-software-audible.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Audible

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-apps-software-audible.jpg")

          .modal__content__app-info

            .modal__content__app-name Audible

            .modal__content__app-copy
              |Not enough time for all the books you want to enjoy? Download the app by Audible, an Amazon company, to listen to books on the go. Immerse yourself in a great story anytime, anywhere, by downloading from a breathtaking range of 150,000+ titles to your iPhone, iPod Touch, or iPad—from best sellers to classics, and everything in-between.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/audiobooks-from-audible/id379693831?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.audible.application" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>