li.occ.block-grid__app

  .occ__reveal.block-grid__app__name BlueFire

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-bluefire.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner BlueFire

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-bluefire.jpg")

          .modal__content__app-info

            .modal__content__app-name BlueFire

            .modal__content__app-copy
              | Bluefire Reader is the best way to read Adobe® Content Server protected eBooks on your iPhone, iPad or iPod touch. With Bluefire Reader you can read EPUB and PDF eBooks from retailers, publishers and libraries around the world.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/bluefire-reader/id394275498?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.bluefirereader&hl=en" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>