li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Braille Tutor

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-braille-Tutor.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Braille Tutor

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-braille-Tutor.jpg")

          .modal__content__app-info

            .modal__content__app-name Braille Tutor

            .modal__content__app-copy
              | Learn and practice contracted braille (Unified English Braille) with Braille Tutor! Braille Tutor provides an interactive learning experience for a sighted or blind braille learner. It works on iPad using onscreen keys or home keys on a Bluetooth keyboard. It is self-voiced, but also works with iOS accessibility.     

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/braille-tutor/id878463116?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>