li.occ.block-grid__app

  .occ__reveal.block-grid__app__name CareZone

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-carezone.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner CareZone

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-carezone.jpg")

          .modal__content__app-info

            .modal__content__app-name CareZone

            .modal__content__app-copy
              | CareZone makes it simpler to take care of yourself, an aging parent, and other family members that need your help. We’ll help you organize the mountain of other information you’re challenged to manage in healthcare situations, and coordinate with family and caregivers.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/id552197945?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.carezone.caredroid.careapp&referrer=" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>