li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Care4Today

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-care4today.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Care4Today

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-care4today.jpg")

          .modal__content__app-info

            .modal__content__app-name Care4Today

            .modal__content__app-copy
              | Staying on schedule with your medications can get complicated. Care4Today™ Mobile Health Manager is more than just a self-directed pill reminder – it can help support and encourage you to manage your health.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/care4today-mobile-health-manager/id683484327?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.jhi.mhm" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>