li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Daily Yoga

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-daily-yoga.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Daily Yoga

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-daily-yoga.jpg")

          .modal__content__app-info

            .modal__content__app-name Daily Yoga

            .modal__content__app-copy
              | This fitness app facilitates the most convenient home exercises, not only nourishes your health but also spares you all the tiresome workouts and help you achieve fitness goals with yoga studio on the go.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/daily-yoga-lose-weight-get/id545849922?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.dailyyoga.inc&hl=en" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>