li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Dragon Dictation

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-dragon-dictation.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Dragon Dictation

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-dragon-dictation.jpg")

          .modal__content__app-info

            .modal__content__app-name Dragon Dictation

            .modal__content__app-copy
              | Dragon Dictation is an easy-to-use voice recognition application powered by Dragon® NaturallySpeaking® that allows you to easily speak and instantly see your text or email messages. In fact, it’s up to five (5) times faster than typing on the keyboard.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/dragon-dictation/id341446764" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.nuance.balerion" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>