li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Evernote

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-evernote.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Evernote

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-evernote.jpg")

          .modal__content__app-info

            .modal__content__app-name Evernote

            .modal__content__app-copy
              | Evernote is the modern workspace that helps you be your most productive self. Evernote is where you do the work to achieve it. Write notes of all types, from short lists to lengthy research, and access them on any device.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/evernote/id281796108?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="ps://play.google.com/store/apps/details?id=com.evernote&hl=en" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>