li.occ.block-grid__app

  .occ__reveal.block-grid__app__name EyeNote

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-eyenote.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner EyeNote

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-eyenote.jpg")

          .modal__content__app-info

            .modal__content__app-name EyeNote

            .modal__content__app-copy
              | EyeNote is a mobile device application to denominate Federal Reserve Notes (U.S. paper currency) as an aid for the blind or visually impaired to increase accessibility. Users can have the denomination of a note scanned and communicated back to the user.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/eyenote/id405336354?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            //- .modal__content__app-cost

            //-   a(href="" target="_blank").modal__content__app-os Android >

            //-   .modal__content__app-price
            //-     | Cost: <span>Free</span>