li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Fooducate

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-fooducate.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Fooducate

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-fooducate.jpg")

          .modal__content__app-info

            .modal__content__app-name Fooducate

            .modal__content__app-copy
              | Eat better. Lose weight. Be healthy. Let Fooducate be your diet toolbox! Lose weight with REAL food, track your progress, and get motivated by the community.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/fooducate-healthy-weight-loss/id398436747?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.fooducate.nutritionapp&hl=en" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>