li.occ.block-grid__app

  .occ__reveal.block-grid__app__name GI Monitor

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-gi-monitor.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner GI Monitor

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-gi-monitor.jpg")

          .modal__content__app-info

            .modal__content__app-name GI Monitor

            .modal__content__app-copy
              | This app allows patients to easily and accurately log symptoms and provide this data to their doctors for optimal treatment. In addition, patients can see correlations between symptoms, meals and medications.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/gi-monitor/id315539155?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.wellapps.gimonitor" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>