li.occ.block-grid__app

  .occ__reveal.block-grid__app__name NMO Resources

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-apps-guthy-jackson.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner NMO Resources

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-apps-guthy-jackson.jpg")

          .modal__content__app-info

            .modal__content__app-name NMO Resources

            .modal__content__app-copy
              | The Guthy-Jackson Charitable Foundation is pleased to bring you this app full of resources relating to NMO. Whether you are a patient, an advocate, or a clinician, NMO Resources is sure to help you stay informed with the latest in research and information.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/app/apple-store/id1032001786?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=app.nmoresource.gjcf&referrer=utm_source%3Dappsite" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>