li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Kindle

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-kindle.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Kindle

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-kindle.jpg")

          .modal__content__app-info

            .modal__content__app-name Kindle

            .modal__content__app-copy
              | The Kindle app puts over a million books at your fingertips. It’s the app for every reader, whether you’re a book reader, magazine reader, or newspaper reader. Audiophiles can start listening to their Audiobooks immediately upon download thanks to progressive playback.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/kindle-read-books-ebooks-magazines/id302584613?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.amazon.kindle&hl=en" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>