li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Medication Tracker (IMedications)

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-medication-tracker.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Medication Tracker <br />(IMedications)

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-medication-tracker.jpg")

          .modal__content__app-info

            .modal__content__app-name Medication Tracker (IMedications)

            .modal__content__app-copy
              | Do you forget to take the medications? iMedications is an easy to use medication management app to help you remind and keep track of your Medications – your pills and vitamins.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/medication-tracker-imedications/id306333144?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>$3.99</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.theora.MedLog&hl=en" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>