li.occ.block-grid__app

  .occ__reveal.block-grid__app__name MySidekick for MS

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-mysidekick.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner MySidekick for MS

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-mysidekick.jpg")

          .modal__content__app-info

            .modal__content__app-name MySidekick for MS

            .modal__content__app-copy
              | At Biogen Idec, we’re devoted to helping people with multiple sclerosis (MS) live better and healthier lives. That’s the driving force behind all we do. And it’s why we’ve developed MySidekick™, a new smartphone app to be by your side whenever you need it.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/mysidekick-for-ms/id934365577?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            //- .modal__content__app-cost

            //-   a(href="" target="_blank").modal__content__app-os Android >

            //-   .modal__content__app-price
            //-     | Cost: <span>Free</span>