li.occ.block-grid__app

  .occ__reveal.block-grid__app__name ORGENTEC Autoimmunitty Guide

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-orgentec.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner ORGENTEC Autoimmunitty Guide

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-orgentec.jpg")

          .modal__content__app-info

            .modal__content__app-name ORGENTEC Autoimmunitty Guide

            .modal__content__app-copy
              | From patient’s complaints to suspected diagnosis to recommended autoantibody testing: The ORGENTEC Autoimmunity Guide app summarizes diagnosis and treatment of major autoimmune diseases. The antibody almanac precisely defines medical terms within the scope of autoimmune diagnostics and autoimmunity.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/gb/app/orgentec-autoimmunity-guide/id478344444?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=de.incloud.orgentec&feature=search_result&hl=en" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>