li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Pacer (Pedometer)

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-pacer.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Pacer<br />(Pedometer)

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-pacer.jpg")

          .modal__content__app-info

            .modal__content__app-name Pacer (Pedometer)

            .modal__content__app-copy
              | Get Active, lose weight, lower your blood pressure, live longer, and feel better. Join the millions who have already downloaded Pacer for free, and enjoy the easiest-to-use, most beautifully designed health and fitness application for iPhone.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/pacer-pedometer-plus-weight/id600446812?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=cc.pacer.androidapp&hl=en" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>