li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Pastime Audiobooks

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-pastime-audiobooks.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Pastime Audiobooks

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-pastime-audiobooks.jpg")

          .modal__content__app-info

            .modal__content__app-name Pastime Audiobooks

            .modal__content__app-copy
              | Pastime is an eyes-free audio book player. We built Pastime from the ground up for the visually impaired, though everyone is welcome to use it. Many audiobook players have small buttons, which are hard to see, and difficult to press accurately. To solve this, we have designed an entirely gesture based interface.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/pastime-audiobooks/id497274739?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            //- .modal__content__app-cost

            //-   a(href="" target="_blank").modal__content__app-os Android >

            //-   .modal__content__app-price
            //-     | Cost: <span>Free</span>