li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Physiotherapy Exercises

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-physiotherapy.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Physiotherapy Exercises

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-physiotherapy.jpg")

          .modal__content__app-info

            .modal__content__app-name Physiotherapy Exercises

            .modal__content__app-copy
              | This application allows you to search for exercises appropriate for people with spinal cord injuries and other neurological conditions. It is a very handy reference for physiotherapists and other professionals. You can search by condition, exercise type, body part, equipment available and age category.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/physiotherapy-exercises/id330460793?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.exercises.physiotherapy&hl=en" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>