li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Pocket Reader

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-pocket-reader.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Pocket Reader

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-pocket-reader.jpg")

          .modal__content__app-info

            .modal__content__app-name Pocket Reader

            .modal__content__app-copy
              | Designed and developed for visually impaired and blind users, this app converts printed texts into digital texts, reading them with VoiceOver right after the conversion.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/pocket-reader-printed-text/id725386310?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            //- .modal__content__app-cost

            //-   a(href="" target="_blank").modal__content__app-os Android >

            //-   .modal__content__app-price
            //-     | Cost: <span>Free</span>