li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Runkeeper

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-runkeeper.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Runkeeper

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-runkeeper.jpg")

          .modal__content__app-info

            .modal__content__app-name Runkeeper

            .modal__content__app-copy
              | Track your pace, measure workout distance, chart weight loss, crush training goals and more with LifeHacker’s 2012 Best Running App! RunKeeper is the simplest way to improve fitness, whether you’re just deciding to get off the couch for a 5k, biking every day, or deep into marathon training.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/runkeeper-gps-running-walk/id300235330?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.fitnesskeeper.runkeeper.pro&hl=en" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>