li.occ.block-grid__app

  .occ__reveal.block-grid__app__name SayText

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-saytext.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner SayText

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-saytext.jpg")

          .modal__content__app-info

            .modal__content__app-name SayText

            .modal__content__app-copy
              | SayText reads out loud the text in the image. It is intended for the visually impaired users. SayText is a free spin off product from the DocScanner team.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/saytext/id376337999?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            //- .modal__content__app-cost

            //-   a(href="" target="_blank").modal__content__app-os Android >

            //-   .modal__content__app-price
            //-     | Cost: <span>Free</span>