li.occ.block-grid__app

  .occ__reveal.block-grid__app__name SymTrac

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-symtrac.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner SymTrac

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-symtrac.jpg")

          .modal__content__app-info

            .modal__content__app-name SymTrac

            .modal__content__app-copy
              | SymTrac™ is a free iPhone app that helps people with multiple sclerosis (MS) track general wellbeing and symptoms over time. The data recorded can be viewed in easy-to-read charts and shared with MS specialist teams to enhance consultation time and support decision making.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/gb/app/symtrac/id834920384?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            //- .modal__content__app-cost

            //-   a(href="" target="_blank").modal__content__app-os Android >

            //-   .modal__content__app-price
            //-     | Cost: <span>Free</span>