li.occ.block-grid__app

  .occ__reveal.block-grid__app__name Unfrazzle

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-unfrazzle.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner Unfrazzle

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-unfrazzle.jpg")

          .modal__content__app-info

            .modal__content__app-name Unfrazzle

            .modal__content__app-copy
              | Take a load off your mind by reducing the stress of caring for others with Unfrazzle. Make every day easier as you use Unfrazzle to remember and keep track of all your caregiving tasks, and stay in-sync with family members.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/unfrazzle/id638456145?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            .modal__content__app-cost

              a(href="https://play.google.com/store/apps/details?id=com.bhageera.unfrazzle&hl=en" target="_blank").modal__content__app-os Android >

              .modal__content__app-price
                | Cost: <span>Free</span>