li.occ.block-grid__app

  .occ__reveal.block-grid__app__name VIA - By Braille Institute

  .block-grid__grid-image.grid__app.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-via-by braille-Institute.jpg")

    .block-grid__grid__app-name.grid__name

      .block-grid__grid__app-name__container.grid__name__inner VIA - By Braille Institute

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__app__mobile-content.block-grid__app__modal.modal__content

        //- app content
        .modal__content__app
          
          img.modal__content__app-image(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-audible-apps-software-via-by braille-Institute.jpg")

          .modal__content__app-info

            .modal__content__app-name VIA - By Braille Institute

            .modal__content__app-copy
              | Braille Institute is proud to introduce ViA (Visually Impaired Apps), a fully accessible app for iPod Touch, iPhone, and iPad. ViA has been designed to help identify apps that are useful for adults and children who are blind or have low vision, including those with additional disabilities.

            .modal__content__app-cost

              a(href="https://itunes.apple.com/us/app/via-by-braille-institute/id528499232?mt=8" target="_blank").modal__content__app-os Apple >

              .modal__content__app-price
                | Cost: <span>Free</span>

            //- .modal__content__app-cost

            //-   a(href="" target="_blank").modal__content__app-os Android >

            //-   .modal__content__app-price
            //-     | Cost: <span>Free</span>