.page-user-sessions-new-wide
  background-color: $theme-color-2

  .content-user-sessions-new-wide
    +grid-row($behavior: nest-collapse)
    +header-height
    @media #{$large-up}
      +grid-row
      +header-height

  .form
    +grid-column(10, $center: true)
    background-color: $theme-color-1
    margin-top: rem-calc(40)
    margin-bottom: rem-calc(40)
    padding: rem-calc(60) 0

    @media #{$small-only}
      margin-bottom: 5rem

    @media #{$medium-up}
      padding: rem-calc(60)

    // heading margin

    h5
      margin-bottom: 0.4rem

    .login-single-form-title
      margin-bottom: 1rem

    //.................

    // input margin

    input[type="email"], input[type="password"]
      margin-bottom: 0.7rem !important

    input[type="submit"]
      margin-bottom: 0.7rem

    //.................

    // social media sign up area

    .padtopmore
      text-align: center
      padding-top: 0.5rem

    //.................

    // extra padding on sides for mobile view

    .login-form-padding
      @media #{$small-only}
        padding-left: 1.25rem
        padding-right: 1.25rem

    //

  .user_session_form
    font-family: $headline-font
    color: $theme-color-3
    font-size: $p-two

  input[type="text"]
    border-color: $theme-color-3 !important

  h5
    font-family: $headline-font
    font-weight: $font--bold
    color: $theme-color-7
    text-align: center

  .submit-button
    +btn($theme-color-7, $theme-color-1, 0.3rem, 0.6rem, $theme-color-7, $theme-color-1, $font--regular, block, 1, $headline-font)
    font-size: $p-one
    margin-top: 1rem
    width: 100%

  .forgot-pw
    color: $theme-color-7
    font-size: $p-two
    font-weight: $font--bold

  .checkbox
    color: $theme-color-3
    font-size: $p-two
    font-weight: $font--semibold

  .login-label
    font-size: $p-two
    color: $theme-color-3
    font-weight: $font--semibold
    font-family: $headline-font !important

  hr.mobile-visible
    @media #{$medium-up}
      display: none

  footer
    box-shadow: 0px -4px 5px 0px rgba(153,153,153, 0.1)
