.gj-join
  +grid-row

  &__container
    +grid-column(12)
    margin-top: 4rem
    margin-bottom: 2rem

    @media #{$medium-up}
      margin-bottom: 6rem

    @media #{$large-up}
      margin-top: 9rem

    @media only screen and (min-width: rem-calc(1150))
      margin-top: 7rem

  #content
    max-width: rem-calc(580)
    margin: 0 auto