.gj-diagnosis
  
  .page-with-sidebar__copy
    font-size: $p-one

    ul, li
      list-style: none !important
      color: $theme-color-5
      -webkit-font-smoothing: inherit
      -moz-osx-font-smoothing: inherit


  // Download Items

  &__download
    width: rem-calc(180)
    text-align: center
    margin: 0 1.8rem rem-calc(60)
    display: inline-block
    vertical-align: top

    @media #{$medium-up}
      width: 13.5rem

      &.alpha
        margin-left: 0

    &.wide
      width: 100%
      margin: 0 0 rem-calc(60)

      @media #{$medium-up}
        width: 49%

      .gj-diagnosis__download-img
        width: rem-calc(145)
        margin: 0 auto

  &__download-img
    padding: 1.6rem 2.5rem
    border: 1px solid $theme-color-3
    width: rem-calc(145)
    margin: 0 auto 0.2rem

    &.app
      padding: 0

  &__download-description
    font-size: $p-one
    margin-bottom: 0.3rem

  &__download-btn
    display: inline-block
    @extend .p-one-alternate

    a
      +btn($theme-color-7, $theme-color-1, 0.3rem, 0.6rem, $theme-color-7, $theme-color-1, $font--bold, block, 1.5, $font)
      width: 9.7rem
  
  &__download-arrow

    svg
      width: 1rem
      height: 1rem
      fill: $theme-color-7
      position: absolute
      left: 0.375rem
      top: 0.4375rem


  // Interview profiles

  &__researcher-profile
    width: rem-calc(273)
    display: inline-block
    margin-bottom: 0.5rem

    &:nth-child(1)
      margin-right: 1.125rem


  // Q&A

  &__answer
    padding: 0 1.6rem 1.1rem
    font-size: $p-one


  // The Panel

  &__panel-member
    margin-bottom: 1rem
    vertical-align: top

    @media #{$medium-up}
      width: 48%
      display: inline-block

  &__panel-member-name
    font-size: $p-one
    color: $theme-color-7
    font-weight: bold
    line-height: 1.2

  &__panel-member-clinic
    font-size: $p-one
    color: $theme-color-4