<div class="hero about-nmo__hero">
  <div class="hero__position">
    <div class="hero__center">
      <h1>About NMO</h1>
    </div>
  </div>
</div>

<div class="page-with-sidebar sticky-sidebar ui rails" id="page-with-sidebar">
  <div class="page-with-sidebar__wrapper">
    <div class="page-with-sidebar__sidebar ui sticky">
      <h4>About NMO</h4>
      <ul class="page-with-sidebar__nav scroll-to-active">
        <li><a href="#about-nmo__what-is-nmo">What is NMO?</a></li>
          <ul class="page-with-sidebar__sub">
            <li><a href="#about-nmo__diagnosis">Diagnosis</a></li>
            <li><a href="#about-nmo__treatment">Treatment</a></li>
          </ul>
        <li><a href="#about-nmo__faqs">FAQs</a></li>
        <li><a href="#about-nmo__nmo-vs-ms">NMO vs. MS</a></li>
          <ul class="page-with-sidebar__sub">
            <li><a href="#about-nmo__similar-symtoms">Similar Symptoms</a></li>
            <li><a href="#about-nmo__similar-conditions">Similar Conditions</a></li>
            <li><a href="#about-nmo__about-nmo__brochure">Download Brochure</a></li>
          </ul>
        <li><a href="#about-nmo__download-fact-sheet">Download Fact Sheet</a></li>
        <li><a href="#about-nmo__more-nmo-resources">More NMO Resources</a></li>
      </ul>
    </div>
    <div class="page-with-sidebar__content">
      <div class="occ">
        <div class="page-with-sidebar__scroll" id="about-nmo__what-is-nmo"></div>
        <div class="occ__reveal">What is NMO?</div> 
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="about-nmo__what-is-nmo page-with-sidebar__section">
            <h3 class="alternate">What is NMO?</h3>
            <p class="last page-with-sidebar__copy">Neuromyelitis optica (NMO) is an uncommon disease syndrome of the central nervous system (CNS) that affects the optic nerves and spinal cord. Individuals with NMO develop optic neuritis, which causes pain in the eye and vision loss, and transverse myelitis, which causes weakness, numbness, and sometimes paralysis of the arms and legs, along with sensory disturbances and loss of bladder and bowel control. NMO leads to loss of myelin, which is a fatty substance that surrounds nerve fibers and helps nerve signals move from cell to cell. The syndrome can also damage nerve fibers and leave areas of broken-down tissue. In the disease process of NMO, for reasons that aren’t yet clear, immune system cells and antibodies attack and destroy myelin cells in the optic nerves and the spinal cord.</p>
            <div class="page-with-sidebar__video flex-video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/2uwA1CTEp4M" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

          <div class="occ">
            <div class="page-with-sidebar__scroll" id="about-nmo__diagnosis"></div>
            <div class="occ__reveal">Diagnosis</div>
            <div class="occ__hidden">
              <div class="occ__back">Back</div>
              <div class="about-nmo__diagnosis page-with-sidebar__section">
                <h3 class="alternate">Diagnosis</h3>
                <p class="page-with-sidebar__copy">Historically, NMO was diagnosed in patients who experienced a rapid onset of blindness in one or both eyes, followed within days or weeks by varying degrees of paralysis in the arms and legs. In most cases, however, the interval between optic neuritis and transverse myelitis is significantly longer, sometimes as long as several years. After the initial attack, NMO follows an unpredictable course. Most individuals with the syndrome experience clusters of attacks months or years apart, followed by partial recovery during periods of remission. This relapsing form of NMO primarily affects women. The female to male ratio is greater than 4:1. Another form of NMO, in which an individual only has a single, severe attack extending over a month or two, is most likely a distinct disease that affects men and women with equal frequency. The onset of NMO varies from childhood to adulthood, with two peaks, one in childhood and the other in adults in their 40s.</p>
                <p class="page-with-sidebar__copy">In the past, NMO was considered to be a severe variant of multiple sclerosis (MS) because both can cause attacks of optic neuritis and myelitis. Recent discoveries, however, suggest it is a separate disease. NMO is different from MS in the severity of its attacks and its tendency to solely strike the optic nerves and spinal cord at the beginning of the disease. Symptoms outside of the optic nerves and spinal cord are rare, although certain symptoms, including uncontrollable vomiting and hiccups, are now recognized as relatively specific symptoms of NMO that are due to brainstem involvement.</p>
                <p class="last page-with-sidebar__copy">The recent discovery of an antibody in the blood of individuals with NMO gives doctors a reliable biomarker to distinguish NMO from MS. The antibody, known as NMO-IgG, seems to be present in about 70 percent of those with NMO and is not found in people with MS or other similar conditions.</p>
                <div class="page-with-sidebar__video flex-video">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/cMDCGMytlE8" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="occ">
            <div class="page-with-sidebar__scroll" id="about-nmo__treatment"></div>
            <div class="occ__reveal">Treatment</div>
            <div class="occ__hidden">
              <div class="occ__back">Back</div>
              <div class="about-nmo__treatment page-with-sidebar__section">
                <h3 class="alternate">Treatment</h3>
                <p class="last page-with-sidebar__copy">There is no cure for NMO, but there are therapies to treat an attack while it is happening, to reduce symptoms, and to prevent relapses. Doctors usually treat an initial attack of NMO with a combination of a corticosteroid drug (methylprednisolone) to stop the attack, and an immunosuppressive drug (azathioprine) for prevention of subsequent attacks. If frequent relapses occur, some individuals may need to continue a low dose of steroids for longer periods. Plasma exchange (plasmapheresis) is a technique that separates antibodies out of the blood stream and is used with people who are unresponsive to corticosteroid therapy. Pain, stiffness, muscle spasms, and bladder and bowel control problems can be managed with the appropriate medications and therapies. Individuals with major disability will require the combined efforts of occupational therapists, physiotherapists, and social services professionals to address their complex rehabilitation needs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
            
      <div class="occ">
        <div class="page-with-sidebar__scroll" id="about-nmo__faqs"></div>
        <div class="occ__reveal">FAQs</div> 
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="about-nmo__faqs page-with-sidebar__section faq-{{ page.id }}">
            <h3 class="alternate">FAQs</h3>
            {% for child in page.children %}
            <div class="page-excerpt question-page-{{ child.id }}">
              {% if child.type_name == 'Question' %}
              <div class="about-nmo__accordion accordion">
                <div class="about-nmo__question accordion-button">
                  <h5 class="alternate">{{ child.headline }}</h5>
                  <svg-include link="#guthy-jackson-icon-arrow-down-gray"></svg-include>
                </div>
                <div data-content class="about-nmo__answer accordion-content">
                  <div class="about-nmo__answer-wraper">
                    {% if child.question.content.size > 0 %}
                    {{ child.question.content }}
                    {% endif %}
                    {% if child.question.answer.size > 0 %}
                      {{ child.question.answer }}
                    {% endif %}
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
            
      <div class="occ">
        <div class="page-with-sidebar__scroll" id="about-nmo__nmo-vs-ms"></div>
        <div class="occ__reveal">NMO VS. MS</div> 
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="about-nmo__nmo-vs-ms page-with-sidebar__section">
            <h3 class="alternate">NMO VS. MS</h3>
            <p class="page-with-sidebar__copy">Until recently, NMO was thought to be a type of Multiple Sclerosis. However, recent discoveries indicate that NMO and MS are distinct diseases. Traditionally spinal cord lesions seen in NMO are longer than MS but tis is not always the case. With so many symptoms in common, NMO can sometimes be confused with MS or other diseases. But these diseases are treated in different ways and early detection and treatment help ensure best outcomes.</p>
            <div class="page-with-sidebar__video flex-video">
              <iframe width="560" height="315" src="http://www.youtube.com/embed/2EZvpyqPcy8" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>

          <div class="occ">
            <div class="page-with-sidebar__scroll" id="about-nmo__similar-symtoms"></div>
            <div class="occ__reveal">Similar Symptoms</div>
            <div class="occ__hidden">
              <div class="occ__back">Back</div>
              <div class="about-nmo__similar-symtoms page-with-sidebar__section">
                <h3 class="alternate">Similar Symptoms</h3>
                <p class="page-with-sidebar__copy">NMO symptoms can vary from person to person and may resemble MS symptoms in many ways. NMO is most commonly characterized by inflammation of the spinal cord/or optic nerves, causing any of the following symptoms:</p>
                <ul class="list">
                  <li>Rapid onset of eye pain or loss of vision (optic neuritis).</li>
                  <li>Limb weakness, numbness, or partial paralysis (transverse myelitis).</li>
                  <li>Shooting pain or tingling in the neck, back, or abdomen.</li>
                  <li>Loss of bowel and bladder control.</li>
                  <li>Prolonged nausea, vomiting, or hiccups.</li>
                  <li>Sometimes these symptoms are temporary, and resolve on their own.</li>
                </ul>
                <p class="last page-with-sidebar__copy">In any case, it is important to discuss these symptoms with your doctor to help consider NMO in your diagnosis.</p>
              </div>
            </div>
          </div>

          <div class="occ">
            <div class="page-with-sidebar__scroll" id="about-nmo__similar-conditions"></div>
            <div class="occ__reveal">Similar Conditions</div>
            <div class="occ__hidden">
              <div class="occ__back">Back</div>
              <div class="about-nmo__similar-conditions page-with-sidebar__section">
                <h3 class="alternate">Similar Conditions</h3>
                <p class="page-with-sidebar__copy">In addition to MS, other conditions with which NMO shares symptoms include:</p>
                <ul class="list">
                  <li>Unexplained Transverse Myelitis (TM)</li>
                  <li>Acute Disseminated Encephalomyselitis (ADEM)</li>
                  <li>Unexplained Optic Neuritis</li>
                  <li>Leber's Hereditary Optic Neuropathy (LHON)</li>
                  <li>Sjogren's Syndrome Systemic Lupus Erythematosus (SLE)</li>
                  <li>Mixed Connective Tissue Disease (MCTD)</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="occ">
            <div class="page-with-sidebar__scroll" id="about-nmo__about-nmo__brochure"></div>
            <div class="occ__reveal">Download the Brochure</div>
            <div class="occ__hidden">
              <div class="occ__back">Back</div>
              <div class="download page-with-sidebar__section">
                <h3 class="alternate">Download the Brochure</h3>
                <ul>
                  <li>
                    <img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-thumbnail-brochure-english-about-nmo-about.jpg" alt="Download Brochure Icon">
                    <p class="download__label">NMO/MS Brochure:<br />English</p>
                    <a class="download__link arrow" href="NMO Brochure.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-thumbnail-brochure-french-about-nmo-about.jpg" alt="Download Brochure Icon">
                    <p class="download__label">NMO/MS Brochure:<br />French</p>
                    <a class="download__link arrow" href="NMOBrochure_French.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-thumbnail-brochure-italian-about-nmo-about.jpg" alt="Download Brochure Icon">
                    <p class="download__label">NMO/MS Brochure:<br />Italian</p>
                    <a class="download__link arrow" href="NMOBrochure_Italian.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-thumbnail-brochure-turkish-about-nmo-about.jpg" alt="Download Brochure Icon">
                    <p class="download__label">NMO/MS Brochure:<br />Turkish</p>
                    <a class="download__link arrow" href="NMOBrochure_Turkish.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-thumbnail-brochure-hindi-about-nmo-about.jpg" alt="Download Brochure Icon">
                    <p class="download__label">NMO/MS Brochure:<br />Hindi</p>
                    <a class="download__link arrow" href="NMOBrochure_Hindi.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-thumbnail-brochure-korean-about-nmo-about.jpg" alt="Download Brochure Icon">
                    <p class="download__label">NMO/MS Brochure:<br />Korean</p>
                    <a class="download__link arrow" href="NMOBrochure_Korean.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-thumbnail-brochure-japanese-about-nmo-about.jpg" alt="Download Brochure Icon">
                    <p class="download__label">NMO/MS Brochure:<br />Japanese</p>
                    <a class="download__link arrow" href="NMOBrochure_Japanese.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-thumbnail-brochure-portuguese-about-nmo-about.jpg" alt="Download Brochure Icon">
                    <p class="download__label">NMO/MS Brochure:<br />Portuguese</p>
                    <a class="download__link arrow" href="NMO-brochure_with-leaf_portuguese.2.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="occ">
        <div class="page-with-sidebar__scroll" id="about-nmo__download-fact-sheet"></div>
        <div class="occ__reveal">Download the Fact Sheet</div>
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="download page-with-sidebar__section">
            <h3 class="alternate">Download the Fact Sheet</h3>
            <ul>
              <li>
                <img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Fact Sheet Icon">
                <p class="download__label">Fact Sheet</p>
                <a class="download__link arrow" href="NMO_Fact_Sheet.pdf" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="occ">
        <div class="page-with-sidebar__scroll" id="about-nmo__more-nmo-resources"></div>
        <div class="occ__reveal">More NMO Resources</div>
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="download page-with-sidebar__section">
            <h3 class="alternate">More NMO Resources</h3>
            <ul>
              <li>
                <img src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-thumbnail-brochure-nmo-resources-nmo-about.jpg" alt="Download Fact Sheet Icon">
                <a class="download__link arrow arrow" href="/tools">Go to link
                  <div class="arrow__alone"><svg-include class="arrow__go-to" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>