<div id="content">
  <div id="intro" class="intro">
    <div class="text-content">
                 <div class="hero about-us__hero">
        <div class="hero__position">
          <div class="hero__center">
            <h1>About Us</h1>
          </div>
        </div>
      </div>


     <div class="page-with-sidebar sticky-sidebar ui rails" id="page-with-sidebar">
        <div class="page-with-sidebar__wrapper">
          <div class="page-with-sidebar__sidebar ui sticky">
            <h4>About Us</h4>
            <ul class="page-with-sidebar__nav scroll-to-active">
              <li><a href="#about-us__gjcf">The Guthy-Jackson Charitable Foundation</a></li>
                <ul class="page-with-sidebar__sub">
                  <li><a href="#about-us__mission">Mission Statement</a></li>
                </ul>
              <li><a href="#about-us__founders">The Founders</a></li>
                <ul class="page-with-sidebar__sub">
                  <li><a href="#about-us__victoria">Victoria Jackson</a></li>
                  <li><a href="#about-us__bill">Bill Guthy</a></li>
                </ul>
              <li><a href="#about-us__team">Our Team</a></li>
            </ul>
            <img class="placeholder" src="sidebar.jpg" alt="">
          </div>
          <div class="page-with-sidebar__content">
            <!-- .occ GJCF -->
            <div class="occ">
              <div class="page-with-sidebar__scroll" id="about-us__gjcf"></div>
              <div class="occ__reveal">The Guthy-Jackson Charitable Foundation</div> 
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="about-us__gjcf page-with-sidebar__section">
                  <h3>The Guthy-Jackson Charitable Foundation</h3>
                  <p class="page-with-sidebar__copy">The Guthy-Jackson Charitable Foundation is dedicated to funding the basic science research to find answers that will lead to the prevention, clinical treatment programs and a potential cure for Neuromyelitis Optica (NMO) Spectrum Disease.</p>
                  <p class="page-with-sidebar__copy">The decision to create our Foundation came from a personal family crisis. Our daughter was clinically diagnosed with NMO in June of 2008. Since that time, we have met with many clinicians and researchers in order to understand what this means for our beautiful daughter and our family. Additionally, we have gathered and read every piece of information and NMO research article that is available on the Web. We are now beginning to understand that NMO is not only considered an "orphan" disease, but that very little research is available.</p>
                  <p class="page-with-sidebar__copy">The Guthy-Jacson Charitable Foundation is dedicated to funding biomedical research in the search to understand the pathophysiology and biochemistry of NMO Spectrum Disease. It is our greatest hope that together we will reverse the effects of NMO and eventually sure this disease.</p>
                  <div class="about-us__signoff">
                    <p class="page-with-sidebar__copy">Victoria Jackson</p>
                    <p class="page-with-sidebar__copy">Bill Guthy</p>
                  </div>
                </div>

                <div class="occ">
                  <div class="page-with-sidebar__scroll" id="about-us__mission"></div>
                  <div class="occ__reveal">Mission Statement</div>
                  <div class="occ__hidden">
                    <div class="occ__back">Back</div>
                    <div class="about-us__mission page-with-sidebar__section">
                      <h3>Mission Statement</h3>
                      <p class="page-with-sidebar__copy">The Guthy-Jackson Charitable Foundation is dedicated to funding research in the search to understand the pathophysiology and biochemistry of Neuromyelitis Optica (NMO) Spectrum Disease. Our Foundation is passionate in its support of providing opportuinites to develop programs for prevention, clinical treatments, and an eventual cure for this rare and often misunderstood disease. </p>
                      <p class="page-with-sidebar__copy">We are committed to providing an online community for those who have been diagnosed with NMO, as well as providing centralized information resources for individuals who want to learn more about this rare disease.</p>
                      <p class="last page-with-sidebar__copy">For those who want to donate to the cause of this misuderstood and often misdiagnosed disease, The Guthy-Jackson Charitable Foundation will dedicate 100% of all funding gifts to basic research centers.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: .occ GJCF -->
            
            <div class="occ">
              <!-- .occ The Founders -->
              <div class="page-with-sidebar__scroll" id="about-us__founders"></div>
              <div class="occ__reveal">The Founders</div> 
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="about-us__founders page-with-sidebar__section">
                  <h3>The Founders</h3>
                  <img src="guthy-jackson-foundation-the-founders-about-us-about.jpg" alt="The Founders Image">
                </div>
              <div class="occ">
                <div class="page-with-sidebar__scroll" id="about-us__victoria"></div>
                <div class="occ__reveal h4">Victoria Jackson</div>
                <div class="occ__hidden">
                  <div class="occ__back">Back</div>
                  <div class="about-us__victoria page-with-sidebar__section">
                    <h4>Victoria Jackson</h4>
                    <p class="page-with-sidebar__copy">Having achieved success as a Hollywood makeup artist, cosmetics entrepreneur and TV infomercial pioneer, Victoria Jackson prefers to think of herself as "a goodwill ambassador for makeup." When women embrace self-confidence, she says, they learn the key to success, and liking who they see in the mirror is a powerful first step in that transformative process.</p>
                    <p class="last page-with-sidebar__copy">"My personal philosophy has always been, 'When you look better, and when you feel better, you can change your life,'" says Jackson, who in the last dozen years has volunteered hundred of hours at women;s correctional facilities, hospitals and youth support venues, teaching inner confidence through beauty.</p>
                    <div class="page-with-sidebar__btn--right">
                      <a class="page-with-sidebar__btn--transparent" href="/about-us-victoria-jackson">Learn More</a>
                    </div>
                  </div>
                </div>
              <div class="occ">
                <div class="page-with-sidebar__scroll" id="about-us__bill"></div>
                <div class="occ__reveal h4">Bill Guthy</div>
                  <div class="occ__hidden">
                    <div class="occ__back">Back</div>
                    <div class="about-us__bill page-with-sidebar__section">
                      <h4>Bill Guthy</h4>
                      <p class="last page-with-sidebar__copy">A founding principal of Guthy-Renker – an informercial studio that has since evolved into all forms of electronic retailing – Bill Guthy manages on the world's largest television response-driven marketing companies with sales of more than $1.5 Billion per year and an average annual growth rate of 25% over the last 10 years. Focused on finance and operations, Guthy is also personally responsible for sales and marketing efforts, ensuring that successful products promoted within the informercial format broaden their reach into all channels of distribution. Along with his partners and executive management team, Guthy supervises the overall direction of the company in Palm Desert, California in 1988.</p>
                      <div class="page-with-sidebar__btn--right">
                        <a class="page-with-sidebar__btn--transparent" href="#" data-reveal-id="bill-guthy">Learn More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END .occ The Founders -->


              <div class="occ">
                <div class="page-with-sidebar__scroll" id="about-us__team"></div>
              <div class="occ__reveal">Our Team</div> 
              <div class="occ__hidden">
                <div class="occ__back">Back</div>
                <div class="about-us__team page-with-sidebar__section">
                  <h3>Our Team</h3>
                  <ul>
                    <li>
                      <img src="guthy-jackson-foundation-our-team-jacinta-behne-ma-about-us-about.jpg" alt="Team Photo">
                      <p class="about-us__team-name about-us__vp">Jacinta M. Behne, M.A.</p>
                      <p class="about-us__team-title">Exectuive Vice President of Administration and Operations of The Guthy-Jackson Charitable Foundation</p>
                      <p class="last page-with-sidebar__copy">Mrs. Behne’s career in education and management spans three decades and multiple platforms from university lecturer to education researcher. She received her Bachelor of Arts with licensing in Secondary Education at Washburn University, Topeka, KS; licensing in Gifted Education at Kansas State University, Manhattan, KS; and Master of Arts in Communication at Colorado State University, Fort Collins, CO. Her specific expertise is in program development, budget management, and translating complex science content for public venues. Mrs. Behne served as a NASA contractor for many years in the area of education and public outreach. During that period, she worked with three launch teams and collaborated with NASA centers and staff, including researchers, engineers, and public information officers. As such, she refined processes and protocols for reaching out to learning communities and the public through the World Wide Web, national conferences, print materials, and media applications. In her work with The Guthy-Jackson Charitable Foundation (GJCF), Mrs. Behne works to build a team-driven infrastructure dedicated to curing Neuromyelitis Optica (NMO), a misunderstood and often misdiagnosed disease by: a) funding critical path research and b) connecting global communities of researchers, industries, and patients. Mrs. Behne is a member of the American Academy of Neurology (AAN), National Organization for Rare Disorders (NORD), and serves as a solicited reviewer of NASA education products and as a presenter at annual conferences. She has published several articles on the importance of building and delivering effective education and public outreach programs to ensure successful community engagement.budget management, and translating complex science content for public venues. Mrs. Behne served as a NASA contractor for many years in the area of education and public outreach. During that period, she worked with three launch teams and collaborated with NASA centers and staff, including researchers, engineers, and public information officers. As such, she refined processes and protocols for reaching out to learning communities and the public through the World Wide Web, national conferences, print materials, and media applications. In her work with The Guthy-Jackson Charitable Foundation (GJCF), Mrs. Behne works to build a team-driven infrastructure dedicated to curing Neuromyelitis Optica (NMO), a misunderstood and often misdiagnosed disease by: a) funding critical path research and b) connecting global communities of researchers, industries, and patients. Mrs. Behne is a member of the American Academy of Neurology (AAN), National Organization for Rare Disorders (NORD), and serves as a solicited reviewer of NASA education products and as a presenter at annual conferences. She has published several articles on the importance of building and delivering effective education and public outreach programs to ensure successful community engagement.</p>
                    </li>
                    <li class="about-us__team-member">
                      <img src="guthy-jackson-foundation-our-team-daniel-w-behne-m-arch-about-us-about.jpg" alt="Team Photo">
                      <div class="about-us__team-excerpt">
                        <p class="about-us__team-name">Daniel W. Behne, M. Arch</p>
                        <p class="about-us__team-title">Senior Manager – Operations</p>
                        <p class="last page-with-sidebar__copy">Dan provides office oversight and project management to plan, organize and manage resources from conception to completion.</p>
                      </div>  
                    </li>
                    <li class="about-us__team-member">
                      <img src="guthy-jackson-foundation-our-team-derek-blackway-ba-about-us-about.jpg" alt="Team Photo">
                      <div class="about-us__team-excerpt">
                        <p class="about-us__team-name">Derek Blackway, BA</p>
                        <p class="about-us__team-title">Manger – Communications</p>
                        <p class="last page-with-sidebar__copy">Derek provides leadership for internal and external communications and project reporting.</p>
                      </div> 
                    </li>
                    <li class="about-us__team-member">
                      <img src="guthy-jackson-foundation-our-team-megan-kenneally-about-us-about.jpg" alt="Team Photo">
                      <div class="about-us__team-excerpt">
                        <p class="about-us__team-name">Megan Kenneally</p>
                        <p class="about-us__team-title">Manager – Research Relations</p>
                        <p class="last page-with-sidebar__copy">Megan provides office support including contracts administration, marketing, event planning, coordination and reporting.</p>
                      </div> 
                    </li>
                    <li class="about-us__team-member">
                      <img src="guthy-jackson-foundation-our-team-renee-rodriguez-about-us-about.jpg" alt="Team Photo">
                      <div class="about-us__team-excerpt">
                        <p class="about-us__team-name">Renee Rodriguez</p>
                        <p class="about-us__team-title">Administrative Assistant</p>
                        <p class="last page-with-sidebar__copy">Renee provides office support to maintain logistics throughout the office.</p>
                      </div> 
                    </li>
                    <li class="about-us__team-member">
                      <img src="guthy-jackson-foundation-our-team-coming-soon-about-us-about.jpg" alt="Team Photo">
                      <div class="about-us__team-excerpt">
                        <p class="about-us__team-name">Brian Coords</p>
                        <p class="about-us__team-title">New Media Manager</p>
                        <p class="last page-with-sidebar__copy">Brian provides leadership and project management for the foundation's online services.</p>
                      </div> 
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>