<div id="content">
  <div id="intro" class="intro">
    <div class="text-content">
      <div class="hero gj-annual-reports__hero">
  <div class="hero__position">
    <div class="hero__center">
      <h1>Annual Reports</h1>
    </div>
  </div>
</div>

<div class="gj-annual-reports">
  <div class="gj-annual-reports__row">
    <div class="gj-annual-reports__title">
      <h3 class="alternate">Annual Reports</h3>
    </div>
    <div class="gj-annual-reports__single">
      <div class="gj-annual-reports__single__row">
        <div class="gj-annual-reports__single__column">
          <div class="gj-annual-reports__img"><img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg"></div>
          <div class="gj-annual-reports__year">2011 Annual Report</div>
          <div class="gj-annual-reports__download">
            <a href="GJCF_2011_Annual_Report.pdf" download class="arrow">Download
              <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="gj-annual-reports__single">
      <div class="gj-annual-reports__single__row">
        <div class="gj-annual-reports__single__column">
          <div class="gj-annual-reports__img"><img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg"></div>
          <div class="gj-annual-reports__year">2012 Annual Report</div>
          <div class="gj-annual-reports__download">
            <a href="GJCF_2012_Annual_Report.pdf" download class="arrow">Download
              <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="gj-annual-reports__single">
      <div class="gj-annual-reports__single__row">
        <div class="gj-annual-reports__single__column">
          <div class="gj-annual-reports__img"><img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg"></div>
          <div class="gj-annual-reports__year">2013 Annual Report</div>
          <div class="gj-annual-reports__download">
            <a href="2013_GJCF_Annual_Report.pdf" download class="arrow">Download
              <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>