<div class="hero blood-back__hero">
  <div class="hero__position">
    <div class="hero__center">
      <h1>Blood Bank</h1>
    </div>
  </div>
</div>

<div class="page-with-sidebar sticky-sidebar" id="page-with-sidebar">
  <div class="page-with-sidebar__wrapper ui rails">
    <div class="page-with-sidebar__sidebar ui sticky">
      <h4>Blood Bank</h4>
      <ul class="page-with-sidebar__nav">
        <li><a href="#biosamples">Biosamples</a></li>
        <li><a href="#icc-and-br">ICC and BR</a></li>
        <li><a href="#family-members">Family Members</a></li>
        <li><a href="what-happens-to-your-sample">What Happens to Your Sample</a></li>
        <!-- <li><a href="blood-sample-uses">Blood Sample Uses</a></li> -->
        <li><a href="#how-to-donate">How to Donate</a></li>
      </ul>
    </div>
    <div class="page-with-sidebar__content">
      <div class="occ">
        <div class="occ__reveal">Biosamples and Clinical Data</div> 
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="blood-bank__biosamples page-with-sidebar__section">
            <div class="page-with-sidebar__scroll" id="biosamples"></div>
            <h3 class="alternate">Biosamples and Clinical Data</h3>
            <p class="page-with-sidebar__copy">If you or someone you know has been diagnosed with NMO, please help us with blood samples and/or clinical data donations to our Biorepository. Blood samples and clinical data are vital for NMO research. Many developments in NMO treatment come from doctors and researchers analyzing blood samples and data.</p>
            <p class="page-with-sidebar__copy last">Only a limited amount of NMO samples are available worldwide, making accessibility to NMO biosamples by our research scientists an urgent need. You can help us meet this critical need by donating your samples and clinical data, thereby raising awareness of our repository program</p>
          </div>
        </div>
      </div>

      <div class="occ">
        <div class="occ__reveal">he ICC and Biorepository</div> 
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="blood-bank__icc-and-br page-with-sidebar__section">
            <div class="page-with-sidebar__scroll" id="icc-and-br"></div>
            <h3 class="alternate">The ICC and Biorepository</h3>
            <p class="last page-with-sidebar__copy">The GJCF International Clinical Consortium (ICC) connects the Biorepository (BR) to scientific, clinical, industry and agencies’ expertise. Members of the ICC&BR have access to these resources to solve NMO through innovative prevention, diagnostic, therapeutic and educational strategies that benefit patients worldwide.</p>
          </div>
        </div>
      </div>

      <div class="occ">
        <div class="occ__reveal">We Need Your Family Members' Blood Samples</div> 
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="blood-bank__family-members page-with-sidebar__section">
            <div class="page-with-sidebar__scroll" id="family-members"></div>
            <h3 class="alternate">We Need Your Family Members' Blood Samples</h3>
            <p class="last page-with-sidebar__copy">Blood relatives of NMO repository participants may enroll as “control” subjects. Samples from your immediate family could yield important information about genetic and environmental factors related to NMO. Contact us for details about this important aspect of our repository.</p>
          </div>
        </div>
      </div>

      <div class="occ">
        <div class="occ__reveal">What Happens to Your Sample?</div> 
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="blood-bank__what-happens-to-your-sample page-with-sidebar__section">
            <div class="page-with-sidebar__scroll" id="what-happens-to-your-sample"></div>
            <h3 class="alternate">What Happens to Your Sample?</h3>
            <p class="page-with-sidebar__copy">Your samples will be stored at the GJCF Biorepository. This is like a library where your samples will be kept with some de-identified details of your environment and medical history. A computer stores this information, so that authorized researchers can find the samples they need.</p>
            <p class="last page-with-sidebar__copy">These samples are used to find out how NMO relapses develop in order to try and prevent them, develop and test ne drugs, find new ways, to diagnose NMO, try to work out which treatments work for particular groups of patients, find new ways to treat NMO, and find better ways of controlling side effects and symptoms.</p>
          </div>
        </div>
      </div>
      

      <div class="occ">
        <div class="occ__reveal">How to Donate</div> 
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="blood-bank__how-to-donate page-with-sidebar__section">
            <div class="page-with-sidebar__scroll" id="how-to-donate"></div>
            <h3 class="alternate">How to Donate</h3>
            <p class="page-with-sidebar__copy">Donating is easier and faster than you think. Contact the nearest CIRCLES center for information about the LabCorp donation site nearest you.</p>
            <p class="last page-with-sidebar__copy">If you have already donated, then please do so again frequently! Longitudinal draws along with your information are a critical part of creating solutions for NMO. Scientists need to examine multiple samples of your blood over periods of time to study the changes in each sample. Longitudinal draws are just as important as your first sample donation.</p>
            <a class="page-with-sidebar__btn--green" href="">Schedule an Appointment Now</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>