<div class="nmo-story">
  <div class="home__row">
    <div class="nmo-story__scroll-to" id="nmo-story__scroll-to"></div>
    <div class="nmo-story__wrapper home__column">
      <div class="nmo-story__content">
        <h2>The NMO Story</h2>
        <p class="home__subtext">To learn more about this rare disease, view our entire video library for more information.</p>
        
        <!-- put directive name in wrapper, videoSlider becomes a class name of video-slider -->
        <div class="nmo-story__slider-wrapper vertical-slider video-slider">
          <div class="nmo-story__slider-video vertical-slider__main">
            <div class="nmo-story__slider-slide">
              <div class="flex-video">
                https://www.youtube.com/embed/jokrVgahoIU
              </div>
            </div>
            <div class="nmo-story__slider-slide">
              <div class="flex-video">
                https://www.youtube.com/embed/gTlejHmYqsU
              </div>
            </div>
            <div class="nmo-story__slider-slide">
              <div class="flex-video">
                https://www.youtube.com/embed/DI2GI9GFY5o?rel=0
              </div>
            </div>
            <div class="nmo-story__slider-slide">
              <div class="flex-video">
                http://www.youtube.com/embed/5OyyTkTUgeQ
              </div>
            </div>
            <div class="nmo-story__slider-slide">
              <div class="flex-video">
                http://www.youtube.com/embed/J6-CHE7Y7ps?rel=0
              </div>
            </div>
          </div>

          <div class="nmo-story__slider__nav-wrapper vertical-slider__nav slider-nav">
            <ul class="nmo-story__slider-nav vertical-slider__children">
              <li>
                <div class="vertical-slider__nav__item">
                  <p class="vertical-slider__nav__text">The NMO Story</p>
                </div>
              </li>
              <li>
                <div class="vertical-slider__nav__item">
                  <p class="vertical-slider__nav__text">Living With NMO</p>
                </div>
              </li>
              <li>
                <div class="vertical-slider__nav__item">
                  <p class="vertical-slider__nav__text">The Guthy Jackson Charitable Foundation</p>
                </div>
              </li>
              <li>
                <div class="vertical-slider__nav__item">
                  <p class="vertical-slider__nav__text">Our Path to Progress</p>
                </div>
              </li>
              <li>
                <div class="vertical-slider__nav__item">
                  <p class="vertical-slider__nav__text">Looking Back...Moving Forward</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <a href="#" class="btn">View All Videos</a>
      </div>
    </div>
  </div>
</div>

<div class="nmo-get-involved">
  <div class="nmo-get-involved__wrapper home__row">
    <div class="nmo-get-involved__content home__column">
      <h2>NMOtion - Get Involved!</h2>
      <p class="home__subtext">Learn more in how you can help make a difference with the options below.</p>

      <ul class="nmo-get-involved__block-grid top">
        <li class="hover-block-grid">
          <a class="nmo-get-involved__link" href=""></a>
          <div class="nmo-get-involved__position">
            <h3>Learn About Clinical Trials</h3>
            <p class="nmo-get-involved__description">Learn how clinical trials work, whether or not you're eligible to participate, and the possible risks and benefits.</p>
            </a>
          </div>
        </li>
        <li>
          <a class="nmo-get-involved__link" href=""></a>
          <div class="nmo-get-involved__position">
            <h3>Advocate</h3>
            <p class="nmo-get-involved__description">There are a number of ways to help out with the fight against NMO. Get involved in any of the following ways. We appreciate any and all effort! </p>
          </div>
        </li>
      </ul>
      <ul class="nmo-get-involved__block-grid bottom">
        <li>
          <a class="nmo-get-involved__link" href=""></a>
          <div class="nmo-get-involved__position">
            <h3>Give Blood</h3>
            <p class="nmo-get-involved__description">If you know someone who has been diagnosed with NMO, please help us with blood samples and/or clinical data donations to our Biorepository.</p>
          </div>
        </li>
        <li>
          <a class="nmo-get-involved__link" href=""></a>
          <div class="nmo-get-involved__position">
            <h3>Donate</h3>
            <p class="nmo-get-involved__description">Contribute to the cause! You would be contributing to a worthy cause and helping millions. Every penny brings us that much closer to finding a cure for NMO. </p>
          </div>
        </li>
        <li>
          <a class="nmo-get-involved__link" href=""></a>
          <div class="nmo-get-involved__position">
            <h3>Share</h3>
            <p class="nmo-get-involved__description">Help yourself and others by telling your story. Not only are you expressing yourself, but you are also giving an insight to others who may be seeking guidance in some way.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="research home__row">
  <div class="research__wrapper home__column">
    <div class="research__content">
      <h2>Research</h2>
      <p class="home__subtext">The Guthy-Jackson Charitable Foundation is dedicated to funding research to understanding the pathophysiology and biochemistry of NMO. Learn more about our sponsored institutions below.</p>
      <img class="hide-for-medium-up" src="guthy-jackson-foundation-home-funded-research-institution-logos--mobile.jpg" alt="Guthy Jackson Research">
      
      <div class="research__slider-wrapper simple-slider">
        <div class="research__slider-video simple-slider__main">
          <div class="research__slider-slide">
            <img src="guthy-jackson-foundation-home-funded-research-institution-logos-1.jpg" alt="">
          </div>
          <div class="research__slider-slide">
            <img src="guthy-jackson-foundation-home-funded-research-institution-logos-2.jpg" alt="">
          </div>
        </div>
      </div>

      <a href="#" class="btn">View All Current Research</a>

    </div>
  </div>
</div>