<div class="occ">
  <div class="occ__reveal">Section Title</div> 
  <div class="occ__hidden">
    <div class="occ__back">Back</div>
      <!-- content -->
  </div>

  <div class="occ">
    <div class="occ__reveal">Section Title</div>

    <div class="occ__hidden">
      <div class="occ__back">Back</div>
      <!-- content -->
    </div>

  </div>
</div>