<div class="hero blood-back__hero">
  <div class="hero__position">
    <div class="hero__center">
      <h1>Politics of NMO</h1>
    </div>
  </div>
</div>

<div class="page-with-sidebar sticky-sidebar" id="page-with-sidebar">
  <div class="page-with-sidebar__wrapper ui rails">
    <div class="page-with-sidebar__sidebar ui sticky">
      <h4>Politics of NMO</h4>
    </div>
    <div class="page-with-sidebar__content">
      <div class="occ">
        <div class="occ__reveal">Politics of NMO</div> 
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="politics-of-nmo page-with-sidebar__section">
            <h3 class="alternate">Did You Know?</h3>
            <ul class="list">
              <li>Autoimmune diseases now affect approximately 8% of the U.S. population (nearly 30 million patients), and 10% of the global population (nearly 600 million patients).</li>
              <li>Autoimmune diseases have been projected by the World Health Organization to become a leading cause of illness and death worldwide by 2030. Already, some autoimmune diseases have incidence rates equivalent to or surpassing those of heart disease or cancer.</li>
              <li>Around 75% of autoimmune diseases target women, and these illnesses are among the top 10 leading causes of death in women less than 65 years of age.</li>
              <li>Tragically, autoimmune diseases exploit the very immune system that enables a mother to carry a child, striking at the prime of life when women often make their greatest contributions to family, career, and society.</li>
              <li>Not only do patients confront the ongoing trauma of unpredictable symptoms, but families and caregivers also bear difficult burdens of autoimmune disease, as do employers and communities.</li>
            </ul>
          </div>

          <div class="page-with-sidebar__section">
            <p>Find your representative using the link below and contact your representative with our sample letter.</p>
            <div><a class="gj__link" href="http://www.house.gov/representatives/find/" target="_blank">Find and Contact Your Local Representative</a></div>
            <div><a class="gj__link" href="" target="_blank">View GJCF Letter</a></div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>