<div id="content">
  <div id="intro" class="intro">
    <div class="text-content">
      <div class="hero tools__hero">
        <div class="hero__position">
          <div class="hero__center">
            <h1>Tools</h1>
          </div>
        </div>
      </div>

<div class="page-with-sidebar sticky-sidebar ui rails" id="page-with-sidebar">
  <div class="page-with-sidebar__wrapper">
    <div class="page-with-sidebar__sidebar ui sticky">
      <h4>Tools</h4>
      <ul class="page-with-sidebar__nav">
        <li><a href="#tools__resource-guide">NMO Patient Resource Guide</a></li>
          <ul class="page-with-sidebar__sub">
            <li><a href="#tools__what-to-know">"NMO: What You Need to Know"</a></li>
            <li><a href="#tools__by-section">NMO Guide By Section</a></li>
          </ul>
        <li><a href="#tools__tools-download">Tools Available for Download</a></li>
      </ul>
      <img class="placeholder" src="sidebar.jpg" alt="">
    </div>
    <div class="page-with-sidebar__content">
      <div class="occ">
        <div class="occ__reveal">NMO Patient Resource Guide</div> 
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="tools__resource-guide download page-with-sidebar__section">
            <div class="page-with-sidebar__scroll" id="tools__resource-guide"></div>
            <h3 class="alternate">NMO Patient Resource Guide</h3>
            <p class="page-with-sidebar__copy">This guide may be a companion, a mentor, a compass, a friend – all meant to support you on your journey with NMO. Whether you are a patient, a caregiver, or someone who just wants to learn more about NMO, we hope that you can find some answers to unanswered questions, a helping hand where there was no help, or perhaps a sympathetic ear as you gain comfort and knowledge from the resources in this guide and in the foundation’s online community.</p>
            <p class="page-with-sidebar__copy">Because this book offers a great deal of information, we encourage you to pace yourself. In navigating the world of NMO, we hope this guide may serve as an interactive tool in which you can take notes, highlight text, keep a diary, write down more questions or ideas, and anything else you think will help you live with NMO.</p>
            <p class="page-with-sidebar__copy last">You may have NMO – but NMO does not have you.</p>
          </div>

          <div class="occ">
            <div class="occ__reveal">"NMO: What You Need to Know"</div>
            <div class="occ__hidden">
              <div class="occ__back">Back</div>
              <div class="tools__what-to-know download page-with-sidebar__section">
                <div class="page-with-sidebar__scroll" id="tools__what-to-know"></div>
                <h3 class="alternate">"NMO: What You Need to Know"</h3>
                <ul>
                  <li>
                    <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                    <p class="download__label">Complete NMO Guide<br />(Low Resolution–8.6MB)</p>
                    <a class="download__link arrow" href="NMO_book_2nd_Final_lo.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                    <p class="download__label">Complete NMO Guide<br />(High Resolution–57.4MB)</p>
                    <a class="download__link arrow" href="https://s3.amazonaws.com/guthy-jackson/NMO_book_2nd_Final_hi.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="occ">
            <div class="occ__reveal">NMO Guide By Section</div>
            <div class="occ__hidden">
              <div class="occ__back">Back</div>
              <div class="tools__by-section download__all download page-with-sidebar__section">
                <a class="download__link--all arrow" href="https://s3.amazonaws.com/guthy-jackson/GJ-NMO-Guid-By-Section.zip" download>Download All
                  <div class="arrow__circle--all"><svg-include class="arrow__download--all" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
                <div class="page-with-sidebar__scroll" id="tools__by-section"></div>
                <h3 class="alternate">NMO Guide By Section</h3>
                <ul>
                  <li>
                    <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                    <p class="download__label">Section 1:<br />NMO Explained</p>
                    <a class="download__link arrow" href="NMO_Patient_Resource_Guide_2nd_Ed_Preface_Ch1.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                    <p class="download__label">Section 2:<br />History &amp; Discovery</p>
                    <a class="download__link arrow" href="NMO_Patient_Resource_Guide_2nd_Ed_Ch2.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                    <p class="download__label">Section 3:<br />Treatment &amp; Management</p>
                    <a class="download__link arrow" href="NMO_Patient_Resource_Guide_2nd_Ed_Ch3.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                    <p class="download__label">Section 4:<br />Living with NMO</p>
                    <a class="download__link arrow" href="NMO_Patient_Resource_Guide_2nd_Ed_Ch4.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                    <p class="download__label">Section 5:<br />Hope for the Future</p>
                    <a class="download__link arrow" href="NMO_Patient_Resource_Guide_2nd_Ed_Ch5.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                    <p class="download__label">Section 6:<br />Resources &amp; Support</p>
                    <a class="download__link arrow" href="NMO_Patient_Resource_Guide_2nd_Ed_Ch6.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                  <li>
                    <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                    <p class="download__label">Section 7:<br />Directory of Clinicians</p>
                    <a class="download__link arrow" href="NMO_Patient_Resource_Guide_2nd_Ed_Ch7.pdf" download>Download
                      <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="occ">
        <div class="occ__reveal">Tools Available for Download</div>
        <div class="occ__hidden">
          <div class="occ__back">Back</div>
          <div class="tools__tools-download download__all download page-with-sidebar__section">
            <a class="download__link--all arrow" href="https://s3.amazonaws.com/guthy-jackson/GJ-NMO-Guid-By-Section.zip" download>Download All
              <div class="arrow__circle--all"><svg-include class="arrow__download--all" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
            </a>
            <div class="page-with-sidebar__scroll" id="tools__tools-download"></div>
            <h3 class="alternate">Tools Available for Download</h3>
            <ul>
              <li>
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">PowerPoint Presentation about NMO &amp; GJCF</p>
                <a class="download__link arrow" href="https://s3.amazonaws.com/guthy-jackson/Presentation+About+NMO+and+GJCF.ppt" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li>
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">NMO MS What You Need to Know Brochure</p>
                <a class="download__link arrow" href="NMO_Brochure.pdf" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li class="download__push">
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">NMO Fact Sheet</p>
                <a class="download__link arrow" href="NMO_Fact_Sheet.pdf" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li class="download__push">
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">NMO Biorepository Flyer</p>
                <a class="download__link arrow" href="NMO_Biorepository_Map7_lo.pdf" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li>
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">Resource Guide</p>
                <a class="download__link arrow" href="#tools__resource-guide">View
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li>
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">Rare Disease Fact Sheet</p>
                <a class="download__link arrow" href="Rare_Diseases_Fact_Sheet.pdf" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li>
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">GJCF Fact Sheet</p>
                <a class="download__link arrow" href="GJCF_Fact_Sheet.pdf" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li>
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">GJCF Giving Form</p>
                <a class="download__link arrow" href="GJCF_Giving_Form.pdf" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li>
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">Event Flyer</p>
                <a class="download__link arrow" href="https://s3.amazonaws.com/guthy-jackson/GJCF+Event+Flyer.doc" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li>
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">Local Media Alert</p>
                <a class="download__link arrow" href="https://s3.amazonaws.com/guthy-jackson/GJCF+Media+Alert.doc" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li>
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">Local Media Alert Sample</p>
                <a class="download__link arrow" href="https://s3.amazonaws.com/guthy-jackson/GJCF+Sample+Media+Alert.doc" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li>
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">Newsletter Article Sample</p>
                <a class="download__link arrow" href="https://s3.amazonaws.com/guthy-jackson/GJCF+Sample+Newsletter+Article.doc" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
              <li>
                <img src="guthy-jackson-foundation-thumbnail-brochure-pdf-nmo-about.jpg" alt="Download Icon">
                <p class="download__label">Printable Medical ID Card</p>
                <a class="download__link arrow" href="https://s3.amazonaws.com/guthy-jackson/emergency_med_id_card2.docx" download>Download
                  <div class="arrow__circle"><svg-include class="arrow__download" link="#guthy-jackson-icon-arrow-down-gray"></svg-include></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
    </div>
  </div>
</div>