<div class="gj-blog-post">
  <div class="gj-blog-post__row">
    <div class="gj-blog-post__container">
      <div class="headline">
        <h2>{{ page.headline }}</h2>
      
        {% if page.has_author? %}
        <div class="padtopless">
          {% include "page_byline_date" %}
          {% if page.tags_count > 0 %}
          <div class="page-tags">
            <svg-include class="gj-blog-post__tag-svg" link="#guthy-jackson-icon-tag-outline"></svg-include>{% include "page_tags" with page %}
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
      
      <div id="content">
      
        <div id="intro" class="intro">
          <div class="content">
            {{ page.blog_post.content_flip }}
          </div>
          <div class="gj-blog-post__back-link">
            <a href="/stories">Back to Stories</a>
          </div>
        </div>
      
        <div class="like-page">
          <strong>Do you like this post?</strong>
          {% include "like_page" %}
        </div>
      
        {% if page.show_stream? %}
        {% include "page_stream" %}
        {% endif %}
      
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>