doctype html
html(lang='eng')
  head      
    title= title

    // General META
    meta(http-equiv='Content-type' content='text/html;charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    // Responsive META
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')

    // Semantic META
    //- meta(name='keywords' content=keywords)
    //- meta(name='description' content=description)

    // Facebook META
    //- meta(property="og:site_name" content=title)
    //- meta(property="og:title" content=title)
    //- meta(property="og:description" content=description)
    //- meta(property="og:url" content=url)
    //- meta(property="og:image" content="#{url}images/logo.png")
    //- meta(property="og:type" content="website")
    
    // Twitter META
    //- meta(name="twitter:title" content=title)
    //- meta(name="twitter:description" content=description)
    //- meta(name="twitter:url" content=url)
    //- meta(name="twitter:image" content="#{url}images/logo.png")

    // Fav Icon
    link(rel="icon", href="https://s3-us-west-1.amazonaws.com/guthyjackson/images/favicon.png")

    // Application CSS Files
    link(rel="stylesheet", href="https://s3-us-west-1.amazonaws.com/guthyjackson/stylesheets/main.css")

    // Modernizr Always Load After CSS
    script(type="text/javascript", src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/modernizr.js")

    // HTML5 Shim
    <!--[if lt IE 9]>
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->

    // Load The Typekit Script
    script(type='text/javascript', src='//use.typekit.net/gjg2fsk.js')
    script.
      try{Typekit.load({ 
        async: true
      });}catch(e){}

  body.smooth-scroll.occ-group

    // Mixins
    include ./mixins/mixins.jade

    // Inline SVG's
    div(style="height: 0; width: 0; position: absolute; visibility: hidden")
      span(ng-include="'/icons/no-color.svg'")

    main.container
      block content

    // Application Javascript Files
    script(type="text/javascript", src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/vendor.js")
    script(type="text/javascript", src="https://s3-us-west-1.amazonaws.com/guthyjackson/scripts/main.js")
    
    // Google Analytics
    //- script.
    //-   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //-     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //-       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //-   })(window,document,'script','//www.google-analytics.com/analytics.js','ga')
    //-   ga('create', '#{googleAnalyticsTrackingID}', 'auto')
    //-   ga('send', 'pageview')