
<div class="coming-soon">
  <div class="coming-soon__heading">Coming Soon!</div>
  <div class="coming-soon__info">The content for this page isn't quite ready yet. <span>Please check back with us soon.</span></div>
  <div class="coming-soon__home-link"><a href="/" class="page-with-sidebar__btn--transparent">Back to Home</a></div>
</div>