// header height variables
$header-medium: 2.25rem
$header-large-1: 3.5rem
$header-large-2: 2.375rem

// global page styles
.hide-for-mobile
  @media #{$small-only}
    display: none

// Funded Research Container Tippy Top //
.block-grid
  position: relative

  @media #{$medium-up}
    +grid-row
    margin-bottom: 3.4rem

  &__inner-container
    @media #{$medium-up}
      +grid-column(12)

  &__title
    @extend .h4-alt
    color: $theme-color-7

    @media #{$small-only}
      font-size: rem-calc(18) !important

    @media #{$medium-up}
      margin-left: 0.6rem 
      margin-bottom: 2rem
  

  // Funded Researcher //
  &__researchers, &__institutions
    @media #{$medium-up}
      +block-grid(3)

    @media #{$large-up}
      +block-grid(4)
  
  &__apps
    @media #{$medium-up}
      +block-grid(4)

    @media #{$large-up}
      +block-grid(6)

  &__reading
    @media #{$medium-up}
      +block-grid(4)

    @media #{$large-up}
      +block-grid(5.96, $spacing: 2.1rem)

  &__clinical-trials
    @media #{$medium-up}
      +block-grid(3)

    @media #{$large-up}
      +block-grid(5)

  hr.break-line
    margin: 1.2rem 0.625rem 0

    @media #{$small-only}
      display: none
  

  // Single Researcher / App //
  &__researcher__name, &__app__name
    @media #{$medium-up}
      display: none


  // Mobile Content
  &__researcher__mobile-content, &__app__mobile-content
    @media #{$small-only}
      padding: rem-calc(16) rem-calc(20)
  

  // Single Research Modal Content //
  &__researcher__modal, &__app__modal, &__reading__modal
    @media #{$medium-up}
      +grid-column(10)
      position: absolute
      top: 50%
      left: 50%
      max-width: rem-calc(960)
      max-height: rem-calc(460)
      max-height: 30.75rem
      margin-top: $header-medium
      padding: rem-calc(70) rem-calc(94)
      background: $theme-color-1
      transform: translate(-50%, -50%)
      z-index: 99

    @media #{$large-up}
      +grid-column(9)
      margin-top: $header-large-1
      padding: rem-calc(70) rem-calc(94)
    
    // used when nav un-breaks to a single line
    @media only screen and (min-width: rem-calc(1150))
      margin-top: $header-large-2
      max-height: 36.5rem