.about-nmo

  &__faqs
    padding-bottom: 0
    
    h3
      padding-bottom: 2rem

    h5
      color: $theme-color-3
      font-family: $headline-font
      padding: rem-calc(17) rem-calc(25) rem-calc(17) rem-calc(25)
      transition: $transition
      padding-right: 2.4rem !important

      &:hover
        color: $theme-color-7
        cursor: pointer
        transition: $transition

  &__accordion
    svg
      fill: $theme-color-3
      position: absolute
      right: rem-calc(10)
      top: rem-calc(24)
      transition: all $transition-slow ease-in-out !important
      +size(rem-calc(20), rem-calc(12))

    &.open
      svg
        fill: $theme-color-7
        transform: rotate(-180deg) 
        transition: all $transition-slow ease-in-out !important

      h5
        padding: rem-calc(17) 0 rem-calc(11) rem-calc(25)
        transition: $transition

  &__question
    border-top: 1px solid $theme-color-9
    position: relative

  &__answer-wraper
    p
      padding: 0 rem-calc(25) rem-calc(17) rem-calc(25)

    ul
      padding: 0 rem-calc(25) rem-calc(17) 4rem

    li
      font-size: $p-one
      color: $theme-color-6
      line-height: 1.45
      list-style: disc


  &__accordion

    &.open
      h5
        color: $theme-color-7
        font-weight: $font--bold