.grid__person, .grid__institution
  position: relative
  width: 100%
  height: 100%

  &:hover
    cursor: pointer

    > .grid__name
        height: calc(100% + 1px)
        max-height: auto
        line-height: 100%

        .grid__name__inner
          transform: translateY(46%)

  img
    // @media #{$medium-up}
    //   padding: 0

  .grid__name
    display: block
    position: absolute
    bottom: -1px
    width: 100%
    height: 2rem
    background-color: rgba($theme-color-7, 0.8)
    text-align: center
    line-height: 100%
    transition: all $transition-slower ease

    .grid__name__inner
      vertical-align: middle
      color: $theme-color-1
      line-height: 2rem
      min-height: 100%
      font-size: $p-two
      font-weight: 600
      transition: all $transition-slower ease
      z-index: 99


.grid__institution
  
  &:hover

    > .grid__name
      height: calc(100% + 1px)
      max-height: auto
      line-height: 100%

      .grid__name__inner
        transform: translateY(41%)

  .grid__name
    height: 0
    overflow: hidden

  &__link
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1

// Apps and Software
.block-grid__app
  @media #{$medium-up}
  
    &:hover
      cursor: pointer

.block-grid__grid__app-name
  margin-top: 1rem
  text-align: center