// Modal content //
.modal__content


  // Global
  
  a 

    &:hover

      // color: $theme-color-7 !important

  // Quick Info
  &__researcher__quick-info, &__app__quick-info, &__left
    @media #{$small-only}
      border-bottom: 1px solid $theme-color-2
      margin-bottom: 0.4rem
      padding-bottom: 0.4rem

    @media #{$medium-up}
      display: inline-block
      width: 33%
      padding-right: 2rem

    @media #{$large-up}
      width: 30%

    img
      @media #{$medium-up}
        width: 100%
        max-width: 11.125rem

    img:first-child
      margin-bottom: rem-calc(16)

      @media (min-width : 508px)
        display: inline-block
        width: calc(57.6% - 0.75rem)

      @media #{$medium-up}
        width: 100%

    img:nth-child(2)
      margin-bottom: rem-calc(10)

      @media (min-width : 508px)
        display: inline-block
        width: calc(42.4% - 0.75rem)
        float: right

      @media #{$medium-up}
        width: 100%
        float: none

    .researcher__name, .app__name
      font-size: $p-two
      color: $theme-color-4
      @extend .font--bold

  // Single Research Topic //
  &__srt__group, &__advisor, &__clinical-trials, &__right
    @media #{$medium-up}
      display: inline-block
      width: 66%
      // min-height: 24.8rem
      // min-height: rem-calc(420)
      max-height: rem-calc(420)
      max-height: 23.25rem
      overflow-y: scroll
      vertical-align: top
      border-left: 1px solid $theme-color-9
      padding: 0 1rem 0 3.2rem

    @media #{$large-up}
      width: 69%
      // max-height: rem-calc(480)
      // min-height: 24.8rem
      // max-height: rem-calc(480)

    @media only screen and (min-width: rem-calc(1150))
      min-height: 24.8rem
      max-height: rem-calc(480)
      max-height: 29.5rem


  &__srt
    border-bottom: 1px solid $theme-color-9
    margin-bottom: 1.2rem
    padding-bottom: 0.8rem

    &:last-child
      border-bottom: 0

  &__srt__topic
    display: block

  &__srt__stats, &__srt__researchers
    @media #{$medium-up}
      display: inline-block
      width: 49%
      vertical-align: top

  &__srt__researchers

  &__srt__title, &__title
    margin-bottom: 0.08rem
    font-size: $p-one
    color: $theme-color-4
    @extend .font--bold
    line-height: 1.3

  &__srt__researchers .fr__srt__title
    margin-bottom: 0.15rem

  &__srt__title, &__srt__label,
    font-size: $p-one

  &__srt__label, &__srt__researcher
    color: $theme-color-7
    @extend .font--semibold
    line-height: 1.3

  &__srt__label
    margin-bottom: 0.3rem
    font-size: $p-two

    @media #{$medium-up}
      margin-bottom: 0.6rem

  &__srt__researcher
    font-size: $p-two
    font-weight: 900

  &__srt__institution
    // color: shade($theme-color-2, 17%)
    margin-bottom: 0.3rem
    color: $theme-color-3
    @extend .font--semibold
    font-size: $p-three
    line-height: 1.3


  // Advisors - Consultant styles

  &__background
    border-bottom: 1px solid $theme-color-9
    margin-bottom: 1rem
    padding-bottom: 1rem

  &__background-title
    margin-bottom: 0.08rem
    font-size: $p-one
    color: $theme-color-4
    @extend .font--bold
    line-height: 1.3

  &__background-list
    font-size: $p-two
    line-height: 1.35

  &__background-content
    margin-bottom: 1rem
    line-height: 1.35

  &__background-content__section-title
    font-weight: bold


  // App styles

  &__app

  &__app-image
    display: inline-block
    vertical-align: top
    max-width: 20rem
    margin-bottom: 1rem

    @media #{$medium-up}
      width: 30%
      padding-right: 2rem

    @media #{$large-up}
      padding-right: 4rem

  &__app-name
    margin-bottom: 0.08rem
    font-size: $p-one
    color: $theme-color-4
    @extend .font--bold
    line-height: 1.3

  &__app-info
    @media #{$medium-up}
      display: inline-block
      width: 69%

  &__app-copy
    margin-bottom: 1rem

  &__app-cost
    display: inline-block
    width: 6rem

  &__app-os
    color: $theme-color-7 !important
    font-weight: bold

    &:hover
      color: $theme-color-7

  &__app-price
    font-weight: bold

    span
      font-weight: normal


  // Clinical Trials

  .coming-soon
    margin-bottom: 1rem

    @media #{$small-only}
      margin-top: 1rem

  &__section-break
    border: 0
    border-bottom: 1px solid $theme-color-9


  &__title
    margin-bottom: 0.7rem

  &__section-title
    font-weight: bold
    margin-bottom: 0.7rem
  
  &__copy
    font-size: $p-two
    line-height: 1.35
    margin-bottom: 1rem

  &__button
    +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
    margin-top: 2rem


  // About Us - Founders
  &__founder-image
    @media #{$small-only}
      margin-top: 0.9rem

  &__founder
    @extend .font--bold
    font-size: $p-one
    color: $theme-color-7
    line-height: 1.3
    margin-bottom: 1.08rem

    @media #{$small-only}
      margin-top: 1rem

  &__founder-content
    margin-bottom: 1rem
    line-height: 1.35
    color: $theme-color-4
    font-size: $p-one
    -webkit-font-smoothing: antialiased

    &.disclaimer
      font-size: $p-three
      font-style: italic

    ul
      padding-left: 1rem 

      li
        font-size: $p-one
        color: $theme-color-4