.modal
  cursor: default
  
  @media #{$medium-up}
    position: fixed !important
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    visibility: hidden
    z-index: 999
    transition: all $transition-slower ease

    &.open
      opacity: 1
      visibility: visible

.modal.open .modal__overlay
  @media #{$small-only}
    display: none

  @media #{$medium-up}
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.8)
    // z-index: 99

.modal__content
  position: relative

.modal__close
  position: absolute
  top: 0
  right: -3rem
  width: 2rem
  height: 2rem
  background:
    image: icon(modal-close)
    size: cover
    repeat: no-repeat

  &:hover
    cursor: pointer

  @media #{$small-only}
    display: none

  @media #{$large-up}
    right: -4.5rem



// simplified modal styles
.modal
  @media #{$small-only}
    +grid-row

.modal__content
  @media #{$small-only}
    +grid-column(12)
    padding-top: 1.25rem

  &__cover--modal
    text-align: center

    img
      max-width: 12rem

    @media #{$small-only}
      margin: auto

  &__title--modal--left, &__title--modal--right
    font-size: $p-one

  &__title--modal--left
    font-weight: bold

    @media #{$small-only}
      display: none

  &__title--modal--right
    font-weight: bold
    color: $theme-color-4
    line-height: 1
    margin-bottom: 0.24rem

    @media #{$small-only}
      margin-top: 1rem

  &__author--modal
    color: $theme-color-7
    font-weight: bold
    font-size: $p-three
    line-height: 1.3

  &__subtitle--modal
    font-style: italic
    font-size: $p-three
    margin-bottom: 0.25rem

    &.extra-margin
      margin-bottom: 1.5rem
      padding-bottom: 1rem
      border-bottom: 1px solid rgba($theme-color-3, 0.5)

  &__purchase--modal
    +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
    margin-bottom: 1.1rem

  &__description--modal
    color: $theme-color-4
    margin-bottom: 1rem !important
    font-size: $p-one

    a 
      color: $theme-color-7