$hide-occ-height: 3.4375rem
  
.occ
  position: relative

  @media #{$small-only}
    position: relative
    max-height: 100vh
    overflow-y: scroll

  &.fall-back
    @media #{$small-only}
      overflow-y: hidden

  &__reveal
    @extend .font--semibold
    @extend .h3-1

    @media #{$small-only}
      position: relative
      border-bottom: 1px solid $theme-color-2
      padding: 0 1.25rem
      line-height: 3
      padding: 0.97rem 1.25rem
      line-height: 1.3
      color: $theme-color-7
      
      // new styles to remove weird bar on right side of reveal for mobile
      padding: 1rem 1.25rem
      line-height: 1.3
      display: flex
      flex-direction: column
      justify-content: center

    &:after
      @media #{$small-only}
        display: inline-block
        position: absolute
        top: 1.1rem
        top: 50%
        right: 1.25rem
        width: 0.8rem
        height: 1rem
        background:
          image: icon(arrow-right-green)
          size: contain
          repeat: no-repeat
        content: ''
        transform: translateY(-50%)

    &.occ__reveal--founder
      &:after
        display: none

  &__reveal__style
    @extend .occ__reveal
    padding-right: 4rem
    // line-height: 

    &:after
      content: 'Visit'
      top: 0.3rem
      top: 50%
      transform: translateY(-50%)
      right: 1.25rem
      width: auto
      background: none
      font-size: $p-two
      color: $theme-color-3

    a 
      display: block
      color: $theme-color-7

  &__hidden
    @media #{$small-only}
      overflow-y: scroll
      position: fixed
      top: 0 !important
      left: 0
      width: 100%
      height: 100%
      max-height: 100vh
      box-shadow: 0 0 200px 0 rgba($black, 0%)
      // padding-top: $hide-occ-height * 1
      background-color: $theme-color-1
      transform: translateX(100%)
      transition: $easeInOutCubic $transition-slower
      transition-property: transform, box-shadow
      z-index: 998

    &.show
      @media #{$small-only}
        box-shadow: 0 0 200px 0 rgba($black, 1)
        transform: translateX(0)


  &__back
    @media #{$small-only}
      position: fixed
      top: 2.4rem
      left: 0
      bottom: 0
      right: 0
      width: 100%
      height: $hide-occ-height
      padding: 0 1.25rem 0 2rem
      background-color: $theme-color-7
      color: $theme-color-1
      line-height: $hide-occ-height
      z-index: 999

    @media #{$medium-up}
      display: none !important

    &:before
      @media #{$small-only}
        position: relative
        top: 0.14rem
        left: -0.75rem
        display: inline-block
        width: 0.8rem
        height: 1rem
        background:
          image: icon(arrow-left-white)
          size: contain
          repeat: no-repeat
        content: ''

.overflow
  @media #{$small-only}
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100vh
    max-height: 100vh
    overflow: hidden

.overflow-inner
  @media #{$small-only}
    height: 100vh
    width: 100vw
    overflow: scroll
    padding-top: $hide-occ-height * 1
    padding-top: 4.9375rem !important

.content__main .overflow-inner
  @media #{$small-only}
    padding-top: 5.8375rem !important

.occ .occ__hidden,
.occ .occ__hidden .occ .occ__hidden,
.occ .occ__hidden .occ .occ__hidden .occ .occ__hidden
  @media #{$small-only}
    height: 100vh
    max-height: 100vh
    overflow: scroll

.occ .occ__hidden,
.occ .occ__hidden .occ__back
  @media #{$small-only}
    z-index: 999

.occ .occ__hidden .occ .occ__hidden,
.occ .occ__hidden .occ .occ__hidden .occ__back
  @media #{$small-only}
    z-index: 9999

.occ .occ__hidden .occ .occ__hidden .occ .occ__hidden,
.occ .occ__hidden .occ .occ__hidden .occ .occ__hidden .occ__back
  @media #{$small-only}
    z-index: 99999