.sidebar-widget
  margin-top: 1.3rem
  padding: 1.3rem
  background-color: $theme-color-7
  color: $theme-color-1


  // signup form

  .row-fluid .span4 
    width: 100%

  ::-webkit-input-placeholder
    color: $theme-color-1

  ::-moz-placeholder
    color: $theme-color-1

  :-ms-input-placeholder
    color: $theme-color-1

  :-moz-placeholder
    color: $theme-color-1


  input[type="text"]
    display: inline-block

  input[type="submit"], .footer-signup-submit-container
    width: 3.425rem
    display: inline-block
    position: relative
    border-radius: 2px
    border-top-left-radius: 0
    border-bottom-left-radius: 0

  .footer-signup-submit-container
    background-color: $theme-color-1
    transition: all 0.2s ease

    &:hover
      background-color: darken($theme-color-1, 3%)

    .footer-signup-submit
      position: relative
      z-index: 2
      background-color: transparent

    svg
      position: absolute
      top: 0.9rem
      left: 0.9rem
      width: 1.8rem
      height: 1.3rem
      fill: $theme-color-7

  #signup_email
    border-color: $theme-color-1
    width: calc(100% - 3.425rem)
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    color: $theme-color-1
    font-weight: bold

  //...........................


  // donate button

  &__donate
    +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
    background-color: $theme-color-1 !important
    color: $theme-color-7 !important
    font-size: $p-two
    margin-top: 0.5rem
    border-radius: 4px

    &:hover
      background-color: darken($theme-color-1, 3%) !important

  //...................


  // upcoming events

  &__upcoming-events

    h3
      color: $theme-color-1
      font-weight: bold
      font-size: $p-one
      margin: 1rem 0 0.6rem
      padding-bottom: 0.6rem
      border-bottom: 1px solid $theme-color-1
  
    ul
      // list-style-type: circle !important
      padding-left: 1rem

    ul li
      list-style-type: disc
      line-height: 1.2
      margin-bottom: 0.3rem

    ul  li a
      color: $theme-color-1
      font-family: $headline-font
      font-size: $p-two

      &:hover
        color: darken($theme-color-1, 9%)

      span
        font-size: $p-two
        font-weight: bold
        font-family: $font
        padding-left: 0.3rem
