.occ.block-grid

  .block-grid__inner-container

    .occ__reveal.block-grid__title Advocate Created Websites

    .occ__hidden

      .occ__back Back

      ul.block-grid__institutions

        for site in advocacyOrgs.createdSites

          li.block-grid__researcher

            .occ__reveal__style.block-grid__researcher__name 
              a(href="#{site.site.link}" target="_blank")= site.site.name

            .block-grid__grid-image.grid__institution.hide-for-mobile

              img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/#{site.site.image}.jpg")
              
              a(href="#{site.site.link}" target="_blank").grid__institution__link
                
              .block-grid__grid__researcher-name.grid__name 
                .block-grid__grid__researcher-name__container.grid__name__inner Visit Website

      hr.break-line