.occ.block-grid

  .block-grid__inner-container

    .occ__reveal.block-grid__title Get NMOtion for NMO!

    .occ__hidden

      .occ__back Back

      .gj-ao__copy

        .gj-ao__copy-container

          .gj-ao__copy-section NMO needs your help! Start by learning more <a href="/about-nmo">about NMO</a> or about <a href="/about-us">our foundation</a>. Donate <a href="/blood-bank">blood</a> for research. Learn about clinical trials.  Start or join a support group. <a href="/host-event">Host</a> or <a href="/join-event">join</a> an event. Access advocacy and fundraising tools to learn and teach others about why they should care about NMO. 

          .gj-ao__copy-section We all have unique stories living with NMO. You can submit your <a href="/stories">NMO Story</a>, read our <a href="/blog">blog</a>, and join the conversation on our <a href="/public-discussion">public discussion</a>.

          .gj-ao__copy-section A disease is not rare if it affects you, so we thank you for interest in joining the community and getting NMotion to solve NMO!

      hr.break-line