.occ.block-grid

  .block-grid__inner-container

    .occ__reveal.block-grid__title Advocacy Resources

    .occ__hidden

      .occ__back Back

      ul.block-grid__institutions

        for resource in aoResources.resources

          li.block-grid__researcher

            .occ__reveal__style.block-grid__researcher__name 
              a(href="#{resource.resource.link}")= resource.resource.name

            .block-grid__grid-image.grid__person.hide-for-mobile

              img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/#{resource.resource.image}.jpg")
              a(href="#{resource.resource.link}").block-grid__grid__researcher-name.grid__name 
                .block-grid__grid__researcher-name__container.grid__name__inner= resource.resource.name
              
              //- a(href="#{resource.resource.link}" target="_blank").grid__institution__link
                
              //- .block-grid__grid__researcher-name.grid__name 
              //-   .block-grid__grid__researcher-name__container.grid__name__inner Visit Website

      hr.break-line