.occ.block-grid

  .block-grid__inner-container

    .occ__reveal.block-grid__title.gj-advocacy-organizations__title Submit a Website

    .occ__hidden

      .occ__back Back

      .gj-advocacy-organizations__form

        .gj-advocacy-organizations__form-container

          script(type='text/javascript').
            var servicedomain="www.123contactform.com";
            var frmRef='';
            try { frmRef=window.top.location.href; } catch(err) {};
            var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
            document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
            frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]');
            document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1775292.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));