.occ.block-grid

  .block-grid__inner-container

    .occ__reveal.block-grid__title Medical Consultants

    .occ__hidden

      .occ__back Back

      ul.block-grid__institutions

        include ./ma/peter-a.jade
        include ./ma/james-l.jade