.occ.block-grid

  .block-grid__inner-container

    .occ__reveal.block-grid__title Medical Advisors

    .occ__hidden

      .occ__back Back

      ul.block-grid__institutions

        include ./ma/amit-bar.jade
        include ./ma/terrence-f.jade
        include ./ma/michael-s.jade
        include ./ma/katja-van.jade
        include ./ma/andre-van.jade
        include ./ma/terry-smith.jade
        include ./ma/michael-y.jade
        include ./ma/howard-w.jade
        include ./ma/michael-c.jade

      hr.break-line