extends {layout}
block content

  +hero('Clinical Trials FAQ').hero.about-clinical-trials__hero

  #page-with-sidebar.page-with-sidebar.sticky-sidebar
    .page-with-sidebar__wrapper.ui.rails
      .page-with-sidebar__sidebar.ui.sticky
        h4 Clinical Trials FAQ
        ul.page-with-sidebar__nav.scroll-to-active
          li
            a(href='#what-is-clinical-research') What is Clinical Research?
          li
            a(href='#why-clinical-trials') Why Do We Need Clinical Trials?
          li
            a(href='#why-do-people') Why Do People Participate?
          li
            a(href='#who-participates') Who Participates?
          li
            a(href='#what-to-know') What Do I Need to Know?
          li
            a(href='#what-happens') What Happens After?
          li
            a(href='#what-is-info-email') What is the Information Email Group List?
          li
            a(href='#questions') Questions to Ask If Joining Trial
          li
            a(href='#how-protected') How Am I Protected?
          li
            a(href='#gj-role') What is Guthy-Jackon's Role in Trials?
          li
            a(href='#further-info') Further Information
      .page-with-sidebar__content
        .occ
          #what-is-clinical-research.page-with-sidebar__scroll
          .occ__reveal What is Clinical Research?
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate What is Clinical Research?
              p.page-with-sidebar__copy
                | Clinical research is medical research that involves patients. Patients, called subjects in clinical research, volunteer to participate in carefully designed and conducted studies seeking to find better ways to prevent, diagnose, treat, and eventually cure human disease. These advances come with improved understanding of the causes and effects of the disease. Clinical research includes clinical trials and clinical studies in which new treatments and strategies are tested in hopes of improving the health and wellness of patients. In addition, clinical research can focus on clinical science, which assesses discovery aspects of medicine, including disease onset or relapse risks, genetics, epidemiology, and other features associated with cause or variable manifestations of disease. All clinical research is required to adhere to careful protection of subjects and their information, and in the United States clinical trials in particular are regulated and monitored by the U.S. Food and Drug Administration (FDA) and the National Institutes of Health (NIH). Respective agencies in other countries follow similar practices.

        .occ
          #why-clinical-trials.page-with-sidebar__scroll
          .occ__reveal Why Do We Need Clinical Trials?
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate Why Do We Need Clinical Trials?
              p.page-with-sidebar__copy
                | Clinical trials are designed to determine which medicines or procedures best benefit patients, and which may not. These studies often involve expert teams from academic, governmental and pharmaceutical sectors. In some cases, clinical trials seek to test the efficacy of a new drug for a disease which has no proven effective therapy. In other trials, one treatment is compared with another to examine which may be best in patients of differing disease stage or condition. Clinical trials are usually divided into different “phases”, each of which is designed to address a slightly different question:  
              p.page-with-sidebar__copy
                | Phase I: usually designed to test the “safety” and to learn the best dosing regimen of a new drug to minimize side effects. Subjects are usually healthy volunteers, and the study is often relatively short in duration. Subjects do not usually benefit from a Phase I study.  
              p.page-with-sidebar__copy
                | Phase II: usually designed to study the drug based on results from Phase I. Here, the drug, device, or procedure is evaluated in volunteer subjects who have the disease of interest. Phase II trials further refine safety, minimize adverse events, and begin to explore if and how the test agent may benefit the subject. Some volunteer subjects may benefit from a Phase II study.  
              p.page-with-sidebar__copy
                | Phase III: usually compares the test candidate (drug, device, or procedure) to a commonly used agent that has been proven to be at least somewhat effective in treating a condition, if one exists. This phase is designed to understand if the test agent is better than existing approaches, and where the agent might best fit in managing a particular disease.  
              p.page-with-sidebar__copy
                | For additional details, see the Further Information section listed below.

        .occ
          #why-do-people.page-with-sidebar__scroll
          .occ__reveal Why Do People Participate In Clinical Trials?
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate Why Do People Participate In Clinical Trials?
              p.page-with-sidebar__copy
                | People participate in clinical trials for many reasons. Healthy individuals often say they participate to help others and to contribute to new or better ways to prevent or treat disease. Volunteers who have a disease also participate to help others, but may also receive new or improved experimental treatments. In addition, subjects who are involved in clinical trials receive additional care and attention from the clinical trial staff. Sometimes, blood relatives of the patients with diseases participate in certain trials which evaluate the genetic components that may pose potential disease risks.  
              p.page-with-sidebar__copy
                | For additional details, see the Further Information section listed below.

        .occ
          #who-participates.page-with-sidebar__scroll
          .occ__reveal Who Participates in Clinical Trials?
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate Who Participates in Clinical Trials?
              p.page-with-sidebar__copy
                | Clinical research is medical research that involves patients. Patients, called subjects in clinical research, volunteer to participate in carefully designed and conducted studies seeking to find better ways to prevent, diagnose, treat, and eventually cure human disease. These advances come with improved understanding of the causes and effects of the disease. Clinical research includes clinical trials and clinical studies in which new treatments and strategies are tested in hopes of improving the health and wellness of patients. In addition, clinical research can focus on clinical science, which assesses discovery aspects of medicine, including disease onset or relapse risks, genetics, epidemiology, and other features associated with cause or variable manifestations of disease. All clinical research is required to adhere to careful protection of subjects and their information, and in the United States clinical trials in particular are regulated and monitored by the U.S. Food and Drug Administration (FDA) and the National Institutes of Health (NIH). Respective agencies in other countries follow similar practices.

        .occ
          #what-to-know.page-with-sidebar__scroll
          .occ__reveal What do I Need to Know if I Want to Participate?
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate What do I Need to Know if I Want to Participate?
              p.page-with-sidebar__copy
                | Clinical trials involve risks, just as routine medical care and the activities of daily living. However, all clinical trials are designed to minimize such risks. Institutional and regulatory agencies carefully monitor clinical trials before they are allowed to begin, and during their performance, to ensure risks are minimized and any adverse events are addressed promptly. A clinical trial can be halted if a treatment is found by interim analysis to have unacceptable side effects, lack of efficacy (termed futility), or even exceptional efficacy. If safe and feasible, participating in a clinical trial to its completion is the best way to maximize the information learned from that trial. It is also important to note that a subject can choose to exit a clinical trial at any time for any reason. When weighing the risks of clinical research, each person may consider several important factors, including the potential for:

                ul.list.page-with-sidebar__copy
                  li 1. improved therapeutic benefit(s) 
                  li 2. advancing knowledge in the field
                  li 3. adverse outcomes or other issues
                
              p.page-with-sidebar__copy
                | Risks to subjects participating in clinical trials can be minor, serious, or even life-threatening side effects to established or experimental treatments, or placebo. The study may require more time and attention than a standard treatment regimen would, including more frequent visits to a study site. Important science is also done in most clinical trials. This work may involve additional blood tests or procedures, or other clinical activities. Some study participants experience complications that require medical attention. In rare cases, participants have been seriously injured or have died of complications resulting from their participation in trials of experimental therapies.  
              p.page-with-sidebar__copy
                | No matter how promising or effective a new treatment may seem, clinical trials are essential for it to be specifically approved by regulatory agencies for use in treating NMO. Potential benefits of participating in a clinical trial also include the chance for each NMO patient to play an active and important role in advancing knowledge in NMO health care, and possibly gaining access to new treatment being tested in the trial. It should be noted that some trials involve placebo groups, which may not receive an experimental or existing treatment regimen. In any case, participating in a clinical trial assures regular and careful medical attention from an expert clinical and research team that includes doctors and other health care professionals.  
              p.page-with-sidebar__copy
                | The specific risks associated with a clinical trial protocol are described in detail in the informed consent process (also see below). In this process, individuals considering participation in a clinical trial are provided detailed information about the purpose of the trial, the drug or drugs being evaluated, the potential benefits and risks, as well as the schedule of clinical visits, duration of the trial, and other information. Potential subjects are afforded time to carefully consider this information, and raise any questions or concerns they may have. Only when a potential subject is fully informed and satisfied that their questions or concerns have been addressed by a physician or other members of the clinical research team are they invited to sign an informed consent document. Signing the informed consent is the starting point for enrollment in the clinical trial and participating in it.  
              p.page-with-sidebar__copy
                | It is in the best interests of all concerned that patients and caregivers be as informed as possible to aid in their personal decisions when considering participation in a clinical trial.  
              p.page-with-sidebar__copy
                | For additional details, see the Further Information section listed below.

        .occ
          #what-happens.page-with-sidebar__scroll
          .occ__reveal What Happens After a Clinical Trial is Completed?
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate What Happens After a Clinical Trial is Completed?
              p.page-with-sidebar__copy
                | After a clinical trial is completed, the researchers carefully examine information collected during the study. The analysis includes evaluation of potential benefits as well as potential risks. Statistical and other quantitative assessments of the data are also carefully reviewed before any assertions are made by the trial investigators or sponsors. In addition, the entire package of study results and analysis may be submitted to regulatory agencies for review and potential approval for use in treating NMO. Each of these steps is part of the process to best determine the meaning of the findings and potential need for further testing. After each trial phase, industry sponsors decide whether to advance to the next phase, or to stop testing the agent or intervention for a variety of reasons, including efficacy, adverse events, and other relevant factors. 
              p.page-with-sidebar__copy
                | Ideally, results from clinical trials are published in peer-reviewed academic journals, regardless of outcome. Peer review is a process by which objective experts in the field review the data and interpretations thereof before publication to ensure that any analysis and conclusions are supported by the evidence. If the results are particularly important, they may be featured in news media and discussed at scientific meetings and by patient advocacy groups after they are published. Once a new approach has been proven safe and effective in a clinical trial that is reviewed and approved by appropriate regulatory agencies, it may become an option or a standard of medical practice. 
              p.page-with-sidebar__copy
                | There are several ways in which to keep up with the latest published information regarding clinical trials pertaining to NMO. A few example resources include: 
              p.page-with-sidebar__copy
                | ClinicalTrials.gov: www.clinicaltrials.gov 
              p.page-with-sidebar__copy
                | ClinicalTrialsRegister: www.clinicaltrialsregister.eu 
              p.page-with-sidebar__copy
                | PubMed: www.ncbi.nlm.nih.gov 
              p.page-with-sidebar__copy
                | Google Scholar: www.scholar.google.com 
              p.page-with-sidebar__copy
                | Published study results are best retrieved by including "neuromyelitis optica" or the study official name or protocol identification number in the search terms. It may also be helpful to ask the clinical trial research investigators if the study results have been or will be published. 
              p.page-with-sidebar__copy
                | For additional details, see the Further Information section listed below.

        .occ
          #what-is-info-email.page-with-sidebar__scroll
          .occ__reveal What is the NMO Clinical Trial Email Group List?
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate What is the NMO Clinical Trial Email Group List?
              p.page-with-sidebar__copy
                |  The NMO Clinical Trial Email Information Group List is an opportunity for you to sign up to receive email notifications about NMO clinical trials. 
              p.page-with-sidebar__copy
                | Joining the email list does not mean you are signing up for a clinical trial. Rather, joining the group simply indicates that you are interested in receiving news and latest information regarding clinical science or clinical trials focusing on NMO. Importantly, the Foundation does not share your contact information with any other third parties, or for marketing, advertising or profitable services.

        .occ
          #questions.page-with-sidebar__scroll
          .occ__reveal What Type of Questions Might I Ask?
          .occ__hidden
            .occ__back Back 
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate What Type of Questions Might I Ask?
              p.page-with-sidebar__copy
                | If you are considering enrolling in a clinical trial, it is important that you ask any questions or bring up any issues concerning the trial at any time. The following suggestions may give you some ideas as you think about your own questions: 
              p.page-with-sidebar__copy
                | The Study  
              p.page-with-sidebar__copy
              p What is the purpose of the study? 
              p Who will fund the study? 
              p Who has reviewed and approved the study? 
              p How are study results and safety of participants being monitored? 
              p How long will the study last? 
              p What will my responsibilities be if I participate? 
              p What are the possible risks and benefits? 
              p What are my possible short-term benefits? 
              p What are my possible long-term benefits? 
              p What are my short-term risks, such as side effects? 
              p What are my possible long-term risks? 
              p Who pays for my medical care in relation to the trial? 
              p What happens if I experience an adverse event in the trial? 
              p Can I exit the trial at any time for any reason if I wish? 
              p What other options do people with my disease have? 
              p.page-with-sidebar__copy How do the possible risks and benefits of this trial compare with those options?  
              p.page-with-sidebar__copy
                | Participation and Care 
              p What kinds of therapies, procedures and /or tests will I have during the trial? 
              p Will they hurt, and if so, for how long? 
              p How do the tests in the study compare with those I would have outside of the trial? 
              p Will I be able to take my regular medications while in the clinical trial? 
              p Where will I have my medical care? 
              p Who will be in charge of my care? 
              p Personal issues 
              p How could being in this study affect my daily life? 
              p.page-with-sidebar__copy Can I talk to other people in the study?  
              p.page-with-sidebar__copy
                | A key step in enrolling in a clinical trial is called informed consent. In this step, each potential subject will be carefully and thoroughly informed of the details of the trial, and encouraged to ask any questions about any aspect of the trial design, purpose, clinical investigators, or industry sponsor. Only when all questions or concerns have been addressed, and qualification is determined based on inclusion and exclusion criteria, is a patient invited to sign the informed consent document to begin enrollment as a clinical trial subject.  
              p.page-with-sidebar__copy
                | For additional details, see the Further Information section listed below.

        .occ
          #how-protected.page-with-sidebar__scroll
          .occ__reveal How Am I Protected?
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate How Am I Protected?
              p.page-with-sidebar__copy
                | Ethical Guidelines
              p.page-with-sidebar__copy
                | The goal of clinical research is to develop knowledge that improves human health or increases understanding of human biology. People who participate in clinical research make it possible for these advances to occur. The path to finding out if a new drug or medical procedure is safe or effective is to test it on patient volunteers. Clinical trials are carefully designed by experts, and subjected to judicious review by institutional review boards and regulatory agencies to minimize the risks and maximize the information likely to be gained. However, because there are uncertainties in a clinical trial, there is an inherent potential for bias or adverse outcomes. The purpose of ethical guidelines is both to protect patient volunteers and to preserve the integrity of the science. Ethical guidelines in place today represent lessons learned from historical experiences to improve the safety and reliability of clinical trials in the best interests of patients and all concerned.
              p.page-with-sidebar__copy
                | Informed Consent
              p.page-with-sidebar__copy
                | As described above, informed consent is the process of volunteer patients learning the key facts about a clinical trial before deciding whether to participate as clinical trial subjects. The process of providing information to subjects and addressing any questions or concerns continues throughout the study. To help someone decide whether to participate, members of the research team explain details of the study. The research team provides an informed consent document, which includes such details about the study as its purpose, duration, required procedures, and who to contact for various purposes. The informed consent document also explains risks and potential benefits.
              p.page-with-sidebar__copy
                | Once an individual decides to enroll in a clinical trial, they are required to sign an informed consent document. It is important to note that informed consent is not a contract, it is a process, and all clinical study volunteers are free to withdraw from the study at any time for any reason.
              p.page-with-sidebar__copy
                | Institutional Review Board (IRB) or Ethics Committee (EC) Oversight
              p.page-with-sidebar__copy
                | Each clinical trial must be approved and monitored by an Institutional Review Board (IRB) or Ethics Committee (EC) to ensure that the risks are minimal and are worth any potential benefits. The IRB or EC is an independent committee that consists of physicians, statisticians, and members of the community including ethicists and in some cases clergy, who ensure that clinical trials are ethical and that the rights of participants are protected. Governmental regulations require all institutions that conduct or support biomedical research to have an IRB or EC initially approve, regularly monitor, and periodically review the research.
              p.page-with-sidebar__copy
                | For additional details, see the Further Information section listed below. 

        .occ
          #gj-role.page-with-sidebar__scroll
          .occ__reveal What Is Guthy-Jackson's Role in Trials?
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate What Is Guthy-Jackson's Role in Trials?
              p.page-with-sidebar__copy
                | The Foundation endorses clinical trials as a best means to evaluate new or better ways to prevent, diagnose, treat, and potentially cure NMO. However, as a non-profit charitable organization, we strictly do not endorse any specific clinical trial, clinical trial design, agent or experimental drug or procedure, or pharmaceutical company. Additionally, the Foundation does not participate in subject recruitment or eligibility evaluation for any trial, nor does it act or participate in any way in performance, data assessment, interpretation, regulatory agency review, or recommendations that may be derived from any clinical trial or its outcomes.
              p.page-with-sidebar__copy
                | The role of the Foundation is to act solely as a facilitator of public information to the NMO community.

        .occ
          #further-info.page-with-sidebar__scroll
          .occ__reveal Further Information
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate Further Information
              p.page-with-sidebar__copy
                | For more information about research protection pertaining to clinical trials, the following resources may be useful:
              p.page-with-sidebar__copy
                | United States Health &amp; Human Services Office of Human Research Protection
              p.page-with-sidebar__copy
                | European Commission for Public Health
              p.page-with-sidebar__copy
                | Japan Ministry of Health
              p.page-with-sidebar__copy
                | National Health and Medical Research Council of Australia
              p.page-with-sidebar__copy
                | Children's Assent to Clinical Trial Participation
              p.page-with-sidebar__copy
                | For more information on participants’ privacy and confidentiality, see:
              p.page-with-sidebar__copy
                | National Institutes of Health, HIPAA Privacy Rule
              p.page-with-sidebar__copy
                | The Food and Drug Administration, FDA’s Drug Review Process:
              p.page-with-sidebar__copy
                | Ensuring Drugs Are Safe and Effective
              p.page-with-sidebar__copy
                | National Cancer Institute, Monitoring the Safety of Clinical Trials 