extends {layout}
block content

  +hero('Advocacy Supplies').hero.advocacy-supplies__hero

  .gj-advocacy-supplies

    .gj-advocacy-supplies__container

      .gj-advocacy-supplies__form

        script(type='text/javascript').
          var servicedomain="www.123contactform.com";
          var frmRef='';
          try { frmRef=window.top.location.href; } catch(err) {};
          var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
          document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
          frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]');
          document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1777243.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));
