extends {layout}
block content

  +hero('Advocacy').hero.advocacy-orgs__hero

  .gj-advocay-organizations.modal-group.content__main
    
    include ../components/ao-nmotion.jade
    include ../components/ao-resources.jade
    include ../components/ao-advocate.jade
    include ../components/ao-related-sites.jade
    include ../components/ao-submit-website.jade