extends {layout}
block content
  
  .annual-reports

    .annual-reports__row

      .annual-reports__title
        h3.alternate Annual Reports

      .annual-reports__single

        .annual-reports__single__row

          .annual-reports__single__column

            .annual-reports__img
              img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg")

            .annual-reports__year
              | 2011 Annual Report

            .annual-reports__download
              a(href="") Download
                .annual-reports__download__arrow
                  svg-include(link="#guthy-jackson-icon-arrow-down-gray")

      .annual-reports__single

        .annual-reports__single__row

          .annual-reports__single__column

            .annual-reports__img
              img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg")

            .annual-reports__year
              | 2012 Annual Report

            .annual-reports__download
              a(href="") Download
                .annual-reports__download__arrow
                  svg-include(link="#guthy-jackson-icon-arrow-down-gray")

      .annual-reports__single

        .annual-reports__single__row

          .annual-reports__single__column

            .annual-reports__img
              img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg")

            .annual-reports__year
              | 2013 Annual Report

            .annual-reports__download
              a(href="") Download
                .annual-reports__download__arrow
                  svg-include(link="#guthy-jackson-icon-arrow-down-gray")