extends {layout}
block content

  +hero('NMO Apps and Software').hero.nmo-apps__hero

  .gj-apps-software.modal-group.content__main
    
    .occ.block-grid

      .block-grid__inner-container

        .occ__reveal.block-grid__title NMO Resources
        
        .occ__hidden

          .occ__back Back

          //- ul.fr__researchers-grid
          ul.block-grid__apps

            include ../components/apps-software/gj-app.jade

          hr.break-line
    
    .occ.block-grid

      .block-grid__inner-container

        .occ__reveal.block-grid__title Apps & Software
        
        .occ__hidden

          .occ__back Back

          //- ul.fr__researchers-grid
          ul.block-grid__apps

            include ../components/apps-software/audible.jade
            include ../components/apps-software/blueFire.jade
            include ../components/apps-software/braille.jade
            include ../components/apps-software/care-4-today.jade
            include ../components/apps-software/daily-yoga.jade
            include ../components/apps-software/carezone.jade
            include ../components/apps-software/evernote.jade
            include ../components/apps-software/dragon-dictation.jade
            include ../components/apps-software/fooducate.jade
            include ../components/apps-software/eyenote.jade
            include ../components/apps-software/kindle.jade
            include ../components/apps-software/gi-monitor.jade
            include ../components/apps-software/mysidekick.jade
            include ../components/apps-software/meditation.jade
            include ../components/apps-software/pacer.jade
            include ../components/apps-software/orgentec.jade
            include ../components/apps-software/physiotherapy.jade
            include ../components/apps-software/pastime.jade
            include ../components/apps-software/runkeeper.jade
            include ../components/apps-software/pocket.jade
            include ../components/apps-software/symtrac.jade
            include ../components/apps-software/saytext.jade
            include ../components/apps-software/via.jade
            include ../components/apps-software/unfrazzle.jade