extends {layout}
block content

  +hero('Blood Bank').hero.blood-bank__hero

  #page-with-sidebar.page-with-sidebar.sticky-sidebar
    .page-with-sidebar__wrapper.ui.rails
      .page-with-sidebar__sidebar.ui.sticky
        h4 Blood Bank
        ul.page-with-sidebar__nav.scroll-to-active
          li
            a(href='#biosamples') Biosamples
          li
            a(href='#icc-and-br') ICC and BR
          li
            a(href='#family-members') Family Members
          li
            a(href='#what-happens-to-your-sample') What Happens to Your Sample
          li
            a(href='#how-to-donate') How to Donate
          li
            a(href='/draw-sites') Schedule an Appointment Now
      .page-with-sidebar__content
        .occ
          #biosamples.page-with-sidebar__scroll
          .occ__reveal Biosamples and Clinical Data
          .occ__hidden
            .occ__back Back
            .blood-bank__biosamples.page-with-sidebar__section
              h3.alternate Biosamples and Clinical Data
              p.page-with-sidebar__copy If you or someone you know has been diagnosed with NMO, please help us with blood samples and/or clinical data donations to our Biorepository. Blood samples and clinical data are vital for NMO research. Many developments in NMO treatment come from doctors and researchers analyzing blood samples and data.
              p.page-with-sidebar__copy.last Only a limited amount of NMO samples are available worldwide, making accessibility to NMO biosamples by our research scientists an urgent need. You can help us meet this critical need by donating your samples and clinical data, thereby raising awareness of our repository program.
        .occ
          #icc-and-br.page-with-sidebar__scroll
          .occ__reveal The ICC and Biorepository
          .occ__hidden
            .occ__back Back
            .blood-bank__icc-and-br.page-with-sidebar__section
              h3.alternate The ICC and Biorepository
              p.last.page-with-sidebar__copy The GJCF International Clinical Consortium (ICC) connects the Biorepository (BR) to scientific, clinical, industry and agencies’ expertise. Members of the ICC&amp;BR have access to these resources to solve NMO through innovative prevention, diagnostic, therapeutic and educational strategies that benefit patients worldwide.
        .occ
          #family-members.page-with-sidebar__scroll
          .occ__reveal We Need Your Family Members' Blood Samples
          .occ__hidden
            .occ__back Back
            .blood-bank__family-members.page-with-sidebar__section
              h3.alternate We Need Your Family Members' Blood Samples
              p.last.page-with-sidebar__copy Blood relatives of NMO repository participants may enroll as "control" subjects. Samples from your immediate family could yield important information about genetic and environmental factors related to NMO. Contact us for details about this important aspect of our repository.
        .occ
          #what-happens-to-your-sample.page-with-sidebar__scroll
          .occ__reveal What Happens to Your Sample?
          .occ__hidden
            .occ__back Back
            .blood-bank__what-happens-to-your-sample.page-with-sidebar__section
              h3.alternate What Happens to Your Sample?
              p.page-with-sidebar__copy Your samples will be stored at the GJCF Biorepository. This is like a library where your samples will be kept with some de-identified details of your environment and medical history. A computer stores this information, so that authorized researchers can find the samples they need.
              p.last.page-with-sidebar__copy These samples are used to find out how NMO relapses develop in order to try and prevent them, develop and test ne drugs, find new ways, to diagnose NMO, try to work out which treatments work for particular groups of patients, find new ways to treat NMO, and find better ways of controlling side effects and symptoms.
        .occ
          #how-to-donate.page-with-sidebar__scroll
          .occ__reveal How to Donate
          .occ__hidden
            .occ__back Back
            .blood-bank__how-to-donate.page-with-sidebar__section
              h3.alternate How to Donate
              p.page-with-sidebar__copy Donating is easier and faster than you think. Contact the nearest CIRCLES center for information about the LabCorp donation site nearest you.
              p.last.page-with-sidebar__copy If you have already donated, then please do so again frequently! Longitudinal draws along with your information are a critical part of creating solutions for NMO. Scientists need to examine multiple samples of your blood over periods of time to study the changes in each sample. Longitudinal draws are just as important as your first sample donation.
              a.page-with-sidebar__btn--green(href='/draw-sites') Schedule an Appointment Now
