extends {layout}
block content

  +hero('Clinical Trials').hero.clinical-trials__hero

  .gj-clinical-trials.content__main

    include ../components/clinical-trials/how.jade
    include ../components/clinical-trials/current.jade
    include ../components/clinical-trials/industry.jade