.coming-soon
  .coming-soon__heading Coming Soon!
  //- .coming-soon__message You donation has been received
  .coming-soon__info The content for this page isn't quite ready yet. <span>Please check back with us soon.</span>
  .coming-soon__home-link
    a.page-with-sidebar__btn--transparent(href="/") Back to Home