extends {layout}
block content

  +hero('Contact').hero.contact__hero

  .gj-contact

    .gj-contact__container

      .gj-contact__forms

        .gj-contact__form

          .gj-contact__form-toggle.form-toggle

              .gj-contact__form-title General

              .gj-contact__form-description Do you have some questions you want answered? Well, you have come to the right place. Send a message with what it is you want to talk about!

          .gj-contact__form-container.gj-contact__general-form

            script(type='text/javascript').
              var servicedomain="www.123contactform.com"; var frmRef='';
              try { frmRef=window.top.location.href; }
              catch(err) {};
              var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
              frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1751575.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));

        .gj-contact__form

          .gj-contact__form-toggle.form-toggle

              .gj-contact__form-title Events

              .gj-contact__form-description Are you planning an event to raise awareness and/or donations for NMO research? Maybe you just have questions about other events or walks. Heck, even if you need ideas or awareness materials - we're here for you. Shoot us a message!

          .gj-contact__form-container.gj-contact__events-form


            script(type='text/javascript').
              var servicedomain="www.123contactform.com"; var frmRef='';
              try { frmRef=window.top.location.href; }
              catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
              frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1751627.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));