extends {layout}
block content

  +hero('Diagnosis').hero.diagnosis__hero

  #page-with-sidebar.page-with-sidebar.sticky-sidebar.gj-diagnosis
    .page-with-sidebar__wrapper.ui.rails
      .page-with-sidebar__sidebar.ui.sticky
        h4 Diagnosis
        ul.page-with-sidebar__nav.scroll-to-active
          li
            a(href='#diagnosis') Diagnosis
          li
            a(href='#publications') Publications
          li
            a(href='#download-resources') Download Resources
          li
            a(href='#the-interview') The Interview
          li
            a(href='#about-the-ipnd') About the IPND
          li
            a(href='#the-panel') The Panel

      .page-with-sidebar__content
        .occ
          #diagnosis.page-with-sidebar__scroll
          .occ__reveal Diagnosis
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              .page-with-sidebar__copy The 2015 consensus diagnostic criteria for NMO and NMO spectrum disorders (NMOSD) apply the latest scientific and medical insights into adult and pediatric disease, imaging, laboratory tests, and potential relationships of NMO/SD to other autoimmune diseases. These new criteria are anticipated to improve diagnostic accuracy of NMO/SD and other autoimmune diseases and speed appropriate therapies.

              .page-with-sidebar__copy
                ul
                  li 1. Advanced from the 2006 NMO Diagnostic Criteria
                  li 2. Authored by the International Panel on Neuromyelitis Optica Diagnosis (IPND)
                  li 3. Sponsored by The Guthy – Jackson Charitable Foundation
        .occ
          #publications.page-with-sidebar__scroll
          .occ__reveal Publications
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              .gj-diagnosis__download.wide
                .gj-diagnosis__download-img
                  img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg")
                .gj-diagnosis__download-description International consensus diagnostic criteria for neuromyelitis optica spectrum disorders
                .gj-diagnosis__download-btn
                  a(href="Neurology-2015-Wingerchuk-177-89.pdf") Download
                    .gj-diagnosis__download-arrow.arrow__circle
                      svg-include(link="#guthy-jackson-icon-arrow-down-gray")
              .gj-diagnosis__download.wide
                .gj-diagnosis__download-img
                  img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg")
                .gj-diagnosis__download-description Neuromyelitis optica and the evolving spectrum of autoimmune aquaporin-4 channelopathies: a decade later
                .gj-diagnosis__download-btn
                  a(href="Pittock_et_al-2015-Annals_of_the_New_York_Academy_of_Sciences.pdf") Download
                    .gj-diagnosis__download-arrow.arrow__circle
                      svg-include(link="#guthy-jackson-icon-arrow-down-gray")
        .occ
          #download-resources.page-with-sidebar__scroll
          .occ__reveal Download Resources
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              .gj-diagnosis__download.alpha
                .gj-diagnosis__download-img
                  img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg")
                .gj-diagnosis__download-description Full-page Criteria
                .gj-diagnosis__download-btn
                  a(href="NMOSD_Diag_Crit_2015_IPND1.pdf") Download
                    .gj-diagnosis__download-arrow.arrow__circle
                      svg-include(link="#guthy-jackson-icon-arrow-down-gray")
              .gj-diagnosis__download
                .gj-diagnosis__download-img
                  img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg")
                .gj-diagnosis__download-description Quick Reference Card
                .gj-diagnosis__download-btn
                  a(href="NDCCard.v16.web__.pdf") Download
                    .gj-diagnosis__download-arrow.arrow__circle
                      svg-include(link="#guthy-jackson-icon-arrow-down-gray")
              .gj-diagnosis__download.alpha
                .gj-diagnosis__download-img.app
                  img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-thumbnail-app-nmo-diagnostic-criteria.jpg")
                .gj-diagnosis__download-description NMO Resources
                .gj-diagnosis__download-btn
                  a(href="/nmo-apps-software") Download
                    .gj-diagnosis__download-arrow.arrow__circle
                      svg-include(link="#guthy-jackson-icon-arrow-down-gray")
        .occ
          #the-interview.page-with-sidebar__scroll
          .occ__reveal The Interview
          .occ__hidden.about-nmo__faqs
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section 
              .page-with-sidebar__copy
                .gj-diagnosis__researcher-profile
                  img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-interview-dean-wingerchunk-md-nmo-diagnostic-criteria.jpg")
                .gj-diagnosis__researcher-profile
                  img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-brian-weinshenker-md-nmo-diagnostic-criteria.jpg")
              .page-with-sidebar__copy 
                div The recent release of new diagnostic criteria for neuromyelitis optica spectrum disorders (NMOSD) by the International Panel for Neuromyelitis Optica Diagnosis (IPND) is a critical and exciting step toward a cure for NMO.
                div Led by Drs. Dean Wingerchuk and Brian Weinshenker from the Mayo Clinic, the IPND was created to identify, critically assess, and integrate the available evidence relevant to the diagnosis of NMO as compared to related diseases.
                div In this Q&amp;A, the GJCF talks with with Drs. Wingerchuk and Weinshenker, asking them about the new diagnostic criteria and what it means for the future of NMO:

              br
              
              for question in diagnosis.questions
                .page-excerpt
                  .about-nmo__accordion.accordion
                    .about-nmo__question.accordion-button
                      h5.alternate #{question.question.q}
                      svg-include(link="#guthy-jackson-icon-arrow-down-gray")
                    .about-nmo__answer.accordion-content
                      .about-nmo__answer-wraper.gj-diagnosis__answer #{question.question.a}
        .occ
          #press-release.page-with-sidebar__scroll
          .occ__reveal Press Release
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              .gj-diagnosis__download.alpha
                .gj-diagnosis__download-img
                  img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-pdf-annual-report.jpg")
                .gj-diagnosis__download-description July 8, 2015
                .gj-diagnosis__download-btn
                  a(href="Panel-Outlines-New-Diagnostic-Criteria-for-Central-Nervous-System-Disorder-July-8-2015.pdf") Download
                    .gj-diagnosis__download-arrow.arrow__circle
                      svg-include(link="#guthy-jackson-icon-arrow-down-gray")
        .occ
          #about-the-ipnd.page-with-sidebar__scroll
          .occ__reveal About the IPND
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              .page-with-sidebar__copy The International Panel on Neuromyelitis Optica Diagnosis (IPND) set out to identify, critically assess, and integrate the available evidence relevant to the diagnosis of NMO as compared to related diseases. During this process, the IPND developed the new 2015 consensus diagnostic criteria for NMO and NMO spectrum disorders (NMOSD). The IPND worked in affiliation with The Guthy-Jackson Charitable Foundation International Clinical Consortium (ICC).
        .occ
          #the-panel.page-with-sidebar__scroll
          .occ__reveal The Panel
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              .page-with-sidebar__copy The IPND was comprised of the following expert members, each of whom contributed effort within one or more panel subgroups and tasks throughout the process. The Guthy-Jackson Charitable Foundation team coordinated and facilitated the IPND in this important advance.

              br

              .page-with-sidebar__copy

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Dean Wingerchuk, MD, FRCP(C)
                  .gj-diagnosis__panel-member-clinic Mayo Clinic (Scottsdale, AZ)

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Brenda Banwell, MD, FRCP(C)
                  .gj-diagnosis__panel-member-clinic Children’s Hospital of Philadelphia

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Jeffrey Bennett, MD, PhD
                  .gj-diagnosis__panel-member-clinic University of Colorado Denver

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Philippe Cabre, MD
                  .gj-diagnosis__panel-member-clinic Centre Hospitalier Universitaire de Fort de France, (Martinique)

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name William Carroll, MD
                  .gj-diagnosis__panel-member-clinic Sir Charles Gairdner Hospital (Australia)

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Tanuja Chitnis, MD
                  .gj-diagnosis__panel-member-clinic Massachusetts General Hospital

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Jerome de Seze, MD
                  .gj-diagnosis__panel-member-clinic Strasbourg University (France)

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Kazuo Fujihara, MD
                  .gj-diagnosis__panel-member-clinic Tohoku University Graduate School of Medicine (Japan)

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Benjamin Greenberg, MD
                  .gj-diagnosis__panel-member-clinic UT Southwestern Medical Center

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Anu Jacob, MD
                  .gj-diagnosis__panel-member-clinic The Walton Centre (United Kingdom)

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Sven Jarius, MD
                  .gj-diagnosis__panel-member-clinic University Hospital Heidelberg (Germany)

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Marco Lana-Peixoto, MD, PhD
                  .gj-diagnosis__panel-member-clinic Federal University of Minas Gerais Medical School (Brazil)

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Michael Levy, MD, PhD
                  .gj-diagnosis__panel-member-clinic Johns Hopkins University

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Jack Simon, MD
                  .gj-diagnosis__panel-member-clinic Portland VA Medical Center and Oregon Health and Sciences University

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Silvia Tenembaum, MD
                  .gj-diagnosis__panel-member-clinic National Pediatric Hospital Dr. Juan P. Garrahan (Argentina)

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Anthony Traboulsee, MD
                  .gj-diagnosis__panel-member-clinic University of British Columbia (Canada)

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Patrick Waters, PhD
                  .gj-diagnosis__panel-member-clinic University of Oxford (United Kingdom)

                .gj-diagnosis__panel-member
                  .gj-diagnosis__panel-member-name Brian Weinshenker, MD, FRCP(C)
                  .gj-diagnosis__panel-member-clinic Mayo Clinic (Rochester, MN)