extends {layout}
block content

  +hero('Research').hero.research__hero

  .nav__sub-nav

    .nav

      ul

        li

          a(href="#funded-researchers") Funded Researchers

        li

          a(href="#institutions") Institutions

        li

          a(href="#about") About

  .gj-funded-research.occ-group.modal-group.content__main

    include ../components/research/funded-researchers.jade
    include ../components/research/funded-research-institutions.jade
    include ../components/research/funded-research-faq.jade