extends {layout}
block content

  +hero('Support Groups').hero.support-groups__hero

  .page-with-sidebar.sticky-sidebar.ui.rails#page-with-sidegar
    .page-with-sidebar__wrapper
      .page-with-sidebar__sidebar.ui.sticky
        h4 Support Groups
        ul.page-with-sidebar__nav.scroll-to-active
          li
            a(href="")
          li
            a(href="")
          li
            a(href="")

      .page-with-sidebar__content
        .occ
          .page-with-sidebar__scroll#scroll-id
          .occ__reveal
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-width-sidebar__section
              h3.alternate Section Title
              .page-with-sidebar__copy