extends {layout}
block content

  +hero('Podcast').hero.podcast__hero

  .nav__sub-nav.podcast-subnav
    .nav
      ul
        li
          a(href="/podcasts-webinars-alexion") Alexion
        li.active
          a(href="/podcasts-webinars-chugai") Chugai
        li
          a(href="podcasts-webinars-medimmune") MedImmune

  .gj-podcast.modal-group-podcast

    .gj-podcast__sub-nav--mobile.podcast-mobile-nav

      .gj-podcast__nav-label Select Podcast
        svg-include(link="#guthy-jackson-icon-arrow-down-white")

      ul.gj-podcast__nav-ul
        li
          a(href="/podcasts-webinars-alexion") 
            .sub-nav__label Alexion
        li
          a(href="/podcasts-webinars-chugai") 

            .sub-nav__label Chugai
        li
          a(href="podcasts-webinars-medimmune") 

            .sub-nav__label MedImmune

    .gj-podcast__container

      .gj-podcast__title Chugai Pharmaceuticals : NMO Clinical Trial Update Webinar

      .gj-podcast__video

        .gj-podcast__video-container.iframe

          .iframe__container
            
            iframe(src="https://www.youtube.com/embed/l7xAu9g9a6I" width="560" height="315" allowfullscreen frameborder="0" wmode="opaque")

        .gj-podcast__links

          .gj-podcast__link

            a(href="12_12_14_Chugai_Webinar_PPT_Complete_Deck_FINAL.pdf") Download .pdf Presentation

          .gj-podcast__link

            a.modal__trigger(href="#test") Read Transcript

        .modal#test
          
          .modal__content.block-grid__reading__modal 

            .modal__content__left

              .reading__cover--modal

                img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-clinical-trials-current-industry-council-chugai.jpg")

            .modal__content__right

              .modal__content__title--modal--right Chugai Pharmaceuticals : NMO Clinical Trial Update Webinar

              .modal__content__subtitle--modal.extra-margin Below is the transcription from Chugai Pharmaceutical’s presentation on NMO clinical trials recorded on December 12, 2014.

              .modal__content__description--modal <strong>Behne:</strong> We’d like to welcome you to the first in the series of educational webinars brought to you by The Guthy-Jackson Charitable Foundation. There is great interest in current trials in NMO and we are pleased to bring you this Chugai NMO clinical trial webinar. Our moderator for this session is Doctor Michael Yeaman. Dr. Yeaman, I turn to you please. 

              .modal__content__description--modal <strong>Michael Yeaman:</strong> Thank you, Jacinta and good morning. We welcome attendees from around the world to this educational webinar, not only participating this morning but also available to view this material in the future. We look forward to a very interesting and informative session. The format for the series of webinars is summarized on this slide. The session is 45 minutes in length and that contains the welcome, the introduction and the presentation itself and then the questions and answers period. Attendees are welcome to submit questions in the questions-and-answers window online. You are welcome to do it during the presentation if you’d like. We would appreciate any interest and questions. Please be as succinct as possible if you choose to submit a question. After the presentation is complete, the presenters and panelists will address as many questions as time permits. We do appreciate that you understand that all questions will be addressed simply due to time limits. However the webinar slides and audio will be posted on the Foundation website for future viewing and experience. We are very fortunate to have esteemed colleagues with us today. Presenting will be Doctor Athos Gianella-Borradori. He’s the chief medical officer to Chugai Pharma USA. Our panelist today, Doctor Brian Weinshenker expert NMO clinician at the Mayo Clinic. My name is Michal Yeaman and I’m at UCLA. I’m an advisor to The Guthy-Jackson Charitable Foundation and I am happy to serve as a moderator to this webinar. As a friendly reminder, we appreciate all attendees understanding that the content of the presentation is solely that of the respective industry or its representative. The presenters are afforded a maximum of twenty minutes total time for the presentation. Questions and answers are going to be afforded up to 20 minutes of time or the balance of the webinar. Please note, the webinar is being recorded for purposes of future distribution and that all perspectives are offered for stakeholder’s self-education. We also appreciate, that everyone recognizes that The Guthy-Jackson Charitable Foundation does not perform clinical trials nor does it endorse any particular clinical trial design or drug candidate. With this brief introduction we’d now like to turn to doctor Gianella-Borradori and ask him to begin his presentation, Athos please.

              .modal__content__description--modal <strong>Athos Gianella-Borradori:</strong> Good morning and welcome everybody. Thank you for the kind introduction. I am the chief medical officer of Chugai. Chugai is a large Japanese pharmaceutical company which has headquarters in Tokyo. I am talking from our office here in the US which are in New Jersey. We have a group of very talented scientists who for many years have been trying to find a new way to better control inflammatory reactions and to develop new medicines that would have anti-inflammatory effect. One of those medicines, we call SA237, is a monoclonal antibody against an IL-6 receptor. And I will talk actually a bit more about IL-6 later. This molecule is in a clinical study we call Sakura Star study or the code of the study is SA309-JG. On the next slide we see some of the key thoughts that  have supported the research to our monoclonal antibody. We started to work, as I said, on a molecule that we would aim at offering to subjects with NMO, new and better treatment.  Our thinking was to look for the medicine that would allow a better control of the disease after presentation and would offer options for better maintenance. This very much is the content of the first bullet point on my slide.  Finding molecules for maintenance therapy of NMO is  very important.  Maintenance would prevent further deterioration and further worsening of symptoms, in fact if SA 237 is proven safe and effective, it would be an option for maintenance. Why our focus on IL-6? IL-6 is a molecule that is a growth factor for those blood cells that produce antibodies.  In NMO there is a group of cells that produce indeed anti-aquaporin 4 antibody. This antibody can then attack cells in the nervous system. Our data generated mainly in animal models and then from patients with other diseases show that by suppressing interleukin 6 we have a good control of chronic inflammation. The expectation is that by blocking interleukin 6 in NMO SA237 can control inflammation and can actually reverse inflammation and improve symptoms were small studies using a, I would say, a predecessor of SA237 tocilizumab. This is a medicine which is actually on the market for patients with arthritis. Patients with NMO who received this treatment had a decrease in the frequency of relapses. So we went on to develop SA237, with an idea of developing an improved anti-IL6 receptor antibody. Improved in terms of offering better safety, better activity and improvement in convenience for subjects with NMO. We have good experience with tocilizumab that has been used for many years in tens of thousands of subjects with arthritis.  We know quite well, both the safety and the activity profile of blocking the IL-6 receptor.   SA237 is investigational, and we have ongoing clinical studies in subjects with NMO. On the next slide is a cartoon, I would like to go through briefly – our concept of recycling of the antibody and why SA237 is expected to provide additional benefits to subjects with NMO and NMOSD.  After injection under the skin SA237 circulates in the blood.  The blood brings SA237 to cells that are involved in inflammation and cause tissue destruction.  These cells express IL6 receptor that helps them stay alive and remain active. SA237 binds IL6 receptor on the cell surface, once bound, this complex of receptor plus IL-6 is taken up by the cell.  Inside the cell, what happens with SA237 is different than what happens with normal antibodies.  Normal antibodies once inside the cells, are degraded and they are eliminated together with what they have found. With our recycling technology we have developed a way that allows this antibody to  release the target.  SA237 inside the cell releases the IL-6 receptor to which it is bound.  IL6 receptor is degraded and eliminated while SA237 is recycled back to the cell surface and it is put back into circulation. So we have antibody that works actually several times without being destroyed.  This is the beauty of this recycling technology. It really allows a medicine to hang around for long time in the body of the subject and be active for a longer time then the currently available molecule. With  this molecule we started studying, Sakura Star Study. On the next slide we see some of the key inclusion and exclusion criteria for this study which is currently ongoing and recruiting subjects throughout the US and Canada. It is a study where we include subjects with NMO or NMOSD.  With an age of 18 to 74 years. Subjects must had have at least one relapse in the 12 months preceding study entry and a disability score between 0 and 6.5. For safety reasons we have to exclude certain conditions and these include pregnancy or lactation, it includes evidence of other diseases of central nervous system such as multiple sclerosis or progressive multifocal leukoencephalopathy. We have to exclude patients that had a recent infection prior to baseline and then patients that had strong immunosuppressive agents.

              .modal__content__description--modal On the next slide, some of the key elements of the study in terms of time and in terms of what happens once the subject enters the study. There is always a period when the study candidates are evaluated which is called a screening period which is approximately one month.  During this time study candidates have all the time to review, study documentation.  Doctors can take time to explain the study in detail and go extensively into the advantages and disadvantages of participating in this clinical study.  Most important, explain what is the purpose of the study, what are the possible risks and possible benefits of participating in this study.  So this is 28 days and we thought it is a sufficient, actually it is a long and sufficiently long time to provide required information. Then once the candidate has decided that he wants to participate then there will be randomization.  This is actually an electronic process where a subject will be allocated to either SA237 as a single agent or will be allocated to a control with pure placebo. There will be no treatment other than the study drug. Neither the doctor nor the study participant will know what agent has been given whether SA237 or placebo. And the likelihood of the subject to receive SA237 is 2:1 vs the likelihood of receiving placebo. The duration of the treatment period, the double-blind period, lasts until the subject experiences relapse. If there is no relapse then the treatment continues double-blind for about a year. As soon as there is a relapse, then very rapidly the subject can stop the double blind period and will enter what we call an open label phase, where every study participant will receive or can receive SA237 for approximately one more year. It’s a study where we’ve taken a great care to allow the frequency of both dosing and visits to be compatible with the continuation of the life that subject had before. So we really try to keep the number of visits to the minimum necessary to insure safety and good monitoring. So for the first month it is every two weeks, and then once a month for the remainder of the study. On the next slide I summarized what we would like to achieve with this study. In this study we will monitor for the first relapse from the beginning of study treatment. We will compare this time to first relapse between subjects that have received SA237 and subjects that have received placebo. And obviously, our hope and great expectation is that it takes a longer time to first relapse in the subjects receiving SA237. I think it is very important, to us, to doctors, and to subjects, that the study requires a very strict monitoring, to insure that as soon there is a slight suspicion of symptoms the subject is rapidly assessed and rapidly treated as soon as relapse has been confirmed.  This is to really avoid any harm or any worsening of the condition due to relapse, which has not been assessed readily enough.

              .modal__content__description--modal And on the next slide, I listed additional efficacy outcome measures. They include: measurements of changes in pain, changes in fatigue, we look at evolution of health status over time, if you are able to walk 25 feet, and then obviously we look how the disability changes over time. An important  aspect of this study is the interest both from us at Chugai and then from many physicians scientists participating in our study, to  understand better NMO, NMOSD and understand better how SA237 and the block of interleukin 6 works in this condition. So, some sites participating in this study have extensive MRI scans of brain, optic nerve and spinal cord to see really what happened before, during and after an attack, and to see how blocking IL6 can influence these  changes.  We have detailed immunological evaluation looking at cells and factors that are involved in inflammation in the blood and in the spinal fluid of subjects participating in this study. Again, this will happen at some selected sites and only with subjects that are willing and prepared to undergo these additional evaluations. Our target is to study 70 patients in 40 clinical study sites.  These sites are across the US and Canada. I think it is very important for us and everybody involved in this study to make this study a success in terms of recruitment.  As you know, unfortunately, very often clinical studies are started and have to stop because of insufficient recruitment. When it happens it is a disaster for everybody, for the people who have started the study, and the people who participate in the study.  Here we make a big effort to make sure that we can recruit within reasonable time frame subjects to do this study. The next slide summarizes a bit our thinking, why, our effort should actually lead to a successful recruitment.  On one side SA237 is administered subcutaneously. It is an injection under the skin, and as I mentioned before, it is an injection given at the beginning every two weeks for a month, then it is a monthly injection.  So it should be very compatible with people continuing their normal life.  Then we are taken care of reducing the risk of a subject receiving a placebo by offering a 2:1 randomization, so there is a higher likelihood to receive SA237 versus receiving pure placebo. The double blind phase will go until relapse and after relapse every study participant will have the option to continue on SA237 for a prolonged period of time. We know that paying for study associated things like travel, meals, accommodation, gas, can be a burden for subjects so we are using a credit card system called Greenphire which will allow patients and, caregivers to settle all expenses related to travel and meals and so on, directly without the need of any out of pocket money. Chugai has also decided that for participants who complete the study, SA237 will be made available free of charge until the FDA authorizes SA237 to be marked it. It is obviously not going to happen unless this study shows good safety and good activity in subjects with NMO. 

              .modal__content__description--modal The last slide is more about SA237 and the name of our study. So as I mentioned before, SA237 has been discovered in Chugai laboratories, which are based in Japan.  The name Sakura is the Japanese name of the cherry blossom tree.  This is in Japan very important, I’d say, it has big identity and emotional value.  The yearly blossoming of this trees, which are just beautiful, symbolizes the beautiful return of life and we’ve actually taken this image of the return as a symbol of SA237 recycling from the blood into the cell after having done its job and then back into the blood where it needs to do its job again.  This is very much the end of the information I wanted to share with you today, If you have questions you do not want to ask during the webinar you can find information on the page <a href="http://clinicaltrial.gov">http://clinicaltrial.gov</a>.  There are some of the key elements of this study and some of the key sites that currently are enrolling patients.  Obviously ask your doctor any time about the possibility or the option to join the study.  After talking so much about SAkura and the cherry blossom on the last slide we just finish on the beauty of the flowers, and I thank The Guthy-Jackson Charitable Foundation for organizing this webinar today, Dr. Weinshenker for his continuous support and guidance in this project and to all the individuals listening to this webinar. Myself and Chugai we look forward to working closer together.  Thank you very much.

              .modal__content__description--modal <strong>MY:</strong> Thank you very much Athos. This is Dr. Athos Gianella-Borradori, Chief Medical Officer, Chugai Pharma USA. We now would like to move to the next slide please and enter the questions and answers portion of the webinar. As a reminder we encourage Dr. Gianella-Borradori as well as Dr. Weinshenker to please offer as succinct responses as you can in interest addressing as many questions as time permits. Athos, one of the themes of the questions coming from attendees around the world have to do with cost. And you mentioned a system that involves a type of credit card. Could you please clarify that would be paid by Chugai or that would be paid by the patient?

              .modal__content__description--modal <strong>AGB:</strong> The credit card system allows patients and the relatives to settle payments. The credit card is charged to Chugai.  Obviously there will be a limit but the limit is fairly generous and our experience so far is very good.  It works very well. There have been other studies where this system has been used and it was good. By the way, the limit depends also on the geography: in some places we know that costs are higher so there is a higher limit and other places where costs are lower there is a little bit lower limit.

              .modal__content__description--modal <strong>MY:</strong> Thank you Athos. Another question has to do with, if a patient is considering joining the trial would their own doctor or would a study doctor be the individual treating them during the trial itself.

              .modal__content__description--modal <strong>AGB:</strong> During the study it has to be the study doctor. To become a study doctor we require specific training. Study doctors are also in hospitals or sites that have undergone specific preparations and have been qualified to participate in clinical trials. So every subject who thinks this study could fit its needs has actually to be treated and to be followed by a study site and by a doctor accredited to be a study doctor. However they can be referred by their doctor and they can be followed by their doctor. So the connection between the doctor and the subject remains; now in addition there will be a study doctor specific for the study period.  Then when the study is over it would be again 100% a personal doctor of the subject. Does this answer the question?

              .modal__content__description--modal <strong>MY:</strong> Yes it does Athos. Thank you. And your point about very good and close communication between the patient and their doctor with respect to this trial is very important. And now we would like to turn to Dr. Weinshenker and ask: Brian may be you could offer a few key questions that a patient considering entering this clinical trial or any clinical trial may want to ask their doctor with respect to these kinds of initiatives.

              .modal__content__description--modal <strong>BW:</strong> Thank you Michael. Yes, I think the key points that patients need to consider are the risks of participation. That would include the risks of the experimental agents, what is known about that agents and of course the risks of their disease and how that might be impacted by participation in the study. The most obvious would be their potential exposure to placebo. We’ve heard that there’s two out of 3 chances in this study that patients will receive the active treatment but that means one out of three chance that they would receive placebo. And in this study, that would mean that if they were assigned to placebo they would not be receiving any kind of maintenance treatments that might protect them from the attacks of NMO. And in addition to knowing what the odds are going to be on placebo they’d want to know how long they would be exposed to placebo. We heard that in this study it would be until, the patient experiences a first relapse. If they experience the first relapse they would no longer be required to be in this blinded portion of the study where they might be exposed to placebo or at the end of one year of participation in this study the patient would no longer be asked to stay on placebo and would have exposure to the drug. And then of course, they’d want to know a bit about the potential benefits what the experience of an agent in patient with NMO. And of course if there is no experience directly in NMO what about the experience of that drug in other diseases. And how effective has that agent been. So I think those would be the key questions that subjects would want to consider when they’re deciding whether to participate.

              .modal__content__description--modal <strong>MY:</strong> Brian, thank you very much. And on the topic of relapse, we’d like to ask a couple of questions that both, Athos and Brian, you might like to comment on. Specifically for this trial Athos, what kinds of signs or symptoms are considered by Chugai in defining a relapse and what might be the interventional approach to dealing with the relapse?

              .modal__content__description--modal <strong>AGB:</strong> First, the interventional approach is very much up to the doctor, the treating physician. It is his decision how he wants to approach it, what is best for the patient. There we have no influence and no recommendation. We just take a great care during the study to make sure that there is very regular and intensive contact with the subject to really capture as early as possible any indications of deterioration. What type of signs or symptoms would indicate deterioration? I think, most of the subjects on the line that have this disease know that there is visual impairment, worsening of visual symptoms, there could be more pain, difficulties walking.  Any neuro logical signs or symptoms that may indicate that there is inflammation need to be reported immediately to the physician.  It will be physician decision whether these signs or symptoms really constitute a relapse or whether there is something else going on, which is not a disease relapse but something else.

              .modal__content__description--modal <strong>MY:</strong> Athos thank you very much, and Brian may be you could comment. We do understand from Athos’ prior comments the double blind terminology, meaning that neither the doctor nor the subject know what the subject is receiving. So Brian, in that light how would you address a relapse in this type of clinical trial?

              .modal__content__description--modal <strong>BW:</strong> Thanks Michael. Of course when the physician is confronted by patient reporting new symptoms it is not critical for them to know whether the patient has been receiving the active treatment or placebo -they would be handled the same regardless. And the typical symptoms of an attack of neuromyelitis optica are either optic neuritis, affecting vision and that would be typically eye pain accompanied by blurred or even total loss of vision typically in one eye but it could affect both eyes. Or a spinal cord attack which could lead to a combination of weakness in the legs, occasionally the arms, bladder difficulty and the loss of sensation in the legs. So those would be the most common attacks. Rarely patients may have attacks that affect their brain and it may cause some unusual symptoms like vomiting and hiccups that can be persistent for days, weeks or even months. Obviously the attacks would be picked up very quickly but there may be some unusual attacks in patients who participate in this study will obviously be sensitized to those symptoms so they would know how to recognize them. In terms of how the attacks would be managed, standard treatment would be intravenous corticosteroid treatment typically a drug call methylprednisolone or solumedrol. But there are other corticosteroids and that would be administered for a period typically of about 5 days and if the patient would not respond there are some other rescue treatments. The commonly used one is plasma exchange, but other agents like IVIG are used by some physicians and we’ve heard that it would be to the discretions of their physician which treatments were administered.

              .modal__content__description--modal <strong>MY:</strong> Brian, thank you very much. Athos maybe we can return to you. There are important questions addressing the point of, is this trial open only to North American patients or if more global, how might non-North American patients enroll or consider enrolment?

              .modal__content__description--modal <strong>AGB:</strong> The study 309 has study sites in the US and in Canada. For this specific protocol we only have study sites in these two countries, in the North American continent.  We have another study ongoing, the study 307, and that study sites in Europe and in Asia. So if a subject with NMO is in Germany in the UK, or in Poland or in Taiwan has NMO and wants to join the study, we have study sites in these countries and in other countries as well.

              .modal__content__description--modal <strong>MY:</strong>  Thank you Athos. And Athos could you address a question that has to do with what exactly might occur at every clinical visit for a subject. Will they draw blood, will they have imaging, what exactly would happen?

              .modal__content__description--modal <strong>AGB:</strong> There will be detailed neurological examinations, blood tests, we need to follow exactly what happens in the blood and what effect not taking away IL6 from the blood has on blood cell count, white blood cells, red blood cells, platelets.  We will always look in detail whether SA237 has an effect on the function of the liver. So we look in the blood at the parameters of liver function and we look at kidney function. There will be obviously test of the blood levels of interleukin 6 receptor and the molecule itself in the blood. So we have a number of tests, it will be a visit lasting anywhere between 2 and 4 hours to allow all these detailed evaluations which are extremely important to assess both safely and activity of the planned SA237.

              .modal__content__description--modal <strong>MY:</strong> Thank you Athos and maybe you could expand just a little bit and comment on prior experience with this type of the treatment. What might be some of the expected risks that you would be looking for and you would be to address should they occur.

              .modal__content__description--modal <strong>AGB:</strong> I think there are two types of risks. Ones that we have seen now in years of treatment with the more traditional anti-IL6 receptor tocilizumab, used for many years in patients with arthritis and autoimmune diseases.  Then there are theoretical risks. What we have seen with tocilizumab are some usually mild and transient changes in the production of blood cells.  IL6 is a growth factor for certain white blood cells, and for platelets.  If this is taken away, the body has to adapt to a lower levels and the body is actually is very good at compensating, so this is quite rapidly a correction in the production of blood cells if they go down. The second effect is of is the decrease in inflammation and a decrease in the body’s  ability to respond to an infection. There is a mild increase in infections in subjects receiving this type of agent. Usually, it is not severe, it is not perceived as a big issue; it is mild infections more like flu and these types of things. Like every agent, also SA237 has an effect on liver function.  We’ve seen increases in what are called liver enzymes: substances that are released from liver cells when they are damaged.  The liver is a big organ and in general recovers very well from any damage caused by these types of molecules.  Lastly, antibodies are not substances that the body normally produces so having an anti-IL6 antibody injected can cause a  production of molecules that block the activity in some subjects. Like an immune reaction against a foreign protein.  We measure in subjects the level of this antibody, and sometimes this antibody against SA237 can be high and can block SA237 activity. It is a rare event and we monitor it very carefully and we haven’t seen anything so far. I think these are pretty much the key risks, or the key adverse effects that we have observed in subjects receiving anti-IL6 antibody.

              .modal__content__description--modal <strong>MY:</strong> Athos, thank you very much and may be you could offer a little bit of perspective regarding developmental timeline for this agent. Should it prove successful Athos, what kind of timeline might a patient expect in terms of it becoming available ultimately?

              .modal__content__description--modal <strong>AGB:</strong> I guess we have here three key milestones. One is to complete recruitment and to do this we really count on a global effort.  There is Chugai, foundations like The Guthy-Jackson Charitable Foundation and obviously our physicians participating – in the study – they are a great help and a great source of support.  So one is to complete recruitment, it is a rare disease, it is a difficult condition, and a study is not for everybody. Some people will have difficulties accepting the idea of going on a study.  As Brian mentioned, there is a placebo arm, which is a pure placebo that the FDA required – it is not something we decided to do, it is something that we have to do because it is required. The second aspect is about collecting the data, and we need a certain number of relapses to see the difference between two arms and that may take some time. Third and this we cannot predict, is the time that in the US the FDA will take to review the study data. The questions the FDA might have and the time it might take us to answer those questions. Now, if everything goes well, the study recruits according to timeline, FDA is quick in reviewing, I think by 2018 this agent if proven safe and effective could be on the market.

              .modal__content__description--modal <strong>MY:</strong> Understood Athos, thank you so much. And now what we’d like to do is to begin to conclude this webinar and to do that we’ll ask both Dr. Weinshenker and Dr. Gianella-Borradori to offer any sort of summary, take home messages to either emphasize key points or to mention things that may not have been mentioned thus far. We begin with Dr. Weinshenker.

              .modal__content__description--modal <strong>BW:</strong> Yes, thank you Michael. It is of course very exciting time for the NMO community, for patients, for physicians and all stakeholders now that these phase 3 clinical trials are moving forward we have treatments that we have been using but the level of evidence that supports their use is certainly suboptimal and as a result it is difficult for physicians to secure insurance approval without clear definitive evidence and regulatory approval for these drugs we can envision now a time that where we have drugs where we have definitive evidence from properly controlled trials that will lead to regulatory approvals. But of course with all these opportunities come risks; risks for patients, risks for participation in studies because of variety of factors including the fact that some patients be randomized to receive placebo for at least a period of time. And because these drugs are new and although there are experiences with related drugs it is often difficult to entirely know the side effects that we may observe in these studies. But as you heard many measures are being put into place to make sure that patients are carefully monitored, that relapses are promptly detected and treated and so I think we’re all looking forward to this opportunity to move ahead and get definitive therapeutics for neuromyelitis optica. Thank you.

              .modal__content__description--modal <strong>MY:</strong> Dr. Brian Weinshenker – expert NMO clinician, Mayo Clinic. Brian thank you very much, And now we would like to ask Athos if he might offer any final comments please.

              .modal__content__description--modal <strong>AGB:</strong> I think from the Chugai perspective, we are obviously very engaged in developing SA237 for subjects with NMO and NMOSD. I think our science is good and strong. I think the role of interleukin 6 in this type of disease is well established. Our scientists have done a very good job in making a molecule that would make people’s lives easier in terms of frequency of administration, once a month, subcutaneous administration under the skin with minimal need to stay in the hospital or go to the hospital. In our study we’ve taken a great care to allow subject to continue the life as it was before with rare hospital visits. At the same time there is intensive monitoring and close monitoring with telephone calls and so on to really make sure that even the placebo patients are not exposed to risks and once the scientific question of the study has been answered then immediately there would be active treatment offered even to the patients who are on the placebo. I think that was already mentioned on the side that on the approval the study here in Chugai is that for subjects who complete the study we will actually offer SA237 for free until the FDA approves the drug for sale in the pharmacies. In many ways I think we went a long way with trying to find the best solution for everybody to make study participation attractive and actually useful for everybody. I say useful, because if this study is positive well then there will be, this maybe the first official approval of a medicine by regulatory agencies for subjects with NMO and NMOSD. So we count very much on everybody’s support and participation to make this endeavor a success. I am going to thank Mike and Jacinta very much for helping us with this.

              .modal__content__description--modal <strong>MY:</strong> Athos, thank you very much. Dr. Athos Gianella-Borradori, Chief Medical Officer, Chugai Pharma USA. If you’d like to experience this seminar once again or to learn more information.  You are invited to visit NMOtion gateway of The Guthy-Jackson Charitable Foundation website using the link shown on screen now: <a href="http://nmotion.guthyjacksonfoundation.org/series-one-nmo-clinical-trial-update/" target="_blank">http://nmotion.guthyjacksonfoundation.org/series-one-nmo-clinical-trial-update/</a>. If you have any difficulty accessing this link please contact the foundation directly and they will be happy to help you. And at this point we will return back to Jacinta Behne, the host from The Guthy-Jackson Charitable Foundation to conclude this webinar, Jacinta.

              .modal__content__description--modal <strong>JB:</strong> Thank you so much Michael and thank you so much to Dr. Gianella-Borradori, wonderful that you could join us today and present your presentation on Chugai clinical trials as well many thanks to our panelist Dr. Weinshenker expert NMO clinician very much appreciated. And to you Dr. Yeaman for your willingness and support to moderate this webinar. For those of you who joined late, I want to be sure that we share some information with you as we conclude today. The content that you just viewed and received in audio is solely that of the respective industry or its representative. The webinar slides and audio will be posted on the foundation website for later viewing and audio. I am also told will be sending you – please watch your inboxes or various social networking to let you know when the posting will occur. It’s quite likely that it might be one week because we certainly have to receive the audio and such. So just you might check that or as Michael pointed out you certainly may contact the foundation. All perspectives that you just heard are offered only for stakeholder’s self-education. The Guthy-Jackson Charitable Foundation does not perform clinical trials nor does it endorse any particular clinical trial or drug. We hope this webinar was informative to all attendees, all stakeholders. We thank you very much for joining us today and we will conclude this webinar with the Chugai team and invite you back – please join our next webinar. It will be Wednesday December 17, that’s this coming Wednesday 9am Pacific Standard Time, noon Eastern Standard Time and MedImmune and MedImmune clinical trial team will be joining us then so I hope you can join us again. Thank you again and have a good day.