extends {layout}
block content

  +hero('Podcast').hero.podcast__hero

  .nav__sub-nav.podcast-subnav

    .nav
      ul
        li.active
          a(href="/podcasts-webinars-alexion") Alexion
        li
          a(href="/podcasts-webinars-chugai") Chugai
        li
          a(href="podcasts-webinars-medimmune") MedImmune

  .gj-podcast.modal-group-podcast

    .gj-podcast__sub-nav--mobile.podcast-mobile-nav

      .gj-podcast__nav-label Select Podcast
        svg-include(link="#guthy-jackson-icon-arrow-down-white")

      ul.gj-podcast__nav-ul
        li
          a(href="/podcasts-webinars-alexion") 
            .sub-nav__label Alexion
        li
          a(href="/podcasts-webinars-chugai") 

            .sub-nav__label Chugai
        li
          a(href="podcasts-webinars-medimmune") 

            .sub-nav__label MedImmune

    .gj-podcast__container

      .gj-podcast__title Alexion Pharmaceuticals : NMO Clinical Trial Update Webinar

      .gj-podcast__video

        .gj-podcast__video-container.iframe

          .iframe__container
            
            iframe(src="https://www.youtube.com/embed/ACuTbKDslGo" width="560" height="315" allowfullscreen frameborder="0" wmode="opaque")

        .gj-podcast__links

          .gj-podcast__link

            a(href="12_19_14_Alexion_Webinar_PPT_Complete_Deck.pdf") Download .pdf Presentation

          .gj-podcast__link

            a.modal__trigger(href="#test") Read Transcript

        .modal#test

          .modal__content.block-grid__reading__modal 

            .modal__content__left

              .reading__cover--modal

                img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-clinical-trials-current-industry-council-alexion.jpg")

            .modal__content__right

              .modal__content__title--modal--right Alexion Podcast Transcipt

              .modal__content__subtitle--modal.extra-margin Below is the transcription from Alexion Pharmaceutical’s presentation on NMO clinical trials recorded on December 12th, 2014.   


              .modal__content__description--modal <strong>Jacinta Behne:</strong> Good morning and welcome to our educational webinar this morning.
              
              .modal__content__description--modal This is the first of The Guthy-Jackson Charitable Foundation webinar series focused on clinical trials NMO. I am Jacinta Behne and I am sure to welcome you from the foundation. Today seminar is brought to us by <a href="http://alxn.com/" target="_blank">Alexion</a> focusing on this PREVENT study and with that I will turn it over to our moderator today Dr. Michael Yeaman.

              .modal__content__description--modal <strong>Michael Yeaman:</strong> Thank you Jacinta, and we welcome all attendees from around the world to this educational webinar. We look forward to a very interesting and informative session.
              
              .modal__content__description--modal The format for this series of webinars, is summarized on this slide. Session is 45 min in length comprising of 4 parts: The welcome, the introduction, the presentation and then the question and answer period. Attendees are welcome to submit questions in the Q&amp;A window on line. Please be as succinct as possible when submitting your question. After the presentation is complete the presenters and panelists will address as many questions as time permits. We thank you for understanding that not all the questions may be possible to be addressed simply because of time limits.
              
              .modal__content__description--modal However the webinar slides and audio will be posted on the Foundation website for future viewing.
              
              .modal__content__description--modal We are very fortunate to have esteemed colleagues with us today. Presenting will be Dr. Richard Riese, global medical science neurology lead at Alexion Pharmaceuticals.
              
              .modal__content__description--modal Our panelist today is <a href="http://www.mayoclinic.org/biographies/weinshenker-brian-g-m-d/bio-20054202" target="_blank">Dr. Brian Weinshenker</a> expert NMO clinician at the Mayo Clinic. My name is Michael Yeaman I am at UCLA and an advisor to The Guthy-Jackson Charitable Foundation. I am happy to serve as the moderator for this webinar.
              
              .modal__content__description--modal As a friendly reminder we appreciate that all attendees understand that the content in the presentation is solely that of the respective industry or its representative. Presenters are afforded a maximum of twenty minutes total time for the presentation. Questions and answers are then afforded up to 20 minute time for the remainder of the webinar. Please note that webinar is being recorded for the purposes of a future distribution. All perspectives are offered only for stakeholders and self-education and we also appreciate that the attendees understand that The Guthy-Jackson Charitable Foundation does not perform clinical trials nor does it endorse any particular clinical trial design or drug.
              
              .modal__content__description--modal With that brief introduction we would now like to turn the talk to Dr. Richard Riese and ask that he begin his presentation.
              
              .modal__content__description--modal <strong>Richard Riese:</strong> Good morning. My name is Richard Riese and I am a medical doctor working on the Alexion NMO clinical development team. It is a pleasure to be with you this morning. I would like to thank the Guthy Jackson Charitable Foundation for this opportunity to discuss the PREVENT study with you. PREVENT stands for Prevention of Relapses and Evaluation of Eculizumab in <a href="/about-nmo">Neuromyelitis Optica</a> Treatment.
              
              .modal__content__description--modal The goal of the PREVENT trial is to study the ability of a medication called eculizumab to prevent relapses of neuromyelitis optica – NMO and NMO spectrum disorder.
              
              .modal__content__description--modal Eculizumab is an antibody protein that blocks the immune system’s attacks on healthy cells, which may prevent relapses.
              
              .modal__content__description--modal The way that eculizumab acts to block the immune system’s attack, by blocking the chain of reaction before healthy cells are destroyed, is unique among NMO treatments, including potential treatments currently in other clinical trials. Eculizumab is not currently approved for the treatment of NMO, but has been approved to treat two other rare diseases in some countries. In a phase 2 study, eculizumab has been previously tested in 14 relapsing NMO patients. In this study, 12 of the 14 patients did not relapse for the year they were treated with eculizumab, while 2 patients had possible attacks: one patient with blurred vision with no change in visual acuity score; and another patient with back pain with no new findings on neurologic examination. The goal of the PREVENT Study is to study the safety and potential benefit of eculizumab in a larger group of NMO patients, confirming the results of the phase 2 study. In the PREVENT study we will recruit up to 132 patients in 20 countries around the world, including NMO patients in United States. To participate in the PREVENT trial you must be: (1) an adult, 18 years or older; (2) be diagnosed with NMO or NMO spectrum disorder; and (3) have a positive NMO antibody test for aquaporin-4 antibody. In addition, you must have experienced at least two relapses within last 12 months, or three relapses in past two years with at least one in the past year. You may be excluded from this trial if you were taking rituximab for the last three months, or intravenous immunoglobulin for the past three weeks. If you eligible and you choose to participate in this study, you will be randomly assigned to receive either eculizumab in an IV infusion, or an IV infusion without active medication, called placebo. Two out of three patients will receive eculizumab and one of three patients will receive placebo. The study doctors, nurses and coordinators will not know whether you are receiving eculizumab or a placebo, thestudy is blinded. Since this is an add-on study, you will be able to continue with your other NMO medications. You also will be eligible to participate in a follow up study, in which all patients will receive the same drug, eculizumab. You should discuss with your doctor whether this study is right for you. If you decide to participate, your doctor and the study doctors will determine if you are eligible for the study. You will undergo blood tests, neurologic examination, and physical exam to determine if you are eligible. This will take approximately one to three weeks. If you are eligible for this study, you will receive either eculizumab or placebo, both by IV infusion every week for the first 5 weeks, and then every two weeks thereafter. You could be treated for up to 2 years in the study. If you have a relapse, your doctor will treat you. This study will end for you, but you will be monitored during the treatment of the relapse for an additional 6 weeks. Afterwards, you may be eligible to participate in another study, the extension study, where all patients will receive the same drug eculizumab. The follow up study could last up to 4 years. Like all medications, eculizumab has risks and side effects. The safety of eculizumab has been studied over 10 years in two rare diseases: <a href="https://en.wikipedia.org/wiki/Paroxysmal_nocturnal_hemoglobinuria" target="_blank">Paroxysmal Nocturnal Hemoglobinuria (PNH)</a>, a rare red blood cell disease, and <a href="https://en.wikipedia.org/wiki/Atypical_hemolytic_uremic_syndrome" target="_blank">Atypical Hemolytic Uremic Syndrome (aHUS)</a>, a rare genetic disorder associated with abnormal clotting in the blood vessels of the kidney. The most frequent side effects that occurred in the phase 2 NMO study included headache, nausea, dizziness, coughing, diarrhea, abdominal pain and rash. Patients taking eculizumab are at increased risk of meningococcal infections that can involve the blood stream – called sepsis – or the lining of the brain – called meningitis. One patient in the phase 2 NMO study developed meningococcal sepsis and sterile meningitis. She made a full recovery on antibiotic therapy. All patients who enroll in this study are required to receive a vaccine against this bacterium. 
              
              .modal__content__description--modal In summary, Eculizumab has been studied in a previous phase 2 trial in patients with relapsing NMO. Patients who enrolled in PREVENT will have 2 to 1 chance of receiving eculizumab versus placebo. This study is add-on design, so patients will be able to continue with other NMO therapy. The primary outcome in this study is the time to relapse in patients treated with eculizumab versus placebo. PREVENT will enroll up to 132 patients and last up to two years. To find out more about participating in PREVENT please contact us at <a href="mailto:clinicaltrials@alxn.com">clinicaltrials@alxn.com</a>. We are currently in the process of developing patient education materials about clinical trials for NMO, and need your help. If you are interested in proving feedback on patient education materials about clinical trial participation, which is being fielded by a third party market research group, Rare Patient Voice, you are invited to contact: <a href="mailto:wes.michael@rarepatientvoice.com">wes.michael@rarepatientvoice.com</a> Please note that The Guthy-Jackson Charitable Foundation has no role in the preparation of these materials. Thank you. 

              
              .modal__content__description--modal <strong>Michael Yeaman:</strong> Thank you very much Richard and we’d now like to enter the question and answer portion of the webinar. As a reminder we encourage Dr. Riese and Dr. Weinshenker to please offer a succinct responses as you can in the interest of addressing as many questions as time permits. Dr. Riese, common question that maybe we could start off with has to do with cost, and maybe you could comment on how Alexion might help support the subject and or their caregiver with the respect to cost that might be incurred in participation in this trial
              
              .modal__content__description--modal <strong>RR:</strong> Yes, we know that if you participate in the PREVENT trial you may need to travel much further and more often than you would to visit your local hospital. If you do incur these costs you may be reimbursed for these as part of the clinical trial participation. The study doctor will be able to provide you with more information on this.
              
              .modal__content__description--modal <strong>MY:</strong> And Richard could you just expand a little bit on the how often the subject might need to visit the clinic and what might be done at each visit.
              
              .modal__content__description--modal <strong>RR:</strong> For this study you will be visiting the clinic for the screening visit, and if you are eligible for the study, you will receive a vaccine against meningococcus bacterium and will return one to three weeks later for the first study visit. You will then return weekly for the first 5 weeks and then every other week for the remainder of the study. On all study visits you will receive an IV infusion of either eculizumab or placebo, and your doctor will ask you about side effects and any changes in your medications. At some study visits you will undergo additional examinations, including a neurological examination and blood work, and you will be asked to fill out questionnaires or surveys designed to assess how you are doing and feeling.
              
              .modal__content__description--modal <strong>MY:</strong> Richard, thank you very much. And now one other question along these lines and then we will ask Dr. Weinshenker to comment. Richard will the subject’s personal doctor be the one treating them in the clinical trial or will there be a special study doctor involved?
              
              .modal__content__description--modal <strong>RR:</strong> No, your doctor, your personal doctor will not be treating you in a clinical trial. There will be a specialized clinical trial doctor who has undergone rigorous and extensive training on the protocol and procedures, how to monitor safety of clinical trial participants and how to give the study medication. During the trial you should continue to see your personal doctor also. It is really important that the study doctor and your personal doctor communicate and work closely together while you participate in clinical trial.
              
              .modal__content__description--modal <strong>MY:</strong> Thank you very much Richard and now we would like to ask Dr. Weinshenker to comment on a question that we see often from the attendees. Brian, what kind of questions would you suggest a patient ask their doctor with regard to consideration of this clinical trial.
              
              .modal__content__description--modal <strong>BW:</strong> Thank you Michael, there are two key issues that I see that the patients should focus on. First is what are the risks of participation and there are two subheadings: first is the risk of the experimental agents and we’ve heard a bit about that from Dr. Riese and the second issues are the risks that I might experience as a result my disease activity. And we’ve heard that in this study patients will be allowed to continue their background NMO therapy so there will be no patients who are required to be exposed to placebo only. All patients who continue on their background NMO therapy in this study will have some protection, so I think that, at least for this study, removes that particular risk. And of course the next question is what are the benefits of participation? And certainly there are benefits to the entire NMO community. By conducting these studies, we will hopefully grow to a day when there are approved agents for this condition and this will be a benefit to the individual participant but also to the entire NMO community. But patients will certainly want to consider what are the potential benefits for me and we’ve heard that this study there’s been a pilot study that’s been conducted in patients with neuromyelitis optica. It is not definitive but patients may wish to take into account the results that have been reported for that study in deciding whether to participate. And then another question in general is whether this agent is approved for other conditions and has been experience in other conditions. We’ve heard that although the other conditions for which this treatment are approved is rare this is not a situation where this is the first in human it’s been studies. There are patients who are receiving this and patients may wish to research that when making their decision. 
              
              .modal__content__description--modal <strong>MY:</strong> Brian, thank you very much and now we would like to continue along this line a little bit and ask Dr. Riese. Why are relapses required for the clinical trial to be most informative?
              
              .modal__content__description--modal <strong>RR:</strong> Thanks Michael. It is recognized that relapses are really an important clinical event for patients with NMO. In preventing relapses we can improve outcomes and quality of life for NMO patients. It also reduces the need for the intense treatments for the attacks and reduces hospitalizations. The scientific NMO community as well as the FDA believe that this is the best outcome to measure a good effect in a clinical trial, in a clinical trial setting. That being said, the PREVENT trial also measures other efficacy outcomes such as changes in the neurological exam and quality of life measures, as well as important safety measures to assess how well eculizumab works in NMO.
              
              .modal__content__description--modal <strong>MY:</strong> Richard, thank you very much and Brian would you like to comment?
              
              .modal__content__description--modal <strong>BW:</strong> Sure. As Richard said, relapses are the most direct measure of… what we’re hoping to accomplish in this study – that is to reduce the number of relapses and significant evidence would suggest that in NMO if we can prevent relapses we can also prevent some of the long term disability which in NMO is really the result of cumulative accumulation of disabilities that result from relapses. So that’s certainly the most direct measure. Now of course we’d ideally like to have a situation where we did not need to have a single patient experiencing a relapse in order to get the answers that we are looking for. And every effort is put in designing to make sure that the minimum number of relapses will be observed in a clinical trial in order to provide definitive information. And in this study in particular, a lot of emphasis is being put not only on recording minimum number of relapses but trying to reduce the risk to an individual patient experiencing relapse, which was basis of this add-on design where patients are allowed to stay on a baseline background treatments to not only reduce the total number of relapses recorded but also the risks to the individual patient. 
              
              .modal__content__description--modal <strong>MY:</strong> Brian, Thank you very much and just to continue a little bit further on this line of interest we’d like you Brian to comment and then we’ll come back to Dr. Riese on the question what happens if a patient experiences a relapse generally. Brian, how would you approach that?
              
              .modal__content__description--modal <strong>BW:</strong> The first thing is to be sure that the symptoms do represent a relapse and in neuromyelitis optica the main one is that we’d expect symptoms that are already indicate optic neuritis or an inflammation of the optic nerves. That would be symptoms like eye pain or blurred or in some cases severe impairment to vision. Typically in one eye but it could be in both eyes and the other major symptom is spinal cord inflammation which could lead to combination of leg weakness, numbness and bladder and bowel dysfunction. One can also occasionally see uncommon relapses that could affect the brain for example nausea, vomiting and hiccups. But those are generally less common then the optic neuritis and myelitis symptoms that I referred to. So the first thing that a physician would want to do is make sure that the symptoms are appropriate and an examination is done to be sure that the findings are unequivocal and that’s going to be a key thing that regulators are going to look for: do you have definitive information that this was an attack? And after that is the case then treatment will be very prompt and it typically will involve the intravenous corticosteroids like methylprednisolone or Soli Medrol those are two names for the same agent given over typically five days. And if the patient does not have a very good response a typical rescue treatment is used is plasma exchange although other treatments like IVIG could be used and these treatments would be allowed in this study. And patients would receive relapses just as if they were not in this study. There will be no limitation on treatment as result of participating in this study.
              
              .modal__content__description--modal <strong>MY:</strong> Brian, thank you very much. And now Richard if you would like to comment on how the Alexion trial might particularly focus on minimizing any harm that might come if a relapse occurs. 
              
              .modal__content__description--modal <strong>RR:</strong> Sure, as Dr. Weinshenker said, the most important thing is if you develop any signs or symptoms that might indicate relapse, that you contact study doctor as soon as possible. And this should include at night or on weekends, or during holidays. Every effort should be made to be evaluated by your study doctor within 24 and certainly not later than 48 hours. And again, even during the weekends. If you are not sure the symptoms you are experiencing represent a relapse, it is important you contact the study doctor anyway to make sure you are evaluated promptly. Your study doctor will examine you, and provide you with the treatment that he or she thinks is best for you. If you do have a relapse, as determined by your study doctor, your doctor will treat you promptly. The study, the PREVENT study will end for you, but you will be monitored during treatment of the relapse for additional 6 weeks. Afterwards you may be eligible to continue in another study – the extension study – where all patients will receive eculizumab. This is an open-label study where everybody will receive the active drug, eculizumab. This study can last up to four years.
              
              .modal__content__description--modal <strong>MY:</strong> Richard thank you very much. And now maybe we could address few other types of questions from the attendees. One of those has to do with the scope of the trial. Richard? From what countries around the world might be a subject be able to participate in this clinical trial.
              
              .modal__content__description--modal <strong>RR:</strong> Yes, it is a global study and it is being conducted at many sites around the world, including the United States, but also in other countries in North America, South America, Europe and Asia. If you are interested to find out if the study is in your country, in your area of the world, please feel free to contact us at <a href="mailto:clinicaltrials@Alxn.com">clinicaltrials@Alxn.com</a> and we can provide that information for you.
              
              .modal__content__description--modal <strong>MY:</strong> Richard we’ve heard about the way the trial will be conducted, how often the visits will occur. We do get questions asking what happens after completion of the clinical trial both in terms of future follow-up and perhaps learning about the results of the study.
              
              .modal__content__description--modal RR: Each patient will continue in the PREVENT trial until they have a relapse, or the study is completed as a whole. After completion of the trial, e patients may be eligible to continue in the extension trial and receive the active drug eculizumab. Once the trial is complete, and we are able to analyze the results, it is our intent to apply for market approval from regulatory agencies throughout the world, so that NMO patients have access to eculizumab. One question is how patients will know about the trial results. We will be posting the clinical trial results on clinicaltrails.gov once we have a chance to analyze the results. These results will be made available through <a href="https://clinicaltrials.gov/" target="_blank">ClinicalTrials.gov</a>.
              
              .modal__content__description--modal <strong>MY:</strong> Thank you very much Richard and a related question from attendees has to do with: what treatment history might prevent an individual from participating? I know you mentioned a couple of agents but if you could just summarize that I think that would be helpful. 
              
              .modal__content__description--modal <strong>RR:</strong> Sure. The key protocol inclusion and exclusion criteria for this study are as follows: To be included in the study you have to be an adult 18 years or older, you have to be diagnosed with NMO or NMO spectrum disorder, and you also have to have positive antibody NMO test for the AQP4 antibody. In addition, you are required to have relapse history that identifies you as a relapsing NMO patient, this includes at least two relapses within last 12 months, or 3 relapses within last two years with one occurring in the past year. You may be excluded from the study if you are taking rituximab, monoclonal antibody, for the last 3 months or intravenous immunoglobulin for the last three weeks -so you’ll have to wait to enter the trial if you are taking either of those medications. Other exclusion criteria include active infection, pregnancies, and allergies to eculizumab. 

              
              .modal__content__description--modal <strong>MY:</strong> Richard thank you very much! And now we’d like to turn to Dr. Weinshenker, Brian we’ve heard Dr. Riese mentioned that disability would be assessed on clinical visits. Could you give the attendees a sense what that type of assessment might entail in general terms.
              
              .modal__content__description--modal <strong>BW:</strong> Well in NMO we assess disability primarily by the neurological examination. Certainly, we ask patients about their limitations but typically the regulators would be looking for an objective neurologic findings and a scale of score on? a disability scale called the EDSS which has been developed for MS but largely translatable to neuromyelitis optica would be your pretty standard measure of recording disability.
              
              .modal__content__description--modal <strong>MY:</strong> Brian, Thank you very much. Dr. Riese we do have a question that focuses on a difference between add-on and pure placebo-controlled clinical trials. Could you comment on that difference and how the Alexion trial relates to the difference?
              
              .modal__content__description--modal <strong>RR:</strong> In an add-on trial patients are able to continue with other medications, other medications they are currently taking to prevent NMO relapses. And this includes medications such as methylprednisolone or Solumedrol. In addition to that, they will be receiving study medication as part of the trial – either eculizumab or placebo. This design has an advantage of protecting patients over pure placebo-controlled trials because they still are taking medications that are thought to be active and efficacious in preventing relapses. The PREVENT trial is an add-on design so patients will be able to continue with their other medications to prevent relapses. An exemption to this is what we’ve mentioned to you before, rituximab and mitoxantrone, which are not allowed in the trial.
              
              .modal__content__description--modal <strong>MY:</strong> And Dr. Riese, two questions with respect to participation in the clinical trial. First, if a subject choose to end a trial at any time.
              
              .modal__content__description--modal <strong>RR:</strong> Yes, you may choose to cancel your participation in clinical trial at any time for any reason.If you do choose to end participation, we would ask you to discuss it with your study doctor.
              
              .modal__content__description--modal <strong>MY:</strong> And then one related question: can an individual who is participating in the PREVENT trial also participate in another clinical trial?
              
              .modal__content__description--modal <strong>RR:</strong> The answer that question is no. If you are participating in the PREVENT trial you will no longer be able to participate in other trials. The reason for this is that we want to get clear information from this trial. If you are simultaneously participating in other trials that may make final conclusions that we are able to draw from this trial unclear. 
              
              .modal__content__description--modal <strong>MY:</strong> And Richard other than the must clinical visits scheduled you mentioned are subjects participating in a clinical trial allowed to sort of live their day-to-day lives anyway that is normal to their history or will they have to change any aspect of their day to day living?
              
              .modal__content__description--modal <strong>RR:</strong> The goal of clinical trial is that between study visits the patients will be able to maintain their normal day-to-day activities. We will ask patients to remember and record any potential side effects if they should occur. And again if there are symptoms or signs of relapse that they contact their study doctor right away. And also, if they change any of their medication during the trial we ask that they write that down and let the study doctor know during their next visit. Other than that, we expect our patients will be able to continue with their life as normal.
              
              .modal__content__description--modal <strong>MY:</strong> Thank you very much. And what we would like to do is to start to summarize the webinar and first we’d like to ask Dr. Weinshenker to offer any final comment or perspective he may feel important take-home messages from this particular webinar. Brian, please.
              
              .modal__content__description--modal <strong>BW:</strong> Thank you Michael. My first reflection is that it’s very exciting time that we are entering where definite clinical trials are being conducted that hopefully will lead to approved medications for neuromyelitis optica. We have treatments right now but the level of evidence that supports them is certainly not optimal and because of this we have difficulties working with insurance companies to get approval for these agents but if we have hard evidence from rigorous clinical trials that provide definitive information as we expect from this and other clinical trials. I think we will have treatments that we can confidently prescribe to patients where we won’t have difficulties with insurance companies regarding coverage. But opportunities such as those that we face there are also challenges. Still challenges to individual patients in wrestling with a difficult decision whether to participate in a placebo-controlled study. And as we’ve discussed looking at those risks and assessing how a particular study design might mitigate some of those risks to individual participants will be important but with potential adverse effects of agents which is with newer agents that don’t have a very wide usage and we don’t have a long-term follow-up… it also poses challenges. But that is the way I see it – exciting times with many opportunities but risks ahead. We’ll have to keep our eyes open.
              
              .modal__content__description--modal <strong>MY:</strong> Brian Thank you – Brian Weinshenker, expert NMO clinician. Thank you so much Brian. And now turn to Dr. Riese for any final comments or perspectives regarding take-home messages. Dr. Riese?
              
              .modal__content__description--modal <strong>RR:</strong> Thank you Michael, as Dr. Weinshenker has said it is certainly very exciting to work on projects that develop new medications for patients who need them. And this is our mission at Alexion, particularly for patients with rare diseases such as NMO. In this respect, we are very excited about this clinical trial. We are eager to evaluate the safety and efficacy of eculizumab in NMO. I would also like to thank the Guthy Jackson Charitable Foundation for this opportunity to present our clinical trial, and to thank Doctors Yeaman and Weinshenker for the interesting and relevant discussions about NMO and our PREVENT study. A always if you have any questions please feel free to contact us at <a href="mailto:clinicaltrials@ALXN.com">clinicaltrials@ALXN.com</a>. Thank you. 
              
              .modal__content__description--modal <strong>MY:</strong> Richard, thank you so much! Dr. Richard Riese, Global Medical Science Lead Alexion Pharmaceuticals. Richard thanks again. If you’d like to experience this webinar again or to learn more information – you are invited to visit the NMOtion gateway of The Guthy-Jackson Charitable Foundation website using the link shown on this slide. If you have any difficulty accessing this link please contact the foundation directly. And now we would like to return back to Jacinta Behne to conclude this seminar.
              
              .modal__content__description--modal <strong>JB:</strong> Thank you so much Michael. As a reminder for those who may have join us late, the content is solely that of the respective industry or its representative. Webinar slides and audio will be posted on the foundation website for later viewing and audio. Simply go to the foundation website and click NMOtion site. All perspectives are offered only for stakeholder self-education. The Guthy Jackson Charitable Foundation does not perform clinical trials nor does it endorse any particular clinical trial design or drug. We hope this webinar has been informative to all stakeholders. And to you Dr. Yeaman our moderator, Dr. Riese our presenter and Dr. Weinshenker our expert NMO clinician – thank you so much for joining us today and for your enthusiasm and response and willingness to bring this really important information to our NMO advocates. Thank you so much and this concludes out webinar today. Thank you.