extends {layout}
block content

  +hero('Podcast').hero.podcast__hero

  .nav__sub-nav.podcast-subnav
    .nav
      ul
        li
          a(href="/podcasts-webinars-alexion") Alexion
        li
          a(href="/podcasts-webinars-chugai") Chugai
        li.active
          a(href="podcasts-webinars-medimmune") MedImmune

  .gj-podcast.modal-group-podcast

    .gj-podcast__sub-nav--mobile.podcast-mobile-nav

      .gj-podcast__nav-label Select Podcast
        svg-include(link="#guthy-jackson-icon-arrow-down-white")

      ul.gj-podcast__nav-ul
        li
          a(href="/podcasts-webinars-alexion") 
            .sub-nav__label Alexion
        li
          a(href="/podcasts-webinars-chugai") 

            .sub-nav__label Chugai
        li
          a(href="podcasts-webinars-medimmune") 

            .sub-nav__label MedImmune

    .gj-podcast__container

      .gj-podcast__title MedImmune : NMO Clinical Trial Update Webinar

      .gj-podcast__video

        .gj-podcast__video-container.iframe

          .iframe__container
            
            iframe(src="https://www.youtube.com/embed/OUnbdi0xW_A" width="560" height="315" allowfullscreen frameborder="0" wmode="opaque")

        .gj-podcast__links

          .gj-podcast__link

            a(href="12_17_14_MedImmune_Webinar_PPT_Complete_Deck_Final.pdf") Download .pdf Presentation

          .gj-podcast__link

            a.modal__trigger(href="#test") Read Transcript

        .modal#test
          
          .modal__content.block-grid__reading__modal 

            .modal__content__left

              .reading__cover--modal

                img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-clinical-trials-current-industry-council-medimmune.jpg")

            .modal__content__right

              .modal__content__title--modal--right MedImmune Webinar Transcript

              .modal__content__subtitle--modal.extra-margin Below is the transcription from MedImmune’s presentation on NMO clinical trials recorded on December 17th, 2014.

              .modal__content__description--modal <strong>Jacinta Behne:</strong> Thank you so much everybody for joining the new educational webinar series brought to you by The Guthy-Jackson Charitable Foundation. My name is Jacinta Behne and I am happy to welcome you here today. Today we bring you our first clinical education webinar series focused on clinical trials. This session is brought to you by <a href="https://www.medimmune.com/" target="_blank">MedImmune</a> with Dr. Armando Flor, presenter, Michael Yeaman the moderator and we are pleased to welcome <a href="http://www.mayoclinic.org/biographies/weinshenker-brian-g-m-d/bio-20054202" target="_blank">Dr. Brian Weinshenker</a> as our expert NMO clinician. Michael I turn to you and welcome you and ask you please begin.

              .modal__content__description--modal <strong>Michael Yeaman:</strong> Thank you very much Jacinta and we welcome attendees from around the world to this educational webinar. We look forward to this interesting and very informative session. The format of the series of webinars is summarized on this slide. The session is 45 min in length comprising 4 parts: the Welcome, the Introduction, the Presentation and the Questions and Answers period. Attendees are welcome to submit questions in questions-and-answers window online. Please be as succinct as possible if you choose to submit a question. After the presentation is complete, presenters and panelists will address as many questions as time permits. Thank you very much for understanding that not all questions will be addressed simply due to time limits. However the webinar slides and audio will be posted on the Foundation website for future viewing. We are very fortunate to have esteem colleagues today. Presenting will be Dr. Armando Flores, Director of Clinical Development at MedImmune. Our panelist today is Dr. Brian Weinshenker, expert NMO clinician at Mayo Clinic. My name is Michael Yeaman. I am at UCLA and an advisor to The Guthy-Jackson Charitable Foundation. As a friendly reminder, we appreciate all attendees understand that the content presented today is solely that of the respective industry or its representative. The presenters are afforded a maximum of up to twenty minutes total time with Questions and Answers then afforded up to 20 minutes time or the reminder of the webinar. Please note that the webinar is being recorded for purposes of a future distribution.  All perspectives in the webinar today are offered for stakeholder’s self-education. And thank you for understanding that The Guthy-Jackson Charitable Foundation does not perform clinical trials nor does it endorse any particular clinical trial design or a drug. With this brief introduction we would now like to turn to Doctor Armando Flores and ask that he begins his presentation.

              .modal__content__description--modal <strong>Armando Flor:</strong> Thank you very much Michael. I would like to thank the Guthy-Jackson Foundation for arranging and executing this webinar series and also for the opportunity to present to the NMO community the work and research that MedImmune is currently doing in this area. MedImmune has recently begun recruiting for a clinical trial in NMO. This is the N-MOmentum study, this is a clinical research study in NMO that if successful and approved will give the NMO community and physicians that treat this rare disease a new approved treatment alternative. The N-MOmentum study is been conducted to test if the drug <strong><a href="http://www.cancer.gov/publications/dictionaries/cancer-drug?cdrid=656851" target="_blank">MEDI-551</a></strong> will have proven benefits of reducing the risk of NMO or NMOSD attack

              .modal__content__description--modal <strong><a href="/about-nmo">Neuromyelitis optica</a></strong> and neuromyelitis optica spectrum disorder is the autoimmune disease of the central nervous system that affects the optic nerve, spinal cord and sometimes the brain. Currently we have good evidence that B cells which are white blood cells have an important role in the disease process and pathogenesis of autoimmune disorders such as NMO. Usually these B cells protect the body by producing proteins in the form of antibodies against harmful substances. However under certain circumstances the immune system can react against itself leading to autoimmune diseases like NMO. A subset of these B cells have a <strong><a href="https://en.wikipedia.org/wiki/CD19" target="_blank">CD19</a></strong> protein attached to the surface of these cells. These cells represented here in the upper right hand corner in this cartoon, are known to be responsible for the productions of <strong><a href="https://en.wikipedia.org/wiki/Aquaporin_4" target="_blank">AQP4</a></strong> antibodies against aquaporin the 4 channel located in the optic nerve, spinal cord and brain leading to damage of these structures and causing neurological impairment. MedImmune developed an antibody that binds with high affinity to these CD19 B cells. And when attaches to the surface of these cells starts the process that eliminates these cells by using the body own immune system. MEDi-551 is a humanized monoclonal antibody. A monoclonal antibody is an antibody grown artificially in a laboratory. Humanized means that the engineered sequence of this protein is almost identical to the human version therefore it has been developed to be given to humans. Medimmune has conducted previous clinical trials with MEDI-551 in other autoimmune disorders like scleroderma and multiple sclerosis. And also we have several ongoing clinical trials with malignancies of B cells. The purpose of this cartoon is to explain how different subsets of B cells evolve from the immature state to the most mature functional circulating B cells in the blood. And also how different MEDI-551 is from other B cell depleters like for instance <strong><a href="https://www.nlm.nih.gov/medlineplus/druginfo/meds/a607038.html" target="_blank">Rituximab</a></strong>. B cells develop form the immature state in the bone marrow represented in this cartoon by stem cells on the left side to the mature differentiated B cells represented here by plasma blasts and plasma cells to the most right of the cartoon. These mature, differentiated B cells circled in red are the source of the production of auto-antibodies to autoimmune disorders. These cells that carry the CD19 antigen protein will be eliminated by MEDI-551. Rituximab is a medication that is frequently used to treat NMO. It works similarly to MEDI-551 in that it also eliminates B cells in the blood however it targets and eliminates a different subset of B cells that have the CD20 protein attached to the surface and not the CD19 (as you can see from this diagram underneath the cartoon). Although Rituximab is effective in the treatment of NMO, many patients still experience NMO attacks on Rituximab therapy probably because the drug does not eliminate CD19 cells source of the auto-antibody production. Now, let me review and explain the design of our clinical trial. This is a placebo controlled trial. A placebo is an inactive substance that looks like the study drug being tested, but has no effect on the disease. The trial population allows recruiting for sero-positive and sero-negative NMO patients. We will need to enroll 212 NMO patients of which 80% will be sero-positive and 20% will be sero-negative. The objective of this study is to determine whether MEDi-551 compare to placebo is able to reduce the risk of a new attack. In other words, whether we can significantly prolong the attack free time in patients with NMO. This is translated in this study as our primary end point to be time to first attack. The drug is MEDi-551, this is the active drug. It will be giving 300mg intravenously twice, at Day 1 and at Day 15 and then every 6 months. This is a pure placebo study, which means that no other immunosuppressive treatment will be allowed in the placebo arm. Who will receive MEDi-551 and who will receive the placebo will be chosen at random by a computer. This is called the randomization. For this study the random selection will give the patients a 75% chance, or 3 in 4, of getting MEDi-551 and 25% chance, or 1 in 4, of getting placebo. This is a double-masked placebo controlled study with an open labeled period. Double-masked means that both the patient and the study stuff, for example your doctor or a nurse given the study drug do not know who is or will be receiving MEDi-551 or placebo. This masked period will last for 6.5 months or 28 weeks. In order to get the information needed the study needs 67 attacks to determine whether MEDi-551 is effective in reducing the risk of a new attack compared to the placebo. Because this is a pure placebo design, safety is our priority we will monitor our trial participants closely by phone calls every two weeks and through scheduled visits to the doctor. In addition, because it is a placebo design again, your physician is allowed to use rescue medications such as IV steroids or <strong><a href="http://www.neurology.org/content/47/3/840.full" target="_blank">plasmapheresis</a></strong> in case an attack occurs.

              .modal__content__description--modal The only medication that is allowed during trial is prednisone, which is a type of steroids. This medication will be given by mouth, 20mg a day for 2 weeks and followed that by one week of tapering. Both the MEDi-551 and the placebo groups will be receiving prednisone. The reason why we giving this medication is becuase it takes approximately two to three weeks for MEDi-551 to eliminate those B cells. And during this time we will cover the patient with oral steroids to prevent possible attacks. In addition, some of the NMO patients will be on oral steroids before and entering the study and this will allow for tapering. In addition, before administering MEDi-551 or placebo we will premedicate with intravenously <strong><a href="http://www.mayoclinic.org/drugs-supplements/methylprednisolone-oral-route/description/drg-20075237" target="_blank">methylprednisolone</a></strong> which the other name is Solu Metrol, oral Benadryl and Tylenol. This cocktail of medicines will prevent and decrease the frequency of infusion related reactions that has been observed with MEDi-551 and other B cell depleters like Rituximab. If a patient is experiencing an attack a treating physician will administer rescue medication according to the local standard of practice. Again no other immunosuppressive therapy will be allowed during this trial. These are the study visits details. During the screening visits the aquaporin sero status will be determined and the physical and neurological examination along with vital signs and electrocardiogram will be done. Blood and urine will be collected to determine your general health and for other exploratory tests. An EDSS and ophthalmology examination will be performed along with the baseline MRI. After that, you will enter the masked period. We will have 9 scheduled visits that are shown in here. During these visits will perform the same procedures plus we will assess for adverse events. EDSS and ophthalmology examination will be done at Day 1, Day 85 and Day 197 which is the end of 6.5 months and the MRI will be performed by the end of the randomized trial period at Day 197 as well. After the randomization masked period the patients will have an option to enroll to the open labelled period. The open label period will help to gather more information about safety of MEDI 551 when giving for longer period of time and in addition gives the opportunity for the patients to continue to receive a B cell depleter. After the open label period which is a minimum of one year and maximum of 3 years or until local approval, the patients will enter the safety follow up period, where we follow the B cell status recovery of each patient.

              .modal__content__description--modal In summary, MEDi-551 depletes CD19 B cells, which is the source of the production of the aquaporin IgG AQP4 antibodies that cause NMO and NMOSD. The N-Momentum study is a pure placebo controlled study with a masked treatment period of 6.5 months and a randomization of 3:1, where 75% of patients will be on MEDi-551 and 25% on placebo only. After the randomization controlled period the trial participants will have the option to enter the open-label period where all participants will receive MEDi-551. For any additional information, please visit the link that I have provided in this slide or you can contact AstraZeneca Clinical Study information center at 1-877-240-9479 or <a href="mailto:information.center@astrazeneca.com">email</a>. Thank you very much. 

              .modal__content__description--modal <strong>MY:</strong> Armando, thank you very much for that presentation. We would now like to enter the Questions and Answers portion of the webinar. As a reminder we encourage doctor Flores and doctor Weinshenker to please offer as succinct responses as you can in interest of addressing as many questions as time permits. Armando let’s begin with a question which often comes up with has to do with costs, is a subject and/or their caregiver supported to participate in terms of covering costs of medicines and travels for example.

              .modal__content__description--modal <strong>AF:</strong> Thanks Michael. Yes, MedImmune is committed to provide financial assistance for patients and caregivers that are participating in this trial. This will be however determined on case by case basis and is based on investigator request. The financial aid includes, could include, but it is not limited to, travel, help, lodging and also per diem cost. financial help from MedImmune will be available for  patients. But again this will be by request of the physician that is treating the patient.

              .modal__content__description--modal <strong>MY:</strong> Armando thank you and maybe we can extend on your last point there. For many individuals considering clinical trials, they are interested in who actually will be treating them during the clinical trial, will it be their personal doctor or will it be a special study doctor? Armando?

              .modal__content__description--modal <strong>AF:</strong> Sure. In order for your physician to treat you during this study he must be an investigator participating in the trial. If your doctor is not participating in the trial he can refer you to a center or to a neurologist that is participating in the study. We have several sites in the United States and around the world and we can always provide names and numbers where you can contact these experts or centers that are participating in our clinical trial.

              .modal__content__description--modal <strong>MY:</strong> Great. Thank you very much Armando. And now let’s turn to the Dr. Weinshenker. Brian maybe you could address a very common question regarding what are the key points that a patient may want to discuss with their doctor about entering this or any other clinical trial? Brian?

              .modal__content__description--modal <strong>BW:</strong> Sure Michael, I guess the first question is ones tolerance for risk. There is always risks of participation in clinical trial. First the risk of the agent that’s being studied and secondly the risks from the disease itself and here the major risk would be exposure to placebo. We’ve heard about number of mitigating design factors that’ve been introduced in this study to reduce risks. Patients will all will get prednisone at the start of the treatment period to ensure that they have some coverage for attack prevention until the study drug, assuming the patient is receiving the study drug, becomes active. The chances will be 75% that the patient will be receiving the active treatment. And patients will be asked to stay in the placebo period for 6 months or 6.5 months before they will have an option of switching over to the open-label and then they would not receive placebo anymore. So I guess that issue of tolerance of risk. And the secondly patients obviously do have options, they have access to other medications. Dr. Flores talked about some of those options that are available so of course patients do help the NMO community in general by participating in these studies but they certainly should consider potential benefits to themselves. And for those patients who have received other standard treatments and continue to have problems may be quite motivated to have access to a new medication.

              .modal__content__description--modal <strong>MY:</strong> Brian, thank you very much. And maybe then Armando we can come back to you and ask a little bit about one of the questions that comes up, and that is why are relapses required for this or any clinical trial in NMO to be the most informative. Armando? 

              .modal__content__description--modal <strong>AF:</strong> Thanks Michael. Yes, In order to determine the efficacy of the drug compare to placebo in decreasing the risk of a new attack, relapses are needed to provide the necessary information for the primary end point. I think regardless the study design, whether it is add-on study or a pure placebo, attacks have to, must occur, and we need the attacks to determine whether the drug is efficacious or not. In our study, because of the design 3:1 in the 6 month masked period we need 67 attacks, a portion of them must happen in the placebo and a portion of them must happen in the active treatment but nevertheless, attacks are needed in order to know whether any drug not only MEDi-551 indeed is able to prolong the attack free time in patients with NMO compared to placebo. That’s the only way to see whether the drug is working or not. And I will ask Brian if he has any other comments.

              .modal__content__description--modal <strong>BW:</strong> I think you said it very well Armando. An unfortunate reality of this disease is that attacks do occur and in order for clinical trial to be successful and informative we do have to see attacks but presumably patients who will be participating have experienced attacks and we talked about some of the design features that you have built in as have other groups that are running clinical trials in order to reduce the risks and to promptly identify these attacks and treat them promptly to limit the amount of permanent damage that may occur as a result of those attacks.

              .modal__content__description--modal <strong>MY:</strong> Brian maybe we can ask you to expand a little bit on that. First questions are often focused on how will a patient know for sure whether they experiencing a relapse and then what would be sort of a reasonable approach to addressing a relapse should it occur on this clinical trial. Brian?

              .modal__content__description--modal <strong>BW:</strong> Well, patients will certainly be educated as to what symptoms they should watch for in fact all the participants would have experienced or should have experienced previous attacks so they might be somewhat familiar with them. But in general for neuromyelitis optica, the most common attacks are optic neuritis, whether it is eye pain or commonly there is eye pain with either impaired vision or complete loss of vision, typically in one eye at a time but it can affect both eyes. And the other major type of attack is myelitis or the spinal cord inflammation that results in combination of weakness in the legs, one or both legs, problems with bladder function and loss of sensation. So those would be key attacks but there are some unusual attacks for example prolonged vomiting without other explanation. And in some patients it may even be something like paralysis on one side or confusion – these can be attacks – although quite rarely for neuromyelitis optica. Patients should not relay on their own judgment however. Any such symptoms should be reported to their neurologists who from the extensive experience should be able to recognize whether these symptoms sounds suspicious for attacks. They will be able to conduct neurological examinations that would be able to prove it or disprove it. And in some situations patients may require MRI imaging to provide necessary information to be absolutely certain that it isn’t attack.

              .modal__content__description--modal <strong>MY:</strong> Thank you Brian. And Armando, is there a method that MedImmune has formulated so if the patient does experience an attack during clinical trial, would there be a rapid response? Could you please comment on that?

              .modal__content__description--modal <strong>AF:</strong> Sure Michael. Yes, as Brian said, patients will recognize an attack that is coming by either having eye problems or weaknesses or the rare forms of brain attack with vomiting and other symptoms. If that is the case, if they experience the signs or symptoms of NMO attack they need to contact the treating physician – right away, but not later than 72 hours. MedImmune, we follow these patients closely, we will call them every two weeks to see how they doing whether they experienced any new changes. We also have several visits to the doctor where the treating physician can examine and decide whether there are changes in the general physical examination and in the neurological examination that could be the beginning of the attack. Regardless, they have to contact the physician right away or within 72 hours, if that happens the site doctor will have the patient come to the office and make and evaluation, perform the physical and neurological evaluation to determine whether the signs and symptoms are indeed related to an NMO attack. If that is the case, other assessment will begin. We will be doing EDSS to determine if there is any neurological impairment. And we will do detailed ophthalmological examination to test for visual acuity. In addition if the attack visit is determining that that the attack is happening we will do also an MRI at the time of that visit. That will cover all the necessary procedures to make sure that the attack symptoms that this patient has experience is indeed an NMO attack.

              .modal__content__description--modal <strong>MY:</strong> Thanks Armando. And Brian just one last point on this topic. Should the attack be determined by the judicious process to be real? What would be the medical intervention to help minimize harm? Brian?

              .modal__content__description--modal <strong>BW:</strong> Yes, patients would receive intravenous corticosteroids typically a drug called methylprednisolone or Solu Medrol for 5 days. That would be standard treatment that would be no different whether the patient is receiving the active treatment or placebo. In fact their physician would not know which group they are in and the treatment would be the same regardless. For patients who do very well on these treatment no further treatment may be necessary but for patients who have severe attacks that don’t seem to be responding, typically the plasma exchange is a treatment that is used. Other investigators may use other treatments such as IVIG – and again that would be available for the patients in this study.

              .modal__content__description--modal <strong>MY:</strong> Thank you very much Brian and now Armando a few practical and logistical questions that come up. First can a patient who is participating in this clinical trial also participate in other interventional clinical trials while participating in this trial?

              .modal__content__description--modal <strong>AF:</strong> Thanks Michael. That is very important to make sure that the patients know that they cannot participate in other clinical trials while in this particular one. Once the patient has enrolled and be randomized to MEDi-551 or placebo he will not be able to receive any additional immunotherapy or any other investigational drug while he or she is in the clinical trial. Very important to know that.

              .modal__content__description--modal <strong>MY:</strong> And an extension of that point Armando, how long might a subject plan to participate in this trial. You mentioned 6.5 months for the double-masked period and then some time after that. Could you just summarize it for us please?

              .modal__content__description--modal <strong>AF:</strong> Absolutely. So 28 days for the screening, then we have 6.5 months for the masked period and that would be followed by the open label period. The open label period is a minimum of a year and a maximum of 3 year after the last dose has been given to the last subject or until the approval of the drug. And after that we will have a safety follow up which is at least 12 months, when we follow for the B cells. So altogether it will be between 2 and 3 years that the patient will be participating in the clinical trial.

              .modal__content__description--modal <strong>MY:</strong> And just a two other follow-ons Armando, may a subject choose to end a participation in this clinical trial at any time?

              .modal__content__description--modal <strong>AF:</strong> Yes, absolutely. Patients have the right to end the participation in the trial at any time. Absolutely.

              .modal__content__description--modal <strong>MY:</strong> And finally on this topic Armando. What happens after subject completes their participation in the clinical trial. How long might they expect to learn about the results?

              .modal__content__description--modal <strong>AF:</strong> Well, that is a very good question Michael. I mean, it all depends how long it takes us to enroll the number of patience we need. We need 212 patients. This is a global clinical trial so we have sites all over the world but once that the data is logged we have to look at the data and see what the data means. It is about a good period of 6 months to a year to make sure that we have the necessary data to provide the information into…or how the drug worked. So once the clinical trial is done expect at least 6 months to see the results whether the drug has worked or not.

              .modal__content__description--modal <strong>MY:</strong> Thank you Armando, and one other question. I think you mentioned it earlier but just to get a little bit more specific, which continents or countries are participating in the MedImmune clinical trial?

              .modal__content__description--modal <strong>AF:</strong> Yeah, it is important. It is a global study, so we have pretty much every single continent participating. We have North America, including the US and Canada. We have countries in Latin America including Peru, Colombia and Mexico. In Europe – Spain Germany, Turkey, Poland and The Czech Republic will be participating. And in the Asian Pacific region, we have Japan, South Korea, Taiwan, Indonesia and China. In addition, South Africa and Israel will also be participating countries to this clinical trial.

              .modal__content__description--modal <strong>MY:</strong> Thank you so much Armando. And now Armando one other question as regards to potential risks and then we will come back to some closing comments from both, you and Brian. But first Armando, a question often comes up, asking what are the risks that a subject might consider, specifically with regards to infections or other risks that you mentioned in your presentation

              .modal__content__description--modal <strong>AF:</strong> Sure, First of all, patients need to understand that this is a pure placebo trial so they have to understand the risk in when entering any trial…, for this trial they have 25% chance to be on the placebo arm and the risks associated with that in terms of attacks. For this particular drug, this is a drug that has been investigated in other indications, in scleroderma and multiple sclerosis, therefore we have some safety data. The only identifiable risks, in other words, what we have seen in these 2 clinical trials are infusion related reactions. These are reactions to the infusion of the medication. And we decrease or minimize these infusion related reactions by premedicating with this cocktail of medication that I said before which is IV Solu Medrol, Benadryl and Tylenol. Now, this is a B cell depleter, so there is one other drug on the market with a similar   mechanism of action, which is Rituximab. So the B cells that help immunity, we are carefully looking for any type of infections that could happen in these patients. That is why one of the exclusion criteria is that if the patient had in the past severe viral or bacterial or fungal infections that had him hospitalized before the randomized controlled period – they will not be eligible to participate. So far, this is still an experimental drug but in the previous clinical trials that we have conducted we have not seen any of these. That would be the most important one to know. Also, of course, because of that, audience who are interested can go to clinicaltrials.gov and look at the exclusion criteria. Patients who have history of immunodeficiency, HIV positive or any type of congenital immunodeficiency would be not be allowed to enter the trial as well.

              .modal__content__description--modal <strong>MY:</strong> Armando, thank you so much. And now we would like to begin to conclude the questions and answers period. We’ll first ask Dr. Weinshenker to offer any kind of brief comment he may feel to be especially important take-home messages. Brian?

              .modal__content__description--modal <strong>BW:</strong> Thank you Michael. Of course this is a very exciting time for the entire NMO community for patients for their physicians. We are finally moving to the stage having definitive clinical trials that are being rigorously conducted. They should give us the kind of data we need in order to make sure patients have access to medications. In the present time, because we do not have approved drugs, this often causes problems with the insurance approval because there isn’t a rigorous proof for the medications that we have. But along with this opportunities are risks and we heard about them. Risks of experiencing an attack, if you are one of the 25% in this study were randomized placebo. We’ve heard about some of the ways these risks are being minimized. Rituximab of course, sorry MEDi-551 of course, is somewhat similar drug to Rituximab which is now widely used drug. We’ve heard from Armando why this drug might be even potentially more effective but until this is demonstrated rigorously in clinical trials I think it is premature to speculate. So exciting times but along with those exciting times come risks and patients will need to consider what is best for them.

              .modal__content__description--modal <strong>MY:</strong> Dr. Brian Weinshenker expert NMO clinician, Brian thank you very much. And now we would like to turn for some final comments from Dr. Armando Flores. Armando please.

              .modal__content__description--modal <strong>AF:</strong> Thanks Michael. I just would like to congratulate the Guthy-Jackson foundation for doing this webinar series. This is an excellent way for patients to learn what is happening in NMO research and, you know, the options NMO patients have for clinical trial and participating in them. I think it is important, I always stress out to, it is important have patients to talk to their doctors to see which is the best trial for them. As Brian said, every trial is different, every trial has different risks. Risks are always there because that is how we are trying to prove that the medication works or not. I now like to, along the lines of Brian, this is very exciting time for the NMO community, of having multiple trials to be done, and to have an approved therapy for this devastating disease. And this is somehow we choose the name for our clinical trial – the N-Momentum because in the last two years there has been great interest from NMO community and from scientists around the world of how to solve this problem to give a therapy and understand the disease. So I again thank you very much for this opportunity I hope we’ll have an answer soon and we’ll have eventually an approved therapy for patients with NMO, Thank you.

              .modal__content__description--modal <strong>MY:</strong> Dr. Armando Flores, director of clinical development, MedImmune. Armando, thank you very much. If you’d like to experience this webinar again or to learn for more information you are invited to visit the NMOtion gateway of The Guthy-Jackson Charitable Foundation website using a link shown on this slide (<a href="http://nmotion.guthyjacksonfoundation.org/pdf/Webinars/Series-One-clinical-trial-update/">http://nmotion.guthyjacksonfoundation.org/pdf/Webinars/Series-One-clinical-trial-update/</a>). If you have any difficulty accessing this link please contact the Foundation directly. And now I would like to return to Jacinta Behne to conclude this webinar.

              .modal__content__description--modal <strong>JB:</strong> Thank you so much Michael. To those of you who might have joined late we want be certain to share with you that content is solely that of the respective industry or its representative. The webinar slides and audio will be posted on the foundation website for later viewing and audio. If you were not able to capture that link in the prior slide, simply go to our foundation website. On the front page you will see NMOtion slide – if you select that – it will take you directly to the NMOtion website. And from there it’s there, so please do feel free to go back and revisit this particular webinar as well. All perspectives are offered only for stakeholder’s self-education. The Guthy-Jackson Charitable Foundation does not perform clinical trials nor does it endorse any particular clinical trial design or drug. We hope this webinar has been informative to all stakeholders. And to you Dr. Flores, Dr. Weinshenker, Dr. Yeaman many thanks from the foundation for your willingness and your responsiveness and your enthusiasm in helping us to bring this educational webinar series to all interested attendees. We thank you so much today. We thank attendees for joining this webinar, we invite you back to the website to view again if you choose to later. And wish you a very happy day a pleasant day. Thank you so much. And now this concludes the webinar. Thank you.