extends {layout}
block content

  +hero('Recommended Reading').hero.recommended-reading__hero

  .gj-reading.reading.modal-group.content__main
    
    .block-grid

      .block-grid__inner-container

        ul.block-grid__reading

          for book in reading.books

            li.occ

              .occ__reveal= book.book.title

              .modal__trigger

                img.reading__cover(src="#{book.book.cover}")

                .reading__title= book.book.title

              .occ__hidden

                .occ__back Back

                .occ__content.modal

                  .modal__content.block-grid__reading__modal

                    .modal__content__left

                      .reading__cover--modal

                        img(src="#{book.book.cover}")

                      .reading__title--modal--left= book.book.title

                    .modal__content__right

                      .reading__title--modal--right= book.book.title

                      .reading__author--modal Author(s): #{book.book.author}

                      .reading__subtitle--modal= book.book.subtitle

                      a.reading__purchase--modal(href="#{book.book.purchase}" target="_blank") Order Your Copy

                      for description in book.book.descriptions

                        .reading__description--modal= description.description