extends {layout}
block content

  +hero('Share Your Story').hero.share-your-story__hero

  .nav__sub-nav
    .nav
      ul
        li
          a(href="") Public Discussion
        li.active
          a(href="") Stories
        li
          a(href="") Share Your Story
      </ul>

  .gj-share-story

    .gj-share-story__container

      .gj-share-story__copy Do you want to share your story of how NMO has affected you and your loved ones? Then you have come to the right place! Not only can you share your own experiences, but you can even inspire other NMO advocates in the process. Neither your email nor your name will be published with your story.

      .gj-share-story__copy <em><span class="asterisk">*</span>All stories will be reviewed before being published</em>.

      .gj-share-story__title Share Your Story

      .gj-share-story__form

        script(type='text/javascript').
          var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {};
          var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
          document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
          frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]');
          document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1774832.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));
