extends {layout}
block content

  +hero('Shop').hero.shop__hero

  .gj-shop
    .gj-shop__container
      .gj-shop__banner
        img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/NMO-Shop-Banner.png")
      .gj-shop__iframe
        iframe(src="http://www.promoplace.com/ws/ws.dll/CoStore?UID=8038&CoStoreID=5275&Main=1&FirstPage=1&Start=1" width="767" height="1600" frameborder="0")