extends {layout}
block content
    
  .gj-sitemap

    .gj-sitemap__container

      .gj-sitemap__title Sitemap

      for item1 in sitemap.items
        
        ul.gj-sitemap__nav.gj-sitemap__nav-top
          li.gj-sitemap__nav-top-item
            a.gj-sitemap__nav-top-link(href="#{item1.item1.path}") #{item1.item1.label}

            if item1.item1.items1

              ul.gj-sitemap__nav.gj-sitemap__nav-second

                for item2 in item1.item1.items1
                
                  li
                    a.gj-sitemap__nav-second-link(href="#{item2.item2.path}") #{item2.item2.label}

                      if item2.item2.anchor
                        svg-include(link="#{item2.item2.anchor}")

                    if item2.item2.items2

                      ul.gj-sitemap__nav.gj-sitemap__nav--nested

                        for item3 in item2.item2.items2

                          li
                            a(href="#{item3.item3.path}") #{item3.item3.label}

                              if item3.item3.anchor
                                svg-include(link="#{item3.item3.anchor}")

                            if item3.item3.items3

                              ul.gj-sitemap__nav.gj-sitemap__nav--nested

                                for item4 in item3.item3.items3

                                  li
                                    a(href="#{item4.item4.path}") #{item4.item4.label}

                                      if item4.item4.anchor
                                        svg-include(link="#{item4.item4.anchor}")