extends {layout}
block content

  +hero('Special Projects').hero.special-projects__hero

  #page-with-sidebar.page-with-sidebar.sticky-sidebar
    .page-with-sidebar__wrapper.ui.rails
      .page-with-sidebar__sidebar.ui.sticky
        h4 Special Projects
        ul.page-with-sidebar__nav.scroll-to-active
          li
            a(href='#circles') CIRCLES - A Longitudinal Study

          ul.page-with-sidebar__sub
            li
              a(href='#program-goals') Program Goals
            li
              a(href='#program-details') Program Details
            li
              a(href='#Partners') Partners

          li
            a(href='#ipnd') IPND

          ul.page-with-sidebar__sub
            li
              a(href='#members') Members

          li
            a(href='#icc-br') ICC/BR

            ul.page-with-sidebar__sub
              li
                a(href='#commitment') Commitment

          ul.page-with-sidebar__sub
            li
              a(href='#mission') Mission
            li
              a(href='#objectives') Objectives
            li
              a(href='#scope') Scope
            li
              a(href='#enabling-clinical-trials') Enabling Clinical Trials

        //- {% include "sidebar-widget" %}

      .page-with-sidebar__content.gj-special-projects
        .occ
          #circles.page-with-sidebar__scroll
          .occ__reveal CIRCLES - A Longitudinal Study
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              p.page-with-sidebar__copy The purpose of the CIRCLES study is to create a biorepository containing longitudinally-collected data and bio samples from subjects with NMO and control subjects. The data and bio samples will be available to researchers to better understand NMO pathogenesis, clinical course, and impact of therapy. Results of these studies may identify the etiology and risk factors, biomarkers for disease progression, and treatment outcomes to guide development of novel therapies. Findings may also facilitate future research and clinical trials to investigate specific hypotheses related to NMO and to improve the lives of individuals suffering from NMO.

        .occ
          #program-goals.page-with-sidebar__scroll
          .occ__reveal.gj-special-projects__subsection-title Program Goals
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              
              .page-with-sidebar__copy 

                ul.gj-special-projects__ul
                  li Enroll volunteer NMO patients and controls into the CIRCLES study to collect biosamples and/or associated clinical information donors.
                  li Facilitate prospective longitudinal observational studies designed to improve understanding of etiology, pathogenesis &amp; biomarkers of NMO.
                  li Support industry efforts to develop improved therapeutic agents and strategies that benefit patients with NMO.

        .occ
          #program-details.page-with-sidebar__scroll
          .occ__reveal.gj-special-projects__subsection-title Program Details
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              
              .page-with-sidebar__copy 

                ul
                  li Expand the GJCF Biorepository in the United States and Canada
                  li Promote consensus-based collaboration
                  li Enable multiple investigation sites
                  li Facilitate clinical studies and accelerate industry-sponsored clinical trials

        .occ
          #partners.page-with-sidebar__scroll
          .occ__reveal.gj-special-projects__subsection-title Partners
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              
              .page-with-sidebar__copy 

                .gj-special-projects__partner

                  .gj-special-projects__partner-logo
                    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-special-projects-partners-labcorp-logo.jpg")

                  .gj-special-projects__partner-info

                    .gj-special-projects__partner-name LabCorp

                    .gj-special-projects__partner-details Supports CIRCLES study sites and manages biospecimen storage

                .gj-special-projects__partner

                  .gj-special-projects__partner-logo
                    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-special-projects-partners-u-of-utah.jpg")

                  .gj-special-projects__partner-info

                    .gj-special-projects__partner-name University of Utah Data Coordinating Center (DCC)

                    .gj-special-projects__partner-details Clinical database for biospecimen and XNAT imaging support, biostatistics, CIRCLES site support with Clinical Research Coordinator training

              .page-with-sidebar__copy

                .gj-special-projects__section-subtitle Four CIRCLES IRB-approved sites currently enrolling patients and controls in the US and Canada

                .gj-special-projects__4-circles-institution

                  .name University British Columbia, Canada
                  .researcher PI: Anthony Traboulsee, MD

                .gj-special-projects__4-circles-institution

                  .name Stanford University
                  .researcher PI: May Han MD

                .gj-special-projects__4-circles-institution

                  .name Johns Hopkins
                  .researcher PI: Michael Levy, MD, PhD

                .gj-special-projects__4-circles-institution

                  .name University of Colorado Denver
                  .researcher PI: Jeffrey Bennett, MD

                .gj-special-projects__blood-bank-link To be a part of CIRCLES, visit the <a href="/blood-bank">Blood Bank</a>.

        .occ
          #ipnd.page-with-sidebar__scroll
          .occ__reveal IPND - International Panel for Neuromyelitis Optica Diagnosis
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              
              .page-with-sidebar__copy The IPND was comprised of the following expert members, each of whom contributed effort within one or more panel subgroups and tasks throughout the process. The Guthy-Jackson Charitable Foundation team coordinated and facilitated the IPND in this important 

        .occ
          #members.page-with-sidebar__scroll
          .occ__reveal.gj-special-projects__subsection-title Members
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section

              .page-with-sidebar__copy 

                .gj-special-projects__member
                  .name Brenda Banwell, MD, FRCP(C)
                  .institution Children’s Hospital of Philadelphia

                .gj-special-projects__member
                  .name Jeffrey Bennett, MD, PhD
                  .institution University of Colorado Denver

                .gj-special-projects__member
                  .name Philippe Cabre, MD
                  .institution Centre Hospitalier Universitaire de Fort de France, (Martinique)

                .gj-special-projects__member
                  .name William Carroll, MD
                  .institution Sir Charles Gairdner Hospital (Australia)

                .gj-special-projects__member
                  .name Tanuja Chitnis, MD
                  .institution Massachusetts General Hospital

                .gj-special-projects__member
                  .name Jerome de Seze, MD
                  .institution Strasbourg University (France)

                .gj-special-projects__member
                  .name Kazuo Fujihara, MD
                  .institution Tohoku University Graduate School of Medicine (Japan)

                .gj-special-projects__member
                  .name Benjamin Greenberg, MD
                  .institution UT Southwestern Medical Center

                .gj-special-projects__member
                  .name Anu Jacob, MD
                  .institution The Walton Centre (United Kingdom)

                .gj-special-projects__member
                  .name Sven Jarius, MD
                  .institution University Hospital Heidelberg (Germany)

                .gj-special-projects__member
                  .name Marco Lana-Peixoto, MD, PhD
                  .institution Federal University of Minas Gerais Medical School (Brazil)

                .gj-special-projects__member
                  .name Michael Levy, MD, PhD
                  .institution Johns Hopkins University

                .gj-special-projects__member
                  .name Jack Simon, MD
                  .institution Portland VA Medical Center and Oregon Health and Sciences University

                .gj-special-projects__member
                  .name Silvia Tenembaum, MD
                  .institution National Pediatric Hospital Dr. Juan P. Garrahan (Argentina)

                .gj-special-projects__member
                  .name Anthony Traboulsee, MD
                  .institution University of British Columbia (Canada)

                .gj-special-projects__member
                  .name Patrick Waters, PhD
                  .institution University of Oxford (United Kingdom)

                .gj-special-projects__member
                  .name Brian Weinshenker, MD, FRCP(C)
                  .institution Mayo Clinic (Rochester, MN)

                .gj-special-projects__member
                  .name Dean Wingerchuk, MD, FRCP(C)
                  .institution Mayo Clinic (Scottsdale, AZ)

                .clearfix

        .occ
          #icc-br.page-with-sidebar__scroll
          .occ__reveal ICC/BR - International Clinical Consortium and Biorepository
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              
              .page-with-sidebar__copy 

                .occ__reveal-style.gj-special-projects__subsection-title Commitment
                
                .page-with-sidebar__copy The Guthy-Jackson Charitable Foundation (GJCF) accelerates breakthrough advances that benefit NMO patients. Our International Clinical Consortium and Biorepository (GJCF-ICC&amp;BR) consists thought leaders in over 30 institutions performing translational research and practicing medicine focused on Neuromyelitis Optica (NMO). These resources are coordinated by the GJCF to promote NMO research and facilitate industry-sponsored trials. GJCF is committed to improving prevention, diagnosis and treatment of NMO by engaging stakeholders through shared values of integrity and transparency.

        .occ
          #mission.page-with-sidebar__scroll
          .occ__reveal.gj-special-projects__subsection-title Mission
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              
              .page-with-sidebar__copy To promote the discovery, development and delivery of improved medicines, therapeutic strategies and diagnostic tools to ultimately cure NMO.

              .page-with-sidebar__copy Our mission is realized through scientific, clinical, and educational programs focusing on the NMO patient and advocate community, NIH and regulatory agencies, and industry partners, as integrated through the GJCF-ICCBR.

        .occ
          #objectives.page-with-sidebar__scroll
          .occ__reveal.gj-special-projects__subsection-title Objectives
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              
              .page-with-sidebar__copy The core objective of the GJCF-ICC&amp;BR is to accelerate clinical breakthroughs for NMO. The GJCF-ICC&amp;BR facilitates research. An important goal is to provide patients access to appropriate industry-sponsored studies. The GJCF-ICC&amp;BR supports clinical studies by promoting standardized collection, processing, storing, and distribution of biospecimens, clinical datasets, and related resources to researchers dedicated to solving NMO.

              .page-with-sidebar__copy 
                .gj-special-projects__section-subtitle.low-margin Value-added objectives include: 
                div 1: responsible sharing of resources among NMO researchers; 
                div 2: identifying epidemiologic factors that contribute to NMO and related diseases; 
                div 3: enhancing awareness of NMO and similar autoimmune diseases; 
                div 4: standardization of specimen collection; and 
                div 5: building global consensus on diagnostic criteria and best clinical practices for NMO/NMOSD.

        .occ
          #scope.page-with-sidebar__scroll
          .occ__reveal.gj-special-projects__subsection-title Scope
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              
              .page-with-sidebar__copy The GJCF-ICC&amp;BR focuses on the implementation of an efficient infrastructure to support mission critical research and industry-sponsored clinical trials.

        .occ
          #enabling-clinical-trials.page-with-sidebar__scroll
          .occ__reveal.gj-special-projects__subsection-title Enabling Clinical Trials
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              
              .page-with-sidebar__copy The GJCF-ICCBR is focused on the implementation of an efficient infrastructure to support the most meaningful clinical research and industry-sponsored clinical trials.

              .page-with-sidebar__copy 
                .gj-special-projects__section-subtitle.low-margin Standardized Clinical Studies Infrastructure
                | Standardized infrastructure is important to efficient performance and interpretation of clinical studies. Common Data Elements (CDEs) and Case Report Forms (CRFs), Standard Operating Procedures (SOPs), and Informed Consent developed through GJCF-ICC&amp;BR consensus harmonize the collection and organization of clinical biospecimens and data to promote their most meaningful translational impact. The goal is to reach global consensus on therapeutic candidates and clinical studies.


              .page-with-sidebar__copy 
                .gj-special-projects__section-subtitle.low-margin Clinical Biospecimen &amp; Data Repository
                | In collaboration with the Data Coordinating Center at the University of Utah, and the Accelerated Cure Project (ACP), the GJCF-ICC&amp;BR integrates clinical and biospecimen datasets from individuals with NMO into a central database. The database is designed to assist the ICC&amp;BR research network in the logistics of study implementation, data management, and biostatistical expertise and study data analysis. The objective is to accelerate data mining for potential epidemiologic advances and therapeutic interventional clinical trials with industry partners.


              .page-with-sidebar__copy 
                .gj-special-projects__section-subtitle.low-margin Coordinate Mutual Interests of Stakeholders

                | In rare diseases such as NMO, the key to successful clinical trials is the optimization access of patients to study participation opportunities. The GJCF-ICC&amp;BR works in stride with organizations (industry, regulatory agencies, NIH), and individuals including clinicians and researchers, and of course NMO patients to meet the challenges of clinical studies. Additionally, the GJCF-ICC&amp;BR is designed to accommodate a growing international network to streamline global collaboration and promote efficient administration in the areas of Ethics Committee (EC) or Institutional Review Board (IRB) approvals. The present network includes North America, South America, Europe and Asia-Pacific.


              .page-with-sidebar__copy To support the biorepository, visit the <a href="/blood-bank">Blood Bank</a>. 