extends {layout}
block content

  +hero('Support Groups').hero.support-groups__hero

  .page-with-sidebar.sticky-sidebar.ui.rails#page-with-sidebar
    .page-with-sidebar__wrapper
      .page-with-sidebar__sidebar.ui.sticky
        h4 Support Groups
        ul.page-with-sidebar__nav.scroll-to-active
          li
            a(href="#nmo-parental-telecon-support-group") NMO Parental Telecon Support Group
          li
            a(href="#facebook-support-groups") Facebook Support Groups
          li
            a(href="#local-nmp-support-groups") Local NMO Support Groups

      .page-with-sidebar__content.gj-support-groups
        .occ
          .page-with-sidebar__scroll#nmo-parental-telecon-support-group
          .occ__reveal NMO Parental Telecon Support Group
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate NMO Parental Telecon Support Group
              .page-with-sidebar__copy.gj-support-groups__copy This group is intended for parents with children who suffer from NMO who are 18 years of age or younger. You may feel overwhelmed, and uncertain how other parents manage, but don't be afraid. There are other parents in the same situation as you who can help you out. NMO Parental Support Teleconferences offers:

              .page-with-sidebar__copy.gj-support-groups__copy
                ul.gj-support-groups__list
                  li Parent-to-Parent Support
                  li Different Topics Each Call
                  li Guest Speakers
                  li A Caring Community

              .page-with-sidebar__copy.gj-support-groups__copy Meetings are held the 1st and 3rd Tuesday of every month. These meetings take place at 7PM Central Time. We'd love to have you join us! If you're interested in joining, then please email Lisa McDaniel at lisamcdaniel@mail.com for the teleconference phone number.

        .occ
          .page-with-sidebar__scroll#facebook-support-groups
          .occ__reveal Facebook NMO Support Groups
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate Facebook NMO Support Groups

              .page-with-sidebar__copy.gj-support-groups__copy 

                for group in facebookGroup.groups

                  .gj-support-groups__group

                    .gj-support-groups__group-logo
                      img(src="#{group.group.image}")

                    .gj-support-groups__group-info

                      .gj-support-groups__group-name #{group.group.name}

                      .gj-support-groups__group-language
                        span.gj-label Language: 
                        span.language #{group.group.language}

                      .gj-support-groups__group-status
                        span.gj-label Group Status: 
                        span.status #{group.group.status}

                      .gj-support-groups__group-link
                        a(href="#{group.group.link}" target="_blank") Visit Group Page 

              .page-with-sidebar__copy.gj-support-groups__copy 

                .gj-support-groups__group-name Devic's Disease (NMO) UK

                .gj-support-groups__group-detail Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.

              .page-with-sidebar__copy.gj-support-groups__copy 

                .gj-support-groups__group-name Devic's Disease Facebook

                .gj-support-groups__group-detail Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.

              .page-with-sidebar__copy.gj-support-groups__copy 

                .gj-support-groups__group-name Devic's Fighters

                .gj-support-groups__group-detail Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.

              .page-with-sidebar__copy.gj-support-groups__copy 

                .gj-support-groups__group-name Devic's Disease (Neurimyelitis Optica) Support &amp; Research Australia

                .gj-support-groups__group-detail Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.

              .page-with-sidebar__copy.gj-support-groups__copy 

                .gj-support-groups__group-name Devic's Syndrome – Canada

                .gj-support-groups__group-detail Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.

              .page-with-sidebar__copy.gj-support-groups__copy 

                .gj-support-groups__group-name NMO: Our Fight for a Cure

                .gj-support-groups__group-detail Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.

              .page-with-sidebar__copy.gj-support-groups__copy 

                .gj-support-groups__group-name NMO Weight Loss Support Group

                .gj-support-groups__group-detail Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.


        .occ
          .page-with-sidebar__scroll#local-nmp-support-groups
          .occ__reveal Local NMO Support Groups
          .occ__hidden
            .occ__back Back
            .about-nmo__what-is-nmo.page-with-sidebar__section
              h3.alternate Local NMO Support Groups

              .page-with-sidebar__copy.gj-support-groups__copy Fill out the contact form below if you are interested in a support group. Your information will be promptly passed along to the corresponding contacts.

              .page-with-sidebar__copy.gj-support-groups__copy

                .gj-support-groups__group-name Orange County, CA - SoCal NMO Support Group

                .gj-support-groups__group-detail

                    div Next Meeting Date: TBD  
                    div Start Time: TBD
                    div Location: TBD

              .page-with-sidebar__copy.gj-support-groups__copy

                .gj-support-groups__group-name Plantation, FL - USA

                .gj-support-groups__group-detail

                  div Next Meeting Date: September 28th
                  div Start Time: 5:45 PM
                  div Contact: Jo-Anna Steele for more details

              .page-with-sidebar__copy.gj-support-groups__copy

                .gj-support-groups__group-name Seattle, WA - USA

                .gj-support-groups__group-detail

                  div Next Meeting Date: September 9th
                  div Start Time: 1:30pm
                  div Contact: Dr. Pavle Repovic
                  .gj-support-groups__location
                    .gj-support-groups__label Location:
                    .gj-support-groups__address
                      div MS Center at Swedish  
                      div Floor A – Large conference room
                      div 1600 E. Jefferson St
                      div Seattle, WA 98122

              .page-with-sidebar__copy.gj-support-groups__copy

                .gj-support-groups__group-name Kansas City, MO - USA

                .gj-support-groups__group-detail

                  div Next Meeting Date: October 1
                  div Start Time: 2:00 PM
                  div Contact: Beck Black
                  .gj-support-groups__location
                    .gj-support-groups__label Location:
                    .gj-support-groups__address 
                      div North Kansas City Library

              .page-with-sidebar__copy.gj-support-groups__copy

                .gj-support-groups__group-name Atlanta, GA – USA

                .gj-support-groups__group-detail

                  div Next Meeting Date: September 19
                  div Start Time: 10 AM
                  div Contact: Jodi Armino
                  .gj-support-groups__location
                    .gj-support-groups__label Location:
                    .gj-support-groups__address
                      div The Shepherd Center
                      div 2020 Peachtree Road NW
                      div Atlanta, GA 30309

              .page-with-sidebar__copy.gj-support-groups__copy

                .gj-support-groups__group-name New Hampshire/Vermont - USA

                .gj-support-groups__group-detail

                  div Next Meeting Date: TBD
                  div Contact: Andy Steele

        .gj-support-groups__links

          .gj-support-groups__button

            a.modal-toggle(href="#join-a-group__form") Join a Group

          .gj-support-groups__button

            a.modal-toggle(href="#start-a-group__form") Start a Group

        #join-a-group__form.gj-support-groups__modal
          .gj-support-groups__modal-overlay
          .gj-support-groups__modal-container
            .gj-support-groups__modal-close
            .gj-support-groups__modal-title Join A Group
            script(type='text/javascript').
              var servicedomain="www.123contactform.com";
              var frmRef='';
              try { frmRef=window.top.location.href; }
              catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
              frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]');
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1755180.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));

        #start-a-group__form.gj-support-groups__modal
          .gj-support-groups__modal-overlay
          .gj-support-groups__modal-container
            .gj-support-groups__modal-close
            .gj-support-groups__modal-title Start A Group
            script(type='text/javascript').
              var servicedomain="www.123contactform.com";
              var frmRef='';
              try { frmRef=window.top.location.href; }
              catch(err) {};
              var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E"));
              frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]');
              document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1755191.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E"));
