.gj-special-projects
  

  // Page Globals
  
  .page-with-sidebar__copy
    -webkit-font-smoothing: inherit
    -moz-osx-font-smoothing: inherit
    font-size: $p-one

    ul, li
      // list-style: none !important
      color: $theme-color-5
      -webkit-font-smoothing: inherit
      -moz-osx-font-smoothing: inherit

    ul
      margin-left: 1rem !important

    li
      margin-bottom: 0.8rem

    a
      color: $theme-color-7
  
  &__subsection-title

    @media #{$medium-up}
      @extend .h4-alt

  &__section-subtitle
    font-size: $p-one
    color: $theme-color-7
    font-weight: bold
    font-family: $headline-font
    margin-bottom: 1.5rem

    &.low-margin
      margin-bottom: 0
      margin-top: 1rem

  //.....................


  // Partners

  &__partner
    display: block
    margin-bottom: 2rem

    @media #{$medium-up}
      margin-bottom: 1.3rem

    &:nth-child(2)
      @media #{$small-only}
        margin-bottom: 0

    // &:nth-child(17)

    //   .gj-support-partners__partner-info
    //     @media #{$medium-up}
    //       border-bottom: 1px solid $theme-color-9
    //       margin-bottom: 2rem

  &__partner-logo
    display: inline-block
    vertical-align: top

    @media #{$small-only}
      display: block
      width: 100%
      margin-bottom: 0.4rem

      img
        width: 100%
        margin-bottom: 0.5rem

        @media #{$small-only}
          max-width: 34.25rem

    @media #{$medium-up}
      width: 15.4rem

    @media #{$large-up}
      width: 19.5rem

  &__partner-info
    @extend .clearfix
    width: calc(100% - 20rem)
    display: inline-block
    font-size: $p-one

    @media #{$small-only}
      display: block
      float: none
      width: 100%
      margin-bottom: 1rem
      border-bottom: 1px solid $theme-color-9
      padding-bottom: 1.2rem

    @media #{$medium-up}
      padding-left: 1rem
      height: auto
      margin-left: 1rem
      padding: 1rem 1rem 1.5rem
      border-top: 1px solid $theme-color-9
      border-bottom: 1px solid $theme-color-9

    @media #{$large-up}
      width: calc(100% - 23rem)
      height: 12.035rem

  &__partner-name
    color: $theme-color-7
    font-weight: bold
  
  &__4-circles-institution
    display: block

    @media #{$medium-up}
      display: inline-block
      width: 50%
      float: left
      margin-bottom: 1rem

    .name
      color: $theme-color-7
      font-weight: bold

  &__blood-bank-link
    margin-top: 0.5rem


  //...................................


  // Members

  .occ__reveal-style
    @extend .h4
    color: $theme-color-7
    font-weight: bold
    padding-bottom: 1rem

    @media #{$medium-up}
      padding-bottom: 1.9rem

  &__member
    @extend .clearfix
    display: block
    margin-bottom: 1rem

    @media #{$medium-up}
      display: inline-block
      width: 50%
      float: left

      &:nth-child(odd)
        clear: left

    .name
      color: $theme-color-7
      font-weight: bold