.gj-share-story
  +grid-row

  &__container
    +grid-column(12)
    padding-top: 2.5rem

  &__copy
    font-size: $p-one
    margin: 0 auto 1rem
    max-width: 38rem

    .asterisk 
      color: red
      padding-right: 0.4rem

  &__title
    @extend .h4
    color: $theme-color-7
    font-weight: bold
    max-width: 38rem
    margin: 0 auto

  &__form
    max-width: 38.6rem
    margin: 0.2rem auto 2rem