input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea
  background-color: transparent
  border-color: $theme-color-7
  border-radius: 3px
  border-width: 2px
  box-shadow: none
  color: $theme-color-7
  float: left
  height: rem-calc(50)
  margin: 0
  padding: 0.8rem
  width: 75%
  
  border-color: $theme-color-3
  color: $theme-color-6
  width: 100%


input[type="submit"]
  background-color: $theme-color-7
  border: none
  box-shadow: none
  color: $theme-color-1
  float: left
  height: rem-calc(50)
  transition: $transition
  width: 100%

  &:hover
    transition: $transition
    background-color: $hover-color


input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus
  background-color: transparent
  border-color: $theme-color-7
  border-width: 2px

::-webkit-input-placeholder
  color: $theme-color-7

:-moz-placeholder
  color: $theme-color-7

::-moz-placeholder
  color: $theme-color-7

:-ms-input-placeholder  
  color: $theme-color-7

// Labe tooltip
label
  position: relative

  .tooltip
    position: relative
    display: inline-block
    width: 1rem
    height: 1rem
    left: auto
    margin-left: 0.3rem
    padding: 0
    border-radius: 50%
    border: 1px solid $theme-color-3
    background: transparent
    text-align: center
    font-size: rem-calc(13)
    color: $theme-color-3

    &:hover
      .tooltip-hover
        opacity: 1
        visibility: visible

    .tooltip-hover
      position: absolute
      bottom: -1.9rem
      right: 0
      width: 9.6rem
      padding: 0.2rem 0
      border: 1px solid $theme-color-2
      border-radius: 4px
      background: $theme-color-1
      color: $theme-color-3
      font-size: rem-calc(13)
      opacity: 0
      visibility: hidden
      transition: all 0.3s ease


// Green Form Style
.form--green

  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea
    border-color: $theme-color-7
    color: $theme-color-7