$mobile-top-height: rem-calc(39)
$header-height: rem-calc(70)

/* Arrows */
.slick-prev,
.slick-nextP
  position: absolute
  display: block
  line-height: 0px
  cursor: pointer
  background: transparent
  color: transparent
  top: 50%
  margin-top: -1rem
  padding: 0
  border: none
  outline: none
    
  &:hover, &:focus
    outline: none
    background: transparent
    color: transparent
    &:before
      opacity: 1
      
  &.slick-disabled:before
      opacity: 1

.slick-prev:before, .slick-next:before
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.slick-prev
  left: -2.8rem
  
  @media #{$large-up}
    right: -7.4rem

  [dir="rtl"] &
    left: auto
    right: -2.8rem
    @media #{$large-up}
      right: -7.4rem

.slick-next
  right: -2.8rem
  
  @media #{$large-up}
    left: -7.4rem
  [dir="rtl"] &
    left: -2.8rem
    right: auto
    
    @media #{$large-up}
      left: -7.4rem

.anchor-pos // For scroll to anchors
  +scroll-to-offset