// styles for hover state with line dropping down
@mixin before-pseudo-line--position($position)
  transform: translateY($position)
  -moz-transform: translateY($position)
  -ms-transform: translateY($position)
  -webkit-transform: translateY($position)

@mixin before-pseudo-line--border-bottom($thickness, $color)
  border-bottom: $thickness solid $color

@mixin before-pseudo-line--background($color)
  background: none repeat scroll 0 0 $color

@mixin before-pseudo-line($left-position, $width)
  content: ""
  height: 1px
  left: $left-position
  opacity: 0
  position: absolute
  top: 100%
  width: $width
  @include transition(all 0.3s ease-out)

.before-pseudo-line--hover
  height: 1px
  opacity: 1
// END: styles for hover state with line dropping down


//box-shadow
@mixin box-shadow($horizontal_length, $vertical_length, $blur, $spread, $color)
  -webkit-box-shadow: $horizontal_length $vertical_length $blur $spread $color
  -moz-box-shadow: $horizontal_length $vertical_length $blur $spread $color
  box-shadow: $horizontal_length $vertical_length $blur $spread $color
// END: box shadow

//size
@mixin size($width, $height)
  width: $width
  height: $height
//END: size

//background img 
@mixin background-img($img, $position-x, $position-y, $size)
  background-image: url('https://s3-us-west-1.amazonaws.com/guthyjackson/images/' + $img)
  background-repeat: no-repeat
  background-position: $position-x $position-y
  background-size: $size
//END: background img

//buttons
@mixin btn($bkgrd-color, $font-color, $padding-top-bottom, $padding-left-right, $bkgrd-color--large, $font-color--large, $font-weight, $display, $line-height, $font-fam)
  display: $display
  background-color: $bkgrd-color
  border-radius: rem-calc(3)
  border: 2px solid $theme-color-7
  color: $font-color
  font-family: $font-fam
  font-size: $p-one
  font-weight: $font-weight
  line-height: $line-height
  padding: $padding-top-bottom $padding-left-right
  text-align: center
  transition: $transition
  
  @media #{$large-up}
    background-color: $bkgrd-color--large
    color: $font-color--large

  &:hover
    color: $theme-color-1
    transition: $transition
    background-color: $hover-color
    border: 2px solid $hover-color
// END: buttons

//button arrow
@mixin btn-arrow__cirle($background-color)
  background-color: $background-color
  display: none
  +size(rem-calc(28), rem-calc(28))
  position: relative
  border-radius: 50%
  vertical-align: top
  margin-left: 0.3rem
  
  @media only screen and (min-width: rem-calc(1215))
    display: inline-block

@mixin btn-arrow__download($fill)
  fill: $fill
  +size(1rem, 1rem)
  position: absolute
  left: rem-calc(6)
  top: rem-calc(7)
//END: button arrow

//On page load hide and then fade in element
@mixin hidden($start-position)
  opacity: 0
  transform: translateY($start-position)
  transition: $transition-slowest

  &.fadein
    opacity: 1
    transform: translateY(0)
    transition: $transition-slowest
//END: On page load hide and then fade in element

//Smooth scroll offset. FOR SCROLL TOS FROM SIDEBAR
@mixin scroll-to-offset
  position: absolute
  top: rem-calc(-38)
  // top: -6.9125rem
  top: -6.9125rem
  
  @media #{$large-up}
    // top: rem-calc(-109)
    // top: -10.8125rem
  
  @media only screen and (min-width: 71.875rem)
    // top: rem-calc(-69)
    // top: -10.8125rem
//END: Smooth scroll offset

//Push body underneath header: offset of header. FOR HEROS
@mixin header-height
  margin-top: rem-calc(40)
  
  @media #{$large-up}
    margin-top: rem-calc(110)
  
  @media only screen and (min-width: 71.875rem)
    margin-top: rem-calc(70)
    cursor: default
//END: Push body underneath header: offset of header


// Closed subnav
@mixin subnav-closed
  +transition(height 0.3s ease-in-out)
  background-color: $theme-color-1
  height: 0
  overflow: hidden
//END: Closed subnav

//Expanding subnavs
@mixin subnav-expand
  // border-top: none
  height: auto

//square input for forms
@mixin square_input
  border-radius: 0
  border: none