h1, .h1, h2, .h2, h3, .h3, .h3-1, h4, .h4, .h4-alt, h5, .h5, .h5-alt h6, .h6
  font-family: $headline-font
  
h1, .h1
  font-size: rem-calc(42)
  
  @media #{$medium-up}
    font-size: rem-calc(49)
  
  @media #{$large-up}
    font-size: rem-calc(56)

  &.exception
    font-size: rem-calc(48)
    
    @media #{$medium-up}
      font-size: rem-calc(59)
    
    @media #{$large-up}
      font-size: rem-calc(70)

h2, .h2
  font-size: rem-calc(36)
  
  @media #{$medium-up}
    font-size: rem-calc(38)
  
  @media #{$large-up}
    font-size: rem-calc(40)


h3, .h3
  line-height: 25px
  font-size: rem-calc(32)

h3
  &.alternate
    font-size: rem-calc(18)
    
    @media #{$medium-up}
      font-size: rem-calc(25)
    
    @media #{$large-up}
      font-size: rem-calc(32)

.h3-1
  font-size: rem-calc(18)
    
  @media #{$medium-up}
    font-size: rem-calc(25)
  
  @media #{$large-up}
    font-size: rem-calc(32)


h4, .h4
  font-size: rem-calc(25)

h4.alternate, .h4-alt
  font-size: rem-calc(18)
  // @media #{$medium-up}
  //   font-size: rem-calc(21)
  
  @media #{$large-up}
    font-size: rem-calc(25)

h5, .h5
  font-size: rem-calc(22)

h5.alternate, .h5-alt
  font-size: rem-calc(14)
  
  @media #{$medium-up}
    font-size: rem-calc(18)
  
  @media #{$large-up}
    font-size: rem-calc(22)

p
  margin-bottom: 0
  color: $theme-color-6

$p-one: rem-calc(18)

.p-one
  rem-calc(18)

.p-one-alternate, .p-one-alt
  font-size: rem-calc(14)
  @media #{$large-up}
    font-size: rem-calc(18)

$p-two: rem-calc(16)
$p-three: rem-calc(14)
$p-four: rem-calc(12)

.p-two
  rem-calc(16)
.p-three
  rem-calc(14)
.p-four
  rem-calc(12)

//Font Weights
$font--regular: 400
$font--semibold: 600
$font--bold: 700

.font--regular
  font-weight: 400
.font--semibold
  font-weight: 600
.font--bold
  font-weight: 700

ul
  margin: 0 !important
  padding: 0

  li
    list-style: none

a:hover, a:focus
  transition: $transition
  // color: $theme-color-1 // old style
  color: $theme-color-7

//font rendering on chrome only
@media screen and (-webkit-min-device-pixel-ratio:0)
  a, p, h1, h2, h3, h4, h5, h6, li
    -webkit-font-smoothing: antialiased

.line-break
  @media #{$medium-up}
    display: block

.gj__link
  color: $theme-color-7
  font-weight: $font--semibold
  text-decoration: underline

.stay-green
  
  &:hover
    color: $theme-color-7 !important

.list
  margin-left: 1.8rem !important