.occ.block-grid

  #institutions.anchor-pos

  .block-grid__inner-container

    .occ__reveal.block-grid__title Institutions

    .occ__hidden

      .occ__back Back

      ul.block-grid__institutions

        for institution in frInstitutions.institutions

          li.occ.block-grid__researcher

            .occ__reveal.block-grid__researcher__name= institution.institution.name

            .block-grid__grid-image.grid__institution.hide-for-mobile.modal__trigger

              img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/#{institution.institution.instImg}.jpg")

              .block-grid__grid__researcher-name.grid__name

                .block-grid__grid__researcher-name__container.grid__name__inner= institution.institution.name

            .occ__hidden

              .occ__back Back

              .occ__content.modal

                .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

                  .modal__content__researcher__quick-info
                    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/#{institution.institution.instImg}.jpg")
                  
                  //- single research topic
                  .modal__content__srt__group

                    for topic in institution.institution.researchTopics
                    
                      .modal__content__srt

                        .modal__content__srt__topic 
                          .modal__content__srt__title Research Topic
                          .modal__content__srt__label=topic.researchTopic.researchTitle

                        .modal__content__srt__stats

                          .modal__content__srt__title Type
                          .modal__content__srt__label= topic.researchTopic.researchType

                          .modal__content__srt__title Status
                          .modal__content__srt__label= topic.researchTopic.researchStatus

                          .modal__content__srt__title Timeline
                          .modal__content__srt__label= topic.researchTopic.researchTimeline

                        .modal__content__srt__researchers

                          .modal__content__srt__title Researcher(s)

                            for topicResearcher in topic.researchTopic.topicResearchers

                              .modal__content__srt__researcher= topicResearcher.topicResearcher.name
                              .modal__content__srt__institution= topicResearcher.topicResearcher.institution

      hr.break-line