.occ.block-grid

  #funded-researchers.anchor-pos

  .block-grid__inner-container

    .occ__reveal.block-grid__title Funded Researchers

    .occ__hidden

      .occ__back Back

      ul.block-grid__researchers

        for researcher in frResearchers.researchers

          li.occ.block-grid__researcher

            .occ__reveal.block-grid__researcher__name= researcher.researcher.name

            .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

              img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/#{researcher.researcher.profileImg}.jpg")
              .block-grid__grid__researcher-name.grid__name 
                .block-grid__grid__researcher-name__container.grid__name__inner= researcher.researcher.name

            .occ__hidden

              .occ__back Back

              .occ__content.modal

                .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

                  .modal__content__researcher__quick-info
                    img.modal__content__researcher__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/#{researcher.researcher.instImg}.jpg")
                    img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/#{researcher.researcher.profileImg}.jpg")
                    .researcher__name= researcher.researcher.name
                  
                  //- single research topic
                  .modal__content__srt__group

                    for topic in researcher.researcher.researchTopics
                    
                      .modal__content__srt

                        .modal__content__srt__topic 
                          .modal__content__srt__title Research Topic
                          .modal__content__srt__label= topic.researchTopic.researchTitle

                        .modal__content__srt__stats

                          .modal__content__srt__title Type
                          .modal__content__srt__label= topic.researchTopic.researchType

                          .modal__content__srt__title Status
                          .modal__content__srt__label= topic.researchTopic.researchStatus

                          .modal__content__srt__title Timeline
                          .modal__content__srt__label= topic.researchTopic.researchTimeline

                        .modal__content__srt__researchers

                          .modal__content__srt__title Researcher(s)

                            for topicResearcher in topic.researchTopic.topicResearchers

                              .modal__content__srt__researcher= topicResearcher.topicResearcher.name
                              .modal__content__srt__institution= topicResearcher.topicResearcher.institution
        
      hr.break-line