.occ.block-grid.about

  #about.anchor-pos

  .block-grid__inner-container

    .occ__reveal.block-grid__title About

    .occ__hidden

      .occ__back Back

      .about__copy-container

        .about__section.third.alpha

          .about__title Funding Approach

          .about__copy Our method of funding derives from our mission to fund biomedical research specific to NMO. We are committed to enhancing the NMO knowledge base by supporting innovative research approaches dedicated to studying and advancing the understanding of the pathophysiology and biochemistry of NMO. Our funded researchers are required to collaborate with their colleagues. To this end they meet annually to share research knowledge and investigate new ways to study and ultimately solve NMO.

        .about__section.third

          .about__title Funding Eligibility

          .about__copy The Guthy-Jackson Charitable Foundation is a non-profit foundation, not in association with a medical, academic, or government institution. LOI approvals/denials are based solely on the foundation’s discretion.  

          .about__copy In the United States, our funding is focused on, but not limited to researchers who are affiliated with U.S. 501(c)(3) or other tax-exempt organizations. The Guthy-Jackson Charitable Foundation does not fund individuals who do not meet our funding criteria and eligibility.

        .about__section.third.omega

          .about__title Submission Protocol

          .about__copy Currently, the foundation does not list an open submission call for NMO research projects.  

          .about__copy If you feel you (and /or your colleagues) have an innovative concept for advancing NMO therapeutics, utilizing the latest applications and methods in NMO science research, you (and / or your colleagues) can voluntarily submit a CV(s) and a Letter of Intent (LOI) for review. All submissions are subject to review by our scientific advisory team and are subject to our eligibility requirements (stated above). 

        .about__section.whole

          .about__title Other Funding Opportunities

          .about__subsection.half.alpha

            .about__title The National Institutes of Health (NIH)

            .about__copy The National Institutes of Health (NIH), a part of the U.S. Departent of Health and Human Services External Web Site Policy, is the nation's mdeical research agency – making important discoveries that improve health and save lives. Website: <a href="http://www.nih.gov" target="_blank">http://www.nih.gov</a>

          .about__subsection.half

            .about__title Interlaken Leadership Awards Program

            .about__copy The Interlaken Leadership Awards support original research in the field of neuroimmunology. Investigators whose proposals are approved by the review committee will receive monetary grants and/or drug supply. The size of the individual grants is not predetermined, in order to accommodate a wide variety of investigator needs.  

            .about__copy For more information, see the website: <a href="http://www.interlakenleadershipawards.com" target="_blank">http://www.interlakenleadershipawards.com</a>