li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Alan Veramn, MD, PhD

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-alan-verkman-md-phd.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Alan Veramn, MD, PhD

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-university-of-california-san-francisco.jpg")
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-alan-verkman-md-phd.jpg")
          .researcher__name Alan Veramn, MD, PhD
        
        //- single research topic
        .modal__content__srt__group
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Role of AQP4 autoantibody in Neuromyelitis Optica

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2009 - 2012

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Alan Veramn, MD, PhD
              .modal__content__srt__institution University of California, San Francisco
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Quantitative analysis of AQP4 binding by NMO patient sera

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2010 - 2011

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Alan Veramn, MD, PhD
              .modal__content__srt__institution University of California, San Francisco
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Small-molecule blocker therapy for NMO

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2010 - 2011

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Alan Veramn, MD, PhD
              .modal__content__srt__institution University of California, San Francisco
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label NMO: New therapies, models and pathogenesis mechanisms

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2012 - 2014

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Alan Veramn, MD, PhD
              .modal__content__srt__institution University of California, San Francisco
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Second-generation aquaporumabs and NMO superantibodies for NMO research and therapy

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2012 - 2014

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Alan Veramn, MD, PhD
              .modal__content__srt__institution University of California, San Francisco
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Second generation rat models

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2013 - 2014

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Alan Veramn, MD, PhD
              .modal__content__srt__institution University of California, San Francisco
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label CD59 Knock-out Rat

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2013 - 2015

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Alan Veramn, MD, PhD
              .modal__content__srt__institution University of California, San Francisco
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Models to study NMO disease mechanisms and new therapies

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Current

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2014 - 2016

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Alan Veramn, MD, PhD
              .modal__content__srt__institution University of California, San Francisco
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Generation, characterization and application of AQP4 knockout rat

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Current

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2015 - 2016

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Alan Veramn, MD, PhD
              .modal__content__srt__institution University of California, San Francisco