li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Brian Weinshenker, MD

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-brian-weinshenker-md.jpg")
    .block-grid__grid__researcher-name.grid__name  
      .block-grid__grid__researcher-name__container.grid__name__inner Brian Weinshenker, MD

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-mayo-clinic.jpg")
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-brian-weinshenker-md.jpg")
          .researcher__name Brian Weinshenker, MD
        
        //- single research topic
        .modal__content__srt__group
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Genetics of Neuromyelitis Optica and Molecular Basis of Susceptibility

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2008 - 2012

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Brian Weinshenker, MD
              .modal__content__srt__institution Mayo Clinic
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label International Panel on Neuromyelitis Optica Diagnosis (IPND)

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Clinical

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2012 - 2014

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Brian Weinshenker, MD
              .modal__content__srt__institution Mayo Clinic

              .modal__content__srt__researcher Dean Wingerchuk, MD
              .modal__content__srt__institution Mayo Clinic