li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Ilya Kister, MD

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-ilya-kister-md.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Ilya Kister, MD

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-new-york-university.jpg")
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-ilya-kister-md.jpg")
          .researcher__name Ilya Kister, MD
        
        //- single research topic
        .modal__content__srt__group
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Can Neuromyelitis Optica be differentiated from 'conventional' Multiple Sclerosis with ultra-high field brain imaging?

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Clinical

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2012 - 2013

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Ilya Kister, MD
              .modal__content__srt__institution New York University
              
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Cerebral ultra-high field MR imaging in Neuromyelitis Optica: US-German longitudinal study

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Clinical

              .modal__content__srt__title Status
              .modal__content__srt__label Current

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2013 - 2015

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Ilya Kister, MD
              .modal__content__srt__institution New York University