li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Jeffrey Bennet, MD PhD

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-jeffrey-bennet-md-phd.jpg")
    .block-grid__grid__researcher-name.grid__name
      .block-grid__grid__researcher-name__container.grid__name__inner Jeffrey Bennet, MD PhD

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-university-of-colorado.jpg")
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-jeffrey-bennet-md-phd.jpg")
          .researcher__name Jeffrey Bennet, MD PhD
        
        //- single research topic
        .modal__content__srt__group

          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label AQP4-specific immunotherapy in Neuromyelitis Optica

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2010 - 2012

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Jeffrey Bennet, MD PhD
              .modal__content__srt__institution University of Colorado, Denver

          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label AQP4 autoantibodies and disease pathogenesis in Neuromyelitis Optica

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2012 - 2014

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Jeffrey Bennet, MD PhD
              .modal__content__srt__institution University of Colorado, Denver

          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Second-generation aquaporumabs and NMO superantibodies for NMO research and therapy

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2012 - 2014

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Alan Verkman, MD, PhD
              .modal__content__srt__institution University of California, San Francisco

              .modal__content__srt__researcher Jeffrey Bennet, MD PhD
              .modal__content__srt__institution University of Colorado, Denver

          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Collaborative International Research in Clinical and Longitudinal Experiences in NMO Studies (CIRCLES)

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Clinical

              .modal__content__srt__title Status
              .modal__content__srt__label Current

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2014 - 2016

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Jeffrey Bennet, MD PhD
              .modal__content__srt__institution University of Colorado, Denver

          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Monitoring humoral immunity and complement injury in Neuromyelitis Optica

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Current

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2014 - 2016

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Jeffrey Bennet, MD PhD
              .modal__content__srt__institution University of Colorado, Denver