li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Lawrence Steinman, MD

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-lawrence-steinman-md.jpg")
    .block-grid__grid__researcher-name.grid__name  
      .block-grid__grid__researcher-name__container.grid__name__inner Lawrence Steinman, MD

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-stanford-university.jpg")
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-lawrence-steinman-md.jpg")
          .researcher__name Lawrence Steinman, MD
        
        //- single research topic
        .modal__content__srt__group
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Proteomic Studies Leading to Development of Tolerizing Therapy in NMO

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2008 - 2012

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Lawrence Steinman, MD
              .modal__content__srt__institution Stanford
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Potential biomarkers for disease activity in Neuromyelitis Optica

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2012 - 2014

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Lawrence Steinman, MD
              .modal__content__srt__institution Stanford
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Antigen specific tolerance to AQP4: TolVax-AQP4

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Current

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2015 - 2017

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Lawrence Steinman, MD
              .modal__content__srt__institution Stanford