li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Lawrence Cook, PhD

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-lawrence-cook-phd.jpg")
    .block-grid__grid__researcher-name.grid__name  
      .block-grid__grid__researcher-name__container.grid__name__inner Lawrence Cook, PhD

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-university-of-utah.jpg")
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-lawrence-cook-phd.jpg")
          .researcher__name Lawrence Cook, PhD
        
        //- single research topic
        .modal__content__srt__group
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label NMO Data Coordinating Center

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Clinical

              .modal__content__srt__title Status
              .modal__content__srt__label Current

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2012 - 2016

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Lawrence Cook, PhD
              .modal__content__srt__institution University of Utah

              .modal__content__srt__researcher John Rose, MD
              .modal__content__srt__institution University of Utah