li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Vanda Lennon, MD, PhD

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-vanda-lennon-md-phd.jpg")
    .block-grid__grid__researcher-name.grid__name  
      .block-grid__grid__researcher-name__container.grid__name__inner Vanda Lennon, MD, PhD

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-mayo-clinic.jpg")
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-vanda-lennon-md-phd.jpg")
          .researcher__name Vanda Lennon, MD, PhD
        
        //- single research topic
        .modal__content__srt__group
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Development and Validation of Aquaporin Autoimmunity Models

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2008 - 2011

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Vanda Lennon, MD, PhD
              .modal__content__srt__institution Mayo Clinic