li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Vijay Kuchroo, DVM, PhD

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-vijay-kuchroo-dvm-phd.jpg")
    .block-grid__grid__researcher-name.grid__name  
      .block-grid__grid__researcher-name__container.grid__name__inner Vijay Kuchroo, DVM, PhD

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__quick-info
          img.modal__content__institution(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-funded-research-insitutions-brigham-and-womens-hospital.jpg")
          img.modal__content__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-vijay-kuchroo-dvm-phd.jpg")
          .researcher__name Vijay Kuchroo, DVM, PhD
        
        //- single research topic
        .modal__content__srt__group
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Interaction between myelin specific T and B cells in inducing Neuromyelitis Optica

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Complete

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2010 - 2013

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Vijay Kuchroo, DVM, PhD
              .modal__content__srt__institution Harvard Brigham and Women's Hospital
          
          .modal__content__srt

            .modal__content__srt__topic 
              .modal__content__srt__title Research Topic
              .modal__content__srt__label Generation of a humanized animal model for neuromyelitis optica (NMO) to study the interaction between aquaporin-4 (AQP4)-specific T and B cells

            .modal__content__srt__stats

              .modal__content__srt__title Type
              .modal__content__srt__label Scientific

              .modal__content__srt__title Status
              .modal__content__srt__label Current

              .modal__content__srt__title Timeline
              .modal__content__srt__label 2015 - 2018

            .modal__content__srt__researchers

              .modal__content__srt__title Researcher(s)

              .modal__content__srt__researcher Vijay Kuchroo, DVM, PhD
              .modal__content__srt__institution Harvard Brigham and Women's Hospital