.reading
  
  .modal__trigger
    @media #{$small-only}
      display: none

  .occ__reveal
    @media #{$medium-up}
      display: none

  .modal__trigger
    &:hover
      cursor: pointer

  .reading__title
    text-align: center
    font-size: $p-one
    color: $theme-color-6
    line-height: 1.4

  // modal content

  .modal
    @media #{$small-only}
      +grid-row

  .modal__content
    @media #{$small-only}
      +grid-column(12)
      padding-top: 1.25rem

  &__cover--modal
    text-align: center

    img
      max-width: 12rem

    @media #{$small-only}
      margin: auto

  &__title--modal--left, &__title--modal--right
    font-size: $p-one

  &__title--modal--left
    font-weight: bold

    @media #{$small-only}
      display: none

  &__title--modal--right
    font-weight: bold
    color: $theme-color-4
    line-height: 1
    margin-bottom: 0.24rem

    @media #{$small-only}
      margin-top: 1rem

  &__author--modal
    color: $theme-color-7
    font-weight: bold
    font-size: $p-three
    line-height: 1.3

  &__subtitle--modal
    font-style: italic
    font-size: $p-three
    margin-bottom: 0.25rem

  &__purchase--modal
    +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
    margin-bottom: 1.1rem

  &__description--modal
    color: $theme-color-4
    margin-bottom: 1rem
    font-size: $p-three