.gj-tag-results
  +grid-row
  margin-top: rem-calc(40)

  @media #{$large-up}
    margin-top: rem-calc(110)

  @media only screen and (min-width: 71.875rem)
    margin-top: rem-calc(70)

  &__container
    +grid-column(12)


  // Page title

  &__title
    @extend .h3
    color: $theme-color-7
    font-weight: bold
    margin-top: 2rem

  //...............


  // Single excerpt

  &__excerpt
    font-size: $p-one
    color: $theme-color-4

  &__excerpt-title
    @extend .h4-alt
    font-weight: bold
    line-height: 1.5
    margin-bottom: 0.5rem

    a
      color: $theme-color-7

  //...........................


  // pagination

  &__pagination
    text-align: center
    +grid-row

    .pagination
      +grid-column(12)

    ul
      position: relative
      margin-bottom: 1.4rem !important
      padding: 3rem 0

      @media #{$large-up}
        padding: 0.3rem 0

      li
        display: inline-block
        font-size: $p-one
        font-weight: bold

        @media #{$small-only}
          margin-top: 0.5rem
          margin-bottom: 0.5rem

        &:first-child, &:last-child
          position: absolute

          @media #{$small-only}
            left: 50%
            transform: translateX(-50%)

          @media #{$medium-only}
            left: 50%
            transform: translateX(-50%)

          a
            color: $theme-color-7

        &:first-child
          @media #{$small-only}
            top: 0

          @media #{$medium-only}
            top: 0

          @media #{$large-up}
            left: 0

        &:last-child
          @media #{$small-only}
            bottom: 0

          @media #{$medium-only}
            bottom: 0

          @media #{$large-up}
            right: 0

        &.active

          a
            background-color: $theme-color-7
            color: $theme-color-1 !important

      li:not(:first-child):not(:last-child)

          a 
            padding: 0.6rem 1rem
            color: $theme-color-7

            &:hover
              background-color: $theme-color-7
              color: $theme-color-1

  //......................