// header height - mobile first
$hh1: rem-calc(40)
$hh2: rem-calc(110)
$hh3: rem-calc(70)

// footer height - mobile first
$fh1: rem-calc(216)
$fh2: rem-calc(305)
$fh3: rem-calc(210)

.gj-search
  +grid-row

  &__container
    +grid-column(12)
    margin-top: $hh1
    min-height: calc(100vh - #{$hh1} - #{$fh1})
    padding-top: 2rem

    @media #{$medium-up}
      min-height: calc(100vh - #{$hh1} - #{$fh2})

    @media #{$large-up}
      min-height: calc(100vh - #{$hh2} - #{$fh3})
      margin-top: $hh2

    @media only screen and (min-width: rem-calc(1150))
      min-height: calc(100vh - #{$hh3} - #{$fh3})
      margin-top: $hh3

  &__title
    display: block
    color: $theme-color-7
    font-weight: bold

    @media #{$medium-up}
      display: inline-block
      vertical-align: top
      margin: 0.3rem 2.1rem 0 0

  // search input
  #___gcse_0
    max-width: 35.6rem
    display: inline-block

    .gsc-input
      padding-left: 0 !important

      &:focus
        border: 1

    .gsc-input-box
      height: auto !important
    
    // general table
    table
      margin-bottom: 0 !important
    
    // search input
    .gsc-search-box-tools .gsc-search-box .gsc-input
      height: 2.35em !important
    
    // search button
    .gsc-search-button
      padding-right: 0 !important

    .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2
      width: 80px
      height: 45px
      padding: 14px 32px !important
      background-color: $theme-color-7
      background-image: none
      border: 0
      transition: all 0.2s ease

      &:hover
        background-color: darken($theme-color-7, 3%)

  //........................


  // search result
  #___gcse_1

    table.gsc-resultsHeader
      display: none

    .gsc-control-cse.gsc-control-cse-en
      padding: 0 !important

    // sort by button
    // appears after you search something
    .gsc-control-cse .gsc-option-menu-container, .gsc-option-menu-container.gsc-inline-block
      width: 5.1rem !important

      .gsc-selected-option-container.gsc-inline-block
        width: 100% !important
        max-width: 100% !important
        padding: 0 !important

        .gsc-selected-option
          text-align: left
          padding-left: 0.5rem

  //......................


  // pagination
  .gsc-results .gsc-cursor-box
    margin-bottom: 1rem

  .gsc-cursor
    @extend .clearfix

    .gsc-cursor-page
      padding: 0.6rem 1rem
      font-size: $p-one
      font-weight: bold
      color: $theme-color-1 !important
      background-color: $theme-color-7
      transition: all 0.2s ease
      float: left
      margin-bottom: 0.5rem

      &:hover, &.gsc-cursor-current-page
        color: $theme-color-1
        background-color: darken($theme-color-7, 5%)
        text-decoration: none !important