$video-width: rem-calc(765)

.gj-podcast
  +grid-row

  &__container
    +grid_column(12)
    margin-top: 1rem
    margin-bottom: 2rem

    @media #{$medium-up}
      margin-top: 4rem
      margin-bottom: 3rem


  // mobile sub nav

  &__sub-nav--mobile
    position: relative
    display: block
    height: 2.5rem
    width: calc(100% - 2.5rem)
    margin: 2rem 1.25rem 0.5rem

    @media #{$medium-up}
      display: none

  &__nav-label
    position: relative
    color: $theme-color-1
    line-height: 2.5rem
    z-index: 9
    +btn($theme-color-7, $theme-color-1, 0.3rem, 0.6rem, $theme-color-7, $theme-color-1, $font--regular, block, 1, $headline-font)
    font-size: $p-one
    padding: 0.5rem 0.6rem

    svg
      position: relative
      width: 1rem
      height: 0.7rem
      margin-left: 0.4rem

  &__nav-ul
    position: absolute
    top: 2.3rem
    width: 100%
    background-color: $theme-color-1
    padding: 0.5rem
    overflow-y: scroll
    opacity: 0
    visibility: hidden
    transition: all 0.2s ease
    z-index: 99

    &.active

      opacity: 1
      visibility: visible

    li
      line-height: 1.7
      margin: 0.5rem 0

      &:last-child
        border: 0

      a 
        color: $theme-color-7
        line-height: 1.2


  //........................

  &__title
    @extend .h4
    font-weight: bold
    text-align: center


  // video section

  &__video
    position: relative
    max-width: rem-calc(765)
    margin: 0 auto

  &__links
    position: relative

    @media #{$small-only}
      margin-bottom: 1.5rem

  &__link
    display: block
    text-align: center
    background-color: $theme-color-7
    transition: all 0.2s ease

    @media #{$medium-up}
      display: inline-block
      width: 50%
      float: left

    &:nth-child(1)
      margin-bottom: 0.5rem

      @media #{$medium-up}
        margin: 0
        border-right: 1px solid darken($theme-color-7, 3%)
        border-right: 1px solid $theme-color-1

    &:nth-child(2)
      @media #{$small-only}
        display: none

    &:hover
      background-color: $theme-color-1

      a
        color: $theme-color-7

    a 
      color: $theme-color-1
      transition: all 0.2s ease
      display: block
      padding: 0.8rem 

  // ........................

  // iframe

  .iframe
    width: 100%
    // max-width: rem-calc(765)
    margin: 2rem auto 2.6rem
    margin: 0
    border: 0

    @media #{$small-only}
      width: auto
      margin-bottom: 0.5rem
      // margin-left: 1.25rem
      // margin-right: 1.25rem

    &__container
      position: relative
      height: 0  
      margin: 1rem auto 0
      padding-bottom: 56.25%
      padding-top: 25px

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  // .......................

  // modal

  .modal
    @media #{$small-only}
      max-height: rem-calc(420)
      overflow-y: scroll

  //........................