.gj-blog-post
  background-color: $theme-color-2
  border-bottom: 1px solid $theme-color-3

  &__row
    +grid-row

  &__container
    +grid-column(11.5, $center: true)
    background-color: $theme-color-1
    margin-top: 3.8rem
    margin-bottom: 2rem
    padding-top: 2rem
    border-radius: 0.5rem

    @media #{$large-up}
      +grid-column(9.65, $center: true)
      margin-top: 8.125rem
      padding-top: 3.625rem
      padding-bottom: 3.625rem

    @media only screen and (min-width: rem-calc(1150))
      margin-top: 5.6rem


  // post header

  .headline

    @media #{$medium-up}
      padding-left: 4.67rem
      padding-right: 4.67rem

    h2
      @extend .h4-alt
      color: $theme-color-7
      font-weight: bold
      margin-bottom: 1.5rem

    .padtopless
      margin-bottom: 1.5rem
      padding-bottom: 1.2rem
      border-bottom: 1px solid $theme-color-9

    .byline
      font-size: $p-one
      color: $theme-color-3

    .page-tags
      margin-top: 0.3rem

      .padbottom
        display: inline-block
        width: calc(100% - #{rem-calc(30)})

        @media #{$medium-up}
          width: calc(100% - #{rem-calc(100)})

        a
          color: $theme-color-3

          &:hover
            color: $theme-color-7

  &__tag-svg
    display: inline-block
    vertical-align: top
    width: 1.4rem
    height: 0.7rem
    margin-top: 0.4rem
    fill: $theme-color-7

  &__share-button
    max-width: rem-calc(420)

    @media #{$small-only}
      margin-top: 0.7rem

    @media #{$medium-up}
      float: right
      margin-top: -2.1rem
      margin-left: 0.9rem

    > a // Share button
      +btn($theme-color-7, $theme-color-1, 0.3rem, 0.6rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $font)
      display: inline-block
      background-color: $theme-color-1 !important
      border: 2px solid $theme-color-7
      color: $theme-color-7 !important
      font-size: $p-two

      &:hover
        background-color: $theme-color-7 !important
        color: $theme-color-1 !important

      @media #{$medium-up}
        float: right

    > div

    .share-container // share content container
      margin-top: 1.1rem
      padding: 1.4875rem 1.8875rem 1rem
      background-color: $theme-color-7
      color: $theme-color-1

      @media #{$medium-up}
        margin-top: 2.4rem

    .button
      margin-bottom: 0.6rem
      padding: 0.5rem 1.1rem
      background-color: $theme-color-1
      color: $theme-color-7
      border-radius: 2px
      font-weight: bold

    .share-close
      float: right
      position: relative
      margin: -1.6rem -2.2rem 0 0
      background-color: transparent
      font-size: 1.8rem
      color: $theme-color-1
      font-weight: normal !important

    .share-url
      margin: 0.4rem 0 0.5rem
      height: 2.3rem
      border-radius: 2px
      border: 0
      background-color: $theme-color-1 !important
      color: $theme-color-3

    // sign in if user not signed in
    .padbottom
      padding-left: 0.2rem

      a
        display: block
        width: 5.2rem
        margin: 0 0.1rem 0.2rem 0
        border-radius: 2px
        background-color: $theme-color-1
        color: $theme-color-7
        padding: 0.5rem 1rem
        font-weight: bold

        @media #{$small-only}

  //..................
  

  // post content

  .content 

    @media #{$medium-up}
      padding-left: 4.67rem
      padding-right: 4.67rem

    @media #{$large-up}
      padding-left: 4.67rem
      padding-right: 4.67rem

    p
      font-size: $p-one
      margin-bottom: 1rem

  &__back-link
    display: block
    margin: 2rem 0 1rem
    padding-bottom: 1rem
    text-align: center
    border-bottom: 1px solid $theme-color-9

    @media #{$medium-up}
      margin: 2rem 2rem 1rem

    a
      color: $theme-color-7
      font-size: $p-one
      font-weight: bold


  // bottom stream section

  #stream

    @media #{$medium-up}
      padding-left: 2rem
      padding-right: 2rem

    h4
      color: $theme-color-7
      font-weight: bold

  
  #reactions
    margin-top: 0.6rem !important

  //......................