.gj-blog-list
  +grid-row

  &__container
    +grid-column(12)

  &__single-post
    display: block

    @media #{$medium-up}
      padding: 4.3rem 0 2.5rem

    &:nth-child(1)
      @media #{$small-only}
        margin-top: 1rem

  &__post-meta, &__excerpt
    // display: block
    vertical-align: top

    @media (min-width: #{rem-calc(700)})
      display: inline-block

    @media #{$large-up}
      width: 49.5%

  @media (min-width: #{rem-calc(700)})
    &__post-meta
      width: 39%

    &__excerpt
      width: 59%


  // post meta

  &__post-meta

    h3
      line-height: 1.3
      // margin-top: -0.5rem
      margin-bottom: 0.6rem
      color: $theme-color-7
      font-weight: bold

      a
        color: $theme-color-7

    .byline
      font-size: $p-one
      color: lighten($theme-color-3, 8%)
      font-family: $headline-font

      a
        color: $theme-color-7
    
    // posts with an featured image
    img
      width: rem-calc(174)
      margin-bottom: 1rem

  &__post-meta-container
    @media #{$medium-up}
      padding-right: 1.25rem
    
    // posts with an featured image
    img
      width: rem-calc(174)
  
  
  // post excerpt

  &__excerpt
    @media (min-width: #{rem-calc(700)})
      padding-left: 1.25rem

    @media #{$large-up}
      padding-left: 0

    p
      font-size: $p-one

    a
      color: $theme-color-7

      &:hover
        color: darken($theme-color-7, 8%)

  &__buttons
    margin-top: 1.6rem

    a
      +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
      display: inline-block
      background: $theme-color-1 !important
      color: $theme-color-7 !important
      padding: 0.8rem 3.5rem

  &__share-button
    position: relative
    max-width: rem-calc(420)

    @media #{$small-only}
      display: block

    @media #{$medium-up}
      display: inline-block
      top: 0.05rem

    > a // Share button
      +btn($theme-color-7, $theme-color-1, 0.75rem, 1.5rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
      display: inline-block
      margin-bottom: 0.3rem
      background-color: $theme-color-1 !important
      border: 2px solid $theme-color-7
      color: $theme-color-7 !important
      font-size: rem-calc(20)

      &:hover
        background-color: $theme-color-7 !important
        color: $theme-color-1 !important

    > div

      @media #{$medium-up}
        position: absolute
        top: 1.9rem
        right: 0
        width: rem-calc(420)

      .share-container // share content container
        margin-top: 1.1rem
        padding: 1.4875rem 1.8875rem 1rem
        background-color: $theme-color-7
        color: $theme-color-1

        @media #{$medium-up}
          margin-top: 2.4rem

      .button
        margin-bottom: 0.6rem
        padding: 0.5rem 1.1rem
        background-color: $theme-color-1
        color: $theme-color-7
        border-radius: 2px
        font-weight: bold

      .share-close
        float: right
        position: relative
        margin: -1.6rem -2.2rem 0 0
        border: 0
        background-color: transparent !important
        font-size: 1.8rem
        color: $theme-color-1 !important
        font-weight: normal !important

      .share-url
        margin: 0.4rem 0 0.5rem
        height: 2.3rem
        border-radius: 2px
        border: 0
        background-color: $theme-color-1 !important
        color: $theme-color-3

    // sign in if user not signed in
    .padbottom
      padding-left: 0.2rem

      a
        display: block
        width: 6rem
        margin: 0 0.1rem 0.2rem 0
        border-radius: 2px
        background-color: $theme-color-1
        color: $theme-color-7
        padding: 0.5rem 1rem
        font-weight: bold

        @media #{$small-only}


  // pagination

  &__pagination
    text-align: center
    +grid-row

    .pagination
      +grid-column(12)

    ul
      position: relative
      margin-bottom: 1.4rem !important
      padding: 3rem 0

      @media #{$large-up}
        padding: 0.3rem 0

      li
        display: inline-block
        font-size: $p-one
        font-weight: bold

        @media #{$small-only}
          margin-top: 0.5rem
          margin-bottom: 0.5rem

        &:first-child, &:last-child
          position: absolute

          @media #{$small-only}
            left: 50%
            transform: translateX(-50%)

          @media #{$medium-only}
            left: 50%
            transform: translateX(-50%)

          a
            color: $theme-color-7

        &:first-child
          @media #{$small-only}
            top: 0

          @media #{$medium-only}
            top: 0

          @media #{$large-up}
            left: 0

        &:last-child
          @media #{$small-only}
            bottom: 0

          @media #{$medium-only}
            bottom: 0

          @media #{$large-up}
            right: 0

        &.active

          a
            background-color: $theme-color-7
            color: $theme-color-1 !important

      li:not(:first-child):not(:last-child)

          a 
            padding: 0.6rem 1rem
            color: $theme-color-7

            &:hover
              background-color: $theme-color-7
              color: $theme-color-1



// Category tag section

.gj-tag-list
  position: relative
  border-bottom: 1px solid $theme-color-9
  padding: 1rem 0 1.3rem

  @media #{$medium-up}
    padding-bottom: 1.7rem

  @media #{$large-up}
    padding-bottom: 3.125rem
  
  &__title
    @extend .h5
    font-family: $headline-font
    margin-bottom: 1rem
    color: $theme-color-7
    font-weight: bold

    @media #{$large-up}
      margin-bottom: 1.2rem

  &__toggle
    position: relative
    color: $theme-color-1
    line-height: 2.5rem
    z-index: 99
    +btn($theme-color-7, $theme-color-1, 0.3rem, 0.6rem, $theme-color-7, $theme-color-1, $font--regular, block, 1, $headline-font)
    font-size: $p-one
    padding: 0.5rem 0.6rem

    @media #{$large-up}
      display: none

    svg
      position: relative
      width: 1rem
      height: 0.7rem
      margin-left: 0.4rem

  &__ul

    @media #{$small-only}
      position: absolute
      top: 6.4rem
      width: 100%
      height: auto
      max-height: 15rem
      background-color: $theme-color-1
      padding: 0.5rem
      border: 1px solid rgba($theme-color-3, 0.5)
      border-top: 0
      opacity: 0
      visibility: hidden
      overflow-y: scroll
      transition: all 0.2s ease
      z-index: 9

    @media #{$medium-only}
      position: absolute
      top: 6.6rem
      width: 100%
      height: auto
      max-height: 20rem
      background-color: $theme-color-1
      padding: 0.5rem
      border: 1px solid rgba($theme-color-3, 0.5)
      border-top: 0
      opacity: 0
      visibility: hidden
      overflow-y: scroll
      transition: all 0.2s ease
      z-index: 9

    &.active
      opacity: 1
      visibility: visible

    li

      @media #{$small-only}
        margin: 0.5rem 0
        line-height: 1.7

      @media #{$medium-only}
        margin: 0.6rem 0
        line-height: 1.7

      @media #{$large-up}
        display: inline-block

        &:last-child
          border: 0

      a 
        @media #{$small-only}
          line-height: 1.2
          color: $theme-color-7

        @media #{$medium-only}
          line-height: 1.2
          color: $theme-color-7

        @media #{$large-up}
          display: block
          margin: 0 1.5rem 0.4rem 0
          width: rem-calc(170)
          height: rem-calc(40)
          line-height: rem-calc(40)
          text-align: center
          border: 2px solid $theme-color-7
          color: $theme-color-4
          font-size: $p-one

          &:hover
            background-color: $theme-color-7
            color: $theme-color-1
