//globals
.join-event__bottom
  +grid-column(12, $collapse: true)
  .btn
    text-transform: capitalize
  h5
    +grid-column(10, $center: true, $collapse: true)
    @extend .font--bold
    color: $theme-color-1
    font-family: $headline-font
    text-align: center
    padding: 1.1rem 0
    
    @media only screen and (min-width: rem-calc(900))
      padding: 1.1rem 0

    a
      color: $theme-color-7

//search
.join-event__search-wrap
  background-color: $theme-color-3
  padding: 0.75rem 0 1.75rem
  h5
    
    @media only screen and (min-width: rem-calc(900))
      +grid-column(12)
    
    @media #{$large-up}
      text-align: center
.join-event__search-address
  +grid-column(11, $center: true)
  
  @media only screen and (min-width: rem-calc(900))
    +grid-column(4)
    padding-bottom: 0
    padding-right: 0
    padding-top: 0
  
  @media #{$large-up}
    +grid-column(3.8)
    padding-right: 0
  
  @media only screen and (min-width: rem-calc(1215))
    +grid-column(4)
    padding-right: 0
    padding-left: 7.65rem
  input
    +square_input
    +size(100%, auto)
    @extend .p-one-alternate
    background-color: $theme-color-1
    border-right: 1px solid $theme-color-3
    font-family: $font
    font-size: $p-one
    margin: 0
    padding: rem-calc(20)
    text-align: center
    
    @media #{$medium-only}
      padding: 0.85rem 0
    
    @media #{$large-up}
      text-align: left
    &:focus
      background-color: $theme-color-1
      border-right: 1px solid $theme-color-3


  ::-webkit-input-placeholder
    color: $theme-color-3
  :-moz-placeholder
    color: $theme-color-3
  ::-moz-placeholder
    color: $theme-color-3
  :-ms-input-placeholder  
    color: $theme-color-3

.btn
  border-radius: 0
  margin-top: rem-calc(5)
  text-transform: capitalize
  width: 100%
  @extend .font--bold
  @extend .h4-alternate
  -webkit-font-smoothing: antialiased
.join-event__search-distance
  +grid-column(11, $center: true)
  
  @media only screen and (min-width: rem-calc(900))
    +grid-column(8)
    padding-left: 0
  
  @media #{$large-up}
    +grid-column(6.2)
    background: $theme-color-1
    padding: 0.69rem 0.625rem 0.55rem
  
  @media only screen and (min-width: rem-calc(1215))
    +grid-column(5.16)
  p
    @extend .p-one-alternate
    color: $theme-color-1
    text-align: center
    
    @media only screen and  (max-width: rem-calc(899))
      float: left
      padding: 0.3rem 0 0.2rem
      width: 100%
    
    @media only screen and (min-width: rem-calc(900))
      +grid-column(1.9, $collapse: true)
      line-height: 3.4
    
    @media only screen and (max-width: rem-calc(1023))
      font-weight: $font--bold
    
    @media #{$large-up}
      color: $theme-color-4
      line-height: 2.3
    
    @media only screen and (min-width: rem-calc(1215))
      +grid-column(1.5, $collapse: true)
      text-align: left
.join-event__search-distance__inside-wrap
  .radio-inline
    
    @media only screen and (min-width: rem-calc(900))
      +grid-column(10, $collapse: true)
      text-align: left
    
    @media only screen and (min-width: rem-calc(1215))
      +grid-column(10.5, $collapse: true)
    span
      
      @media #{$medium-only}
        display: block
    input
      
      @media only screen and (min-width: rem-calc(900))
        position: relative
        top: 0.075rem
    label.radio
      +grid-column(4, $collapse: true)
      border-radius: 0
      background-color: $theme-color-1
      color: $theme-color-4
      font-family: $font
      font-size: $p-three
      margin: 0 2% 2% 0
      width: 23.5%
      
      @media only screen and (min-width: rem-calc(768))
        padding: 0.8rem 0.3125rem 0.8rem 0.3125rem
        text-align: center
      
      @media #{$large-up}
        background-color: transparent
        padding: rem-calc(8) 0.8125rem
        float: none
      .option_label
        
        @media only screen and (min-width: rem-calc(768))
          line-height: 1
    span:last-child
      label.radio
        margin: 0 0 2% 0
        
        @media #{$medium-only}
          margin: 0
    //hides the first two mile options
    span:nth-child(-n+2)
      label.radio
        display: none
    //radio-inline
    span:first-child input[type="radio"], span:nth-of-type(2) input[type="radio"]
      display: none
    input[type="radio"]:checked + label
      color: $theme-color-4 !important
      
      @media only screen and (max-width: rem-calc(1023))
        background-color: $theme-color-7 !important
        color: $theme-color-1 !important
    input[type="radio"]
      display: none
      
      @media #{$large-up}
        margin: 0
        display: inline-block
.join-event__submit
  +grid-column(11, $center: true)
  .btn
    padding: 0.325rem 0.9375rem
    
    @media #{$large-up}
      margin-right: 0.625rem
      margin: 0
      min-height: 3.8rem
      padding: 1.24rem 0.9375rem
  
  @media only screen and (min-width: rem-calc(900))
    +grid-column(6, $float: right)
    clear: both
    width: 260px
  
  @media #{$large-up}
    +grid-column(2)
    clear: none
    margin-left: 0 !important
    padding-left: 0
  
  @media only screen and (min-width: rem-calc(1215))
    +grid-column(2, $collapse: true)
    padding-right: 2.05rem

.join-event__results__header-wrap
  background: $theme-color-4
//map
#events_map
  
  @media #{$medium-up}
    height: rem-calc(690) !important

.join-event__map-events-wrap
  +grid-row
  
  @media #{$medium-up}
    +grid-row($behavior: nest-collapse)

.join-event__map
  
  @media #{$medium-up}
    +grid-column(6, $collapse: true)

//events
.join-event__events
  
  @media #{$medium-up}
    +grid-column(6, $collapse: true)
.join-event__events-wrap
  
  @media #{$medium-up}
    +grid-row
    float: left
    max-width: rem-calc(600)
  .join-event__events-inside-wrap
    
    @media #{$medium-up}
      +grid-column(12, $collapse: true)
  .join-event__events__content
    background-color: $theme-color-4
    
    @media #{$medium-up}
      background-color: $theme-color-7
  .event-header
    color: $theme-color-1
    padding: 0.94rem 0
    @extend .font--bold
    
    @media #{$small-only}
      text-align: center
    
    @media #{$medium-up}
      padding: 1.6rem 9% 1.5rem
    
    @media #{$large-up}
      padding: 0.98rem 0 1.31rem 10%
.join-event__events-outputted__wrap
  
  @media #{$medium-up}
    height: rem-calc(618)
    overflow-y: scroll
    &::-webkit-scrollbar
      -webkit-appearance: none !important
    &::-webkit-scrollbar-thumb
      border-radius: 8px
      border: 2px solid white
      background-color: #c1c1c1
    &::-webkit-scrollbar-track
      -webkit-box-shadow: inset 0 0 4px $theme-color-3
    &::-webkit-scrollbar
      background-color: #fafafa
      height: 15px
      width: 13px
.join-event__events-outputted
  text-align: left
  li
    border-bottom: 1px solid $theme-color-8
    padding: 0.5rem 0 2rem
    
    @media #{$medium-up}
      float: left
      padding: 0.98rem 0 2.41rem 9%
      width: 100%
    &:last-child
      border-bottom: none
    .event__wrap
      +grid-column(11, $center: true)
      
      @media #{$medium-up}
        +grid-column(12, $collapse: true)
      .event__inside-wrap
        +grid-row($behavior: collapse)
    .event-info__wrap
      +grid-column(11, $collapse: true)
    .event--venue-name
      margin: 0
    .event__name
      +grid-column(12, $collapse: true)
      line-height: 1.2
      
      @media #{$medium-up}
        padding-top: rem-calc(10)
        text-align: left
      
      @media #{$large-up}
        padding: 1.2rem 0 0.8rem
      a
        color: $theme-color-7
        @extend .font--bold
  //when and where
  .event-where-when__wrap
    +grid-column(12, $collapse: true)
    padding-top: 0.2rem
    
    @media #{$large-up}
      padding-top: 0
    .event--venue-name, .event__rsvp-ticket a
      color: $theme-color-7
      text-decoration: underline
    p
      @extend .p-three
      @extend .font--bold
      color: $theme-color-4
      &.last
        
        @media #{$medium-only}
          padding-top: rem-calc(8)
  .event__where__wrap, .event__when__wrap
    line-height: 1.4
    
    @media only screen and (min-width: rem-calc(560)) and (max-width: rem-calc(767))
      +grid-column(6, $collapse: true)
    
    @media #{$large-up}
      +grid-column(6, $collapse: true)
  .event__when
    
    @media #{$medium-only}
      padding-top: rem-calc(8)
//when and where
.event__submit
  .submit-link
    +btn(transparent, $theme-color-7, 1.25rem, 1.3rem, transparent, $theme-color-7, $font--bold, inline-block, 1, $font)
    margin-top: 1.3rem
    width: rem-calc(175)
  .destroy-link
    +btn($theme-color-7, $theme-color-1, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, inline-block, 1, $font)
//doctor email
.doctor-email
  a
    @extend .font--regular
    font-size: $p-two
    color: $theme-color-7
    text-decoration: underline
  

.draw-site
  &__intro
    color: $theme-color-4
    font-size: $p-three
    line-height: 1.2
    padding-bottom: 0.3rem
    padding-top: 1rem
    
    @media #{$small-only}
      text-align: center
    
    @media #{$medium-up}
      padding-right: 7.4rem
      padding-top: 1.3rem

.draw-sites, .doctors, .advocates
  .event__name
    a
      cursor: default
  .event__when__wrap
    a
      color: $theme-color-4
      &:hover
        color: $theme-color-4

  .join-event__map
    a
      cursor: default
      pointer-events: none
      &:hover
        color: $theme-color-4
.advocates
  .event__when__wrap
    display: none

//ending
