.download
  ul
    +block-grid(2)
    @media #{$large-up}
      +block-grid(4)

    li
      padding: 0 0.925rem 0 1.05rem

    img
      +size(100%, auto)

  &__link
    +btn($theme-color-7, $theme-color-1, 0.6rem, 0.6rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $font)
    +size(100%, rem-calc(45))
    font-size: $p-one
    margin-top: 0.7rem
    margin-bottom: rem-calc(27)
    
    @media only screen and (min-width: rem-calc(1215))
      padding: 0.4rem 0.6rem
      line-height: 1.5

    &.short
      display: inline-block
      width: auto
      margin-bottom: 0

  &__label
    font-size: $p-three !important
    text-align: center
    line-height: 1.1
    padding-top: 0.6rem

  &__push
    @media only screen and (min-width: rem-calc(1215))
      .download__link
        margin-top: 1.9rem

  &__all
    position: relative
  
  // Old download all link styles
  // &__link--all
    // +btn($theme-color-1, $theme-color-7, 0.6rem, 0.6rem, $theme-color-1, $theme-color-7, $font--bold, block, 1.7, $font)
    // +size(11rem, 3.3125rem)
    // font-size: $p-one
    // margin-bottom: rem-calc(27)
    // margin-top: 0.7rem
    // position: absolute
    // right: 0
    // top: -1.1rem

    // &:hover .arrow__circle--all
    //   background-color: $hover-color

  &__link--all
    +btn($theme-color-1, $theme-color-7, 0.6rem, 0.6rem, $theme-color-1, $theme-color-7, $font--bold, block, 1.7, $font)
    +size(11rem, 3.3125rem)
    font-size: $p-one
    margin-bottom: rem-calc(27)
    margin-top: 0.7rem
    // position: absolute
    float: right
    right: 0
    top: -1.1rem

    @media #{$small-only}
      margin-top: 0

    @media #{$medium-up}
      margin-top: -4.5rem

    @media #{$large-up}
      margin-top: -4.7rem

    &:hover .arrow__circle--all
      background-color: $hover-color
      
//download buttons arrows
.arrow
  &__circle
    +btn-arrow__cirle($theme-color-1)
  &__circle--all
    transition: $transition
    +btn-arrow__cirle($theme-color-7)

  &__download
    +btn-arrow__download($theme-color-7)
  &__download--all
    +btn-arrow__download($theme-color-1)
  
  &__alone
    @media #{$small-only}
      display: none
      
    +size(rem-calc(28), rem-calc(28))
    position: relative
    display: inline-block
    vertical-align: middle
    margin-left: 0.3rem

  &__go-to
    +size(0.8rem, 0.8rem)
    transform: rotate(-90deg)
    fill: $theme-color-1
    position: absolute
    left: rem-calc(7)
    top: 0.475rem
