footer
  background-color: $theme-color-2
  border-radius: 0
  border: none
  padding: 0

  a
    color: $theme-color-3
  
.footer
  +grid-row
  padding: rem-calc(20)
  @media #{$large-up}
    padding: 1.85rem 0
  
  &__nb__copy
    color: $theme-color-3
    font-weight: $font--bold

  &__wrapper
    +grid-column(12, $collapse: true)

    @media #{$large-up}
      +grid-column(12)

  &__links
    +inline-list
    margin: 0 auto !important

    @media #{$small-only}
      width: rem-calc(280)
      text-align: center

    @media #{$medium-up}
      width: 31rem
      text-align: center

    @media #{$large-up}
      +grid-column(4, $collapse: true)
      max-width: initial
      padding-top: 0.6rem

    li
      display: inline-block
      float: none
      margin-left: 4.5%
      margin: 0 2.25%
      text-align: left

      @media #{$medium-up}
        // margin-left: 12.5%

      @media #{$large-up}
        display: block
        float: none
        margin-left: 0
        padding-bottom: 0.2rem

      &:nth-child(1)
        // margin-left: 0

    a
      font-size: $p-three

  &__branding
    @media #{$large-up}
      +grid-column(4, $collapse: true)

    p
      font-size: $p-four
      font-weight: $font--semibold
      text-align: center

    svg
      +size(rem-calc(175), 2.6rem)
      display: block
      margin: rem-calc(20) auto rem-calc(6)
      @media #{$large-up}
        margin: 0.85rem auto 0.375rem

  &__social
    margin: 0 auto
    max-width: rem-calc(280)
    padding: 1rem 0 0.6rem
    @media #{$medium-up}
      padding: rem-calc(23) 0 0
    @media #{$large-up}
      +grid-column(4, $collapse: true, $float: right)
      padding-top: 0

    p
      font-size: $p-three
      display: inline-block
      padding-right: 0.5rem

  &__social__links
    +inline-list
    display: inline-block
    vertical-align: middle
    @media #{$medium-up}
      max-width: 19.6rem

    li
      margin-left: rem-calc(15)
      @media #{$medium-only}
        margin-left: 1.1375rem

      &:nth-child(1)
        margin-left: 0
      &:nth-child(n+3)
        margin-left: 1.325rem
        @media #{$medium-only}
          margin-left: 1.725rem

    svg
      +size(1.6rem, 1.5rem)
      fill: $theme-color-3

  &__social__signup
    display: none
    @media #{$large-up}
      display: block
      margin-top: 0.5rem

    .row-fluid // wraps footer signup input & submit btn
      .span4
        width: 100% !important

    input[type="submit"], .footer-signup-submit-container
      width: rem-calc(58)
      display: inline-block
      position: relative
      border-radius: 2px
      border-top-left-radius: 0
      border-bottom-left-radius: 0

    .footer-signup-submit-container
      background-color: $theme-color-7

      .footer-signup-submit
        position: relative
        z-index: 2
        background-color: transparent

      svg
        position: absolute
        top: 0.9rem
        left: 1rem
        width: 1.8rem
        height: 1.3rem
        fill: $theme-color-1

    #signup_email
      border-color: $theme-color-7
      width: calc(100% - #{rem-calc(58)})
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      color: $theme-color-7
      font-weight: bold

  &__nb
    border-top: 1px solid $theme-color-3

  &__nb__wrapper
    +grid-row
    padding: 1rem
  
  &__nb__links
    +grid-column(12, $collapse: true)
    text-align: center

    p
      color: $theme-color-3
      font-size: $p-three
      font-weight: $font--semibold

      &.footer__nb__created-by
        font-size: $p-four
        letter-spacing: 0.05rem
        padding-top: 0.3rem
        @media #{$large-up}
          +grid-column(6, $collapse: true, $float: right)
          text-align: right
          padding-top: 0.1rem

        a
          text-decoration: none

      &.footer__nb__login
        @media #{$large-up}
          +grid-column(6, $collapse: true, $float: left)
          text-align: left

    a
      text-decoration: underline
