.main-container
  margin-top: rem-calc(40)

.pattern>.wrap
  padding-bottom: 0

.columns-1-flash
  +header-height
  position: absolute
  text-align: center
  width: 100%
  // z-index: 9999

.grid-row
  +grid-row

// WYSISWG content style
.content__main
  position: relative

  @media #{$medium-up}
    padding-top: 2.9375rem