h2.headline
  display: none

.main-container
  margin: 0

.like-page
  display: none

.columns-1-flash
  position: relative
  z-index: 1 !important
  max-width: 38.75rem
  margin: 0 auto
  padding: 0 1.25rem !important
  
  // Comment this out if we need the flash message in the future.
  // Set to display none because it pushes down content on certain
  // pages. It was mainly styles for the page after a user
  // subscribes using the footer signup input.
  display: none

  .flash-share
    margin: 0 !important
    padding: 0 !important
    width: 100% !important


// signup page after footer signup form
.page-pages-show-signup-wide
  
  .columns-1-flash
    margin: 3rem auto 0

    @media #{$medium-up}
      margin-top: 6rem