$hide-occ-height: 3.4375rem
$mobile-top-height: rem-calc(39)
  
.occ
  @media #{$small-only}
    position: relative
    max-height: 100vh
    &:hover
      cursor: pointer

  &.fall-back
    @media #{$small-only}
      overflow-y: hidden

  &__reveal
    @extend .font--bold
    @extend .h3-1

    @media #{$small-only}
      position: relative
      padding: 1rem 2.65rem 1rem 1.25rem
      border-bottom: 1px solid $theme-color-2
      line-height: 1.4
      color: $theme-color-7
    @media #{$medium-up}
      display: none

    &:after
      @media #{$small-only}
        display: inline-block
        position: absolute
        top: 50%
        right: 1.25rem
        width: 0.8rem
        height: 1rem
        background:
          image: icon(arrow-right-green)
          size: contain
          repeat: no-repeat
        content: ''
        transform: translateY(-50%)

  &__hidden
    @media #{$small-only}
      position: fixed
      top: 0 !important
      left: 0
      width: 100%
      height: 100%
      max-height: 100vh
      box-shadow: 0 0 200px 0 rgba($black, 0%)
      background-color: $theme-color-1
      transform: translateX(100%)
      transition: $easeInOutCubic $transition-slower
      transition-property: transform, box-shadow
      z-index: 998

    &.show
      @media #{$small-only}
        box-shadow: 0 0 200px 0 rgba($black, 1)
        transform: translateX(0)


  &__back
    @media #{$small-only}
      position: fixed
      top: $mobile-top-height
      left: 0
      bottom: 0
      right: 0
      width: 100%
      height: $hide-occ-height
      padding: 0 1.25rem 0 2rem
      background-color: $theme-color-7
      color: $theme-color-1
      line-height: $hide-occ-height
      z-index: 999
      &:hover
        cursor: pointer
    @media #{$medium-up}
      display: none

    &:before
      @media #{$small-only}
        position: relative
        top: 0.14rem
        left: -0.75rem
        display: inline-block
        width: 0.8rem
        height: 1rem
        background:
          image: icon(arrow-left-white)
          size: contain
          repeat: no-repeat
        content: ''

.overflow
  @media #{$small-only}
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100vh
    max-height: 100vh
    overflow: hidden

.overflow-inner
  @media #{$small-only}
    height: 100vh
    width: 100vw
    overflow: scroll
    padding-top: $hide-occ-height + $mobile-top-height

.occ .occ__hidden,
.occ .occ__hidden .occ .occ__hidden,
.occ .occ__hidden .occ .occ__hidden .occ .occ__hidden
  @media #{$small-only}
    height: 100vh
    max-height: 100vh

.occ .occ__hidden,
.occ .occ__hidden .occ__back
  @media #{$small-only}
    z-index: 999

.occ .occ__hidden .occ .occ__hidden,
.occ .occ__hidden .occ .occ__hidden .occ__back
  @media #{$small-only}
    z-index: 9999

.occ .occ__hidden .occ .occ__hidden .occ .occ__hidden,
.occ .occ__hidden .occ .occ__hidden .occ .occ__hidden .occ__back
  @media #{$small-only}
    z-index: 99999