.page-with-sidebar
  
  .placeholder
    border-top: 1px solid $theme-color-9
    margin-top: rem-calc(20)
    padding-top: rem-calc(20)
  
  @media #{$medium-up}
    +grid-row
    padding-top: rem-calc(47)

  &__wrapper
    position: relative

    @media #{$medium-up}
      +grid-column(12)
  
  &__sidebar
    display: none
    position: absolute
    left: auto !important
    margin-left: 0
    +grid-column(3.77, $collapse: true)
    @media #{$medium-up}
      display: block
      padding-bottom: 2rem

    &.fixed
      position: fixed !important

    &.bound.bottom
      position: absolute !important
      bottom: 0

    h4
      line-height: 1.7
      padding-bottom: 0.2rem
      border-top: 1px solid $theme-color-9
      border-bottom: 1px solid $theme-color-9
      color: $theme-color-7
      font-weight: $font--bold

    li
      padding-top: 0.4rem

      &.active 

        a
          color: $theme-color-7

      a
        transition: $transition
        color: $theme-color-3
        font-size: $p-one

        &:hover
          transition: $transition
          color: $theme-color-7

  &__sub
    padding-left: 2.4rem

    li
      list-style: initial
      padding-top: 0

  &__nav
    padding-top: 0.8rem
    padding-bottom: 0.7rem
    border-bottom: 1px solid $theme-color-9


  &__content
    +grid-column(12)
    
    @media #{$small-only}
      +grid-column(12, $collapse: true)
    
    @media #{$medium-up}
      +grid-column(7.9, $collapse: true, $offset: .32, $push: 3.77)

    .occ__reveal
      
      color: $theme-color-7
      line-height: 1.3
      padding-bottom: 0.7rem

      @media #{$medium-up}
        padding-bottom: 1.9rem

  &__section
    position: relative
    
    @media #{$small-only}
      padding: 2rem 1.25rem
    
    @media #{$medium-up}
      margin-bottom: 1.9rem
      padding-bottom: 2.2rem

    h3, h4 // Remove once extra h3's are removed from html
      color: $theme-color-7
      font-weight: $font--bold
      line-height: 1.3
      padding-bottom: 0.7rem
      
      @media #{$medium-up}
        display: none
        padding-bottom: 1.9rem

    p
      font-size: $p-one
      color: $theme-color-6
      line-height: 1.45

    li
      font-size: $p-one
      color: $theme-color-6
      line-height: 1.45
      list-style: disc

    .flex-video
      padding-bottom: 53.5%

  &__copy
    padding-bottom: 0.5rem

    &.last
      padding-bottom: 0

  &__video
    margin-top: 2.1rem
    margin-bottom: 0

  &__btn
    &--right
      text-align: right

    &--green
      +btn($theme-color-7, $theme-color-1, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, inline-block, 1, $font)
      margin-top: 1rem
    
    &--transparent
      +btn(transparent, $theme-color-7, 1rem, 2.4rem, transparent, $theme-color-7, $font--bold, inline-block, 1, $font)
      margin-top: 1rem

  &__scroll
    +scroll-to-offset


// Special padding top for mobile

.page-with-sidebar__content
  
  > .occ

    > .occ_hidden

      > .overflow

        > .overflow-inner
            @media #{$small-only}
              padding-top 4.9375rem


//no border bottom on last section
.occ
  
  .page-with-sidebar__section
    margin-bottom: 1rem
    padding-bottom: 1.1rem
    
    @media #{$medium-up}
      border-bottom: 1px solid $theme-color-9
      margin-bottom: 1.9rem
      padding-bottom: 2.2rem

.page-with-sidebar__content > .occ:last-child
  
  .occ__hidden:last-child
    
    .page-with-sidebar__section
      border-bottom: none
      margin-bottom: 0

