.gj-ao
  
  &__copy
    +grid-row

  &__copy-container

    @media #{$small-only}
      +grid-column(12)
      margin-top: 1rem

    @media #{$medium-up}
      padding: 0 0.7rem

  &__copy-section
    font-size: $p-one
    margin-bottom: 1rem

    a
      color: $theme-color-7
      font-weight: bold
      border-bottom: 2px solid $theme-color-2

      &:hover
        border-color: $theme-color-7


.gj-advocacy-organizations
  
  &__title
    @media #{$medium-up}
      text-align: center
  
  &__form
    margin: 0 auto
    max-width: 50rem
