li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Amit Bar-Or, M.D.

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-amit-bar-or-md-medical-advisors.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Amit Bar-Or, M.D.

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-amit-bar-or-md-medical-advisors.jpg")
          .researcher__name Amit Bar-Or, M.D.
        
        //- single research topic
        .modal__content__advisor

          .modal__content__background

            .modal__content__background-title Background

            ul.modal__content__background-list
              li Associate Professor, Neurology and Neurosurgery
              li Department of Neurology and Neurosurgery
              li Montreal Neurological Institute

          .modal__content__background-content Dr. Bar-Or’s research is directed at understanding the basic properties of B cells and T cells and the ways in which they may participate in neurological diseases. A particular interest is studying memory B cell and memory T cell responses, their interactions, and their relevance to the disease multiple sclerosis. Another focus of his research relates to the investigation of novel therapeutics in multiple sclerosis and the development and application of biological assays to monitor the disease process and evaluate response to treatment.
          
          .modal__content__background-content Dr. Bar-Or completed undergraduate studies in biopsychology at McMaster University (1988) and received his medical degree cum laude from McGill University (1993). He then pursued Internship and Neurology Residency training at the Massachusetts General Hospital, Harvard University Medical School, subsequently completing postdoctoral fellowships in Immunology at the Center for Neurologic Disease, Harvard, and in Clinical Investigation and Translational Research at Harvard and MIT. He was recruited to the MNI as a clinician Scientist in 2000.