li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Andre Van Herle, MD

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-andre-van-herle-md-medical-advisors.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Andre Van Herle, MD

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-andre-van-herle-md-medical-advisors.jpg")
          .researcher__name Andre Van Herle, MD
        
        //- single research topic
        .modal__content__advisor

          .modal__content__background

            .modal__content__background-title Background

            ul.modal__content__background-list
              li Professor, Department of Neurobiology and Brain Research Institute  
              li David Geffen School of Medicine  
              li University of California, Los Angeles

          .modal__content__background-content Dr. Van Herle obtained his medical degree at the University of Leuven (Belgium), where he completed his residency in Medicine. He then joined the Endocrine fellowship program at UCLA and became a faculty member in 1969. He is a professor of Medicine and was acting Chief of the Endocrine Division and Director of the Endocrine training program for many years.
          
          .modal__content__background-content Dr. Van Herle is nationally and internationally known for his contributions to thyroidology, and is considered the father of the Thyroglobulin assay, a crucial tool in the detection of thyroid tumor recurrence or metastatic disease. He is author and co-author of more than 100 articles and book chapters. His interest is the isolation of anti-cancer agents and the signal transduction mechanisms involved in anti-tumor properties. His clinical interest includes general Endocrinology, thyroidology including thyroid cancer.