li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Howard Weiner, M.D.

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-howard-weiner-md-medical-advisors.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Howard Weiner, M.D.

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-howard-weiner-md-medical-advisors.jpg")
          .researcher__name Howard Weiner, M.D.
        
        //- single research topic
        .modal__content__advisor

          .modal__content__background

            .modal__content__background-title Background

            ul.modal__content__background-list
              li Professor of Medicine, Center for Neurologic Diseases,<br/>Brigham and Women’s Hospital
              li Director, Multiple Sclerosis Program,<br />Partners MS Center in Boston, MA

          .modal__content__background-content At the Partners MS Center the study of MS has entered a new era with a ten-year study that will involve over 1,000 MS patients. Major questions regarding MS are unanswered, including how does treatment affect the long-term clinical course of the disease and are there major subcategories of the disease with different implications for treatment and outcome. Advances in the ability to clinically measure and monitor the disease (MRI, immunology, genetics) provide the opportunity to address these critical questions. The study’s goal is to establish a new definition of the course of MS that will serve as a benchmark for the future and will have a major impact on the care of MS patients and MS clinical research.