li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name James Louie, M.D.

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-james-louie-md-medical-consultants.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner James Louie, M.D.

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-james-louie-md-medical-consultants.jpg")
          .researcher__name James Louie, M.D.
        
        //- single research topic
        .modal__content__advisor

          .modal__content__background

            .modal__content__background-title Background

            ul.modal__content__background-list
              li Professor Emeritus, UCLA

          .modal__content__background-content Dr. Louie received his medical education at Washington University, St. Louis, trained in medicine at John Hopkins and in rheumatology at UCLA. He was formerly chief of rheumatology at Harbor-UCLA Medical Center. His expertise is in infectious, post-infectious, immune mediated and inflammatory rheumatic diseases. He is co-editor of the coming text, Targeted Treatment of the Rheumatic Diseases," Elsevier 2009.
          
          .modal__content__background-content 

            

            ul 
              li Clinical & Laboratory Immunology, American Board of Internal Medicine, 1990
              li Internal Medicine, American Board of Internal Medicine, 1972
              li Rheumatology, American Board of Internal Medicine, 1972

          .modal__content__background-content 

            .modal__content__background-content__section-title Fellowship

            ul
              li Rheumatology & Immunology, UCLA School of Medicine, 1969 – 1971

          .modal__content__background-content 

            .modal__content__background-content__section-title Residency

            ul
              li Internal Medicine (Chief Resident), UCLA School of Medicine, 1971 – 1972
              li Internal Medicine, Johns Hopkins Hospital, 1966 – 1967

          .modal__content__background-content 

            .modal__content__background-content__section-title Internship 

            ul
              li Internal Medicine, Johns Hopkins Hospital, 1965 – 1966

          .modal__content__background-content 

            .modal__content__background-content__section-title Medical Degree

            ul
              li MD, Washington University School of Medicine, 1965