li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Katja Van Herle, M.D., M.S.P.H.

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-katja-van-herle-md-medical-advisors.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Katja Van Herle, M.D., M.S.P.H.

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-katja-van-herle-md-medical-advisors.jpg")
          .researcher__name Katja Van Herle, M.D., M.S.P.H.
        
        //- single research topic
        .modal__content__advisor

          .modal__content__background-content Katja Van Herle serves as the President and CEO of the All Greater Good Foundation in San Diego, California. She maintains a clinical faculty appointment at the University of California, Los Angeles (UCLA) School of Medicine, with a clinical practice in Los Angeles.
          
          .modal__content__background-content Dr. Van Herle is a member of the American Thyroid Association, The American Medical Association, The American Diabetes Association, and has won an Award of Excellence and Humanitarianism in Internal Medicine from the Clinical Faculty Association of the UCLA Department of Medicine. In 2007 she was named as one of America’s Top Physicians in Endocrinology by the Consumer Research Council of America and is recognized as the 2008 Professional of the Year in the area of Internal Medicine in the Global Directory of Who’s Who. Dr. Van Herle’s current public health projects focus on helping educate and empower patients and community members with respect to their general healthcare as well as specifically focusing on the area of cardiovascular diseases, including obesity and diabetes.