li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Michael Clare-Salzler, M.D.

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-michael-clare-salzier-md-medical-advisors.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Michael Clare-Salzler, M.D.

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-michael-clare-salzier-md-medical-advisors.jpg")
          .researcher__name Michael Clare-Salzler, M.D.
        
        //- single research topic
        .modal__content__advisor

          .modal__content__background

            .modal__content__background-title Background

            ul.modal__content__background-list
              li Professor and Chairman; Director, Center for Immunology & Transplantation<br />University of Florida

          .modal__content__background-content Dr. Clare-Salzler received his Doctor of Medicine and medical training from the State University of New York in Buffalo. He began his research career at the University of California in Los Angeles, where he studied the immunopathogenesis of Type I diabetes (T1D) in NOD mice, which is the genetic mouse model for T1D. Since transferring to the University of Florida Department of Immunology, Pathology and Laboratory Medicine and Internal Medicine and Surgery in 1993, Dr. Clare-Salzler has been pursuing his research in T1D diagnosis and management, autoimmune thyroid disease, and other endocrine diseases. He participates in many clinical trials, including the PANDA infant screening program and the Diabetes Prevention Trial for T1D.
          
          .modal__content__background-content Dr. Clare-Salzler’s research focus is to establish the cellular, molecular, and genetic basis for the immunpathogenesis of Juvenile or Type I diabetes and other autoimmune endocrine diseases. He and his team have concentrated their efforts on the role of antigens such as glutamate decarboxylase (GAD) and the biology of antigen presenting cells as it relates to the generation of protective and pathogenic immune responses in an animal model of Type I diabetes, the non-obese diabetic mouse (NOD) as well as in humans with an established high risk for this disease.

          .modal__content__background-content Recent work has lead to the identification of a number of immunophenotypes in NOD mice and human subjects with a high risk for Type I diabetes. These immunophenotypes involve the regulation of prostaglandin metabolism in macrophages/monocytes and dysregulation of pathways involved in activation induced cell death in lymphocytes. Utilizing congenic mice we have identified chromosomal intervals that contribute to these phenotypes. They are currently evaluating candidate genes in these intervals and are also determining the role of TNF in the development of organ dysfunction, particularly liver injury, in a murine model of sepsis and inflammation. The team has defined that NOD mice are highly resistant to this form of liver injury in comparison to other standard strains of mice. They are currently dissecting the genetic contributions to this resistance using a congenic mouse approach.

          .modal__content__background-content Dr. Clare-Salzler‘s areas of clinical expertise lie in the diagnosis and management of Type I diabetes, autoimmune thyroid disease, management of thyroid nodules, fine needle aspiration of thyroid nodules and thyroid cancer. He is also well versed in other endocrine diseases including Cushing’s Disease, pituitary disease, pheochromocytoma, adrenal tumors and parathyroid diseases.

          .modal__content__background-content Dr. Clare-Salzler is also member of the NIH funded International Multi-Center diabetes prevention trial, the Diabetes Prevention Trial for Type I diabetes or DPT-1. He is also an investigator on other diabetes screening programs at the University of Florida including the infant screening program PANDA.