li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Michael Sofroniew, M.D., Ph.D.

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-michael-sofroniew-md-medical-advisors.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Michael Sofroniew, M.D., Ph.D.

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-michael-sofroniew-md-medical-advisors.jpg")
          .researcher__name Michael Sofroniew, M.D., Ph.D.
        
        //- single research topic
        .modal__content__advisor

          .modal__content__background

            .modal__content__background-title Background

            ul.modal__content__background-list
              li Professor, Department of Neurobiology and Brain Research Institute
              li David Geffen School of Medicine
              li University of California, Los Angeles

          .modal__content__background-content Dr. Sofroniew’s research is directed at understanding cellular and molecular mechanisms of injury, inflammation and repair in the central nervous system (CNS). Over the last 15 years, using transgenic mouse models, his laboratory has identified astrocytes as pivotal cells in regulating and restraining the spread of inflammatory cells in the brain and spinal cord during a variety of disease-related conditions, including autoimmune inflammation. Dr. Sofroniew is an experienced reviewer in the area of CNS inflammation, injury and disease, and has served for many years as a member and Chair of numerous grant review panels for the NIH and various national and international charitable organizations.