li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Michael Yeaman, Ph.D.

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-michael-yeaman-md-medical-advisors.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Michael Yeaman, Ph.D.

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-michael-yeaman-md-medical-advisors.jpg")
          .researcher__name Michael Yeaman, Ph.D.
        
        //- single research topic
        .modal__content__advisor

          .modal__content__background

            .modal__content__background-title Background

            ul.modal__content__background-list
              li Professor of Medicine, UCLA
              li Chief of Molecular Medicine, Harbor-UCLA Medical Center
              li Vice Chair, Medicine, Harbor-UCLA Medical Center

          .modal__content__background-content Dr. Yeaman completed NIH and AHA Fellowships in Infectious Diseases and Immunobiology at the UCLA School of Medicine, and has been a member of the Faculty of the David Geffen School of Medicine since 1992. His research focuses on integrated themes: 1) host-pathogen interactions; 2) immunobiology of innate immune effector molecules; 3) pattern recognition and response circuitries in infection and immunity; 4) innovative technologies to meet the challenge of antibiotic resistance; and 5) translational approaches for immunotherapeutic strategies to confront antibiotic-resistant infections and complex diseases. His laboratory team first identified kinocidins that simultaneously kill pathogens, and coordinate ensuing host cell-mediated immune responses. He discovered the structural and functional homology of Staphylococcus aureus and Candida albicans immunologic determinants that enabled development of the first vaccine that affords cross kingdom protection against these escalating human pathogens. Recently, his laboratory discovered the multidimensional g-core signature present in host defense effector proteins across all kingdoms of life:. Based on these and related discoveries, he has designed and patented an innovative portfolio of novel anti-infective molecules.
          
          .modal__content__background-content Dr. Yeaman is Professor of Medicine, and serves as Vice–Chair, Medical Sciences in the Department of Medicine at Harbor UCLA Medical Center. He co-directs the Fellowship Training Program in Infectious Diseases at Harbor-UCLA, teaches microbial pathogenesis & host defense in the David Geffen School of Medicine at UCLA and Harbor-UCLA Medical Center, and he lectures locally, nationally and internationally. He is a founder of NovaDigm Therapeutics, Inc., founder of ImmunoTx Inc., and has served as an appointed member of the NIH Host Interactions with Bacterial Pathogens study section.