li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Peter Agre, M.D.

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-peter-agre-md-medical-consultants.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Peter Agre, M.D.

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-funded-researchers-peter-agre-md-medical-consultants.jpg")
          .researcher__name Peter Agre, M.D.
        
        //- single research topic
        .modal__content__advisor

          .modal__content__background

            .modal__content__background-title Background

            ul.modal__content__background-list
              li Professor, Bloomberg School of Public Health, Johns Hopkins University
              li Director, Johns Hopkins Malaria Research Institute
              li Director of the Johns Hopkins Malaria Research Institute
              li Nobel Laureate 2003

          .modal__content__background-content Dr. Agre’s research in red-blood-cell biochemistry led to the first-known membrane defects in congenital hemolytic anemias (spherocytosis) and produced the first isolation of the Rh blood group antigens. In 1992, his laboratory became widely recognized for discovering aquaporins. For this work, he shared the 2003 Nobel Prize in Chemistry with Roderick MacKinnon of Rockefeller University. Dr. Agre was later awarded a JHMRI pilot grant to extend his studies of aquaporins to malaria, addressing the question of whether or not aquaporins could be exploited as a means of treating or preventing the disease. Initial encouraging results have led to an NIH grant and a focus on malaria as the primary area of study in Dr. Agre’s laboratory. His honors include election to the National Academy of Sciences in 2000, the Institute of Medicine in 2005, the American Academy of Arts and Sciences in 2003, and the American Philosophical Society in 2004. He has also received honorary doctorates from universities in Denmark, Japan, Norway, Greece, Mexico, Hungary, Poland and the United States. Dr. Agre maintains an affiliation with Duke University where, among other duties, he promoted the growth of a research program in malaria.