li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Terry J. Smith, M.D.

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-terry-j-smith-md-medical-advisors.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Terry J. Smith, M.D.

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-terry-j-smith-md-medical-advisors.jpg")
          .researcher__name Terry J. Smith, M.D.
        
        //- single research topic
        .modal__content__advisor

          .modal__content__background

            .modal__content__background-title Background

            ul.modal__content__background-list
              li Frederick G.L. Huetwell Professor of Ophthalmology and Visual Sciences
              li University of Michigan Kellogg Eye Center
              li Professor of Internal Medicine
              li Division of Metabolism, Endocrinology and Diabetes

          .modal__content__background-content Dr. Smith, the Frederick G.L. Huetwell Professor in Ophthalmology and Visual Sciences at the University of Michigan, is an internationally-known endocrinologist who has studied Graves’ disease, its eye manifestations, and related autoimmune disease for over 20 years. Dr. Smith’s laboratory was first to describe the unique molecular attributes of tissue surrounding the eye that make it susceptible to inflammation in Graves’ disease. He has identified a novel autoantibody that binds to and activates a specific receptor, resulting in an exaggerated autoimmune response. His investigation of these mechanisms has yielded several potential therapeutic targets that may interrupt the disease process. These will provide the focus for future clinical trials.
          
          .modal__content__background-content Dr. Smith received his medical degree from the University of Missouri School of Medicine and completed his residency at the University of Illinois in Chicago and Sinai Hospital in Baltimore. He has completed fellowships in biophysics at the University of California School of Medicine, San Francisco, in molecular biochemistry at Columbia University in New York, and clinical endocrinology at the Pritzker School of Medicine, University of Chicago.

          .modal__content__background-content Dr. Smith is the author of over 150 articles and book chapters, and has been awarded five patents for his research discoveries. He has been elected to the Orbit Society, is chief scientific officer for the National Graves’ Foundation, and serves as reviewer for numerous scientific journals. Dr. Smith has been funded continuously by the National Institutes of Health and the Veteran’s Administration since 1983.