li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Terrence F. Blaschke, M.D

  .block-grid__grid-image.grid__person.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-terry-blaschke-md-medical-advisors.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Terrence F. Blaschke, M.D

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-medical-advisors-terry-blaschke-md-medical-advisors.jpg")
          .researcher__name Terrence F. Blaschke, M.D
        
        //- single research topic
        .modal__content__advisor

          .modal__content__background

            .modal__content__background-title Background

            ul.modal__content__background-list
              li Professor of Medicine and of Molecular Pharmacology (Active Emeritus)
              li Stanford University School of Medicine


          .modal__content__background-content Dr. Blaschke is Professor of Medicine and Molecular Pharmacology (Active Emeritus) at Stanford University, Adjunct Professor of Biopharmaceutical Sciences at UCSF and Adjunct Professor of Medicine at Indiana University.
          
          .modal__content__background-content Dr. Blaschke is a past president of the American Society for Clinical Pharmacology and Therapeutics (ASCPT). He is the recipient of the Rawls-Palmer award, the Henry W Elliott award and the Oscar B. Hunter award from ASCPT. He has been a consultant and past Chair of the Generic Drugs Advisory Committee of the US FDA and of the Nonprescription Drugs Advisory Committee. He chaired the Drug Utilization Review Panel of USP and also served on the Board of Directors of Therapeutic Discovery Corporation of Palo Alto, Crescendo Pharmaceuticals. He is now a director of DURECT Corporation. He was a member of the AIDS Clinical Trials Group (ACTG) at its inception, and served as chair of the Pharmacology Committee and a member of the Executive Committee of ACTG. His research has been primarily in the area of clinical investigation, focusing on the clinical pharmacology of drugs used in patients with HIV infection and an emphasis on modeling exposure-response relationships and adherence. His involvement in clinical trials and with the pharmaceutical industry has lead to a strong interest in approaches to improve the efficiency of drug development process.