.gj-shop
  +grid-row

  &__container
    +grid-column(12)

  &__banner
    width: rem-calc(728)
    margin: 2rem auto 0

    @media #{$large-up}
      margin-top: 2rem

  &__iframe
    margin: 0.5rem auto 0
    text-align: center

    iframe
      margin: 0 auto