.gj-sitemap
  +grid-row
  margin-top: 6rem

  &__container
    +grid-column(12)

  svg
    display: inline-block
    width: 0.9rem
    height: 0.7rem
    fill: $theme-color-7
    transform: rotate(-30deg)

  &__title
    @extend .h2
    color: $theme-color-7
    font-weight: bold

  &__nav
    display: block
    vertical-align: top
    
    &--nested
      padding-left: 1rem
      margin-top: 1rem

    li
      a
        color: $theme-color-6
        // font-size: $p-two

        &:hover
          color: $theme-color-7

  &__nav-top 
    margin-bottom: 1rem !important

  &__nav-second
    padding-left: 1rem

  // &__nav-top-item > a
  //   font-weight: bold
  //   color: $theme-color-6 !important

  //   &:hover
  //     color: $theme-color-7 !important

  &__nav-top-link
    @extend .h4-alt
    color: $theme-color-7 !important
    font-weight: bold

    &:hover
      color: darken($theme-color-7, 8%) !important

  &__nav-second-link
    font-size: $p-one
    font-weight: bold
    color: $theme-color-7 !important

    &:hover
      color: darken($theme-color-7, 8%) !important

    ul
      font-size: $p-two
      font-weight: normal

  // &__nav--nested
  //   > li 
  //     > a
  //       font-weight: bold !important
  //       color: $theme-color-3 !important

  //       &:hover
  //         color: $theme-color-7 !important

      // ul li a
      //   font-weight: normal !important
      //   color: $theme-color-6 !important

      //   &:hover
      //     color: $theme-color-7 !important


  // column styles

  &__column
    @media #{$large-up}
      display: inline-block
      width: 32%
      float: left