.gj-public-discussion
  +grid-row
  padding-bottom: 2rem

  &__container
    +grid-column(12)

  // Header section

  &__header
    display: block
    // border-bottom: 1px solid $theme-color-9
    padding: 1rem 0
    // margin-bottom: 1rem

    @media #{$medium-up}
      padding: 2.9rem 0 2.45rem

  &__title
    @extend .h3
    color: $theme-color-7
    font-weight: bold
    display: inline-block

    @media #{$small-only}
      display: block
      margin-bottom: 1rem

  &__create-topic
    +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
    display: inline-block
    text-align: right
    background: $theme-color-1 !important
    color: $theme-color-7 !important
    font-size: $p-two
    padding: 0.65rem 1rem

    @media #{$medium-up}
      float: right
      margin-top: -0.9rem

    &:hover
      background-color: darken($theme-color-7, 5%) !important
      color: $theme-color-1 !important

      svg
        fill: $theme-color-1

    svg
      width: 1.5rem
      height: 1.5rem
      margin-right: 0.3rem
      fill: $theme-color-7
      transition: all 0.2s ease

    span
      position: relative
      top: -0.3rem

  //..........................


  // Suggestion form

  .form-wrap .form
    display: none
    padding-bottom: 1rem

  .suggestion-headline

    input
      margin-bottom: 1rem

  .suggestion-page-form-expanded

    textarea
      margin-bottom: 1rem
      height: 10rem

  //..........................


  // Tags

  &__tags
    position: relative
    margin-bottom: 1rem
    padding-bottom: 1.7rem
    border-bottom: 1px solid $theme-color-9

    @media #{$large-up}
      clear: both
      height: rem-calc(50)
      margin-bottom: 0
      padding-bottom: 4.7rem

  &__tag-toggle
    position: relative
    color: $theme-color-1
    line-height: 2.5rem
    z-index: 9
    +btn($theme-color-7, $theme-color-1, 0.3rem, 0.6rem, $theme-color-7, $theme-color-1, $font--regular, block, 1, $headline-font)
    font-size: $p-one
    padding: 0.5rem 0.6rem

    @media #{$large-up}
      display: none

    svg
      position: relative
      width: 1rem
      height: 0.7rem
      margin-left: 0.4rem


  .tag-list

    @media #{$small-only}
      position: absolute
      top: 2.3rem
      width: 100%
      height: auto
      max-height: 15rem
      // border: 1px solid rgba($theme-color-3, 0.5)
      border-top: 0
      padding: 0.5rem
      background-color: $theme-color-1
      overflow-y: scroll
      opacity: 0
      visibility: hidden
      transition: all 0.2s ease
      z-index: 99

    @media #{$medium-only}      
      position: absolute
      top: 2.3rem
      width: 100%
      height: auto
      max-height: 20rem
      // border: 1px solid rgba($theme-color-3, 0.5)
      border-top: 0
      padding: 0.5rem
      background-color: $theme-color-1
      overflow-y: scroll
      opacity: 0
      visibility: hidden
      transition: all 0.2s ease
      z-index: 99

    @media #{$large-up}
      height: rem-calc(50)
      // border: 1px solid $theme-color-7

    &.active

      opacity: 1
      visibility: visible

    li
      line-height: 1.7

      @media #{$small-only}
        margin: 0.5rem 0

      @media #{$medium-only}
        margin: 0.6rem 0

      @media #{$large-up}
        display: inline-block
        width: calc(100% / 6)
        margin: 0
        padding: 0
        text-align: center
        line-height: 3
        float: left

        &:last-child
          border-right: 0

          a
            border-right: 2px solid $theme-color-7

        a
          border-top: 2px solid $theme-color-7
          border-bottom: 2px solid $theme-color-7
          border-left: 2px solid $theme-color-7

      &:nth-child(1), &:nth-child(2)
        display: none

      &:nth-child(3)
        @media #{$large-up}
          display: none

      &.current

        a
          background-color: $theme-color-7 !important
          color: $theme-color-1 !important

      a 
        color: $theme-color-7
        line-height: 1.2

        @media #{$large-up}
          display: block
          margin: 0
          padding: 0
          font-size: $p-two
          font-weight: bold
          color: $theme-color-7
          line-height: 3

          &.active, &:hover
            background-color: $theme-color-7
            color: $theme-color-1

  //..........................


  // Topic excerpt styles
  .page-excerpt
    padding: 1.5rem 0

    @media #{$medium-up}
      padding: 5rem 0

  &__topic-meta, &__topic-excerpt

    @media #{$medium-up}
      display: inline-block
      width: 49%
      vertical-align: top
  
  &__topic-meta

    h3
      margin-bottom: 1rem

      @media #{$medium-up}
        margin-bottom: 1.2rem

      a
        @extend .h3
        color: $theme-color-7
        font-weight: bold        

    .byline
      font-size: $p-one
      font-family: $headline-font
      color: $theme-color-3

      a
        color: $theme-color-7

  &__topic-excerpt

    a.button
      +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
      display: inline-block
      margin-top: 0.7rem
      padding: 0.8rem 3.5rem
      background: $theme-color-1 !important
      color: $theme-color-7 !important

    a
      color: $theme-color-7

  &__share-button
    position: relative
    max-width: rem-calc(420)

    @media #{$small-only}
      display: block

    @media #{$medium-up}
      display: inline-block
      top: 0
    > a // Share button
      +btn($theme-color-7, $theme-color-1, 0.75rem, 1.5rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
      display: inline-block
      height: rem-calc(48)
      margin-bottom: 0.3rem
      background-color: $theme-color-1 !important
      border: 2px solid $theme-color-7
      color: $theme-color-7 !important
      font-size: rem-calc(20)

      &:hover
        background-color: $theme-color-7 !important
        color: $theme-color-1 !important

    > div

      @media #{$medium-up}
        position: absolute
        top: 1.9rem
        right: 0
        width: rem-calc(420)
        z-index: 99

      .share-container // share content container
        margin-top: 1.1rem
        padding: 1.4875rem 1.8875rem 1rem
        background-color: $theme-color-7
        color: $theme-color-1

        @media #{$medium-up}
          margin-top: 2.4rem

      .button
        margin-bottom: 0.6rem
        padding: 0.5rem 1.1rem
        background-color: $theme-color-1
        color: $theme-color-7
        border-radius: 2px
        font-weight: bold

      .share-close
        float: right
        position: relative
        margin: -1.6rem -2.2rem 0 0
        border: 0
        background-color: transparent !important
        font-size: 1.8rem
        color: $theme-color-1 !important
        font-weight: normal !important

        &:hover
          border: 0

      .share-url
        margin: 0.4rem 0 0.5rem
        height: 2.3rem
        border-radius: 2px
        border: 0
        background-color: $theme-color-1 !important
        color: $theme-color-3

  //.......................


  // pagination

  &__pagination
    text-align: center
    +grid-row

    .pagination
      +grid-column(12)

    ul
      position: relative
      margin-bottom: 1.4rem !important
      padding: 3rem 0

      @media #{$large-up}
        padding: 0.3rem 0

      li
        display: inline-block
        font-size: $p-one
        font-weight: bold

        @media #{$small-only}
          margin-top: 0.5rem
          margin-bottom: 0.5rem

        &:first-child, &:last-child
          position: absolute

          @media #{$small-only}
            left: 50%
            transform: translateX(-50%)

          @media #{$medium-only}
            left: 50%
            transform: translateX(-50%)

          a
            color: $theme-color-7

        &:first-child
          @media #{$small-only}
            top: 0

          @media #{$medium-only}
            top: 0

          @media #{$large-up}
            left: 0

        &:last-child
          @media #{$small-only}
            bottom: 0

          @media #{$medium-only}
            bottom: 0

          @media #{$large-up}
            right: 0

        &.active

          a
            background-color: $theme-color-7
            color: $theme-color-1 !important

      li:not(:first-child):not(:last-child)

          a 
            padding: 0.6rem 1rem
            color: $theme-color-7

            &:hover
              background-color: $theme-color-7
              color: $theme-color-1

  //......................