li.block-grid__researcher

  .occ__reveal__style.block-grid__researcher__name 
    a(href="" target="_blank") Nameee

  .block-grid__grid-image.grid__institution.hide-for-mobile

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/.jpg")

    a(href="" target="_blank").block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Visit Website