li.block-grid__researcher

  .occ__reveal__style.block-grid__researcher__name 
    a(href="http://www.fundaciongaem.org/en" target="_blank") Fundació GAEM MS Research

  .block-grid__grid-image.grid__institution.hide-for-mobile

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-nmo-related-websites-advocacy-organizations-fundacio-gaem-ms-research.jpg")
    
    a(href="http://www.fundaciongaem.org/en" target="_blank").grid__institution__link
      
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Visit Website