li.block-grid__researcher

  .occ__reveal__style.block-grid__researcher__name 
    a(href="http://nmo.vchri.ca/" target="_blank") The NMO Clinical and Research Program at UBC Hospital and Vancouver Coastal Health

  .block-grid__grid-image.grid__institution.hide-for-mobile

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-nmo-related-websites-advocacy-organizations-nmo-clinical-research-program-ubc.jpg")
    
    a(href="http://nmo.vchri.ca/" target="_blank").grid__institution__link
      
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Visit Website