li.block-grid__researcher

  .occ__reveal__style.block-grid__researcher__name 
    a(href="http://www.nomorenmo.com/home.html" target="_blank") No More NMO – Riley’s Story

  .block-grid__grid-image.grid__institution.hide-for-mobile

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-nmo-related-websites-advocacy-organizations-no-more-nmo-rileys-story.jpg")
    
    a(href="http://www.nomorenmo.com/home.html" target="_blank").grid__institution__link
      
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Visit Website