li.block-grid__researcher

  .occ__reveal__style.block-grid__researcher__name 
    a(href="http://rarediseases.info.nih.gov/" target="_blank") Office of Rare Diseases National Institutes of Health

  .block-grid__grid-image.grid__institution.hide-for-mobile

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-nmo-related-websites-advocacy-organizations-office-of-rare-diseases-national-institutes-of-health.jpg")
    
    a(href="http://rarediseases.info.nih.gov/" target="_blank").grid__institution__link
      
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Visit Website