// header height - mobile first
$hh1: rem-calc(40)
$hh2: rem-calc(110)
$hh3: rem-calc(70)

// footer height - mobile first
$fh1: rem-calc(216)
$fh2: rem-calc(305)
$fh3: rem-calc(210)

.thank-you
  display: flex
  flex-direction: column
  justify-content: center
  height: calc(100vh - #{$hh1} - #{$fh1})
  margin-top: $hh1
  padding: 0 1.25rem
  background-color: $theme-color-2
  box-shadow: inset 0 -4px 4px darken($theme-color-2, 2%)

  @media #{$medium-up}
    height: calc(100vh - #{$hh1} - #{$fh2})

  @media #{$large-up}
    height: calc(100vh - #{$hh2} - #{$fh3})
    margin-top: $hh2

  @media only screen and (min-width: 71.875rem)
    height: calc(100vh - #{$hh3} - #{$fh3})
    margin-top: $hh3

  text-align: center

  &__heading
    @extend .h1
    color: $theme-color-7
    font-weight: bold
    margin-bottom: 0.45rem

  &__message
    @extend .h5
    color: $theme-color-7
    font-weight: 600
    font-family: $font
    margin-bottom: 0.1rem

  &__detail
    font-size: $p-one
    color: $theme-color-4
    margin-bottom: 0.4rem

  &__home-link
    max-width: 20rem
    margin: 0 auto

    a 
      font-size: $p-three