.gj-annual-reports
  @media #{$medium-up}
    +grid-row

  &__row
    @media #{$medium-up}
      +grid-column(12)

  &__title

    h3
      font-weight: $font--semibold
      color: $theme-color-7
      margin-bottom: 0.3rem
      margin-top: rem-calc(20)
      @media #{$medium-up}
        margin-bottom: 2rem
        margin-top: rem-calc(60)

    @media #{$small-only}
      +grid-column(12)

  &__single
    display: inline-block
    @media #{$small-only}
      border-bottom: 2px solid $theme-color-2
      padding: 0.5rem 0
      display: block
    @media #{$medium-up}
      width: rem-calc(156)
      text-align: center
      margin: 0 1.8rem rem-calc(60)

    &__row
      @media #{$small-only}
        +grid-row

    &__column
      @media #{$small-only}
        +grid-column(12)

  &__img
    display: none
    @media #{$medium-up}
      display: block

  &__year, &__download
    display: inline-block

  &__year
    @extend .p-one-alternate
    color: $theme-color-6
    @media #{$small-only}
      margin-left: 0.9rem
    @media #{$medium-up}
      margin-bottom: 0.6rem

  &__download
    display: inline-block
    @extend .p-one-alternate
    @media #{$small-only}
      float: right

    a
      @media #{$medium-up}
        +btn($theme-color-7, $theme-color-1, 0.3rem, 0.6rem, $theme-color-7, $theme-color-1, $font--bold, block, 1.5, $font)
        width: 9.7rem