.gj-stories
  
  &__header
    display: block
    border-bottom: 1px solid $theme-color-9
    padding: 1rem 0
    // margin-bottom: 1rem

    @media #{$medium-up}
      padding: 2.9rem 0 2.45rem

  &__title
    @extend .h3
    color: $theme-color-7
    font-weight: bold
    display: inline-block

    @media #{$small-only}
      display: block
      margin-bottom: 1rem

  &__submit-story
    +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
    display: inline-block
    text-align: right
    background: $theme-color-1 !important
    color: $theme-color-7 !important
    font-size: $p-two
    padding: 0.65rem 1rem

    @media #{$medium-up}
      float: right
      margin-top: -0.6rem

    &:hover
      background-color: darken($theme-color-7, 5%) !important
      color: $theme-color-1 !important

      svg
        fill: $theme-color-1

    svg
      width: 1.5rem
      height: 1.5rem
      margin-right: 0.3rem
      fill: $theme-color-7
      transition: all 0.2s ease

    span
      position: relative
      top: -0.3rem
