li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name name

  .block-grid__grid-image.grid__institution.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner name

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/.jpg")
          .researcher__name Andre Van Herle, MD
        
        //- single research topic
        .modal__content__clinical-trials

          .modal__content__title

          hr.modal__content__section-break

          .modal__content__section-title

          .modal__content__copy