li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Alexion

  .block-grid__grid-image.grid__institution.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-clinical-trials-current-industry-council-alexion.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Alexion

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-clinical-trials-current-industry-council-alexion.jpg")
          .researcher__name Alexion Pharmaceuticals
        
        //- single research topic
        .modal__content__clinical-trials

          .modal__content__title About Alexion Pharmaceuticals

          .modal__content__copy Dr. Van Herle obtained his medical degree at the University of Leuven (Belgium), where he completed his residency in Medicine. He then joined the Endocrine fellowship program at UCLA and became a faculty member in 1969. He is a professor of Medicine and was acting Chief of the Endocrine Division and Director of the Endocrine training program for many years.

          hr.modal__content__section-break

          .modal__content__section-title Note
          
          .modal__content__copy 1. Since this is an “add on study” you are permitted to continue your present NMO medications and receive the study medication with your other medications.  

          .modal__content__copy 2. If you choose to participate in the study and meet all entry criteria, you will be randomized to one of two treatment groups. One group will receive eculizumab and the other group will be given placebo. In this study you have a 67% chance of receiving eculizumab and a 33% chance of receiving placebo. Placebo looks like the active drug.  

          .modal__content__copy 3. This is a “double blind study” which means that neither you nor the study doctor or his/her staff know whether you are receiving eculizumab or placebo. In fact, no one who is involved in the study will know what you received until the study is complete.

          .modal__content__copy 4. The medication is given intravenously, initially weekly for 5 weeks and then every 2 weeks. You will have to come to the doctor’s office or infusion center for the infusion.

          .modal__content__copy 5. You will remain in the study until it is over, in about 2 years or until you experience a relapse. If you have a relapse the study will end for you, however there is a second study in which you may be eligible to enroll where all patients will receive eculizumab. If you did not have a relapse and the study ends you may be eligible to enroll in this same second study and receive eculizumab.

          .modal__content__copy More information on both studies can be found at <a class="modal__content__link" href="http://www.clinicaltrials.gov" target="_blank">www.clinicaltrials.gov</a>. # NCT01892345 and NCT02003144.

          .modal__content__copy As with all medications there are potential side effects. Your doctor will discuss these with you and they will be detailed in the informed consent you will need to sign to be part of the study.

          hr.modal__content__section-break

          .modal__content__title About Eculizumab

          .modal__content__copy Eculizumab is not approved for treatment of NMO. Eculizumab is a monoclonal antibody that blocks one component of the complement pathway, part of the immune system. Activation of the complement pathway is believed in part responsible for relapses in NMO. A pilot study of eculizumab in 14 female NMO patients suggested that eculizumab can reduce the risk of relapse. This study is intended to confirm that finding.

          a.modal__content__button(href="" target="_blank") NMO Clinical Update Webinar