li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name Chugai

  .block-grid__grid-image.grid__institution.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-clinical-trials-current-industry-council-chugai.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner Chugai

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-clinical-trials-current-industry-council-chugai.jpg")
          .researcher__name Chugai Pharmaceuticals Co.
        
        //- single research topic
        .modal__content__clinical-trials

          .modal__content__title About Chugai Pharmaceuticals Co.

          .modal__content__copy Dr. Van Herle obtained his medical degree at the University of Leuven (Belgium), where he completed his residency in Medicine. He then joined the Endocrine fellowship program at UCLA and became a faculty member in 1969. He is a professor of Medicine and was acting Chief of the Endocrine Division and Director of the Endocrine training program for many years.

          hr.modal__content__section-break

          .modal__content__section-title Mechanism of Action

          .modal__content__copy SA237 is a humanized anti-human IL-6R neutralizing monoclonal antibody that was designed by application of recycling antibody technology to the approved anti-IL6 receptor antibody, tocilizumab, which is currently marketed as a treatment for rheumatoid arthritis (RA), systemic juvenile idiopathic arthritis, polyarticular juvenile idiopathic arthritis and Castleman's disease. The recycling antibody technology enabled SA237 to bind to IL-6 receptor multiple times and be slowly cleared from plasma, which is expected to contribute to improvement of patient's convenience by once monthly dosing frequency. The longer plasma half-life of SA237 compared with tocilizumab was confirmed based on the result of non-clinical study and Phase 1 study in healthy volunteers.

          hr.modal__content__section-break

          .modal__content__title Study Details

          .modal__content__copy This research is being conducted to evaluate the efficacy, safety, pharmacodynamic, pharmacokinetic and immunogenic profiles of a humanized anti-human IL-6R neutralizing monoclonal antibody (SA237) in patients with Neuromyelitis Optica (NMO) and Neuromyelitis Optica Spectrum Disorder (NMOSD).

          .modal__content__copy This research is being conducted in the US and Canada.

          .modal__content__copy Seventy (70) patients are going to participate in this research.

          hr.modal__content__section-break

          .modal__content__title Eligible participants

          .modal__content__section-title Inclusion Criteria:

          .modal__content__copy 1. NMO or NMOSD

          .modal__content__copy 2. Age 18 to 74 years, inclusive at the time of informed consent.

          .modal__content__section-title Exclusion Criteria:

          .modal__content__copy 1. Pregnancy or lactation.

          .modal__content__copy 2. Evidence of other demyelinating disease or PML.

          .modal__content__copy 3. Known active infection (excluding fungal infections of nail beds or caries dentium) within 4 weeks prior to baseline.

          .modal__content__title Contact information

          .modal__content__copy If you are interested in participating, please contact:

          .modal__content__copy Contact: Clinical trials information <a class="modal__content__link" href="mailto:clinical-trials@chugai-pharm.co.jp">clinical-trials@chugai-pharm.co.jp</a>

          .modal__content__copy Contact: SA237 Clinical trial <a class="modal__content__link" href="mailto:sa237@chugai-pharm.co.jp">sa237@chugai-pharm.co.jp</a>