.occ.block-grid

  .block-grid__inner-container

    .occ__reveal.block-grid__title Current Industry Counsil

    .occ__hidden

      .occ__back Back

      ul.block-grid__clinical-trials

        include ./alexion.jade
        include ./biogen.jade
        include ./chugai.jade
        include ./medimmune.jade
        include ./opexa.jade

      .gj-clinical-trials__message The The Guthy-Jackson Charitable Foundation invites all members of industry to join our industry council.

      hr.break-line