.occ.block-grid

  .block-grid__inner-container

    .occ__reveal.block-grid__title How Do Clinical Trials Work?

    .occ__hidden

      .occ__back Back
      
      .iframe

        .iframe__container
          
          iframe(src="https://www.youtube.com/embed/8mi5de3jF14" width="560" height="315" allowfullscreen frameborder="0" wmode="opaque")

      a.about__button(href="/clinical-trials-faq") Go to Clinical Trials FAQ

      br

      hr.break-line