.occ.block-grid.about

  .block-grid__inner-container

    .occ__reveal.block-grid__title Industry Council Contributions Support:

    .occ__hidden

      .occ__back Back

      .about__copy-container

        .about__section.third.alpha

          .about__title.small.small Clinical Trials Education Electronic Media
            .sub-title (e.g. podcasts, webinars)

          .about__copy A series of educational Webinars with a target audience of NMO stakeholders, including patients, caregivers, researchers, physicians, and other advocates. These resources offer information for stakeholders

        .about__section.third

          .about__title.small Annual Roundtable

          .about__copy The largest international three-day conference that convenes researchers, clinicians, industry representatives, advocates, KOLs and other stakeholders from 22+ countries around the world.

        .about__section.third.omega

          .about__title.small Regional and <span class="line-break">Annual Patient Days</span>

          .about__copy Regional NMO Advocacy days join patients, caregivers, families and friends who come together for the purpose of NMO education, information, and support. The GJCF Annual Patient Day is the largest international one day conference that convenes NMO advocates, clinicians, researchers, and industry from around the world.


        .about__section.third.alpha

          .about__title.small Stakeholder Meetings

          .about__copy Summits, conferences, symposia and other venues for idea and information sharing.

        .about__section.third

          .about__title.small Media Messaging

          .about__copy Outreach through social, digital, educational, and advocacy media to heighten awareness of NMO/SD and clinical trials.

      a.about__button(href="/podcasts") Go To Clinical Trials Podcasts