li.occ.block-grid__researcher

  .occ__reveal.block-grid__researcher__name MedImmune

  .block-grid__grid-image.grid__institution.hide-for-mobile.modal__trigger

    img(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-clinical-trials-current-industry-council-medimmune.jpg")
    .block-grid__grid__researcher-name.grid__name 
      .block-grid__grid__researcher-name__container.grid__name__inner MedImmune

  .occ__hidden

    .occ__back Back

    .occ__content.modal

      .block-grid__researcher__mobile-content.block-grid__researcher__modal.modal__content

        .modal__content__researcher__quick-info
          img.modal__content__researcher__profile(src="https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-clinical-trials-current-industry-council-medimmune.jpg")
          .researcher__name MedImmune
        
        //- single research topic
        .modal__content__clinical-trials

          .modal__content__title Mechanism of Action of MEDI-551

          .modal__content__copy MEDI-551 is a humanized monoclonal antibody that acts against the specific antigen CD19 attached to the surface of B lymphocytes cells. These CD 19 B cells, are responsible for the production of autoantibodies against the AQP4 channel protein in the nervous system, which are playing a major role in causing the nerve tissue injury seen in NMO. Human studies have shown that when MEDI-551 attaches to the surface of B cells in the blood it starts a process that eliminates these cells. Reducing the number of these B cells may reduce the ability of the immune system to produce the antibodies that attack the healthy nerve tissues and may delay or prevent an NMO/NMOSD attack.

          hr.modal__content__section-break

          .modal__content__section-title Study Details

          .modal__content__copy The main objective of this study is to determine if MEDI-551 can significantly delay the time it takes for a new NMO/NMOSD attack to occur.

          .modal__content__copy This is a multinational randomized, double-masked, placebo-controlled study with an open label period extension. “Double-masked” means that patient and the study staff (for example the doctor/nurse) giving the study drug does not know who will be receiving MEDI-551 or placebo. Placebo controlled means that some patients will receive MEDI-551 and some will receive placebo, an inactive substance designed to look like MEDI-551. “Open label” means a period in the study where there is no placebo arm and all patients receive MEDI-551.

          .modal__content__copy Eligible NMO patients will be randomized in a 3:1 ratio to received either IV MEDI-551 or placebo. This random selection is made by a computer and will give a 25% (1 in 4) chance of getting placebo and a 75% (3 in 4) chance of getting MEDI-551. After being enrolled in the study, patients will be followed for 28 weeks; this period is called the placebo-controlled treatment period. Patients will have the option to enroll into the open label extension, if a confirmed attack occurred during the 28 weeks. Subjects who complete the 28 weeks without experiencing an attack will also be given the option to enroll in the open-label extension. During the 28weeks of the study, investigators are allowed to treat NMO attacks with standard rescue medications. MEDI-551 or placebo will be administer intravenously (IV) on day 1 and day 15 and then every 6 months.

          hr.modal__content__section-break

          .modal__content__title Eligibility

          .modal__content__section-title (For the complete list of the inclusion/exclusion criteria please visit <a class="modal__content__link" href="https://clinicaltrials.gov/ct2/show/NCT02200770?term=NMO&rank=8" target="_blank">https://clinicaltrials.gov/ct2/show/NCT02200770?term=NMO&rank=8</a>)

          .modal__content__section-title Inclusion Criteria:

          .modal__content__copy Men and women 18 years or older with diagnosis of NMO/NMOSD

          .modal__content__copy Confirmation of NMO/NMOSD status:

          .modal__content__copy AQP4-IgG sero-positive and sero-negative NMO/NMOSD with at least one attack requiring rescue therapy in the last year or two attacks requiring rescue therapy in the last 2 years
          .modal__content__copy  EDSS <= 7.5

          hr.modal__content__section-break

          //- .modal__content__title Eligible participants

          .modal__content__section-title Exclusion Criteria:

          .modal__content__copy Lactating and pregnant females.

          .modal__content__copy Known history of a severe allergic reaction or anaphylaxis following any biologic therapy.

          .modal__content__copy  Known active severe bacterial, fungal or viral, or other infection or any major episode of infection requiring hospitalization.