.page-type-event
  .columns-1-flash
    position: static !important
    margin-top: 0

  .flash_container
    padding: 1rem

#flash
  +grid-row
  
  .flash-message
    margin-top: 1.25rem
    margin-bottom: 1rem
    display: inline-block

  .flash-close
    border-radius: 50%
    border: 1px solid $theme-color-7
    color: $theme-color-7
    font-weight: $font--bold
    margin-left: 0.3rem
    padding: 0 0.4rem
    vertical-align: middle

  .flash-share
    +grid-column(10, $center: true)
    padding-right: rem-calc(15)
    padding-left: rem-calc(15)
    @media #{$medium-up}
      padding-right: rem-calc(30)
      padding-left: rem-calc(30)

    h3
      color: $theme-color-7
      font-family: $headline-font
      padding-bottom: 1rem
      font-weight: $font--bold
      line-height: 1.1

    .show-event__share
      margin-top: 1rem

    input[type="submit"]
      width: 12rem

    .span6
      text-align: left