.page-type-event
  background-color: $theme-color-2

  #content
    padding-bottom: 5rem
    border-bottom: 1px solid $theme-color-3

  .onecolumn-container
    +header-height

  .content__row 
    +grid-row

  .content__column
    +grid-column(11.5, $center: true)
    background-color: $theme-color-1
    border-radius: .5rem
    padding-top: rem-calc(30)
    padding-bottom: rem-calc(30)
    margin-top: rem-calc(20)
    @media #{$medium-up}
      +grid-column(10, $center: true)
      padding-top: rem-calc(50)
      padding-bottom: rem-calc(50)
    // @media only screen and (min-width: rem-calc(1150))
    //   +grid-column(12)


    h3.alternate, .show-event__subhead.alternate
      color: $theme-color-7
      font-family: $headline-font
      padding-bottom: 1rem
      font-weight: $font--bold
      line-height: 1.1

      a
        color: $theme-color-7

    .show-event__subhead.alternate
      padding-bottom: .5rem

    p
      font-family: $font

  .event__where__wrap, .event__when__wrap, .event__who__wrap
    @media #{$medium-up}
      +grid-column(4, $collapse: true)

  .event__where__wrap
    margin-bottom: 1rem

.show-event
  padding-right: rem-calc(15)
  padding-left: rem-calc(15)
  @media #{$medium-up}
    padding-right: rem-calc(30)
    padding-left: rem-calc(30)

  &__description
    margin-bottom: rem-calc(25)
    p
      @extend .p-one-alt
      line-height: 1.45
      color: $theme-color-6

  &__info
    @extend .p-one-alt
    color: $theme-color-4
    font-weight: $font--bold

  &__info__copy, label
    font-size: $p-two
    color: $theme-color-4
    line-height: 1.3
    font-weight: $font--regular !important

    a
      color: $theme-color-4

  &__section
    +grid-column(12, $collapse: true)
    padding-bottom: 1.7rem
    margin-top: 1rem
    margin-bottom: 0.5rem
    border-bottom: 1px solid rgba($theme-color-3, .5)

  &__block
    +grid-column(12, $collapse: true)
    margin-top: 1rem
    margin-bottom: 0.5rem

  &__form
    .show-event__info__copy

    input
      float: none

    input[type="submit"]
      float: none

    label
      margin-bottom: 0.3rem
      margin-top: 0.3rem

  &__email
    @media #{$medium-up}
      margin-top: 0.8rem
      margin-bottom: 0.8rem




