#stream
  +grid-column(12, $collapse: true)
  margin-top: 1rem
  
  .textarea.autogrow
    min-height: 6rem
    margin-bottom: 1rem

  #reactions
    +grid-column(12, $collapse: true)
    margin-top: 1rem

    .activities
      margin-top: 1.5rem !important

    li.activity
      +grid-column(12, $collapse: true)
      margin-bottom: 1.2rem

    .stream-pic, div.activity, .activity-links
      @media #{$medium-up}
        display: inline-block
        vertical-align: middle

    div.activity
      @media #{$medium-up}
        margin-left: 0.5rem

  .page-follow
    margin-bottom: 0.5rem

  .review-rules
    +grid-column(12, $collapse: true)
    margin-top: 0.5rem
