.user-session-form-container
  .oauth-links
    margin-bottom: 1.5rem

    .twitter
      @media #{$medium-up}
        margin-left: 1rem

  .user-session
    &__sign-in
      +grid-column(12, $collapse: true)

  .sign-in-with-email
    +grid-column(12, $collapse: true)
    @media #{$medium-up}
      +grid-column(5.7, $collapse: true)
      margin-left: 0

    #user_session_email
      @media #{$small-only}
        margin-bottom: 0.8rem

  .form.sign-up
    +grid-column(12, $collapse: true)
    @media #{$medium-up}
      +grid-column(5.7, $collapse: true)
      float: right
      margin-left: 0

  .show-event__info__copy
    +grid-column(12, $collapse: true)
    margin-top: 0.5rem

    a
      color: $theme-color-7