.gj-terms
  margin-top: 2.2rem

  @media #{$medium-up}
    margin-top: 3.7rem

  &__title

    @media #{$medium-up}
      font-size: $p-one
      margin-bottom: 1rem
      font-weight: bold
      color: $theme-color-4 !important

      &.main-title
        @extend .h4
        margin-top: 0.6rem

  &__section-title
    font-size: $p-one
    font-weight: bold
    color: $theme-color-4

  &__copy-section
    font-size: $p-one
    color: $theme-color-6
    margin-bottom: 1rem

  &__address-block
    margin: 0 0 1rem 1rem

  &__address-title
    text-decoration: underline

  &__address-line

    &.name
      font-weight: bold
      color: $theme-color-4

  &__contact-info
    margin-left: 1rem

    .contact-label
      font-weight: bold
      color: $theme-color-4

    a
      color: $theme-color-7