.gj-donate
  +grid-row

  &__container
    +grid-column(12)

  &__logo
    width: rem-calc(154)
    margin: rem-calc(54) auto 1.325rem

  // semi-global
  &__intro-container, &__about-container
    max-width: rem-calc(880)
    margin: auto
    text-align: center;

    span
      @media #{$large-up}
        display: block

  &__intro-title, &__about-title
    @extend .h3
    color: $theme-color-7
    font-weight: 600
    margin-bottom: 0.6rem
    line-height: 1.2

  &__intro-copy, &__about-copy
    font-size: $p-one
    color: $theme-color-6
    line-height: 1.7

    @media #{$large-up}
      max-width: rem-calc(800)
      margin: auto
  

  // first seciond

  &__intro
    text-align: center
    padding-bottom: rem-calc(58)
    padding-bottom: rem-calc(51)
    border-bottom: 1px solid $theme-color-8


  // second seciond with boxes

  &__about
    padding-top: 3.3rem

  &__boxes
    margin: 2rem 0 2.5rem

    @media #{$large-up}
      margin-bottom: 3.6rem

  &__box
    @media (max-width: 40rem)
      display: block
      width: 100%
      margin-bottom: 1.25rem

    position: relative
    vertical-align: top
    display: inline-block
    margin-right: 1.25rem
    width: calc((100% - 2.8rem) * (1/3))
    height: rem-calc(280)
    text-align: center
    background:
      size: cover
      position: center
      repeat: no-repeat
    
    &:nth-child(1)
      background-image: url('https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-donate-100-percent.jpg')

    &:nth-child(2)
      background-image: url('https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-donate-40-million.jpg')

    &:nth-child(3)
      background-image: url('https://s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-donate-50-projects.jpg')

    &.omega
      margin-right: 0
      float: right

    &:hover
      .gj-donate__box-overlay
        @media #{$large-up}
          background-color: rgba($theme-color-7, 0.8)

      .gj-donate__box-copy
        opacity: 1
        visibility: visible
        max-height: 5rem

  &__box-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($theme-color-6, 0.5)
    transition: all 0.3s ease
    z-index: 1

    @media #{$large-up}
      background-color: transparent

  &__box__container
    position: relative
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    color: $theme-color-1
    padding: 0 1.25rem
    z-index: 2

  &__box-title
    @extend .h3
    line-height: 1.2

  &__box-copy
    font-size: $p-one
    line-height: 1.2
    transition: all 0.4s ease

    @media #{$large-up}
      opacity: 0
      visibility: hidden
      max-height: 0

  
  // Form

  &__title-online
    @extend .h3
    color: $theme-color-7
    font-weight: 600
    margin-bottom: 1rem
    line-height: 1.2
    text-align: center

  .form-half
    margin-bottom: 2rem
    // &.select-amount
    //   margin-bottom: 2rem

    @media (min-width: 768px)

      // width: 48% !important

      &.alpha
        width: 53% !important
        border-right: 2px solid $theme-color-8
        padding-right: 3.5rem

      &.omega
        width: 39% !important
        margin-left: 3.5rem

      &.select-amount
        margin-bottom: 2.6rem

  .donate__form-subtitle
    display: block
    clear: left
    @extend .h4
    color: $theme-color-7
    font-weight: bold
    margin-bottom: 0.7rem

    &.payment
      @media (min-width: 768px)
        margin-bottom: 1.2rem

  .donate-form

    .row-fluid
      margin-bottom: 0.6rem

      &.country-select select
        margin-bottom: 0

    label
      @extend .p-one-alt
      color: $theme-color-3
      font-weight: bold

      &.private-donation
        clear: left

    .span6.name
      margin-left: 0

      @media (min-width: 768px)
        display: inline-block

    .span12.address input 
      // margin-bottom: 0.6rem

    .radio-inline

      span
        @media (max-width: 440px)
          &:nth-child(6)
            display: block

        label
          @extend .p-one-alt
          margin: 0 0.3rem 0.5rem 0.5rem

    // select an amount
    .select-amount 

      ::-webkit-input-placeholder
         color: $theme-color-3

      :-moz-placeholder
         color: $theme-color-3

      ::-moz-placeholder
         color: $theme-color-3

      :-ms-input-placeholder
         color: $theme-color-3

      #donation_amount_other
        width: rem-calc(272)
        color: $theme-color-6
        float: none

    .amount-label
      margin-bottom: 0.7rem

    // credit card
    .credit-card-input

      input
        margin-bottom: 0.7rem

    .card-expire

      .card-expire-date
        display: inline-block
        width: 57%

        select
          width: 48%
          display: inline-block

          &:nth-child(2)
            float: right

      .card-security-code
        display: inline-block
        width: 40%
        vertical-align: top

    //   select
    //     width: 23%
    //     display: inline-block

    // .card-security-code
    //   width: 48%
    //   display: inline-block
    //   margin-left: 0.5rem

  .card-icons
    padding-top: 4rem


  // donation infor & disclaimer

  &__title-by-check, &__title-other-ways
    @extend .h3
    color: $theme-color-7
    font-weight: 600
    margin-bottom: 1rem
    line-height: 1.2
    text-align: center

  &__info
    margin-bottom: 1.2rem
    background-color: $theme-color-2
    font-size: $p-one
    color: $theme-color-6
    text-align: center
    padding: 1.8rem 1.25rem

    @media (max-width: 767px)
      margin-top: 5rem

    a 
      color: $theme-color-7

  &__3rd-party-payment-logos
    padding-top: 1rem
    display: block
    text-align: center

    img
      display: inline-block
      max-width: rem-calc(200)
      margin: 0 0.6rem 1rem

  &__disclaimer-main
    margin-bottom: 1.7rem
    line-height: 1.3
    text-align: center
    font-size: $p-two

  &__disclaimer
    margin-bottom: 1.7rem
    line-height: 1.3
    text-align: center
    font-size: $p-three

    

