/* Arrows */

.slick-prev,
.slick-next
  +size(2rem, 2rem)
  position: absolute
  display: block
  line-height: 0px
  cursor: pointer
  background: transparent
  color: transparent
  top: 50%
  margin-top: -1rem
  padding: 0
  border: none
  outline: none
  @media #{$large-up}
    +size(2rem, 3.2rem)
    margin-top: -2.1rem
    
  &:hover, &:focus
    outline: none
    background: transparent
    color: transparent
    &:before
      opacity: 1
      
  &.slick-disabled:before
      opacity: 1

.slick-prev:before, .slick-next:before
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.slick-prev
  left: -2.8rem
  @media #{$large-up}
    left: -12.7%

  // [dir="rtl"] &
  //   left: auto
  //   right: -2.8rem

.slick-next
  left: auto
  right: -2.8rem
  @media #{$large-up}
    right: -12.7%
  // [dir="rtl"] &
  //   right: -2.8rem
  //   right: auto