.simple-slider
	display: none
	@media #{$medium-up}
		+grid-column(11.5, $center: ture)
		display: block
		padding-bottom: 1rem
		padding-top: 0.7rem
	@media #{$large-up}
		+grid-column(10, $center: ture)
		padding-top: 0

	svg
		+size(100%, 100%)
		fill: $theme-color-3
		left: 0
		position: absolute
		top: 0
		transition: $transition

		&:hover
			transition: $transition
			fill: $theme-color-7