.vertical-slider
  +grid-row
  position: relative
  border: 1px solid rgba($theme-color-3, .5)
  @media #{$large-up}
    border-right: none

  .flex-video
    // padding-bottom: 15.5rem !important
    padding-bottom: 52% !important
    padding-top: 0 !important
    margin-bottom: 0 !important
    @media #{$large-up}
      padding-bottom: 25.7rem !important
    @media only screen and (min-width: rem-calc(1215))
      padding-bottom: 56.2% !important

  &__main
    @media #{$large-up}
      +grid-column(9, $collapse: true)

  &__nav
    display: none
    @media #{$large-up}
      +grid-column(3, $collapse: true)
      background-color: $theme-color-1
      display: block
      padding: 0
      position: absolute
      right: 0
      top: 0
      z-index: 999

    &__item
      display: table
      height: 100%

    &__text
      display: table-cell
      vertical-align: middle

    .slick-track
      border: 1px solid rgba($theme-color-3, .5)
      border-bottom: none
      width: 100% !important

      li
        border-bottom: 1px solid rgba($theme-color-3, .5)
        height: 5.11rem
        transition: $transition-slow
        width: 100% !important
        @media only screen and (min-width: rem-calc(1215))
          height: 6.1rem

        &:nth-child(5)
          border-bottom: none

        p
          color: $theme-color-4
          font-family: $headline-font
          font-size: $p-two
          font-weight: $font--bold
          padding: 0 1.4rem
          text-align: left


        &:hover
          background-color: $theme-color-7
          border-bottom: 1px solid rgba($theme-color-3, .5)
          cursor: pointer
          transition: $transition-slow

          p
            color: $theme-color-1

        &.slick-current
          background-color: $theme-color-7
          border-bottom: 1px solid rgba($theme-color-3, .5)

          p
            color: $theme-color-1