//structure
.header-container
  background-color: $theme-color-1
  position: fixed
  z-index: 9999
  +size(100%, auto)

.nav-wrapper
  +grid-row($behavior: nest-collapse)

  .nav
    +grid-column(12, $collapse: true)

    .nav-row
      +grid-row($behavior: nest-collapse)
      
      @media #{$large-up}
        +grid-row

      .nav--top-bar
        +grid-column(12)
        background-color: $theme-color-1
        
        @media #{$large-up}
          width: 15.35rem

        .nav__title-area
          +grid-row

          .logo-wrapper
            +grid-column(6, $collapse: true)
            
            @media #{$large-up}
              +grid-column(12, $collapse: true)

            svg
              height: 1.5rem
              margin: 0.5rem 0 0
              width: 6.3rem
              
              @media #{$large-up}
                margin: 1.975rem 0 0.075rem 0
                height: 3.1rem
                width: rem-calc(215)
              
              @media only screen and (min-width: rem-calc(1150))
                margin: 0.775rem 0 0.075rem 0

          .off-canvas-trigger-wrapper
            +grid-column(6, $collapse: true)
            text-align: right

      .nav--link-items
        +grid-column(12)
        
        @media #{$large-up}
          +grid-column(7.5, $collapse: true, $float: right)
        
        @media only screen and (min-width: rem-calc(1150))
          +grid-column(9.4, $collapse: true, $float: right)
          max-width: 56.425rem

//colors and styles
.nav
  height: 100%
  top: 0

  .nav--top-bar
    .off-canvas-trigger-wrapper
      .off-canvas-trigger
        display: inline-block
        z-index: 99

        p
          color: $theme-color-7
          font-size: $p-three
          font-weight: $font--bold
          padding-top: 0.5rem;
          text-align: right

  .nav--link-items
    +transition(all 0.21s ease)
    background-color: $theme-color-1
    height: 100vh
    opacity: 0
    position: absolute
    visibility: hidden
    z-index: 9
    top: 2.45rem

    &--open
      opacity: 1
      visibility: visible

      @media #{$small-only}
        overflow-y: scroll
        padding-bottom: 4rem

      @media #{$medium-only}
        overflow-y: scroll
        padding-bottom: 4rem

    
    @media #{$large-up}
      background-color: $theme-color-1
      +transition(all 0s)
      height: auto
      opacity: 1
      position: static
      visibility: visible

    li
      &:hover
        cursor: pointer
      &.parent
        display: block
        position: relative
        
        @media #{$large-up}
          display: inline-block
          line-height: 43px
          padding: 0 13px
        
        @media only screen and (min-width: rem-calc(1150))
          line-height: 70px

        .parent__inner-wrap
          display: inline

        a
          color: $theme-color-5
          font-family: $headline-font
          font-size: $p-three
          font-weight: $font--bold
          height: 100%
          padding: 0
          position: relative
          width: 100%

          &:before
            +before-pseudo-line--position(-4px)
            +before-pseudo-line--border-bottom(2px, $theme-color-7)
            +before-pseudo-line--background($theme-color-7)
            +before-pseudo-line(-4px, calc(100% + 0.6rem))
            
            @media #{$large-up}
              +before-pseudo-line--position(-5px)

          &:hover
            +transition(all 0.3s ease)
            color: $theme-color-7

            &:before
              +before-pseudo-line--position(3px)
              @extend .before-pseudo-line--hover
              
              @media #{$large-up}
                +before-pseudo-line--position(2px)

          &:last-child
            margin-right: 0

//subnav
.nav
  .nav--link-items
    li.parent
      .sub-wrap
        +subnav-closed
        
        @media #{$large-up}
          position: absolute
          right: 0
          top: 3.4rem
          z-index: 99999
        
        @media only screen and (min-width: rem-calc(1150))
          top: 4.4rem
      
        &.active
          
          @media #{$large-up}
            overflow: visible

        .sub
          text-align: right
          
          @media only screen and (max-width: rem-calc(1023))
            background-color: $theme-color-2
            display: inline-block
            min-width: 225px
            padding: 0.5rem 0
          
          @media #{$large-up}
            background-color: $theme-color-1
            text-align: left
            padding: 0.7rem 0 1.4rem 0

          li
            
            @media only screen and (max-width: rem-calc(1023))
              // padding: 0.5rem 0.5rem 0.5rem 1rem
              padding: 0 0.5rem 0 1rem
            
            @media #{$large-up}
              padding: 0 2.3rem 0 2.3rem

          a
            display: inline-block
            font-weight: $font--regular
            line-height: 2.45rem
            width: auto

            &:before
              +before-pseudo-line--position(-15px)
              +before-pseudo-line--border-bottom(1px, $theme-color-5)
              +before-pseudo-line--background($theme-color-5)
              +before-pseudo-line(0, 100%)

            &:hover
              color: $theme-color-5

              &:before
                +before-pseudo-line--position(-9px)
                @extend .before-pseudo-line--hover

//Sub nav within subnav        

@media only screen and (max-width: rem-calc(1023))     
  .sub-sub-wrap
    +subnav-closed

    &.expand
      +subnav-expand

    .sub
      background-color: $theme-color-10 !important

    li
      border-bottom: 1px solid $theme-color-11
      padding: 0 1rem !important

      &:last-child
        border-bottom: none

.sub-sub
  
  @media #{$large-up}
    position: relative

.sub-sub-wrap
  
  @media #{$large-up}
    display: none
    position: absolute
    top: -0.7rem
    right: 9.8rem
  
  @media only screen and (min-width: rem-calc(1150))
    right: auto
    left: 9.8rem

  &.show
    display: block


//specifics
.topnav
  text-align: right
  
  @media only screen and (min-width: rem-calc(1024)) and (max-width: rem-calc(1149))
    &.secondary
      padding-top: 12px
    &.main
      padding-bottom: 12px
  
  @media only screen and (min-width: rem-calc(1024)) and (max-width: rem-calc(1149))
    padding-right: 1.25rem
  
  @media only screen and (min-width: rem-calc(1150))
    display: inline-block
    float: right
    &.secondary
      padding: 0px 3px
      li.parent
        padding: 0 17px

  .nav-item--videos
    
    @media only screen and (min-width: rem-calc(1150))
      border-right: 2px solid $theme-color-2
    
    @media #{$large-up}
      padding: 0 0 0 13px !important
    
    @media only screen and (min-width: rem-calc(1150))
        padding: 0 18px 0 13px !important

  .nav-item--log-in
    
    @media only screen and (min-width: rem-calc(1150))
      padding: 0 13px 0 14px !important

  .nav-item--donate
    a
      color: $theme-color-7 !important

  .nav-item--search
    +transition(all 0.3s ease)

    &:before
      content: none !important

    
    @media only screen and (min-width: rem-calc(1024)) and (max-width: rem-calc(1149))
      padding: 0 0 0 13px !important

    svg
      +transition(all 0.3s ease)
      fill: $theme-color-5
      height: 1rem
      vertical-align: middle
      width: 1rem

      &:hover
        +transition(all 0.3s ease)
        fill: $theme-color-7
  
  @media #{$large-up}
    .nav-item--about
      .sub-wrap
        left: -1.5rem
        width: 17.3rem
        &.active
          height: 16.7rem !important

    .nav-item--get-involved
      .sub-wrap
        left: -1.5rem
        width: 9.8rem
        &.active
          height: 16.7rem !important

    .nav-item--resources
      .sub-wrap
        left: -3.6rem
        width: 14.1rem
        &.active
          height: 21.6rem !important
        
        @media only screen and (min-width: rem-calc(1150))
          left: -1.5rem

    .nav-item--log-in
      .sub-wrap
        left: -1.5rem
        width: 11.7rem

        
        @media only screen and (max-width: rem-calc(1150))
          top: 2.8rem !important

        &.active
          height: 9.4rem !important

    .nav-item--join
      &.show
        width: 14.3rem !important

    .nav-item--share
      &.show
        width: 11.8rem !important

//off-canvas

@media only screen and (max-width: rem-calc(1023))
  #menu
    margin-top: 0.7rem

    .topnav
      li
        line-height: 2.4rem

      .sub-wrap
        &.expand
          +subnav-expand

