.nav__sub-nav
  width: 100%
  height: 3.98rem
  background-color: $theme-color-7
  text-align: center
  display: block
  // margin-bottom: 3.8rem

  @media #{$small-only}
    display: none

  &.videos-sub-nav
    @media #{$medium-only}
      display: none

  .nav
    display: inline-block
    margin: 0 auto
    text-align: center


    ul
      display: inline-block
      margin: 0
      width: 100%
      text-align: center

      li
        position: relative
        display: inline-block
        float: left
        height: rem-calc(64)
        margin: 0
        padding: 0
        border-left: 1px solid light($theme-color-7, 27%)
        text-align: center
        // line-height: 4.06

        &:hover, &.active
          box-shadow: 0 2px 2px -1px rgba($theme-color-4, 0.2)
          border-left: 1px solid $theme-color-1

          a
            background-color: $theme-color-1
            color: $theme-color-7

        &.has-children

          &:hover
            border-right: 1px solid $theme-color-7
            // border-left: 1px solid $theme-color-7

            > a
              border-right: 1px solid $theme-color-9
              // border-left: 1px solid $theme-color-9

              &:after
                position: absolute
                content: ''
                width: 100%
                height: 1px
                bottom: -1px
                right: 0
                background-color: $theme-color-1
                z-index: 9999

        a
          position: relative
          @extend .font--bold
          border-right: 1px solid transparent // here for border color change on hover for sub-sub-nav above
          display: flex
          flex-direction: column
          justify-content: center
          color: $theme-color-1
          font-family: $headline-font
          font-size: $p-two
          transition: all $transition ease
          width: rem-calc(192)
          height: rem-calc(64)

          @media #{$medium-only}
            width: rem-calc(145)
            font-size: $p-three

          .sub-nav__label
            line-height: 1.2rem

        &:last-child
          border-right: 1px solid light($theme-color-7, 27%)

        &:hover > .nav__sub-nav__sub-nav
          
          @media #{$large-up}
            opacity: 1
            visibility: visible

        .nav__sub-nav__sub-nav
          position: absolute
          top: 4rem
          right: 0
          width: rem-calc(966)
          height: auto
          padding: 2rem 0 0.7rem
          border: 1px solid $theme-color-9
          background-color: $theme-color-1
          transition: all 0.2s ease
          opacity: 0
          visibility: hidden
          z-index: 999999

          li
            display: inline-block
            border: 0
            width: 25%
            box-shadow: none !important

            a
              display: block
              color: $theme-color-7
              width: 100%
              // font-weight: normal

              &:hover
                color: darken($theme-color-7, 8%)