.desktop-visible
  display: none

@media #{$large-up}
  .sharetable
    display: block
    width: 487px

    .facebook-cell
      float: left
      text-align: left
      padding: 0 20px 0 0
      vertical-align: top
      width: 320px

    .twitter-cell
      float: left
      text-align: left
      padding: 0 20px 0 0
      vertical-align: top
      width: 75px

    .gplus-cell
      float: left
      text-align: left
      vertical-align: top
      width: 52px

  .mobile-visible
    display: none

  .desktop-visible
    display: block

  .flash-share
    .float
      float: right


  // icon which activates off canvas nav
  .menu-link
    display: none

  // top nav with drop downs
  nav, .subnav
    // background-color: transparent
    // float: right
    // height: auto
    // position: static
    // width: auto

    .topnav
      // margin: 0
      // padding: 0
      // clear: both

    li
      // margin: 0 10px 10px 0
      // position: relative
      // line-height: 55px

      a

      &:hover, &.active
        border-color: transparent
        color: $theme-color-7

        a
          color: $theme-color-5


    /* controls bg color of top when hovering on sub */
    .sub
      // padding: 8px 0 5px 0
      // width: 200px

    .sub li
      // width: 100%
      // border: none
      // color: $theme-color-2
      // font-size: 13px
      // line-height: 18px
      // display: block
      // background-color: $theme-color-3
      // border-color:transparent

      &.mobile-visible
        display: none


    .sub a
      background: none
      padding: 5px 20px 5px 22px

      &:hover
        background-color: $theme-color-1
        text-decoration: none

  // navigation shown if a page has more than one subpage
  .subnav
    margin: 0 0 15px 0
    padding: 0
    float: left
    clear: both
    font-size: 13px
    max-width: 100%

  .desktop-nav
    li:hover .sub
      display: block
