.account-edit
  +grid-row
  margin-top: 3rem
  margin-bottom: 2rem

  @media #{$large-up}
    margin-top: 7rem

  &__container
    +grid-column(12)

    #headline h2
      line-height: 1.2
      margin-bottom: 0.6rem

  input[type="text"], textarea
    margin-bottom: 1rem