// Hero section

.profile__hero

  &__center
    @media #{$medium-up}
      text-align: left

.hero
  
  &.profile__hero
    height: rem-calc(200)

    @media #{$medium-up}
      height: rem-calc(239)

  &__profile-content
    +grid-row

  &__profile-content-container
    +grid-column(12)

    @media #{$medium-up}
      +grid-column(10, $center: true)

    @media #{$large-up}
      +grid-column(8, $center: true)

  &__profile-image, &__user-info
    @media #{$medium-up}
      display: inline-block !important

  &__profile-image

    @media #{$small-only}
      display: block
      text-align: center

    @media #{$medium-up}
      vertical-align: top

  &__profile-name
    @extend .h3
    color: $theme-color-1
    font-weight: bold
    margin-top: 0.5rem

    @media #{$medium-up}
      margin-top: 0
      margin-left: 1rem
      // padding-top: 0.5rem
      // position: relative
      // top: 0.5rem

  &__profile-follow
    margin-top: 0.7rem
    padding-left: 1rem
    text-align: left
    color: $theme-color-1

    .button
      padding: 0

      a
        display: block
        padding: 0.4rem 1.3rem 0.5rem 1.3rem
        background-color: $theme-color-1
        color: $theme-color-7
        font-weight: bold
        font-size: $p-two

        &:hover
          background-color: darken($theme-color-1, 5%)

    .delete
      display: inline-block
      position: relative
      top: 0.2rem
      left: 0.4rem
      width: 1rem
      height: 1rem
      content: ''
      background:
        image: url('https://s3-us-west-1.amazonaws.com/guthyjackson/images/cancel-icon.png')
        size: contain
        repeat: no-repeat



// ...................


// profile section

.user-profile
  padding-top: 3rem
  padding-bottom: 2rem
  background-color: $theme-color-2
  border-bottom: 1px solid $theme-color-3

  &__row
    +grid-row

  &__container
    +grid-column(12)

    @media #{$medium-up}
      +grid-column(10, $center: true)

    @media #{$large-up}
      +grid-column(8, $center: true)

  .headline
    @extend .h1
    font-weight: bold

  &__block-section
    margin-bottom: 2rem
    padding: 2.2rem 2.9rem
    border-radius: 4px
    background-color: $theme-color-1
    font-size: $p-one
    color: $theme-color-6

    // all buttons
    a.button
      +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
      display: inline-block
      margin-top: 0.5rem

  &__title
    @extend .h4
    color: $theme-color-7
    font-weight: bold
    margin-bottom: 0.8rem


  // Activity feed
  &__activity-byline
    // margin-bottom: 1rem

  &__activity-excerpt
    display: flex
    align-items: center

    h4 a
      font-size: $p-one
      color: $theme-color-7
      transition: all 0.2s ease
      font-weight: bold

      &:hover
        color: darken($theme-color-7, 5%)

  &__activity-author-image
    display: inline-block
    width: rem-calc(72)
    vertical-align: top

  &__activity-byline
    display: inline-block
    width: calc(100% - #{rem-calc(92)})
    margin-left: rem-calc(10)

    .linked-signup-name
      color: $theme-color-7

    .activity-time abbr
      color: #4067DD
      color: $theme-color-3

  &__activity-pagination
    text-align: center

    ul

      li
        display: inline-block

        &.active

          a
            background-color: $theme-color-7
            color: $theme-color-1

        a
          padding: 0.6rem 1rem
          color: $theme-color-7

  // Fundraising
  &__fundraising

    .progress
      height: 2rem
      border: 0
      padding: 0
      border-radius: 3px

    .bar-success
      background-color: $theme-color-7
      width: 20%

    .bar-text
      width: 10rem
      line-height: 2rem
      padding-left: 1rem
      color: $theme-color-6

    .bar-goal
      margin-top: 2rem
      text-align: center


  // Donate
  &__doante

  &__donate-button
    background-color: $theme-color-1 !important
    color: $theme-color-7 !important
    display: block !important
    width: 100%
    max-width: 20rem
    margin: 1rem auto 0 !important

    &:hover
      background-color: $theme-color-7 !important
      color: $theme-color-1 !important

//........................