.gj-contact
  +grid-row
    
  &__container
    +grid-column(12)

  &__forms
    margin: 2rem 0

    @media #{$medium-up}
      margin: 2rem 0 0

  &__form

    @media #{$medium-up}
      width: 48%
      display: inline-block

      &:nth-child(2)
        float: right

  &__form-toggle
    text-align: center
    margin-bottom: 1rem
    padding: 1.4rem 1rem 1.8rem
    border: 1px solid rgba($theme-color-3, 0.5)
    background-color: $theme-color-7
    color: $theme-color-1
    transition: all 0.2s ease

    @media #{$medium-up}
      height: 17.5rem
      display: flex
      flex-direction: column
      justify-content: center

    @media #{$large-up}
      height: 14rem

    &.active
      background-color: $theme-color-1
      color: $theme-color-4

      &:hover
        background-color: $theme-color-1
        color: $theme-color-4

      .gj-contact__form-title
        color: $theme-color-4

    &:hover
      cursor: pointer
      background-color: darken($theme-color-7, 4%)

  &__form-title
    @extend .h4
    font-weight: bold
    color: $theme-color-1

  &__form-description
    font-size: $p-one

  &__form-container
    max-height: 0
    overflow: hidden
    transition: all 0.4s ease
    
    &.active
      @media #{$small-only}
        margin-bottom: 2rem

    @media #{$medium-up}
      margin-bottom: 2rem

  &__general-form

    &.active
      max-height: rem-calc(627)
      opacity: 1
      visibility: visible

      @media #{$small-only}
        padding-bottom: 1.5rem
        border-bottom: 1px solid rgba($theme-color-3, 0.4)

  &__events-form
    // height: rem-calc(777)

    &.active
      max-height: rem-calc(787)
      opacity: 1
      visibility: visible

