.nmo-get-involved
  background-color: $theme-color-2
  padding-bottom: rem-calc(25)

  &__block-grid
    li
      display: table
      margin-bottom: rem-calc(15)
      position: relative
      +size(100%, rem-calc(205))
      @media #{$medium-only}
        +grid-column(5.9, $collapse: true)
        &:nth-child(even)
          +grid-column($offset: .2)
      @media #{$large-up}
        +size(100%, rem-calc(370))

      &.hovered
        @media #{$medium-up}
          .nmo-get-involved__position
            background-color: rgba($theme-color-7, 0.85)
            transition: all $transition ease
          @media #{$large-up}
              p
                transition: all $transition ease
                height: auto

      &:hover 
        cursor: pointer

    &.top
      li
        &:nth-child(1)
          +background-img('guthy-jackson-foundation-home-thumbnail-nmotion-get-involved-learn-about-clinical-trials-mobile.jpg', center, center, cover)
          @media #{$large-up}
            +grid-column(7.9, $collapse: true)
            +background-img('guthy-jackson-foundationnmotion-home-get-involved-thumbnail-learn-about-clinical-trials.jpg', center, center, cover)

        &:nth-child(2)
          +background-img('guthy-jackson-foundation-home-thumbnail-nmotion-get-involved-advocate-mobile.jpg', center, center, cover)
          @media #{$large-up}
            +grid-column(3.9, $collapse: true, $last-column: true, $offset: .2)
            +background-img('guthy-jackson-foundationnmotion-home-get-involved-thumbnail-advocate.jpg', center, center, cover)

    &.bottom
      li
        &:nth-child(1)
          +background-img('guthy-jackson-foundation-home-thumbnail-nmotion-get-involved-give-blood-mobile.jpg', center, center, cover)
          @media #{$large-up}
            +grid-column(3.86666, $collapse: true)
            +background-img('guthy-jackson-foundationnmotion-home-get-involved-thumbnail-give-blood.jpg', center, center, cover)

        &:nth-child(2)
          +background-img('guthy-jackson-foundation-home-thumbnail-nmotion-get-involved-donate-mobile.jpg', center, center, cover)
          @media #{$large-up}
            +grid-column(3.86666, $collapse: true, $offset: .2)
            +background-img('guthy-jackson-foundationnmotion-home-get-involved-thumbnail-donate.jpg', center, center, cover)

        &:nth-child(3)
          +background-img('guthy-jackson-foundation-home-thumbnail-nmotion-get-involved-share-mobile.jpg', center, center, cover)
          @media #{$medium-only}
            +grid-column(12)
          @media #{$large-up}
            +grid-column(3.86666, $collapse: true, $offset: .2)
            +background-img('guthy-jackson-foundationnmotion-home-get-involved-thumbnail-share.jpg', center, center, cover)

  &__link
    display: block
    position: absolute
    +size(100%, 100%)
    z-index: 1

  &__position
    display: table-cell
    text-align: center
    vertical-align: middle
    @media #{$large-up}
      +size(100%, 100%)
      background-color: transparent
      min-height: 100%
      position: relative
      transition: all $transition ease

  h3
    transition: all $transition ease
    color: $theme-color-1
    font-weight: $font--bold
    line-height: 1
    padding: 0 2rem
    position: relative

  &__description
    color: $theme-color-1
    font-size: $p-one
    font-weight: $font-semibold
    padding: 0 2rem
    transition: all $transition ease
    height: 0
    overflow: hidden
