.home
	&__row
		+grid-row

	&__column
		+grid-column(12)
		text-align: center

	h2
		color: $theme-color-7
		font-weight: $font--bold
		line-height: 1.1
		padding-top: 2.15rem
		padding-bottom: 0.4rem
		@media #{$large-up}
			padding-top: 4.3rem

	&__subtext
		color: $theme-color-6
		font-family: $font
		font-size: $p-one
		line-height: 1.2
		padding-bottom: 1.5rem
		line-height: 1.25
		@media #{$large-up}
			line-height: 1.5
			margin: 0 auto
			max-width: 50rem
			padding-bottom: 2.4rem
			padding-top: 0.4rem