.hero-video
	position: relative
	+background-img('guthy-jackson-foundation-home-background--mobile.jpg', center, center, cover)
	@media #{$medium-up}
		background-image: none

	&__position
		@media #{$medium-up}
			backface-visibility: hidden
			overflow: hidden
			position: fixed
			top: 0
			z-index: -1
			+size(100%, 85vh)

	&__center
		@media #{$medium-up}
			position: absolute
			top: 50%
			left: 50%
	    overflow: hidden
			transform: translate(-50%, -50%)
			+size(100%, 100%)

	&__video
		display: none
		@media #{$medium-up}
			display: block
			min-height: 100%
			min-width: 100%

	&__wrapper
		+size(100%, 100vh)
		top: 0
		bottom: 0
		@media #{$medium-up}
			+size(100%, 85vh)
			// position: absolute

	&__content
		+size(100%, 100%)
		display: table

		h1
			color: $theme-color-1
			text-align: center
			text-transform: uppercase
			line-height: 1
			@media #{$large-up}
				+hidden(1rem)

	&__text
		display: table-cell
		vertical-align: middle
		
	// &__position
	// 	+size(100%, 100%)
	// 	display: table
	// 	@media #{$small-only}
	// 		+background-img('guthy-jackson-foundation-home-background--mobile.jpg', center, center, cover)

	&__scroll-down
		bottom: 1rem
		left: 0
		position: absolute
		right: 0
		text-align: center

		a
			transition: $transition

			&:hover
				p, .hero-video__scroll-down-img
					opacity: .5
					transition: $transition

		p
			color: $theme-color-1
			font-family: $font
			font-size: $p-three
			font-weight: $font--semibold
			text-transform: capitalize
			transition: $transition

	&__scroll-down-img
		+size(1.1rem, 1rem)

.home .main-container
	background-color: $theme-color-1




