.nmo-story, .research
	.btn
		+btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
		margin: 1.2rem auto 2.2rem
		@media #{$large-up}
			max-width: rem-calc(275)
			margin: 3.7rem auto 4.9rem

.nmo-story
  +background-img('guthy-jackson-foundation-home-NMO-story-background.svg', -420px, 0px, cover)
  position: relative
  
  &__scroll-to
    +scroll-to-offset

.research
	img
		// padding-top: 0.7rem
		// padding-bottom: 1rem

  .btn
    margin: 0.9rem auto 4.9rem
    max-width: 23.1875rem