.gj-videos-home
  +grid-row

  &__container
    +grid-column(12)


  &__title
    @extend .h4
    color: $theme-color-7
    font-weight: bold
    margin: 1rem 0 0.5rem

    @media #{$large-up}
      margin: 2.6rem 0 1rem

  &__container-inner
    position: relative

    @media #{$large-up}
      height: 32.5875rem
      width: 100%


  // navigation

  &__nav
    @media #{$large-up}
      position: absolute
      top: 0
      right: 0

  &__nav-category, &__nav-list
    position: relative
    display: block
    margin-bottom: 0.5rem
    height: 2.5rem
    
    @media #{$small-only}
      max-height: 16rem

    @media #{$medium-only}
      display: inline-block
      width: 48%
      max-height: 16rem

  &__nav-category
    @media #{$large-up}
      display: none !important

  &__nav-list
    @media #{$medium-only}
      float: right
      float: none

    @media #{$large-up}
      width: rem-calc(286)
      height: 32.5875rem
      overflow-y: scroll
      margin: 0

  &__nav-label
    position: relative
    color: $theme-color-1
    line-height: 2.5rem
    z-index: 9
    +btn($theme-color-7, $theme-color-1, 0.3rem, 0.6rem, $theme-color-7, $theme-color-1, $font--regular, block, 1, $headline-font)
    font-size: $p-one
    padding: 0.5rem 0.6rem

    @media #{$large-up}
      display: none

    svg
      position: relative
      width: 1rem
      height: 0.7rem
      margin-left: 0.4rem

  &__nav-ul
    position: absolute
    top: 2.3rem
    width: 100%
    background-color: $theme-color-1
    padding: 0.5rem
    overflow-y: scroll
    opacity: 0
    visibility: hidden
    transition: all 0.2s ease
    z-index: 99

    @media #{$small-only}
      height: auto
      max-height: 15rem
      border: 1px solid rgba($theme-color-3, 0.5)
      border-top: 0

    @media #{$medium-only}
      height: auto
      max-height: 20rem
      border: 1px solid rgba($theme-color-3, 0.5)
      border-top: 0

    @media #{$large-up}
      padding: 0
      width: rem-calc(286)
      height: 32.5875rem
      height: 100%
      top: 0
      right: 0
      opacity: 1
      visibility: visible
      border: 1px solid rgba($theme-color-3, 0.5)

    &.active

      opacity: 1
      visibility: visible

    li
      line-height: 1.7

      @media #{$small-only}
        margin: 0.5rem 0

      @media #{$medium-only}
        margin: 0.6rem 0

      @media #{$large-up}
        border-bottom: 1px solid rgba($theme-color-3, 0.5)

        &:last-child
          border: 0

      a 
        color: $theme-color-7
        line-height: 1.2

        @media #{$large-up}
          height: rem-calc(103)
          display: flex
          flex-direction: column
          justify-content: center
          padding: 0 0.8rem
          font-size: $p-two
          font-weight: bold
          color: $theme-color-4

          &.active, &:hover
            background-color: $theme-color-7
            color: $theme-color-1

          div
            line-height: 1.1

    ul
      padding-left: 1rem

      li
        margin: 0.5rem 0 0
        line-height: 1.1


  // video

  &__video-container
    position: relative

    @media #{$large-up}
      width: calc(100% - #{rem-calc(286)})
      height: 100%
      display: block
  
  &__video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: auto
    opacity: 0
    visibility: hidden
    transition: all 0.2s ease

    @media #{$large-up}
      height: 100%

    &.active
      opacity: 1
      visibility: visible
      position: relative


  // iframe

  .iframe
    width: 100%
    margin: 0
    border: 0

    @media #{$small-only}
      width: auto

    @media #{$large-up}
      height: 100%

    &__container
      @media #{$small-only}
        position: relative
        height: 0  
        margin: 0
        padding-bottom: 56.25%
        padding-top: 25px

      @media #{$medium-only}
        position: relative
        height: 0  
        margin: 0
        padding-bottom: 56.25%
        padding-top: 25px

      @media #{$large-up}
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        background: #000

    iframe
      width: 100%
      height: 100%

      @media #{$small-only}
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

      @media #{$medium-only}
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
