.gj-clinical-trials
  
  .modal__content__link
    color: $theme-color-7


  &__message
    margin: 0.7rem 1.25rem 1.8rem
    text-align: center
    font-size: $p-one
  
  .iframe
    width: 100%
    max-width: rem-calc(765)
    margin: 2rem auto 2.6rem
    border: 0

    @media #{$small-only}
      width: auto
      margin-left: 1.25rem
      margin-right: 1.25rem

    &__container
      position: relative
      height: 0  
      margin: 2rem auto
      padding-bottom: 56.25%
      padding-top: 25px

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  .about__button
    +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
    width: auto
    margin: auto

    @media #{$small-only}
      margin-left: 1.125rem
      width: calc(100% - 2.25rem)

    @media #{$medium-up}
      max-width: rem-calc(566)

    @media #{$large-up}
      margin-top: 1rem
      margin-bottom: 1.2rem