.page-with-sidebar
  &__content
    .about-us
      &__signoff
        @media #{$small-only}
          text-align: right
          width: 16.1rem
          margin-left: auto
        @media #{$medium-up}
          margin-bottom: 0.4rem
          margin-top: 1.2rem
          text-align: right

        p
          font-weight: $font--bold
          display: inline

          &:nth-child(1)
            @media #{$small-only}
              padding-right: 15%
            @media #{$medium-up}
              padding-right: 3.4rem

      &__team
        // padding-left: 0 !important

        ul
          padding: 0 !important
        
        li
          clear: both
          list-style: none
          margin-bottom: 1rem
          @media #{$large-up}
            margin-bottom: 3.1rem

          &:last-child
            margin-bottom: 0

          p.last
            @media only screen and (min-width: rem-calc(640))
              padding-bottom: 1.6rem

        img
          +size(100%, auto)
          @media only screen and (min-width: rem-calc(640))
            +size(37%, auto)
            float: left
            margin-right: 3%
            margin-bottom: 1rem
          @media #{$large-only}
            margin-bottom: 2rem
          @media only screen and (min-width: rem-calc(1215))
            +size(37%, rem-calc(275))

      &__team-name
        color: $theme-color-7 !important
        font-weight: $font--bold
        line-height: 0.8
        padding-bottom: 0.3rem

      &__team-title
        color: $theme-color-4 !important
        font-size: $p-two
        line-height: 1.3
        padding-bottom: 0.8rem

      &__team-member
        @media only screen and (min-width: rem-calc(1215))
          height: rem-calc(275)

      &__vp
        @media #{$small-only}
          padding-top: 1.2rem


      &__team-excerpt
        +size(100%, 100%)
        border-top: 1px solid $theme-color-9
        padding-bottom: 0.7rem
        padding-top: 1.2rem
        @media only screen and (min-width: rem-calc(640))
          +size(60%, 100%)
          float: left
          padding-bottom: 0
          padding-top: 1.5rem
        @media only screen and (min-width: rem-calc(1215))
          border-bottom: 1px solid $theme-color-9
          padding-top: 2.2rem

// modal styles