<!-- for an on click, add this to the wrapper -->
<div class="nav-wrapper" ng-controller='HeaderController as header'> 
  <div class="nav">
    <div class="nav-row">  
      <div class="nav--top-bar">
        <ul class="nav__title-area">
          <li class="logo-wrapper">
            <a href="/"><svg-include link="#guthy-jackson-logo"></svg-include></a>
          </li>
          <li class="off-canvas-trigger-wrapper hide-for-large-up">
            <!-- call it on your click element -->
            <a class="off-canvas-trigger" ng-click='header.toggle()'>
              <p>Menu</p>
            </a>
          </li>
        </ul>
      </div>
      <!-- add the class -->
      <div class="nav--link-items" ng-class='header.isOpen ? "nav--link-items--open" : ""'>
        <nav id="menu" role="navigation">
          <ul id="topnav" class="topnav desktop-nav secondary show-for-large-up">
            {% if request.logged_in? %}
            <li class="nav-item--log-in parent" sub-nav-drop-down>
              <div class="parent__inner-wrap">
                <a ng-click='header.toggleSub("#log-in-sub")' href="{{ request.current_signup.profile_url }}">Hi {{ request.current_signup.name_or_email }}</a>
                <div id="log-in-sub" class="sub-wrap">
                  <ul class="sub">
                    <li><a href="{{ request.current_signup.profile_url }}">Public Profile</a></li>
                    <li><a href="{{ request.current_signup.settings_url }}">Account Settings</a></li>
                    <li><a href="{{ request.current_signup.logout_url }}">Sign Out</a></li>
                  </ul>
              </div>
              {% else %}
              <li class="nav-item--log-in parent"><a href="http://guthyjackson.nationbuilder.com/login">Login</a></li>
              {% endif %}
            </li>
            <li class="nav-item--donate parent">
              <a href="">Donate</a>
            </li>
            <li class="nav-item--search parent">
              <a href="#" data-reveal-id="search-modal"><svg-include link="#guthy-jackson-icon-search"></svg-include></a>
            </li>
          </ul>
          <ul id="topnav" class="topnav desktop-nav main">
            <li class="home parent">
              <a href="/">Home</a>
            </li>
            <li class="nav-item--about parent" sub-nav-drop-down>
              <div class="parent__inner-wrap" >
                <a ng-click='header.toggleSub("#about-sub")'>About</a>
                <div id='about-sub' class="sub-wrap">
                  <ul class="sub">
                    <li>
                      <a href="/about-nmo">About NMO</a>
                    </li>
                    <li>
                      <a href="/about-us">About Us</a>
                    </li>
                    <li>
                      <a href="/medical-advisors-consultants">Medical Advisors &amp; Consultants</a>
                    </li>
                    <li>
                      <a href="/annual-reports">Annual Reports</a>
                    </li>
                    <li>
                      <a href="#">Shop</a>
                    </li>
                    <li>
                      <a href="#">Special Projects</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item--diagnosis parent">
              <a ng-click='header.toggleSub("#diagnosis-sub")'>Diagnosis</a>
            </li>
            <li class="nav-item--research parent">
              <a href="/research">Research</a>
            </li>
            <li class="nav-item--get-involved parent" sub-nav-drop-down>
              <div class="parent__inner-wrap">
                <a ng-click='header.toggleSub("#get-involved-sub")'>Get Involved</a>
                <div id="get-involved-sub" class="sub-wrap">
                  <ul class="sub">
                    <li>
                      <a href="/donate">Donate</a>
                    </li>
                    <li class="sub-sub" sub-sub-nav-drop-down>
                      <a href="" ng-click='header.toggleSub("#join-sub")'>Join</a>
                      <div id="join-sub" class="sub-sub-wrap nav-item--join">
                        <ul class="sub">
                          <li>
                            <a href="/blood-bank">Blood Bank</a>
                          </li>
                          <li>
                            <a href="/clinical-trials-faq">Clinical Trials FAQ</a>
                          </li>
                          <li>
                            <a href="/advocacy-organizations">Advocacy Organizations</a>
                          </li>
                          <li>
                            <a href="">Advocacy Supplies</a>
                          </li>
                          <li>
                            <a href="/politics">Politics</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="sub-sub" sub-sub-nav-drop-down>
                      <a href="" ng-click='header.toggleSub("#share-sub")'>Share</a>
                      <div id="share-sub" class="sub-sub-wrap nav-item--share">
                        <ul class="sub">
                          <li>
                            <a href="">Public Discussion</a>
                          </li>
                          <li>
                            <a href="">Stories</a>
                          </li>
                          <li>
                            <a href="">Submit a Story</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <a href="/join-event">Join Event</a>
                    </li>
                    <li>
                      <a href="">Host Event</a>
                    </li>
                    <li>
                      <a href="">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item--resources parent" sub-nav-drop-down>
              <div class="parent__inner-wrap">
                <a ng-click='header.toggleSub("#resources-sub")'>Resources</a>
                <div id="resources-sub" class="sub-wrap">
                  <ul class="sub">
                    <li>
                      <a href="/draw-sites">Mapping NMO</a>
                    </li>
                    <li>
                      <a href="/tools-for-download">Tools for Download</a>
                    </li>
                    <li>
                      <a href="">Spectrum Publications</a>
                    </li>
                    <li>
                      <a href="">Podcasts</a>
                    </li>
                    <li>
                      <a href="/recommended-reading">Recommended Reading</a>
                    </li>
                    <li>
                      <a href="/nmo-apps-software">NMO Apps &amp; Software</a>
                    </li>
                    <li>
                      <a href="">Support Groups</a>
                    </li>
                    <li>
                      <a href="">Blog</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav-item--videos parent">
              <a href="/videos">Videos</a>
            </li>
          </ul>
          <ul id="topnav" class="topnav desktop-nav secondary hide-for-large-up">
            {% if request.logged_in? %}
            <li class="nav-item--log-in parent" sub-nav-drop-down>
              <div class="parent__inner-wrap">
                <a ng-click='header.toggleSub("#log-in-sub")' href="{{ request.current_signup.profile_url }}">Hi {{ request.current_signup.name_or_email }}</a>
                <div id="log-in-sub" class="sub-wrap">
                  <ul class="sub">
                    <li><a href="{{ request.current_signup.profile_url }}">Public Profile</a></li>
                    <li><a href="{{ request.current_signup.settings_url }}">Account Settings</a></li>
                    <li><a href="{{ request.current_signup.logout_url }}">Sign Out</a></li>
                  </ul>
                </div>
              </div>
              {% else %}
              <li class="nav-item--log-in parent"><a href="http://guthyjackson.nationbuilder.com/account-login">Login<a/></li>
              {% endif %}
            </li>
            <li class="nav-item--donate parent">
              <a href="/donate">Donate</a>
            </li>
            <li class="nav-item--search parent">
              <a href="#" data-reveal-id="search-modal"><svg-include link="#guthy-jackson-icon-search"></svg-include></a>
            </li>
          </ul>

          <div id="search-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>