{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  {% if page.donation.content.size > 0 %}
  <div id="intro" class="intro">
    {{ page.donation.content }}
  </div>
  {% endif %}

  {% if page.show_social_slider? and page.public_activities_count > 0 %}
  {% include "social_slider" %}
  {% endif %}

  {% assign thermo_width = 50 %}

  <div class="hero donate__hero">
    <div class="hero__position">
      <div class="hero__center">
        <h1>Donate</h1>
      </div>
    </div>
  </div>

  <div class="gj-donate">

    <div class="gj-donate__container">

      <div class="gj-donate__logo">
        <img src="//s3-us-west-1.amazonaws.com/guthyjackson/images/guthy-jackson-foundation-donate-icon-branch.png" alt="">
      </div>

      <div class="gj-donate__intro">

        <div class="gj-donate__intro-container">
          <div class="gj-donate__intro-title">Announcing The Guthy-Jackson Research Foundation, Inc.</div>
          <div class="gj-donate__intro-copy">The Guthy-Jackson Charitable Foundation (GJCF) has created the new public entity named The Guthy-Jackson Research Foundation, Inc. (GJRFI), a nonprofit public benefit corporation. While GJCF remains a private charitable foundation, the public GJRFI expands avenues for funding participation by allowing more corporations and organizations to donate to NMO research.</div>          
        </div>

      </div>

      <div class="gj-donate__about">

        <div class="gj-donate__about-container">
          <div class="gj-donate__about-title">All financial donations are directed to <span>The Guthy-Jackson Research Foundation, Inc</span></div>
          <div class="gj-donate__about-copy">This includes donations from public, private and government organizations, as well as donations from fundraising events, families, friends and individuals like you. While all donations are now directed to GJRFI, our focus remains the same: funding research to find a cure for NMO. As always, 100 percent of all donations are appropriated directly to NMO research.</div>
        </div>
          
      </div>

      <div class="gj-donate__boxes">

        <div class="gj-donate__box alpha">
          <div class="gj-donate__box__container">
            <div class="gj-donate__box-title">100%</div>
            <div class="gj-donate__box-copy">of donations go directly to NMO scientific and clinical research</div>
          </div>
          <div class="gj-donate__box-overlay"></div>
        </div>

        <div class="gj-donate__box">
          <div class="gj-donate__box__container">
            <div class="gj-donate__box-title">40 million</div>
            <div class="gj-donate__box-copy">invested to support scientific and clilnical research since 2008</div>
          </div>
          <div class="gj-donate__box-overlay"></div>
        </div>

        <div class="gj-donate__box omega">
          <div class="gj-donate__box__container">
            <div class="gj-donate__box-title">50 projects</div>
            <div class="gj-donate__box-copy">research projects dedicated to finding solutions to NMO</div>
          </div>
          <div class="gj-donate__box-overlay"></div>
        </div>

      </div>

      <div class="gj-donate__form">
          
        {% if page.donation.has_amount_goal? %}
        <div class="clearfix">
          <div class="progress" style="width: {{ thermo_width }}%;">
            <div class="bar bar-success" style="width: {{ page.donation.percent_of_amount_goal | times:100 }}%;">
              {% if page.donations_count < 1 %}
              <div class="bar-text">JUST STARTED</div>
              {% else %}
              <div class="bar-text">{{ page.donations_amount_format }} raised</div>
              {% endif %}
            </div>
          </div>

          <div class="bar-goal">GOAL: {{ page.donation.amount_goal_format }}</div>

        </div>

        {% elsif page.donation.has_donor_goal? %}

        <div class="clearfix">
          <div class="progress" style="width: {{ thermo_width }}%;">
            <div class="bar bar-success" style="width: {{ page.donation.percent_of_donor_goal | times:100 }}%;">
              {% if page.donations_count < 2 %}
              <div class="bar-text">JUST STARTED</div>
              {% else %}
              <div class="bar-text">{{ page.donations_count }} donors</div>
              {% endif %}
            </div>
          </div>

          <div class="bar-goal">{{ page.donation.donor_goal }} donors</div>

        </div>

        {% endif %}

        {% form_for donation autocomplete:off %}

        <div class="form-wrap">
          <div class="form donate-form">

            <div class="form-errors">
              {% error_messages_for donation %}
            </div>

            <div class="row-fluid">
              <div class="span12">

                <div class="row-fluid">

                  <div class="span6 form-half alpha">
                    <div class="row-fluid">

                      <div class="donate__form-subtitle">Your Information</div>

                      <div class="span6 name"><label for="donation_first_name">First Name</label>{% text_field "first_name", class:"text" %}</div>
                      <div class="span6"><label for="donation_last_name">Last Name</label>{% text_field "last_name", class:"text" %}</div>

                    </div>
                    <div class="row-fluid address">

                      <div class="span12 address"><label for="donation_billing_address_address1">Address</label>
                        {% text_field "billing_address.address1", class:"text" %}
                      </div>

                    </div>
                    <div class="row-fluid address">

                      <div class="span12 address"><label for="donation_billing_address_address1">Address 2</label>
                        {% text_field "billing_address.address2", class:"text" %}
                      </div>

                    </div>
                    <!--
                    <div class="row-fluid">

                      <div class="span12 address"><label for="donation_billing_address_address1">Address</label>
                        {% text_field "billing_address.address3", class:"text not-us-or-canada hide" %}
                      </div>

                    </div> -->
                    <div class="row-fluid">
                      <div class="span4">
                        <label for="donation_billing_address_city">City</label>{% text_field "billing_address.city", class:"text" %}
                      </div>
                      <div class="span4 us-or-canada us-only hide">
                        <label for="donation_state">State</label>{% collection_select "billing_address.state", page.donation.us_states, "code", "name", class:"select" %}
                      </div>
                      <div class="span4 us-or-canada canada-only hide">
                        <label for="donation_billing_address_state">State</label>{% text_field "billing_address.state", class:"text" %}
                      </div>
                      <div class="span4">
                        <label for="donation_billing_address_zip">Postal code</label>{% text_field "billing_address.zip", class:"text" %}
                      </div>

                    </div>
                    <div class="row-fluid country-select">

                      <div class="span12">
                        <label for="donation_billing_address_country_code">Country</label>{% collection_select "billing_address.country_code", page.donation.countries, "code", "name", class:"select" %}
                      </div>

                    </div>
                    <div class="row-fluid">

                      <div class="span6"><label for="donation_email">Email</label>{% email_field "email", class:"text" %}</div>
                      <div class="span6">
                        <label for="donation_billing_address_phone_number">Phone</label>{% phone_field "billing_address.phone_number", class:"text" %}
                      </div>

                    </div>
                    <div class="row-fluid">

                      <div class="span12">
                        <label class="checkbox" for="donation_email_opt_in">{% check_box "email_opt_in" %} Send email updates</label>
                      </div>

                    </div>
                    {% if page.donation.merchant_account.is_employer_and_occupation_required? %}
                    <div class="row-fluid">

                      <div class="span6"><label for="donation_employer">Employer</label>{% text_field "employer", class:"text", required:"required" %}</div>
                      <div class="span6"><label for="donation_occupation">Occupation</label>{% text_field "occupation", class:"text", required:"required" %}
                      </div>

                    </div>
                    {% if page.donation.merchant_account.is_employer_address_required? %}
                    <div class="row-fluid">

                      <div class="span12">
                        <label for="donation_work_address_country">Employer Country</label>{% collection_select "work_address.country_code", page.donation.countries, "code", "name", class:"select", required:"required" %}
                      </div>

                    </div>
                    <div class="row-fluid">

                      <div class="span12"><label for="donation_work_address_address1">Employer Address</label>
                        {% text_field "work_address.address1", class:"text", required:"required" %}
                        {% text_field "work_address.address2", class:"text" %}
                        {% text_field "work_address.address3", class:"text work-not-us-or-canada hide" %}
                      </div>

                    </div>
                    <div class="row-fluid">

                      <div class="span4">
                        <label for="donation_work_address_city">Employer City</label>{% text_field "work_address.city", class:"text", required:"required" %}
                      </div>
                      <div class="span5 work-us-or-canada">
                        <label for="donation_work_address_state">State</label>{% text_field "work_address.state", class:"text", required:"required" %}
                      </div>
                      <div class="span3">
                        <label for="donation_work_address_zip">Postal code</label>{% text_field "work_address.zip", class:"text", required:"required" %}
                      </div>

                    </div>

                    {% elsif page.donation.merchant_account.is_employer_city_required? %}
                    <div class="row-fluid">

                      <div class="span12">
                        <label for="donation_work_address_country">Employer Country</label>{% collection_select "work_address.country_code", page.donation.countries, "code", "name", class:"select", required:"required" %}
                      </div>

                    </div>

                    <div class="row-fluid">

                      <div class="span4">
                        <label for="donation_work_address_city">Employer City</label>{% text_field "work_address.city", class:"text", required:"required" %}
                      </div>
                      <div class="span5 work-us-or-canada hide">
                        <label for="donation_work_address_state">State</label>{% text_field "work_address.state", class:"text", required:"required" %}
                      </div>
                      <div class="span3">
                        <label for="donation_work_address_zip">Postal code</label>{% text_field "work_address.zip", class:"text", required:"required" %}
                      </div>

                    </div>
                    {% endif %}

                    <div class="row-fluid">

                      <div class="span12">
                        <div class="padtopless padbottomless">Law requires we ask for your employer and occupation. If you don't have an employer or are retired, put N/A, and if you are self-employed put "self-employed" in employer and describe your occupation.</div>
                      </div>

                    </div>

                    {% endif %}

                    {% if page.donation.merchant_account.is_corporate_contribution_required? %}
                    <div class="row-fluid">

                      <div class="span12 input-checkbox">
                        <label class="checkbox" for="donation_is_corporate_contribution">{% check_box "is_corporate_contribution", class:"checkbox" %} This is a contribution from a business.</label>
                      </div>

                    </div>
                    {% endif %}

                    {% for cf in custom_fields.donation %}
                      {% assign custom_field = cf[1] %}
                      {% assign custom_field_id = 'custom_values.' | append: custom_field.slug %}

                      <div class="row-fluid">
                        <div class="span12">
                          {% if custom_field.is_text? or custom_field.is_number? %}
                            <label for="donation_custom_values_{{ custom_field.slug }}_custom">{{ custom_field.name }}</label>
                            {% text_field custom_field_id, class:"text" %}
                          {% elsif custom_field.is_boolean? %}
                            <label class="checkbox" for="donation_custom_values_{{ custom_field.slug }}_custom">{% check_box custom_field_id, class:"checkbox" %} {{ custom_field.name }}</label>
                          {% elsif custom_field.is_multiple_choice? %}
                            <label for="donation_custom_values_{{ custom_field.slug }}_custom">{{ custom_field.name }}</label>
                            {% collection_select custom_field_id, custom_fields.donation[custom_field.slug].multiple_choice_options, class:"select" %}
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}

                    <div class="row-fluid">
                      {% if page.donation.merchant_account.is_taxable? %}

                      <div class="span12">Contributions are <i>not</i> tax deductible.</div>
                      {% else %}
                      <div class="span12">Contributions are tax deductible.</div>

                      {% endif %}
                    </div>

                  </div>
                  <div class="span6 form-half omega select-amount">

                    <div class="donate__form-subtitle">Select an Amount</div>

                    <label class="amount-label" for="donation_amounts">Amount</label>

                    {% if request.current_order %}
                      {% for item in request.current_order.items %}
                        {% if item.num_time_periods and item.time_period_type %}
                          {{ item.quantity }} {{ item.name }} @ {{ item.amount }} - billed automatically every {{ item.num_time_periods }} {{item.time_period_type }}
                        {% else %}
                          {{ item.quantity }} {{ item.name }} @ {{ item.amount }}
                        {% endif %}
                      {% endfor %}
                      <a href="{{ page.donation.clear_order_url }}">Clear order</a>
                    {% elsif page.donation.donation_frequency == "monthly" %}
                      {% if page.donation.amount_in_cents != 0 %}
                        <h4 class="padbottomless">{{ page.donation.amount_formatted }}</h4>
                        <div class="row-fluid">
                          <div class="span12 padbottomless">Your credit card will be billed automatically every month</div>
                        </div>
                      {% else %}
                        <div class="radio-inline">{{ page.donation.form_amount_options }}</div>
                        <div class="row-fluid">
                          <div class="span12 padbottomless">Your credit card will be billed automatically every month</div>
                        </div>
                      {% endif %}
                    {% else %}
                      {% if page.donation.amount_in_cents != 0 %}
                        <h4 class="padbottomless">{{ page.donation.amount_formatted }}</h4>
                      {% else %}
                        <div class="radio-inline">{{ page.donation.form_amount_options }}</div>
                      {% endif %}
                      {% if page.donation.max_installments > 1 %}
                        <label for="num_installments" class="padbottomless">I want to pay this in {% collection_select "num_installments", page.donation.installment_collection, class:"select" %} installments</label>
                      {% endif %}
                    {% endif %}

                  </div>
                  
                  <!-- Payment Section -->
                  <!--  -->
                  <!--  -->
                  <div class="span6 form-half omega">
                    <div class="donate__form-subtitle payment">Payment Details</div>
                  
                    {% if page.donation.has_merchant_account? == false %}
                    <!--
                    <div class="span6">
                      <div class="padbottommore">
                        <span class="red"><strong>No bank account:</strong> This page will not work until you add a bank account</span>
                      </div>
                    </div>
                    -->
                    {% elsif page.donation.merchant_account.is_test_mode? %}
                    <div class="">
                      <div class="padbottommore">
                        <span class="red"><strong>Testing mode:</strong> Transactions will not be processed. Use your regular credit card to test, you will not actually be charged.</span>
                      </div>
                    </div>
                    {% endif %}
                    <div class=" credit-card-input">
                      <label for="donation_card_number">Card number</label>{% text_field "card_number", class:"text" %}
                    </div>
                    
                    <!--
                    <div class=" cc">{{ page.donation.merchant_account.accepted_card_icons }}</div>
                    -->

                    <div class=" card-expire">
                      <div class="span3 card-expire-date">
                        <label for="donation_card_expires_on">Expires</label>{{ page.donation.form_card_expires_on }}                      
                      </div>

                      <div class="span3 card-security-code">
                        <label for="donation_card_verification">Security code<span class="tooltip">?<span class="tooltip-hover">located on back of card</span></span></label>{% text_field "card_verification", class:"text" %}
                      </div>
                    </div>
                    
                    {% if page.donation.has_merchant_account? and page.donation.merchant_account.is_paypal_express? == false %}
                    <div class="">
                      <label for="donation_card_number">Card number</label>{% text_field "card_number", class:"text" %}
                    </div>
                    
                    <!--
                    <div class=" cc">{{ page.donation.merchant_account.accepted_card_icons }}</div>
                    -->

                    <div class=" card-expire">
                      <label for="donation_card_expires_on">Expires</label>{{ page.donation.form_card_expires_on }}
                    </div>

                    <div class="span3">
                      <label for="donation_card_verification">Security code (on back)</label>{% text_field "card_verification", class:"text" %}
                    </div>
                    {% endif %}

                  </div>
                  
                  <!--  -->
                  <!--  -->
                  <!-- end Payment Section -->

                  <div class="span6 form-half omega">
                    {% if page.donation.merchant_account.has_contribution_rules? %}
                    <label for="is_confirmation_text"><strong>Contribution rules</strong></label>
                    {{ page.donation.merchant_account.contribution_rules }}

                    <label for="donation_is_confirmed" class="checkbox padtop">{% check_box "is_confirmed", class:"checkbox" %} I confirm that the above statements are true and accurate.</label>
                    {% endif %}

                    {% if page.donation.merchant_account.is_de? %}
                    <label for="donation_is_de_confirmed" class="checkbox">{% check_box "is_de_confirmed", class:"checkbox" %}
                      I agree to the Democracy Engine
                      <a href="http://www.democracyengine.com/subscriber_tos" target="_new">Terms of Service</a>
                      and
                      <a href="http://www.democracyengine.com/subscriber_privacy_policy" target="_new">Privacy Policy</a>. You will not receive any emails from them, they just deliver your donation to us.
                    </label>
                    {% endif %}

                    {% if site.ask_to_publish_to_stream? %}
                    <label for="donation_is_private" class="checkbox private-donation">{% check_box "is_private", class:"checkbox" %} Don't publish my donation on the website.</label>
                    {% endif %}

                    {% if page.donation.has_merchant_account? and page.donation.merchant_account.is_paypal_express? %}
                    <div class="padtop">{% submit_tag "Continue to Paypal", class:"success-button" %}</div>
                    <div class="padtopmore">{{ page.donation.merchant_account.accepted_card_icons }}</div>
                    {% else %}
                    <div class="padtop">{% submit_tag "Process Donation", class:"submit-button" %}</div>
                    {% endif %}
                  </div>
                  <div class="form-submit"></div>

                </div>

              </div>

            </div>

          </div>
        </div>

        {% endform_for %}

      </div><!-- end .donate__form-container -->

      <div class="gj-donate__info">
        If you wish to donate via check, then please fill out <a href="">this form</a>, then mail both to:<br />

        The Guthy-Jackson Research Foundation, Inc.<br />
        Post Office Box 15185<br />
        Beverly Hills, California 90210
      </div>

      <div class="gj-donate__disclaimer">
        The Guthy-Jackson Research Foundation, Inc. does not allocate any donated monies to administrative support of the Foundation. Your gift directly supports the innovative scientific research of scientists who are working to find solutions for Neuromyelitis Optica (NMO) Spectrum Disease. Once your contribution has been processed you will receive a thank you letter in the mail that you can use as a tax receipt. The Guthy-Jackson Research Foundation, Inc. for NMO is a non-profit 501(c)(3) organization Tax ID # 47-2186708. Please consult your tax advisor if you are placing a donation from a country outside of the United States. PayPal fee is paid back to the research budget from the operations budget.
      </div>
      
    </div><!-- end .donate__container -->

  </div><!-- end .donate -->

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>