<div class="page-404">
  <div class="page-404__heading">Page not found</div>
  <div class="page-404__message">This page could not be found on the server</div>
  <div class="page-404__error">404 error</div>
  <div class="page-404__home-link">
    <a class="page-with-sidebar__btn--transparent" href="/">Back to Home</a>
  </div>
</div>


<div class="thank-you">
  <div class="thank-you__heading">Thank you!</div>
  <div class="thank-you__message">You donation has been received</div>
  <div class="thank-you__info">You'll be receiving a receipt by email shortly, <span>and a letter by mail for your tax purposes</span></div>
  <div class="thank-you__home-link">
    <a class="page-with-sidebar__btn--transparent" href="/">Back to Home</a>
  </div>
</div>