<div class="hero profile__hero">
  <div class="hero__position">
    <div class="hero__center">
      <div class="hero__profile-content">
        <div class="hero__profile-content-container">
          <div class="hero__profile-image">{{ profile.bigger_profile_image }}</div>
          <div class="hero__user-info">
            <div class="hero__profile-name">{{ profile.first_name }} {{ profile.last_name }}</div>
            <div class="hero__profile-follow">
              <div class="signup-follow-{{ profile.id }}">
                {% include "signup_follow" with profile %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="user-profile">
  <div class="user-profile__row">
    <div class="user-profile__container">

      <div class="user-profile__bio user-profile__block-section">
        <div class="user-profile__title">About me</div>
        <div class="user-profile__copy">{{ profile.bio }}</div>
      </div>

      <div class="user-profile__bio user-profile__block-section">
        <div class="user-profile__title">Activity Feed</div>
        <ul class="page-excerpts">
          {% for post in profile.most_recent_posts limit: 5 %}
          <li>
            <div class="user-profile__activity-excerpt">
              <div class="user-profile__activity-author-image">
                {{ profile.bigger_profile_image }}
              </div>
              <div class="user-profile__activity-byline">{{ post.activity.show }}</div>  
            </div>

            {% if post.activity.show %}
            <hr/>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        
        <div class="user-profile__activity-pagination">
          {{ profile.most_recent_posts | paginate prev_label: "&laquo;" next_label: "&raquo;" }}          
        </div>

      </div>

      <div class="user-profile__bio user-profile__block-section">
        <div class="user-profile__title">Why do you support your nation?</div>
        <div class="user-profile__copy">{{ profile.profile_content }}</div>
      </div>

      <div class="user-profile__fundraising user-profile__block-section">
        <div class="user-profile__title">Fundrasing Goal</div>
        <div class="user-profile__copy">
          {% if settings.is_donor? %}
          {% if profile.has_fundraising_goal? %}
          {% assign thermo_width = 100 %}
          <div class="clearfix padtopmore">
            <div class="progress" style="width: {{ thermo_width }}%;">
              <div class="bar bar-success" style="width: {{ profile.percent_of_fundraising_goal | times:100 }}%;">
                {% if profile.donations_raised_amount_in_cents == 0 %}
                <div class="bar-text">JUST STARTED</div>
                {% else %}
                <div class="bar-text">{{ profile.donations_raised_amount_format }} raised</div>
                {% endif %}
              </div>
            </div>
      
            <div class="bar-goal">GOAL: {{ profile.donations_to_raise_amount_format }}</div>
      
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>


      <div class="user-profile__donate user-profile__block-section">
        <div class="user-profile__title">Donate on behalf of {{ profile.first_name }} {{ profile.last_name }}</div>
        {% if site.has_button1? %}
        {% if site.button1_page.type_name == 'Donation' %}
        {% endif %}
        <a class="button user-profile__donate-button" href="{{ site.button1_page.full_url_with_profile_recruiter }}">{{ site.button1_text }}</a>
        {% endif %}
    
      </div>

    </div>
  </div>
</div>