.gj-suggestion
  background-color: $theme-color-2
  border-bottom: 1px solid $theme-color-3
  
  &__row
    +grid-row

  &__container
    +grid-column(11.5, $center: true)
    background-color: $theme-color-1
    margin-top: 3.8rem
    margin-bottom: 2rem
    padding-top: 2rem
    padding-bottom: 3rem
    border-radius: 0.5rem

    @media #{$large-up}
      +grid-column(9.65, $center: true)
      margin-top: 8.125rem
      padding-top: 3.625rem
      padding-bottom: 3.625rem

    @media only screen and (min-width: rem-calc(1150))
      margin-top: 5.6rem


  // post header

  .headline

    @media #{$medium-up}
      padding-left: 4.67rem
      padding-right: 4.67rem

    h2
      @extend .h4-alt
      color: $theme-color-7
      font-weight: bold
      margin-bottom: 1.5rem

    .padtopless
      margin-bottom: 1.5rem
      padding-bottom: 1.2rem
      border-bottom: 1px solid $theme-color-9

    .byline
      font-size: $p-one
      color: $theme-color-3

    .page-tags
      margin-top: 0.3rem

      .padbottom
        display: inline-block

        a
          color: $theme-color-3

          &:hover
            color: $theme-color-7

  //.................


  // post content

  #content 

    @media #{$medium-up}
      padding-left: 4.67rem
      padding-right: 4.67rem

    @media #{$large-up}
      padding-left: 4.67rem
      padding-right: 4.67rem

    p
      font-size: $p-one
      margin-bottom: 1rem

  &__back-link
    display: block
    margin: 2rem 0 1rem
    padding-bottom: 1rem
    text-align: center

    @media #{$medium-up}
      margin: 2rem 2rem 1rem

    a
      color: $theme-color-7
      font-size: $p-one
      font-weight: bold

  //.....................



  // Reactions

  #stream
    float: none

    h3
      @extend .h4
      color: $theme-color-7
      font-weight: bold

    ul.suggestion-tag-list

      li
        margin-bottom: 2rem

        input
          margin-bottom: 0

    #reactions
      float: none

      #page-activities

        li
          float: none

          a
            color: $theme-color-7

  //..............