/////////////////////////
// About Section
 
.about
  
  &__copy-container
    padding: 0 0.625rem

    @media #{$small-only}
      padding-top: 2rem
      padding: 2rem 1.25rem 0

  &__section
    margin-bottom: 1.3rem

    @media #{$large-up}
      margin-bottom: 3rem

    &.third
      @media #{$large-up}
        display: inline-block
        vertical-align: top
        width: calc(99% / 3)
        padding: 0 0.35rem

        &.alpha
          padding: 0 0.7rem 0 0

        &.omega
          padding: 0 0 0 0.7rem

  &__subsection

    &.half
      @media #{$large-up}
        display: inline-block
        width: 50%

        &:first-child
          padding-right: 0.75rem

        &:nth-child(2)
          padding-left: 0.75rem
          float: right
    &.alpha
      @media #{$small-only}
        margin-bottom: 1rem

    .about__title
      margin-bottom: 0
      @extend .h5-alt
      font-weight: 500

  &__title
    margin-bottom: 1.5rem
    @extend .h4-alt
    color: $theme-color-7
    @extend .font--bold
    font-weight: 600
    font-family: $font

    &.small
      margin-bottom: 0.3rem
      @extend .h5-alt
      line-height: 1.2

    .sub-title
      font-size: $p-one
      color: $theme-color-7

  &__copy
    font-size: $p-one
    color: $theme-color-6
    line-height: 1.45

  a 
    color: $theme-color-7
    word-wrap: break-wordgulp