.gj-support-groups
  
  &__copy
    font-size: $p-one
    // -webkit-font-smoothing: antialias
    color: $theme-color-6
  
  &__list
    font-size: inherit
    padding-left: 1.2rem

    li
      font-size: inherit
      -webkit-font-smoothing: inherit
      color: $theme-color-6

  &__group-name
    font-weight: bold
    margin-botttom: 0.7rem
    color: $theme-color-7

  &__location
    display: block

  &__label, &__address
    display: inline-block
    vertical-align: top

  &__label
    width: 4.6rem

  &__links
    margin-top: 1rem

  &__button

    @media #{$small-only}
      margin-bottom: 1rem
      padding: 0 1.25rem
      display: block

    @media #{$medium-up}
      margin-bottom: 1rem

    @media #{$large-up}
      display: inline-block
      width: 48%
      max-width: 16rem

      &:nth-child(2)
        margin-left: 1rem

    a 
      +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)


  // Groups with images and more details

  &__group
    display: block
    margin-bottom: 2rem

    @media #{$medium-up}
      margin-bottom: 3.1rem

    // &:nth-child(17)

    //   .gj-support-groups__group-info
    //     @media #{$medium-up}
    //       border-bottom: 1px solid $theme-color-9
    //       margin-bottom: 2rem

  &__group-logo
    display: inline-block
    vertical-align: top

    @media #{$small-only}
      display: block
      width: 100%
      margin-bottom: 0.4rem

      img
        width: 100%

    @media #{$medium-up}
      width: 14.5rem

    @media #{$large-up}
      width: 16.5rem

  &__group-info
    width: calc(100% - 18rem)
    display: inline-block
    @extend .clearfix

    @media #{$small-only}
      width: 100%
      display: block
      float: none
      margin-bottom: 1rem

    @media #{$medium-up}
      padding-left: 1rem
      height: auto
      margin-left: 1rem
      padding: 1rem 1rem 1.5rem
      border-top: 1px solid $theme-color-9
      border-bottom: 1px solid $theme-color-9

    @media #{$large-up}
      height: 12.035rem

  &__group-language
    .gj-label
      font-weight: bold

  &__group-status
    .gj-label
      font-weight: bold

  &__group-link

    a
      +btn(transparent, $theme-color-7, 1rem, 1rem, $theme-color-7, $theme-color-1, $font--bold, block, 1, $headline-font)
      display: inline-block
      font-size: $p-one
      margin-top: 0.5rem

      @media #{$medium-only}
        font-size: $p-three
        margin-top: 1rem

  //..............................

  // Form modal

  &__modal
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.8)
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    z-index: 99
    opacity: 0
    visibility: hidden
    transition: all 0.3s ease

    &.active
      opacity: 1
      visibility: visible

  &__modal-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 99

  &__modal-container
    position: relative
    width: calc(100% - 2.5rem)
    max-width: rem-calc(600)
    padding: 1.25rem
    background-color: $theme-color-1
    margin: 0 auto
    z-index: 999

    @media #{$small-only}
      height: calc(100vh - 6rem)
      top: 1.4rem
      overflow-y: scroll

  &__modal-close
    position: absolute
    top: 0
    right: -3rem
    width: 2rem
    height: 2rem
    background:
      image: icon(modal-close)
      size: cover
      repeat: no-repeat

    @media #{$small-only}
      top: 0.5rem
      right: 0.6rem

    &:hover
      cursor: pointer

    @media #{$large-up}
      right: -4.5rem

  &__modal-title
    @extend .h4
    font-weight: bold
    color: $theme-color-4