extends {layout}
block content

  +hero('Videos').hero.videos__hero

  .nav__sub-nav.videos-sub-nav
    .nav
      ul
        li
          a(href="/videos-featured") 
            .sub-nav__label Featured
        li
          a(href="/videos-questions-about-nmo") 
            .sub-nav__label Questions About NMO
        li
          a(href="/videos-foundation-interviews") 
            .sub-nav__label Foundation Interviews
        li
          a(href="/videos-public-awareness-patient-stories") 
            .sub-nav__label Public Awareness &amp; Patient Stories
        li.active
          a
            .sub-nav__label Foundation Events

          ul.nav__sub-nav__sub-nav              
            li
              a(href="/videos-nmo-patient-day-2015") NMO Patient Day 2015
            li
              a(href="/videos-nmo-patient-day-2013") NMO Patient Day 2013
            li
              a(href="/videos-nmo-patient-day-2012") NMO Patient Day 2012
            li
              a(href="/videos-nmo-patient-day-2011") NMO Patient Day 2011
            li
              a(href="/videos-nmo-patient-day-2010") NMO Patient Day 2010
            li
              a(href="/videos-nmo-patient-day-2009") NMO Patient Day 2009
            li
              a(href="/videos-nmo-roundtable-conference-2009") NMO Roundtable Conference 2009

  .gj-videos

    .gj-videos__container

      .gj-videos__title NMO Patient Day 2012

      .gj-videos__container-inner             

        .gj-videos__nav.video-nav

          .gj-videos__nav-category

            .gj-videos__nav-label.category-label Categories
              svg-include(link="#guthy-jackson-icon-arrow-down-white")

            ul.gj-videos__nav-ul.category-ul
              li
                a(href="/videos-featured") 
                  .sub-nav__label Featured
              li
                a(href="/videos-questions-about-nmo") 
                  .sub-nav__label Questions About NMO
              li
                a(href="/videos-foundation-interviews") 
                  .sub-nav__label Foundation Interviews
              li
                a(href="/videos-public-awareness-patient-stories") 
                  .sub-nav__label Public Awareness &amp; Patient Stories
              li
                a
                  .sub-nav__label Foundation Events

                ul.nav__sub-nav__sub-nav              
                  li
                    a(href="/videos-nmo-patient-day-2015") NMO Patient Day 2015
                  li
                    a(href="/videos-nmo-patient-day-2013") NMO Patient Day 2013
                  li
                    a(href="/videos-nmo-patient-day-2012") NMO Patient Day 2012
                  li
                    a(href="/videos-nmo-patient-day-2011") NMO Patient Day 2011
                  li
                    a(href="/videos-nmo-patient-day-2010") NMO Patient Day 2010
                  li
                    a(href="/videos-nmo-patient-day-2009") NMO Patient Day 2009
                  li
                    a(href="/videos-nmo-roundtable-conference-2009") NMO Roundtable Conference 2009

          .gj-videos__nav-list

            .gj-videos__nav-label.list-label NMO Patient Day 2012
              svg-include(link="#guthy-jackson-icon-arrow-down-white")

            ul.gj-videos__nav-ul.list-ul

              for video, index in videoPatient2012.videos
                li
                  a.video-link(href="#video#{index}") 
                    div #{video.video.title}

        .gj-videos__video-container

          for video, index in videoPatient2012.videos
            div(id="video#{index}" class="gj-videos__video")
              .iframe
                .iframe__container
                  iframe(src="#{video.video.url}" frameborder="0")