extends {layout}
block content

  +hero('Videos').hero.videos__hero

  .nav__sub-nav
    .nav
      ul
        li
          a(href="") 
            .sub-nav__label Featured
        li
          a(href="") 
            .sub-nav__label Questions About NMO
        li
          a(href="") 
            .sub-nav__label Foundation Interviews
        li
          a(href="") 
            .sub-nav__label Public Awareness &amp; Patient Stories
        li
          a(href="") 
            .sub-nav__label Patient Day 2015

  .gj-videos

    .gj-videos__container

      .gj-videos__title Featured

      .gj-videos__container-inner             

        .gj-videos__nav.video-nav

          .gj-videos__nav-category

            .gj-videos__nav-label.category-label Categories
              svg-include(link="#guthy-jackson-icon-arrow-down-white")

            ul.gj-videos__nav-ul.category-ul
              li
                a(href="") Featured
              li
                a(href="") Questions About NMO
              li
                a(href="") Foundation Interviews
              li
                a(href="") Public Awareness &amp; Patient Stories
              li
                a(href="") Patient Day 2015

          .gj-videos__nav-list

            .gj-videos__nav-label.list-label Featured
              svg-include(link="#guthy-jackson-icon-arrow-down-white")

            ul.gj-videos__nav-ul.list-ul

              for video, index in videoFeatured.videos
                li
                  a(href="#video#{index}") 
                    div #{video.video.title}

        .gj-videos__video-container

          for video, index in videoFeatured.videos
            div(id="video#{index}" class="gj-videos__video")
              .iframe
                .iframe__container
                  iframe(src="#{video.video.url}" frameborder="0")