.gj-advocate
  width: 100%
  height: auto

  &__copy
    text-align: center
    padding: 1.9rem 1.25rem 1.65rem

  &__message
    font-family: $headline-font
    font-size: $p-one
    color: $theme-color-4
    font-weight: 600

  &__email
    font-size: $p-two
    margin-top: 0.35rem
    color: $theme-color-3

    a
      color: $theme-color-7
      font-weight: bold
      border-bottom: 2px solid $theme-color-2
      transition: all 0.2s ease

      &:hover
        border-color: $theme-color-7


  iframe
    padding: 0
    margin: 0
    height: rem-calc(300)

    @media #{$medium-up}
      height: rem-calc(500)

    @media #{$large-up}
      height: rem-calc(400)