.gj-host-event
  padding-top: 2.5rem
  padding-bottom: 2rem
  background-color: $theme-color-2
  border-bottom: 1px solid $theme-color-3

  @media #{$small-only}
    padding: 1rem 0.8rem

  &__row
    +grid-row

  &__container
    +grid-column(12)
    background-color: $theme-color-1
    padding-top: 1.5rem
    padding-bottom: 2.5rem
    border-radius: 6px

    @media #{$medium-up}
      +grid-column(10, $center: true)

    @media #{$large-up}
      +grid-column(8, $center: true)


  // Form validation

  .form-errors
    margin-bottom: 1.5rem

    li
      color: red

  //.........................



  &__section-title
    @extend .h4-alt
    color: $theme-color-7
    font-weight: bold
    margin-bottom: 0.6rem
    padding-left: 0

    @media #{$medium-up}
      // padding-left: 4.67rem
      // padding-right: 4.67rem

  &__section-title


  .form-wrap

    @media #{$medium-up}
      padding-left: 4.67rem
      padding-right: 4.67rem



  // Form styles

  .form-wrap .form
    font-size: $p-one

    label
      color: $theme-color-3
      font-size: $p-two
      font-family: $font
      font-weight: bold

      .required-asterisk
        color: red

    input
      margin-bottom: 0.9rem

  &__section
    margin-bottom: 1rem

  textarea
    height: 8rem
    margin-bottom: 1rem

  input[type="submit"]
    float: none

  //.............................